Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

lint-yml:
  stage: lint
  image: node:lts
  before_script:
  - yarn global add prettier
  script:
  - prettier -c **/*.yml

lint-ember-camac-ng:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-camac-ng
  - yarn
  script:
  - yarn lint

lint-ember-caluma-portal:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-caluma-portal
  - yarn
  script:
  - yarn lint

lint-ember-ebau-core:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-ebau-core
  - yarn
  script:
  - yarn lint

lint-php:
  stage: lint
  image:
    name: node:lts
  script:
  - if git grep -I -e ä  -e ö  -e ü   -- './*' ':!.gitlab-ci.yml'; then exit 1; else echo "No composite umlaute found"; fi
  - yarn --cwd=php install
  - yarn --cwd=php lint
  - yarn --cwd=php prettier-check

test-ember:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember"
  - eval $COMPOSE build ember
  - eval $COMPOSE run --rm --no-deps ember yarn test

test-ember-camac-ng:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-camac-ng"
  - eval $COMPOSE build ember-camac-ng
  ...

test-ember-caluma-portal:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-caluma-portal"
  - eval $COMPOSE build ember-caluma-portal
  ...

test-ember-ebau-core:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-ebau-core"
  - eval $COMPOSE build ember-ebau-core
  ...

test-django:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet django db clamav unoconv"
  - eval $COMPOSE build --parallel django db clamav unoconv
  ...

php-security-checker:
  stage: test
  image:
    name: jakzal/phpqa:php7.3-alpine
  script: local-php-security-checker --path=./php/composer.lock

fix(communications): increase the max_length of file attachments
  django/camac/communications/migrations/0004_alter_communicationsattachment_file_attachment.py
  django/camac/communications/models.py
Due: test-django

fix(gr): set required for terminirung questions
  django/kt_gr/config/caluma_form.json
Due: test-django

feat(sanction): ask for confirmation before submitting as controlled
  ember-ebau-core/addon/components/sanction/details.js
  ember-ebau-core/translations/sanction/de.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core

feat(sanctions): allow updating control notes without completing control
  django/camac/sanctions/serializers.py
  django/camac/sanctions/tests/test_controlling.py
  django/camac/sanctions/views.py
  ember-ebau-core/addon/components/sanction/details.hbs
  ember-ebau-core/addon/components/sanction/details.js
  ember-ebau-core/translations/sanction/de.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

fix(sanction): remove async for edit component's cancel action
  ember-ebau-core/addon/components/sanction/edit.js
Due: lint-ember-ebau-core, test-ember-ebau-core

chore(ur): change the info-button text in the additional demand module
  ember-ebau-core/translations/additional-demand/de-ur.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(ur): change instance state from nfd to previous when a nfd was canceled
  django/camac/caluma/extensions/events/additional_demand.py
  django/camac/caluma/tests/test_additional_demand_events.py
Due: test-django

feat(django): separate webdav entrypoint
  compose/kt_bern-dev.yml
  django/camac/wsgi_dav.py
  django/camac/wsgi_gunicorn.py
  django/entrypoint.sh
  django/pyproject.toml
Due: lint-yml, test-django

feat(django): add migrate_and_loadconfig entrypoint
  django/entrypoint.sh
Due: test-django

feat(ech0211): parse task comment into inquiry remark
  django/camac/ech0211/send_handlers.py
  django/camac/ech0211/tests/test_send_handlers.py
  django/kt_bern/static/ech0211/xml/post/task.xml
Due: test-django

fix(so): small text fixes for r13
  django/kt_so/config/caluma_form.json
  ember-ebau-core/translations/billing/de.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

perf(publication): fix query explosion in public caluma instances
  django/camac/conftest.py
  django/camac/instance/master_data.py
  django/camac/instance/tests/__snapshots__/test_master_data.ambr
  django/camac/instance/tests/test_document_merge_service.py
  django/camac/instance/tests/test_instance_public.py
  django/camac/instance/tests/test_master_data.py
  django/camac/instance/views.py
  django/camac/notification/tests/test_notification_template.py
  django/requirements.txt
Due: test-django

fix(sanctions): select correct property for counting per step
  ember-ebau-core/addon/components/sanction/overview.js
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(communications): check if download url is expired
  ember-ebau-core/addon/models/communications-attachment.js
Due: lint-ember-ebau-core, test-ember-ebau-core

feat(sanctions): show indicator for loading and empty
  ember-ebau-core/addon/components/sanction-template/list.hbs
  ember-ebau-core/addon/components/sanction-template/list.js
  ember-ebau-core/addon/components/sanction/list.hbs
  ember-ebau-core/addon/components/sanction/overview.hbs
  ember-ebau-core/addon/components/sanction/overview.js
  ember-ebau-core/addon/components/sanction/templates.hbs
  ember-ebau-core/addon/components/sanction/templates.js
  ember-ebau-core/translations/sanction/de.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core

chore(billing): fix ordering in billing templates dump
  django/kt_ag/config/billing_templates.json
Due: test-django

chore(ag): make email and phone in objections optional
  django/kt_ag/config/caluma_form_common.json
Due: test-django

chore(ag): fix creation of juristic people in objections
  django/kt_ag/config/caluma_form_common.json
Due: test-django

chore(ag): hide certain questions and options in exam forms
  django/kt_ag/config/caluma_audit_form.json
  django/kt_ag/config/caluma_cantonal_exam_form.json
Due: test-django

feat: kt_ag migration vertical slice and first mappings
  django/camac/dossier_import/conftest.py
  django/camac/dossier_import/domain_logic.py
  django/camac/dossier_import/dossier_classes.py
  django/camac/dossier_import/loaders.py
  django/camac/dossier_import/management/commands/migrate_dossiers.py
  django/camac/dossier_import/tests/__snapshots__/test_kt_ag_loader.ambr
  django/camac/dossier_import/tests/__snapshots__/test_kt_ag_migrate_dossiers.ambr
  django/camac/dossier_import/tests/data/json/EBPA-0219-7779.json
  django/camac/dossier_import/tests/data/json/EBPA-0219-7779.json.result-json
  django/camac/dossier_import/tests/data/json/EBPA-1010-5310.json
  django/camac/dossier_import/tests/data/json/EBPA-1010-5310.json.result-json
  django/camac/dossier_import/tests/data/json/EBPA-1720-6526.json
  django/camac/dossier_import/tests/data/json/EBPA-1720-6526.json.result-json
  django/camac/dossier_import/tests/data/json/EBPA-8318-3681.json
  django/camac/dossier_import/tests/data/json/EBPA-8318-3681.json.result-json
  django/camac/dossier_import/tests/test_domain_logic.py
  django/camac/dossier_import/tests/test_dossier_import_case.py
  django/camac/dossier_import/tests/test_kt_ag_loader.py
  django/camac/dossier_import/tests/test_kt_ag_migrate_dossiers.py
  django/camac/dossier_import/validation.py
  django/camac/dossier_import/writers.py
  django/camac/fixtures/generated/settings_fixtures.py
  django/camac/settings/modules/dossier_import.py
  django/kt_ag/config/core.json
  django/requirements.txt
Due: test-django

fix(ember-ebau): check document validity before correction finish
  ember-ebau/app/cases/detail/corrections/controller.js
  ember-ebau/app/cases/detail/corrections/template.hbs
  ember-ebau/app/components/document-correction.hbs
  ember-ebau/app/components/document-correction.js
  ember-ebau/app/gql/queries/get-document.graphql
  ember-ebau/translations/corrections/de.yaml
  ember-ebau/translations/corrections/fr.yaml
  ember-ebau/translations/corrections/it.yaml
Due: none

feat(django-gr): finalise the integration of the legal-submissions feature in GR
  django/camac/caluma/extensions/permissions.py
  django/camac/instance/serializers.py
  django/camac/instance/tests/test_instance.py
  django/camac/permissions/conditions.py
  django/camac/permissions/tests/test_conditions.py
  django/camac/settings/django.py
  django/camac/settings/modules/permissions/kt_ag.py
  django/camac/settings/modules/permissions/kt_gr.py
  django/camac/settings/modules/permissions/kt_so.py
  django/kt_gr/config/alexandria_core.json
  django/kt_gr/config/caluma_form.json
  django/kt_gr/config/caluma_form_common.json
  django/kt_gr/config/caluma_objection_form.json
  ember-ebau-core/addon/abilities/legal-submission.js
  ember-ebau-core/addon/components/legal-submission-table.hbs
  ember-ebau-core/addon/components/legal-submission-table.js
  ember-ebau-core/addon/components/legal-submission-table/row.hbs
  ember-ebau-core/addon/templates/legal-submission/edit.hbs
  ember-ebau-core/addon/templates/legal-submission/index.hbs
  ember-ebau-core/translations/legal-submission/de-gr.yaml
  ember-ebau-core/translations/legal-submission/de.yaml
  ember-ebau-core/translations/legal-submission/fr.yaml
  ember-ebau-core/translations/legal-submission/it-gr.yaml
  ember-ebau-core/translations/legal-submission/it.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

feat(gr): update modification permission to only allow modifications for permitted applications
  django/camac/settings/modules/permissions/kt_gr.py
Due: test-django

fix(ur): submission of "konzessionsgesuch"
  django/camac/settings/modules/dms.py
Due: test-django

chore(ur): show the document module for "Vernehmlassungsstellen" in state arch
  django/kt_uri/config/core.json
Due: test-django

fix(ur): send the copy afj dossier notification to the afj users instead of the municipality
  django/camac/notification/serializers.py
  django/camac/notification/tests/test_notification_template.py
  django/camac/settings/django.py
Due: test-django

refactor(wsgi): keep config dry
  compose/kt_bern-dev.yml
  django/camac/README_WSGI.md
  django/camac/wsgi.py
  django/camac/wsgi_common.py
  django/camac/wsgi_dav.py
  django/camac/wsgi_gunicorn.py
  django/pyproject.toml
Due: lint-yml, test-django

fix(so): fix text for applicant info in form
  django/kt_so/config/caluma_form.json
Due: test-django

fix(gr): adjust gvg questions
  django/kt_gr/config/caluma_form.json
Due: test-django

fix(ember-caluma-portal): fix download of eingabequittung
  ember-caluma-portal/app/instances/edit/index/controller.js
Due: lint-ember-caluma-portal, test-ember-caluma-portal

fix(django): use correct master data slug for gis_coordinates
  django/camac/instance/document_merge_service.py
Due: test-django

fix(django): import statements for wsgi_common
  django/camac/wsgi.py
  django/camac/wsgi_dav.py
  django/camac/wsgi_gunicorn.py
Due: test-django

chore(ag): add descriptions for information of neighbors placeholders
  django/camac/instance/placeholders/locale/de/LC_MESSAGES/django.po
  django/camac/instance/placeholders/locale/fr/LC_MESSAGES/django.po
  django/camac/instance/placeholders/locale/it/LC_MESSAGES/django.po
  django/camac/instance/placeholders/serializers.py
Due: test-django

fix(be): add description and translations to neighbors placeholder
  django/camac/instance/placeholders/locale/de/LC_MESSAGES/django.po
  django/camac/instance/placeholders/locale/fr/LC_MESSAGES/django.po
  django/camac/instance/placeholders/serializers.py
  django/camac/instance/tests/__snapshots__/test_placeholders.ambr
Due: test-django

fix(ember-ebau-core): fix isJuristic check for get-applicants
  ember-ebau-core/addon/utils/get-applicants.js
Due: lint-ember-ebau-core, test-ember-ebau-core

feat(ember-ebau-core): prevent duplicate document uploads
  ember-ebau-core/addon/components/alexandria-document-bucket.js
  ember-ebau-core/addon/components/alexandria-documents-form.js
  ember-ebau-core/translations/documents/de.yaml
  ember-ebau-core/translations/documents/fr.yaml
  ember-ebau-core/translations/documents/it.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(gr): fix legal submissions for GR
  django/camac/settings/modules/permissions/kt_gr.py
  django/kt_gr/config/alexandria_core.json
  django/kt_gr/config/caluma_form_common.json
  django/kt_gr/config/caluma_objection_form.json
Due: test-django

chore(ur): backport koor afe instance resource acls
  django/kt_uri/config/core.json
Due: test-django

fix(build): fix keycloak configuration via env variables
  Dockerfile.ember
  compose/kt_ag-dev.yml
  compose/kt_ag.yml
  compose/kt_bern-dev.yml
  compose/kt_bern-devtest.yml
  compose/kt_bern.yml
  compose/kt_so.yml
  ember-caluma-portal/config/environment.js
  ember-ebau/config/environment.js
  nginx/replace-env-vars.sh
Due: lint-yml, lint-ember-caluma-portal, test-ember-caluma-portal

chore(ember): update ember-alexandria to 10.4.1
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
  ember-ebau-core/package.json
  ember-ebau/package.json
  pnpm-lock.yaml
Due: lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml
