Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml

feat(sg): allow displaying question label for document form
  django/kt_ag/config/caluma_additional_demand.json
  django/kt_gr/config/caluma_additional_demand.json
  django/kt_gr/config/caluma_appeal_form.json
  django/kt_gr/config/caluma_construction_monitoring_form.json
  django/kt_gr/config/caluma_objection_form.json
  django/kt_so/config/caluma_additional_demand.json
  ember-ebau-core/addon/components/alexandria-documents-form.hbs
  ember-ebau-core/addon/components/alexandria-documents-form.js
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

feat(gr): ech always include gvg and aib
  django/camac/caluma/extensions/events/decision.py
  django/camac/ech0211/send_handlers.py
  django/camac/permissions/config/kt_gr.py
  django/camac/permissions/tests/test_events.py
Due: test-django

feat(sg): configure material exam
  django/camac/settings/modules/dump.py
  django/camac/settings/modules/permissions/kt_sg.py
  django/kt_sg/config/caluma_form.json
  django/kt_sg/config/caluma_material_exam_form.json
  django/kt_sg/config/caluma_workflow.json
  django/kt_sg/config/core.json
  django/kt_sg/config/django_celery_beat.json
  django/kt_sg/workflow/tasks.graphql
  django/kt_sg/workflow/workflow-building-permit.graphql
Due: test-django

test(captcha): make sure captcha tests always reload url config
  django/camac/captcha/conftest.py
  django/camac/captcha/tests/test_views.py
Due: test-django

fix(portal): add missing ebauModules service
  ember-caluma-portal/app/components/be-documents-form.js
Due: lint-ember-caluma-portal, test-ember-caluma-portal

fix(so/geometer): add geometer to ROLE_PERMISSIONS
  django/camac/settings/django.py
Due: test-django

feat(ag): dossierimport validation
  django/camac/conftest.py
  django/camac/dossier_import/config/kt_ag.py
  django/camac/dossier_import/config/kt_gr.py
  django/camac/dossier_import/conftest.py
  django/camac/dossier_import/loaders.py
  django/camac/dossier_import/tests/__snapshots__/test_dossier_import_case.ambr
  django/camac/dossier_import/tests/data/import-example-no-errors.zip
  django/camac/dossier_import/tests/test_dossier_import_case.py
  django/camac/dossier_import/tests/test_kt_ag_find_existing_instance.py
  django/camac/dossier_import/tests/test_management_commands.py
  django/camac/dossier_import/validation.py
  django/camac/dossier_import/writers.py
  django/camac/instance/tests/__snapshots__/test_master_data.ambr
  django/camac/settings/modules/dossier_import.py
  django/camac/settings/modules/master_data.py
  django/kt_ag/config/alexandria_core.json
  django/kt_ag/config/caluma_workflow.json
Due: test-django

feat(ag): impl. warnings when status is changed for updated dossiers
  django/camac/dossier_import/config/kt_ag.py
  django/camac/dossier_import/validation.py
  django/locale/de/LC_MESSAGES/django.po
  django/locale/fr/LC_MESSAGES/django.po
  django/locale/it/LC_MESSAGES/django.po
Due: test-django

feat(ag): review fixes
  django/camac/dossier_import/validation.py
Due: test-django

fix(ag): check None for submit date migration
  django/camac/dossier_import/migrations/0012_fix_dossier_import_submit_date.py
Due: test-django

chore(sg): add missing form descriptions
  django/kt_sg/config/caluma_material_exam_form.json
Due: test-django

chore(sg): add material exam to test data
  django/kt_sg/data/caluma_form.json
  django/kt_sg/data/caluma_workflow.json
Due: test-django

feat(corrections): gr specific changes
  django/camac/alexandria/extensions/permissions/conditions.py
  django/camac/alexandria/tests/test_permissions.py
  django/camac/caluma/extensions/events/additional_demand.py
  django/camac/instance/serializers.py
  django/camac/instance/tests/test_instance_caluma_custom_actions.py
  django/camac/permissions/tests/test_conditions.py
  django/camac/settings/modules/additional_demand.py
  django/camac/timelines/tests/test_additional_demand_events.py
  django/kt_gr/config/alexandria_core.json
  django/kt_gr/config/email_notifications.json
  ember-caluma-portal/translations/de.yaml
  ember-caluma-portal/translations/fr.yaml
  ember-caluma-portal/translations/it.yaml
  ember-ebau-core/addon/components/alexandria-attachment-list.hbs
  ember-ebau-core/addon/components/alexandria-document-bucket.hbs
  ember-ebau-core/addon/components/alexandria-document-bucket.js
  ember-ebau-core/addon/components/alexandria-documents-form.hbs
  ember-ebau-core/addon/components/alexandria-documents-form.js
  ember-ebau-core/addon/components/corrections/document.hbs
  ember-ebau-core/addon/components/submit-instance.js
  ember-ebau-core/addon/models/document.js
  ember-ebau-core/translations/corrections/de.yaml
  ember-ebau-core/translations/corrections/fr.yaml
  ember-ebau-core/translations/corrections/it.yaml
  ember-ebau-core/translations/documents/de.yaml
  ember-ebau-core/translations/documents/fr.yaml
  ember-ebau-core/translations/documents/it.yaml
Due: lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-caluma-portal, test-ember-ebau-core, test-django

feat(gr): enable applicant correction timelines
  django/camac/fixtures/generated/settings_fixtures.py
  django/camac/settings/modules/permissions/kt_gr.py
  django/camac/settings/modules/timelines.py
  django/kt_gr/config/caluma_additional_demand.json
  django/kt_gr/config/email_notifications.json
  ember-ebau-core/addon/config/features/gr.js
  ember-ebau-core/addon/config/main-gr.js
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

feat(gr): custom additional demand notification
  django/camac/caluma/extensions/events/additional_demand.py
  django/camac/settings/django.py
  django/camac/settings/modules/additional_demand.py
  django/camac/timelines/utils.py
Due: test-django

fix(ag): do not try to create directories when not using camac-ng document backend
  django/camac/dossier_import/writers.py
Due: test-django

fix(ag): hide linked GWR instances module for diba light municipalities
  django/camac/settings/modules/permissions/kt_ag.py
Due: test-django

feat(deadlines): manual suspension reason feature flag
  ember-ebau-core/addon/components/deadlines/suspension/form-modal.hbs
  ember-ebau-core/addon/components/deadlines/suspension/form-modal.js
  ember-ebau-core/addon/config/features/ag.js
  ember-ebau-core/addon/config/features/gr.js
  ember-ebau-core/addon/validations/suspension-form.js
  ember-ebau-core/tests/acceptance/deadline-test.js
Due: lint-ember-ebau-core, test-ember-ebau-core

feat(construction-monitoring): show addressed groups on work items
  django/kt_gr/config/caluma_construction_monitoring_workflow.json
  ember-caluma-portal/app/services/caluma-options.js
  ember-ebau-core/addon/components/construction-monitoring/work-item/addressed.hbs
  ember-ebau-core/addon/components/construction-monitoring/work-item/addressed.js
  ember-ebau-core/addon/components/construction-monitoring/work-item/header.hbs
  ember-ebau-core/app/components/construction-monitoring/work-item/addressed.js
  ember-ebau-core/translations/construction-monitoring/de.yaml
  ember-ebau-core/translations/construction-monitoring/it.yaml
Due: lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-caluma-portal, test-ember-ebau-core, test-django

chore(gr): wording adjustments for beschwerdemodule
  django/camac/core/translation_files/GR_IT/Category_description_it.csv
  django/kt_gr/config/alexandria_core.json
  django/kt_gr/config/caluma_additional_demand.json
  django/kt_gr/config/caluma_appeal_form.json
  django/kt_gr/config/caluma_construction_monitoring_form.json
  django/kt_gr/config/caluma_form.json
  django/kt_gr/config/caluma_objection_form.json
  django/kt_gr/config/core.json
  django/kt_gr/config/email_notifications.json
  ember-ebau-core/addon/templates/legal-submission/index.hbs
  ember-ebau-core/translations/legal-appeal/it-gr.yaml
  ember-ebau-core/translations/legal-submission/de-gr.yaml
  ember-ebau-core/translations/legal-submission/it-gr.yaml
  ember-ebau-core/translations/legal-submission/it.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

chore(ur): backport bab form changes
  django/kt_uri/config/caluma_bab_form.json
Due: test-django

feat(gr): construction monitoring applicant email notifications
  django/camac/settings/modules/construction_monitoring.py
  django/kt_gr/config/email_notifications.json
Due: test-django

fix(gr): alexandria permission to move applicant files to intern category
  django/kt_gr/config/alexandria_core.json
Due: test-django

feat(responsible): refactor responsible to permissions module
  django/camac/settings/modules/permissions/kt_bern.py
  ember-ebau-core/addon/abilities/responsible-service.js
  ember-ebau-core/addon/templates/responsible.hbs
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

fix(ag): create trigger-billing work item in main case
  django/camac/caluma/extensions/dynamic_tasks.py
  django/camac/caluma/extensions/events/distribution_ag_afb_specific.py
  django/camac/caluma/tests/test_distribution_workflow.py
  django/camac/settings/django.py
Due: test-django

fix(journal): refactor journal module to permissions module
  django/camac/instance/tests/test_journal_entry.py
  django/camac/instance/views.py
  django/camac/settings/modules/permissions/kt_ag.py
  django/camac/settings/modules/permissions/kt_so.py
  ember-ebau-core/addon/abilities/journal-entry.js
  ember-ebau-core/addon/components/journal-entry.hbs
  ember-ebau-core/addon/components/journal.hbs
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

fix(gr): don't start construction-monitoring on solaranlage form
  django/camac/caluma/extensions/dynamic_tasks.py
Due: test-django

fix(gr): finish solaranlage form after decision
  django/camac/instance/domain_logic/decision.py
Due: test-django

fix(gr): don't include gvg on solaranlage form
  django/camac/permissions/config/kt_gr.py
Due: test-django

feat(sg): add and configure additional demand module
  django/camac/caluma/extensions/permissions.py
  django/camac/caluma/tests/test_validations.py
  django/camac/fixtures/generated/settings_fixtures.py
  django/camac/permissions/tests/conftest.py
  django/camac/permissions/tests/test_conditions.py
  django/camac/permissions/tests/test_conditions_alexandria.py
  django/camac/permissions/tests/test_static_permissions.py
  django/camac/settings/modules/additional_demand.py
  django/camac/settings/modules/dump.py
  django/camac/settings/modules/permissions/alexandria/conditions.py
  django/camac/settings/modules/permissions/alexandria/kt_bern.py
  django/camac/settings/modules/permissions/alexandria/kt_sg.py
  django/camac/settings/modules/permissions/kt_sg.py
  django/kt_sg/config/caluma_additional_demand.json
  django/kt_sg/config/caluma_workflow.json
  django/kt_sg/config/core.json
  django/kt_sg/data/caluma_workflow.json
  django/kt_sg/workflow/additional-demand.graphql
  django/kt_sg/workflow/workflow-building-permit.graphql
Due: test-django

feat(sz/wilken): remove EII_CHAR03 field
  django/camac/billing/tests/__snapshots__/test_wilken_export.ambr
  django/camac/billing/wilken/data.py
Due: test-django

fix(gr): dossier import coordinates optional
  django/camac/dossier_import/config/kt_gr.py
Due: test-django

fix(ag): hide GWR modules for diba light municipalities
  django/camac/core/tests/test_resource.py
  django/camac/core/views.py
Due: test-django

fix(ag): hide gwr import feature for buildings and dwellings
  ember-ebau-core/addon/config/main-ag.js
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(cases): make sure case list works without instance states
  ember-ebau/app/cases/index/controller.js
Due: none

chore(ur): backport link change in bab form
  django/kt_uri/config/caluma_form.json
Due: test-django

feat(ag): show EVEN field when building heating is set to new
  django/kt_ag/config/caluma_form.json
Due: test-django

fix(be): fix permission event handlers for responsible service change & unsubscribe
  django/camac/instance/serializers.py
  django/camac/instance/tests/test_unsubscribe_responsible_service.py
  django/camac/permissions/config/common.py
  django/camac/permissions/events/core.py
  django/camac/permissions/tests/test_events.py
Due: test-django

chore(ur): backport removal of acls for old dossier list resources
  django/kt_uri/config/core.json
Due: test-django

fix(so:baugesuch-v1): pick wohnung-tabelle v1
  django/kt_so/config/caluma_form.json
Due: test-django
