Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

lint-yml:
  stage: lint
  image: node:lts
  before_script:
  - yarn global add prettier
  script:
  - prettier -c **/*.yml

lint-ember-camac-ng:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-camac-ng
  - yarn
  script:
  - yarn lint

lint-ember-caluma-portal:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-caluma-portal
  - yarn
  script:
  - yarn lint

lint-ember-ebau-core:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-ebau-core
  - yarn
  script:
  - yarn lint

lint-php:
  stage: lint
  image:
    name: node:lts
  script:
  - if git grep -I -e ä  -e ö  -e ü   -- './*' ':!.gitlab-ci.yml'; then exit 1; else echo "No composite umlaute found"; fi
  - yarn --cwd=php install
  - yarn --cwd=php lint
  - yarn --cwd=php prettier-check

test-ember:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember"
  - eval $COMPOSE build ember
  - eval $COMPOSE run --rm --no-deps ember yarn test

test-ember-camac-ng:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-camac-ng"
  - eval $COMPOSE build ember-camac-ng
  ...

test-ember-caluma-portal:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-caluma-portal"
  - eval $COMPOSE build ember-caluma-portal
  ...

test-ember-ebau-core:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-ebau-core"
  - eval $COMPOSE build ember-ebau-core
  ...

test-django:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet django db clamav unoconv"
  - eval $COMPOSE build --parallel django db clamav unoconv
  ...

php-security-checker:
  stage: test
  image:
    name: jakzal/phpqa:php7.3-alpine
  script: local-php-security-checker --path=./php/composer.lock

chore(distribution): remove BGZ as group in favor of default suggestion
  ember-camac-ng/app/services/caluma-options.js
  ember-camac-ng/translations/distribution/de.yaml
  ember-camac-ng/translations/distribution/fr.yaml
Due: lint-ember-camac-ng, test-ember-camac-ng

fix(sz): fix simple workflow next_instance_state comm
  django/camac/settings.py
Due: test-django

fix(distribution): only one ready create-inquiry work item per service
  django/camac/caluma/extensions/dynamic_groups.py
  django/camac/caluma/tests/test_dynamic_groups.py
Due: test-django

feat(distribution): configurable work-item permissions
  django/camac/caluma/extensions/permissions.py
  django/camac/caluma/tests/test_permissions.py
  django/camac/settings.py
  django/camac/settings_distribution.py
  django/camac/utils.py
Due: test-django

chore(be): make textareas in BE inquiry answer optional
  django/kt_bern/config/caluma_distribution.json
Due: test-django

feat(sz): distribution create-inquiry service suggestions
  django/camac/settings_distribution.py
  django/camac/user/tests/test_public_services_suggestions.py
  django/camac/user/utils.py
  django/demo/form.json
Due: test-django

chore(sz): set control groups of alter and check inquiry tasks
  django/kt_schwyz/config/caluma_distribution.json
  django/kt_schwyz/distribution.graphql
Due: test-django

fix(sz): fix inquiry answer info questions
  ember-camac-ng/app/services/caluma-options.js
Due: lint-ember-camac-ng, test-ember-camac-ng

fix(sz): rename inquiry task
  django/kt_schwyz/config/caluma_distribution.json
  django/kt_schwyz/distribution.graphql
Due: test-django

feat(distribution): add migration for distribution
  django/camac/circulation/management/commands/distribution_analyze.py
  django/camac/circulation/management/commands/distribution_migrate.py
  django/camac/circulation/migrations/0001_remove_sync.py
  django/camac/circulation/migrations/__init__.py
  django/camac/instance/models.py
  django/kt_bern/data/caluma_workflow.json
  django/kt_schwyz/data/caluma_form.json
  django/kt_schwyz/data/caluma_workflow.json
  django/pyproject.toml
  django/requirements.txt
Due: test-django

feat(sz): configure inquiry answer status labels
  ember-camac-ng/app/services/caluma-options.js
  ember-camac-ng/translations/distribution/de.yaml
  ember-camac-ng/translations/distribution/fr.yaml
Due: lint-ember-camac-ng, test-ember-camac-ng

chore(distribution): remove obsolete circulation handling in caluma layer
  django/camac/caluma/extensions/dynamic_groups.py
  django/camac/caluma/extensions/events/general.py
  django/camac/caluma/tests/test_dynamic_groups.py
  django/camac/caluma/tests/test_events.py
  django/camac/caluma/tests/test_permissions.py
  django/camac/conftest.py
Due: test-django

chore(be): use status in BE as well
  ember-camac-ng/app/services/caluma-options.js
  ember-camac-ng/translations/distribution/de.yaml
  ember-camac-ng/translations/distribution/fr.yaml
Due: lint-ember-camac-ng, test-ember-camac-ng

chore: bump @projectcaluma/ember-distribution to v1.0.0-beta.14
  ember-camac-ng/package.json
  package.json
  yarn.lock
Due: lint-ember-camac-ng, test-ember-camac-ng

chore(sz): change db name to kt_schwyz_dist for temporary testing
  compose/kt_schwyz-stage.yml
Due: lint-yml

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml
