Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml

fix(filters): remove button group margin between label
  ember-ebau-core/addon/components/filters/radio-buttons.hbs
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(be): temporarily disable report notifications for geometer
  django/camac/settings.py
Due: test-django

fix(communication): only send notification if internal service other than sender is involved
  django/camac/communications/events.py
Due: test-django

feat(sz): finish `ARE-Geschäft`
  compose/kt_schwyz.yml
  django/camac/caluma/extensions/format_validators.py
  django/camac/caluma/tests/test_format_validators.py
  django/kt_schwyz/config/caluma_form.json
Due: lint-yml, test-django

chore(be): release v3.5.0
  VERSION.txt
  django/camac/camac_metadata.py
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
Due: lint-ember-camac-ng, lint-ember-caluma-portal, test-ember-camac-ng, test-ember-caluma-portal, test-django

fix(communications): reset page when filtering topic list by responsible service user
  ember-ebau-core/addon/components/communication/topic-list.hbs
  ember-ebau-core/addon/components/communication/topic-list.js
Due: lint-ember-ebau-core, test-ember-ebau-core

chore(be): release v3.6.0-rc.1
  VERSION.txt
  django/camac/camac_metadata.py
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
Due: lint-ember-camac-ng, lint-ember-caluma-portal, test-ember-camac-ng, test-ember-caluma-portal, test-django

chore(so): minor form change
  django/kt_so/config/caluma_form.json
Due: test-django

fix(acl-create): adjust start-time to now if same day
  ember-ebau-core/addon/components/permissions/create-acl-modal.js
  ember-ebau-core/tests/integration/components/permissions/create-acl-modal-test.js
Due: lint-ember-ebau-core, test-ember-ebau-core

feat(permissions)!: Make the revoke endpoint simpler, do not send/receive the acl
  django/camac/permissions/tests/test_acl_views.py
  django/camac/permissions/views.py
Due: test-django

fix(acl-table): align filter labels and buttons
  ember-ebau-core/addon/components/permissions/acl-table.hbs
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(acl-details): give explicit hint for system managed acls
  ember-ebau-core/addon/models/instance-acl.js
  ember-ebau-core/translations/permissions/de.yaml
  ember-ebau-core/translations/permissions/fr.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(instance-acl): plain post to revoke endpoint
  ember-ebau-core/addon/models/instance-acl.js
Due: lint-ember-ebau-core, test-ember-ebau-core

fix: geometer recipient type translation
  django/camac/notification/serializers.py
  django/locale/de/LC_MESSAGES/django.po
  django/locale/fr/LC_MESSAGES/django.po
Due: test-django

chore: re-enable geometer notification on sb1 submission
  django/camac/settings.py
Due: test-django

chore: make permissions module validate it's settings properly
  django/camac/document/tests/test_attachment.py
  django/camac/instance/tests/snapshots/snap_test_instance_caluma_permissions.py
  django/camac/instance/tests/test_instance_caluma_permissions.py
  django/camac/permissions/api.py
Due: test-django

chore(ur): sync the notification template configuration with prod
  django/kt_uri/data/notification.json
Due: test-django

fix(acl-details): minor UI adjustments
  ember-ebau-core/addon/components/filters/radio-buttons.hbs
  ember-ebau-core/addon/components/permissions/acl-details.hbs
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(acl-details): change layout of details list
  ember-ebau-core/addon/components/permissions/acl-details.hbs
  ember-ebau-core/addon/components/permissions/create-acl-modal.hbs
Due: lint-ember-ebau-core, test-ember-ebau-core
