Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

lint-yml:
  stage: lint
  image: node:lts
  before_script:
  - yarn global add prettier
  script:
  - prettier -c **/*.yml

lint-ember-camac-ng:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-camac-ng
  - yarn
  script:
  - yarn lint

lint-ember-caluma-portal:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-caluma-portal
  - yarn
  script:
  - yarn lint

lint-ember-ebau-core:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-ebau-core
  - yarn
  script:
  - yarn lint

lint-php:
  stage: lint
  image:
    name: node:lts
  script:
  - if git grep -I -e ä  -e ö  -e ü   -- './*' ':!.gitlab-ci.yml'; then exit 1; else echo "No composite umlaute found"; fi
  - yarn --cwd=php install
  - yarn --cwd=php lint
  - yarn --cwd=php prettier-check

test-ember:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember"
  - eval $COMPOSE build ember
  - eval $COMPOSE run --rm --no-deps ember yarn test

test-ember-camac-ng:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-camac-ng"
  - eval $COMPOSE build ember-camac-ng
  ...

test-ember-caluma-portal:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-caluma-portal"
  - eval $COMPOSE build ember-caluma-portal
  ...

test-ember-ebau-core:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-ebau-core"
  - eval $COMPOSE build ember-ebau-core
  ...

test-django:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet django db clamav unoconv"
  - eval $COMPOSE build --parallel django db clamav unoconv
  ...

php-security-checker:
  stage: test
  image:
    name: jakzal/phpqa:php7.3-alpine
  script: local-php-security-checker --path=./php/composer.lock

feat(billing): improve billing templates
  django/camac/billing/admin.py
  django/camac/billing/apps.py
  django/camac/billing/factories.py
  django/camac/billing/migrations/0006_template_services.py
  django/camac/billing/models.py
  django/camac/billing/serializers.py
  django/camac/billing/tests/test_billing.py
  django/camac/billing/tests/test_billing_template.py
  django/camac/billing/views.py
  django/camac/settings/modules/dump.py
  django/kt_ag/config/billing_templates.json
  django/kt_ag/data/billing.json
  django/locale/de/LC_MESSAGES/django.po
  ember-ebau-core/addon/controllers/billing/new.js
  ember-ebau-core/addon/models/billing-v2-entry-template.js
  ember-ebau-core/addon/templates/billing/new.hbs
  ember-ebau-core/tests/acceptance/billing-test.js
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

fix(auth): check azp instead of aud to verify portal client
  django/camac/conftest.py
  django/camac/user/tests/test_middleware.py
  django/camac/user/utils.py
Due: test-django

feat(sz): enable snippets feature for sz canton
  ember-ebau-core/addon/config/features/sz.js
Due: lint-ember-ebau-core, test-ember-ebau-core

feat(be): delete a sentence and update translation for info from Portal > Dokumente
  ember-ebau-core/translations/documents/de-be.yaml
  ember-ebau-core/translations/documents/fr-be.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core

chore(csp): add swagger to csp config
  proxy/csp_headers.inc
  proxy/kt_ag.conf
  proxy/kt_gr.conf
  proxy/kt_so.conf
  proxy/kt_uri.conf
Due: none

chore(deps): update alexandria
  django/camac/alexandria/extensions/visibilities.py
  django/camac/django_admin/admin.py
  django/kt_ag/config/alexandria_core.json
  django/kt_gr/config/alexandria_core.json
  django/kt_so/config/alexandria_core.json
  django/requirements.txt
  ember-caluma-portal/package.json
  ember-ebau-core/package.json
  ember-ebau/package.json
  pnpm-lock.yaml
Due: lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-caluma-portal, test-ember-ebau-core, test-django

chore: bump ember-caluma to v14.1.0 and faker to v9.5.0
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
  ember-ebau-core/package.json
  ember-ebau/package.json
  pnpm-lock.yaml
Due: lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core

feat(be): re-sort Spezialverfahren
  django/kt_bern/config/caluma_benuetzung_oeffentlichem_terrain_form.json
  django/kt_bern/config/caluma_form.json
  django/kt_bern/config/caluma_heat_generator_form_v3.json
  django/kt_bern/config/caluma_hecken_feldgehoelze_baeume_form_v2.json
  django/kt_bern/config/caluma_solar_plants_form_v2.json
Due: test-django

feat(snippets): add search for snippets table
  django/camac/notification/views.py
  ember-ebau-core/addon/components/snippets-table.hbs
  ember-ebau-core/addon/components/snippets-table.js
  ember-ebau-core/addon/components/snippets-table/category.hbs
  ember-ebau-core/addon/controllers/snippets-admin/index.js
  ember-ebau-core/addon/controllers/snippets.js
  ember-ebau-core/addon/modules/snippets-admin.js
  ember-ebau-core/addon/modules/snippets.js
  ember-ebau-core/addon/templates/snippets-admin/index.hbs
  ember-ebau-core/addon/templates/snippets.hbs
  ember-ebau-core/tests/acceptance/snippets-admin-test.js
  ember-ebau-core/tests/acceptance/snippets-test.js
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

feat(be): add french infotext for juristische person selection in personalien table and change visibility
  django/kt_bern/config/caluma_form_common.json
Due: test-django

feat(webdav): separate webdav from django
  compose/kt_bern-dev.yml
  compose/kt_bern-devtest.yml
  compose/kt_bern.yml
  compose/kt_uri-dev.yml
  compose/kt_uri.yml
  django/Dockerfile
  django/camac/wsgi.py
  django/camac/wsgi_dav.py
  django/entrypoint.sh
  django/k8s.sh
  django/pyproject.toml
  django/requirements.txt
  django/uwsgi.ini
Due: lint-yml, test-django

chore(Makefile): add debug command for webdav
  Makefile
Due: none

feat(be): extract and version zutrittsermaechtigung paper form
  django/camac/conftest.py
  django/camac/instance/tests/test_document_merge_service.py
  django/camac/notification/tests/test_notification_template.py
  django/camac/settings/django.py
  django/camac/settings/modules/dms.py
  django/camac/settings/modules/dump.py
  django/kt_bern/config/caluma_form.json
  django/kt_bern/config/caluma_workflow.json
  django/kt_bern/config/caluma_zutrittsermaechtigung_form.json
  django/kt_bern/config/caluma_zutrittsermaechtigung_form_v2.json
  django/kt_bern/workflow-internal.graphql
Due: test-django

feat(be): extract and version baupolizeiliches-verfahren & klaerung-baubewilligungspflicht paper forms
  django/camac/conftest.py
  django/camac/instance/tests/test_document_merge_service.py
  django/camac/notification/tests/test_notification_template.py
  django/camac/settings/django.py
  django/camac/settings/modules/dms.py
  django/camac/settings/modules/dump.py
  django/kt_bern/config/caluma_baupolizeiliches_verfahren_form.json
  django/kt_bern/config/caluma_baupolizeiliches_verfahren_form_v2.json
  django/kt_bern/config/caluma_form.json
  django/kt_bern/config/caluma_form_common.json
  django/kt_bern/config/caluma_heat_generator_form_v3.json
  django/kt_bern/config/caluma_hecken_feldgehoelze_baeume_form_v2.json
  django/kt_bern/config/caluma_klaerung_baubewilligungspflicht_form.json
  django/kt_bern/config/caluma_klaerung_baubewilligungspflicht_form_v2.json
  django/kt_bern/config/caluma_workflow.json
  django/kt_bern/workflow-internal.graphql
  django/kt_bern/workflow-preliminary-clarification.graphql
  ember-camac-ng/app/caluma/lib/custom-field.js
  ember-ebau-core/addon/components/inquiry-answer-status.js
  ember-ebau-core/tests/integration/components/inquiry-answer-status-test.js
Due: lint-ember-camac-ng, lint-ember-ebau-core, test-ember-camac-ng, test-ember-ebau-core, test-django

fix(be): round calculated float value of bestand-nach-realisierung-in-quadratmeter-v5
  django/kt_bern/config/caluma_form_v5.json
Due: test-django

feat(be): make 5er formulare triage questions conditionally optional
  django/kt_bern/config/caluma_form_v5.json
Due: test-django

feat(be): update Sprinkleranlage, update and sort installation options and add richtlinie subsection subtitle for options
  django/kt_bern/config/caluma_form_v5.json
Due: test-django

feat(be): update installation options visibility
  django/kt_bern/config/caluma_form_v5.json
Due: test-django

chore(permissions): remove duplicated has_object_permission methods
  django/camac/user/permissions.py
Due: test-django

fix(be): update in template bestaetigungen slugs, update year format and add calculated_float to subsection
  document-merge-service/kt_bern/templatefiles/audit-form.docx
  document-merge-service/kt_bern/templatefiles/form.docx
Due: none

feat(security): block request from clients that are not ours
  django/camac/caluma/tests/test_authentication.py
  django/camac/caluma/views.py
  django/camac/conftest.py
  django/camac/ech0211/views.py
  django/camac/instance/tests/test_journal_entry.py
  django/camac/instance/views.py
  django/camac/permissions/views.py
  django/camac/settings/django.py
  django/camac/tests/__snapshots__/test_external_client_access.ambr
  django/camac/tests/test_external_client_access.py
  django/camac/tests/test_public_access.py
  django/camac/token_exchange/tests/test_permissions.py
  django/camac/user/permissions.py
  django/camac/user/utils.py
  django/camac/user/views.py
Due: test-django

feat(apidocuments): integrate permissions module with document write permissions
  django/camac/document/models.py
  django/camac/document/permissions.py
  django/camac/document/serializers.py
  django/camac/document/tests/test_attachment.py
  django/camac/document/tests/test_attachment_section.py
  django/camac/document/views.py
  django/camac/instance/mixins.py
  django/camac/permissions/api.py
  django/camac/settings/modules/permissions/kt_bern.py
  ember-ebau-core/addon/models/attachment-section.js
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

chore(gr): remove the suggestion of gvg for solar applications
  django/camac/settings/modules/distribution_suggestions/kt_gr.py
Due: test-django

chore(gr): backport removal of Tschiertschen-Praden from the `hinweis-pilotphase` question
  django/kt_gr/config/caluma_form_common.json
Due: test-django

chore(ur): backport acls for "Dossier kopieren" for KOOR NP
  django/kt_uri/config/core.json
Due: test-django

feat(gr): PDF Formulars mit Situationsplan
  django/camac/instance/document_merge_service.py
  django/camac/instance/tests/test_document_merge_service.py
  django/kt_gr/config/alexandria_core.json
  document-merge-service/kt_gr/templatefiles/form.docx
  ember-ebau-core/addon/components/gr-gis.hbs
  ember-ebau-core/addon/components/gr-gis.js
  proxy/kt_gr.conf
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

refactor(sz): add second resource tree for permission refactor
  django/kt_schwyz/config/core.json
Due: test-django

chore(ag): show documents search resource
  django/kt_ag/config/core.json
Due: test-django

feat(ag): configure and extend publication module
  django/camac/caluma/extensions/dynamic_tasks.py
  django/camac/caluma/tests/test_dynamic_tasks.py
  django/camac/conftest.py
  django/camac/fixtures/generated/settings_fixtures.py
  django/camac/instance/tests/__snapshots__/test_master_data.ambr
  django/camac/instance/tests/test_master_data.py
  django/camac/settings/django.py
  django/camac/settings/modules/dump.py
  django/camac/settings/modules/master_data.py
  django/camac/settings/modules/permissions/kt_ag.py
  django/camac/settings/modules/publication.py
  django/camac/user/permissions.py
  django/kt_ag/config/caluma_audit_form.json
  django/kt_ag/config/caluma_publication_form.json
  django/kt_ag/config/caluma_workflow.json
  django/kt_ag/config/core.json
  django/kt_ag/workflow/tasks.graphql
  django/kt_ag/workflow/workflow-building-permit.graphql
  ember-caluma-portal/app/application/route.js
  ember-ebau-core/addon/components/publication-fill-end-date.hbs
  ember-ebau-core/addon/components/publication-fill-end-date.js
  ember-ebau-core/addon/config/features/ag.js
  ember-ebau-core/app/components/publication-fill-end-date.js
  ember-ebau-core/tests/integration/components/publication-fill-end-date-test.js
  ember-ebau/app/application/route.js
Due: lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-caluma-portal, test-ember-ebau-core, test-django

feat(gr): solaranlage zirkulation change, vereinfachten jexl
  django/camac/caluma/extensions/dynamic_tasks.py
  django/camac/caluma/tests/test_dynamic_tasks.py
  django/kt_gr/config/caluma_form.json
Due: test-django

refactor(master-data): remove deprecated `municipality` property
  django/camac/conftest.py
  django/camac/instance/document_merge_service.py
  django/camac/instance/domain_logic/create.py
  django/camac/instance/filters.py
  django/camac/instance/gwr_lookups.py
  django/camac/instance/master_data.py
  django/camac/instance/serializers.py
  django/camac/instance/tests/__snapshots__/test_gwr.ambr
  django/camac/instance/tests/__snapshots__/test_master_data.ambr
  django/camac/instance/tests/test_instance_caluma_custom_actions.py
  django/camac/instance/tests/test_master_data.py
  django/camac/instance/views.py
  django/camac/settings/modules/master_data.py
Due: test-django

feat(publication): allow displaying of multiple date ranges
  ember-ebau-core/addon/config/main-ag.js
  ember-ebau-core/addon/config/main-be.js
  ember-ebau-core/addon/config/main-gr.js
  ember-ebau-core/addon/config/main-so.js
  ember-ebau-core/addon/controllers/publication.js
  ember-ebau-core/addon/controllers/publication/edit.js
  ember-ebau-core/addon/gql/queries/get-publications.graphql
  ember-ebau-core/addon/templates/publication.hbs
Due: lint-ember-ebau-core, test-ember-ebau-core

feat(so): internal news page
  django/camac/settings/modules/dump.py
  django/kt_so/config/core.json
  django/kt_so/config/static_content.json
  django/kt_so/data/core.json
Due: test-django

feat(be): unpublish heat-generator-v3 and change documents confirm-reduced text
  django/kt_bern/config/caluma_heat_generator_form_v2.json
  django/kt_bern/config/caluma_heat_generator_form_v3.json
  ember-ebau-core/translations/documents/de-be.yaml
  ember-ebau-core/translations/documents/fr-be.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

chore: add missing German translation for global.reset
  ember-ebau-core/translations/de.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core

chore(be): change instance states for "Meine Dossiers" resources
  django/kt_bern/config/core.json
Due: test-django

fix(be): validate the mime type when uploading documents to the apidocument module
  django/camac/communications/serializers.py
  django/camac/document/serializers.py
  django/locale/de/LC_MESSAGES/django.po
Due: test-django

feat(so): cantonal billing types
  django/camac/billing/migrations/0007_alter_billingv2entry_billing_type_and_more.py
  django/camac/billing/models.py
  ember-ebau-core/addon/controllers/billing/new.js
  ember-ebau-core/addon/templates/billing/new.hbs
  ember-ebau-core/translations/billing/de.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

feat(be): hide verantwortliche-person-sb-identisch question from reklamegesuch and benuetzung-oeffentlichem-terrain-meldung
  django/kt_bern/config/caluma_benuetzung_oeffentlichem_terrain_form.json
  django/kt_bern/config/caluma_form_common.json
  django/kt_bern/config/caluma_form_v5.json
  ember-caluma-portal/config/environment.js
Due: lint-ember-caluma-portal, test-ember-caluma-portal, test-django

fix(so): don't allow deleting dossier import when status is cleaned
  ember-ebau-core/addon/abilities/dossier-import.js
Due: lint-ember-ebau-core, test-ember-ebau-core

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml
