Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml

fix(be): make calculated questions in Wohnen tables not required
  django/kt_bern/config/caluma_form_v5.json
Due: test-django

feat(be): add dokumente-hecken-feldgehoelze-baeume-v2 and a not required Option to Questions from dokumente-hecken-feldgehoelze-baeume-v2
  django/kt_bern/config/caluma_hecken_feldgehoelze_baeume_form_v2.json
  ember-caluma-portal/config/environment.js
Due: lint-ember-caluma-portal, test-ember-caluma-portal, test-django

feat(be): add solaranlagen-dokumente-v2 and a not required Option to Questions from solaranlagen-dokumente-v2
  django/kt_bern/config/caluma_solar_plants_form_v2.json
  ember-caluma-portal/config/environment.js
Due: lint-ember-caluma-portal, test-ember-caluma-portal, test-django

fix(be): show the createdByUser field again for manually created work-items
  ember-ebau-core/addon/caluma-query/models/work-item.js
Due: lint-ember-ebau-core, test-ember-ebau-core

chore(gr): hide legal submission module for prod deployment
  django/kt_gr/config/core.json
Due: test-django

fix(ech): skip formal-exam for gr when sending circulation invitation
  django/camac/ech0211/docs/kt_gr.md
  django/camac/ech0211/send_handlers.py
  django/camac/ech0211/tests/test_send_handlers.py
  django/camac/settings/modules/ech0211.py
  tools/ech-gr-base-delivery.sh
  tools/ech-gr-inquiry.sh
  tools/ech-gr-login.sh
Due: test-django

chore(uri): backport changes in notification 4.1
  django/kt_uri/config/email_notifications.json
Due: test-django

feat(ag): add migration baugesuch form
  django/kt_ag/config/caluma_form.json
Due: test-django

chore: rename get_userinfo_or_introspection
  django/camac/user/authentication.py
Due: test-django

chore(so): remove duplicated service
  django/kt_so/data/user.json
Due: test-django

feat(ag): ag migration form
  django/kt_ag/config/caluma_form.json
Due: test-django

feat(ag): add structure for migration form
  django/kt_ag/config/caluma_form.json
  ember-caluma-portal/config/environment.js
Due: lint-ember-caluma-portal, test-ember-caluma-portal, test-django

fix(ur): fix the link to the form and journal on the dashboard
  django/kt_uri/config/core.json
  ember-camac-ng/app/components/case-dashboard.js
  ember-camac-ng/app/components/further-people.js
  ember-ebau-core/addon/config/main-ur.js
Due: lint-ember-camac-ng, lint-ember-ebau-core, test-ember-camac-ng, test-ember-ebau-core, test-django

refactor: use utility function to convert dates to caluma deadlines
  django/camac/caluma/extensions/events/construction_monitoring.py
  django/camac/caluma/extensions/validations.py
  django/camac/caluma/utils.py
  django/camac/circulation/management/commands/distribution_add_check_distribution.py
  django/camac/circulation/management/commands/distribution_fill_inquiry_deadline.py
  django/camac/circulation/management/commands/distribution_migrate.py
Due: test-django

feat(ag): improve distribution workflow
  django/camac/caluma/extensions/dynamic_tasks.py
  django/camac/caluma/extensions/events/__init__.py
  django/camac/caluma/extensions/events/cantonal_exam.py
  django/camac/caluma/tests/test_distribution_workflow.py
  django/camac/settings/django.py
  django/camac/settings/modules/distribution.py
  django/camac/settings/modules/permissions/kt_ag.py
  django/demo/config/caluma_workflow.json
  django/kt_ag/config/caluma_cantonal_exam_form.json
  django/kt_ag/config/caluma_distribution.json
  django/kt_ag/config/caluma_workflow.json
  django/kt_ag/workflow/distribution.graphql
  django/kt_ag/workflow/tasks.graphql
  django/kt_bern/config/caluma_workflow.json
  django/kt_gr/config/caluma_workflow.json
  django/kt_schwyz/config/caluma_construction_monitoring_workflow.json
  django/kt_so/config/caluma_construction_monitoring_workflow.json
  django/kt_so/config/caluma_workflow.json
  django/kt_uri/config/caluma_construction_monitoring_workflow.json
  django/kt_uri/config/caluma_workflow.json
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
  ember-ebau-core/addon/abilities/task-form.js
  ember-ebau-core/addon/controllers/task-form.js
  ember-ebau-core/addon/gql/queries/get-work-item-of-task.graphql
  ember-ebau-core/addon/templates/task-form.hbs
  ember-ebau-core/package.json
  ember-ebau-core/tests/integration/components/decision/submit-button-test.js
  ember-ebau/package.json
  package.json
  pnpm-lock.yaml
Due: lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django

chore(ur): add new municipalities to the parashift config
  django/camac/settings/modules/parashift.py
Due: test-django

feat(ag): implement linked-instances module
  django/camac/settings/modules/permissions/kt_ag.py
  django/kt_ag/config/core.json
Due: test-django

test(ech0211): remove obsolete snapshots
  django/camac/ech0211/tests/__snapshots__/test_send_handlers.ambr
Due: test-django

fix(ech0211): fix mime type for alexandria files
  django/camac/ech0211/formatters.py
  django/camac/ech0211/tests/__snapshots__/test_ech0211.ambr
  django/camac/ech0211/tests/__snapshots__/test_event_handlers.ambr
  django/camac/ech0211/tests/__snapshots__/test_formatters.ambr
  django/camac/ech0211/tests/__snapshots__/test_send_handlers.ambr
Due: test-django

fix(ech0211): add building information for Kt. SO
  django/camac/ech0211/conftest.py
  django/camac/ech0211/formatters.py
  django/camac/ech0211/tests/__snapshots__/test_ech0211.ambr
  django/camac/instance/tests/__snapshots__/test_master_data.ambr
  django/camac/instance/tests/test_master_data.py
  django/camac/settings/modules/master_data.py
Due: test-django

fix(ech0211): order document tags alphabetically
  django/camac/ech0211/formatters.py
  django/camac/ech0211/tests/__snapshots__/test_ech0211.ambr
Due: test-django

feat(be): move infotext from gebiet-mit-naturgefahren to handelt-es-sich-um-ein-sensibles-objekt
  django/kt_bern/config/caluma_form.json
Due: test-django

feat(ag): implement linked-instances module
  django/kt_ag/config/core.json
Due: test-django

feat(be): update FR translations for Anschluss Gemeinschaftsantenne Fernmeldenetz and Gemeindespezifische Formulare
  django/kt_bern/config/caluma_form_v5.json
Due: test-django

feat(ag): implement billing bulk charge
  django/camac/billing/serializers.py
  django/camac/billing/tests/test_billing.py
  django/camac/billing/tests/test_billing_charge.py
  django/camac/billing/views.py
  django/locale/de/LC_MESSAGES/django.po
  django/locale/fr/LC_MESSAGES/django.po
  django/locale/it/LC_MESSAGES/django.po
  ember-ebau-core/addon/config/features/ag.js
  ember-ebau-core/addon/controllers/billing/index.js
  ember-ebau-core/tests/dummy/mirage/config.js
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

fix(ag): add missing configuration of new inquiry status
  ember-ebau/app/services/caluma-options.js
Due: none

fix(ag): allow direct applicant contact for services
  django/camac/settings/modules/communications.py
  ember-ebau-core/addon/config/main-ag.js
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

feat(ag): use zonenplan from gis request
  django/camac/gis/tests/__snapshots__/test_kt_ag.ambr
  django/camac/gis/tests/test_kt_ag.py
  django/kt_ag/config/gis.json
Due: test-django
