Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml

chore(so): make street and number optional
  django/kt_so/config/caluma_form.json
Due: test-django

feat(so): add mark for void documents
  ember-ebau-core/addon/config/main-gr.js
  ember-ebau-core/addon/config/main-so.js
  ember-ebau-core/translations/alexandria-documents/de.yaml
  ember-ebau/app/services/alexandria-config.js
  ember-ebau/app/styles/app.scss
  ember-ebau/app/styles/modules/alexandria/index.scss
  ember-ebau/config/icons.js
Due: lint-ember-ebau-core, test-ember-ebau-core

chore(gr): change deadline of construction-monitoring work-item
  django/kt_gr/config/caluma_workflow.json
Due: test-django

chore(sz): move ember portal to camac-ng workspace
  .dockerignore
  compose/kt_schwyz.yml
  package.json
  yarn.lock
Due: lint-yml

Revert "Merge branch 'feat-add-object-storage-encryption' into 'master'"
  Makefile
  compose/demo-dev.yml
  compose/kt_bern-dev.yml
  compose/kt_gr-dev.yml
  compose/kt_gr.yml
  compose/kt_schwyz-dev.yml
  compose/kt_so-dev.yml
  compose/kt_uri-dev.yml
  django/requirements.txt
  proxy/kt_gr.conf
  s3-hooked/hooks.py
Due: lint-yml, test-django

fix(django): alexandria search param
  django/camac/alexandria/apps.py
  django/camac/alexandria/urls.py
  django/camac/alexandria/views.py
  django/camac/settings.py
  django/camac/urls.py
  django/camac/user/permissions.py
Due: test-django

chore(so): remove admin groups from demo groups
  django/camac/settings.py
Due: test-django

refactor(alexandria): new visibilities and permissions
  django/camac/alexandria/extensions/README.md
  django/camac/alexandria/extensions/permissions/classes.py
  django/camac/alexandria/extensions/permissions/conditions.py
  django/camac/alexandria/extensions/permissions/extension.py
  django/camac/alexandria/extensions/permissions/kt_gr.py
  django/camac/alexandria/extensions/permissions/scopes.py
  django/camac/alexandria/extensions/visibilities.py
  django/camac/alexandria/tests/snapshots/snap_test_visibilities.py
  django/camac/alexandria/tests/test_permissions.py
  django/camac/alexandria/tests/test_visibilities.py
  django/camac/conftest_settings.py
  django/camac/settings_alexandria.py
  django/kt_gr/config/alexandria_core.json
  django/kt_so/config/alexandria_core.json
Due: test-django

feat(so): add new category for services and their children
  django/camac/alexandria/extensions/common.py
  django/camac/alexandria/extensions/permissions/scopes.py
  django/camac/alexandria/extensions/visibilities.py
  django/camac/alexandria/tests/test_permissions.py
  django/camac/alexandria/tests/test_visibilities.py
  django/camac/django_admin/admin.py
  django/kt_so/config/alexandria_core.json
Due: test-django

fix(alexandria): add hook view
  django/camac/alexandria/urls.py
Due: test-django

chore(deps): update alexandria
  django/kt_gr/data/alexandria_core.json
  django/requirements.txt
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
  ember-ebau-core/package.json
  ember-ebau/package.json
  yarn.lock
Due: lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django

feat(so): show checksum of files in form export
  django/camac/instance/document_merge_service.py
  django/camac/instance/tests/snapshots/snap_test_document_merge_service.py
  django/camac/instance/tests/test_document_merge_service.py
  document-merge-service/kt_so/templatefiles/form.docx
  document-merge-service/kt_so/templatefiles/signatures.docx
Due: test-django

fix(responsibility-module): value of dropdown should be empty by loading
  ember-ebau-core/addon/routes/responsible.js
Due: lint-ember-ebau-core, test-ember-ebau-core

Revert "fix(gr): remove "Anmeldung für kantonale Mitarbeitende" identity provider"
  keycloak/themes/src/main/resources/theme/kanton-gr/login/login.ftl
Due: none

fix(gr): show login form even if no social providers are configured
  keycloak/themes/src/main/resources/theme/kanton-gr/login/login.ftl
Due: none

fix(ember-ebau): dont wrap main nav
  ember-ebau/app/components/main-navigation.hbs
Due: none

feat: task filter for work items
  ember-camac-ng/app/work-items/index/controller.js
  ember-camac-ng/app/work-items/index/template.hbs
  ember-camac-ng/mirage/config.js
  ember-camac-ng/tests/acceptance/workitem-list-test.js
  ember-ebau-core/addon/components/filters/radio-buttons.hbs
  ember-ebau-core/addon/components/work-item-list-wrapper.hbs
  ember-ebau-core/addon/components/work-item-list-wrapper.js
  ember-ebau-core/addon/config/case-table-test.js
  ember-ebau-core/addon/config/main-test.js
  ember-ebau-core/addon/config/main.js
  ember-ebau-core/addon/config/work-item-list-be.js
  ember-ebau-core/addon/config/work-item-list-gr.js
  ember-ebau-core/addon/config/work-item-list-so.js
  ember-ebau-core/addon/config/work-item-list-sz.js
  ember-ebau-core/addon/config/work-item-list-test.js
  ember-ebau-core/addon/config/work-item-list-ur.js
  ember-ebau-core/addon/config/work-item-list.js
  ember-ebau-core/app/components/filters/select.js
  ember-ebau-core/index.js
  ember-ebau-core/tests/acceptance/work-item-list-test.js
  ember-ebau-core/tests/dummy/app/controllers/work-items.js
  ember-ebau-core/tests/dummy/app/router.js
  ember-ebau-core/tests/dummy/app/routes/asdfasdfwork-items/index.js
  ember-ebau-core/tests/dummy/app/templates/work-items.hbs
  ember-ebau-core/tests/dummy/mirage/config.js
  ember-ebau-core/tests/helpers/scenarios.js
  ember-ebau-core/translations/work-items/de-ur.yaml
  ember-ebau-core/translations/work-items/de.yaml
  ember-ebau-core/translations/work-items/fr.yaml
Due: lint-ember-camac-ng, lint-ember-ebau-core, test-ember-camac-ng, test-ember-ebau-core

feat(billing): add API for billing module
  django/camac/billing/__init__.py
  django/camac/billing/apps.py
  django/camac/billing/factories.py
  django/camac/billing/filters.py
  django/camac/billing/migrations/0001_initial.py
  django/camac/billing/migrations/__init__.py
  django/camac/billing/models.py
  django/camac/billing/serializers.py
  django/camac/billing/tests/test_billing.py
  django/camac/billing/urls.py
  django/camac/billing/utils.py
  django/camac/billing/views.py
  django/camac/circulation/tests/test_circulation.py
  django/camac/conftest.py
  django/camac/core/factories.py
  django/camac/core/migrations/0107_move_billing.py
  django/camac/core/models.py
  django/camac/document/tests/test_attachment.py
  django/camac/instance/placeholders/fields.py
  django/camac/instance/serializers.py
  django/camac/instance/tests/snapshots/snap_test_instance.py
  django/camac/instance/tests/snapshots/snap_test_placeholders.py
  django/camac/notification/serializers.py
  django/camac/settings.py
  django/camac/tests/test_public_access.py
  django/camac/urls.py
Due: test-django

fix(migrations): add missing dependencies to caluma migrations
  django/camac/core/migrations/0049_add_missing_dynamic_options.py
  django/camac/instance/migrations/0016_caluma_instance_id_index.py
  django/camac/instance/migrations/0018_document_to_case.py
Due: test-django
