Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

lint-yml:
  stage: lint
  image: node:lts
  before_script:
  - yarn global add prettier
  script:
  - prettier -c **/*.yml

lint-ember-camac-ng:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-camac-ng
  - yarn
  script:
  - yarn lint

lint-ember-caluma-portal:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-caluma-portal
  - yarn
  script:
  - yarn lint

lint-ember-ebau-core:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-ebau-core
  - yarn
  script:
  - yarn lint

lint-php:
  stage: lint
  image:
    name: node:lts
  script:
  - if git grep -I -e ä  -e ö  -e ü   -- './*' ':!.gitlab-ci.yml'; then exit 1; else echo "No composite umlaute found"; fi
  - yarn --cwd=php install
  - yarn --cwd=php lint
  - yarn --cwd=php prettier-check

test-ember:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember"
  - eval $COMPOSE build ember
  - eval $COMPOSE run --rm --no-deps ember yarn test

test-ember-camac-ng:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-camac-ng"
  - eval $COMPOSE build ember-camac-ng
  ...

test-ember-caluma-portal:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-caluma-portal"
  - eval $COMPOSE build ember-caluma-portal
  ...

test-ember-ebau-core:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-ebau-core"
  - eval $COMPOSE build ember-ebau-core
  ...

test-django:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet django db clamav unoconv"
  - eval $COMPOSE build --parallel django db clamav unoconv
  ...

php-security-checker:
  stage: test
  image:
    name: jakzal/phpqa:php7.3-alpine
  script: local-php-security-checker --path=./php/composer.lock

fix(gr): check and change notifications according to test feedback
  django/camac/caluma/extensions/events/decision.py
  django/camac/caluma/extensions/events/simple_workflow.py
  django/camac/caluma/tests/test_decision.py
  django/camac/notification/serializers.py
  django/camac/notification/tests/test_notification_template.py
  django/camac/settings.py
  django/camac/settings_decision.py
Due: test-django

chore(be): release v3.5.0-rc.3
  VERSION.txt
  django/camac/camac_metadata.py
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
Due: lint-ember-camac-ng, lint-ember-caluma-portal, test-ember-camac-ng, test-ember-caluma-portal, test-django

fix(instance-acl): load linked instance synchronous
  ember-ebau-core/addon/components/permissions/acl-table.js
  ember-ebau-core/addon/models/instance-acl.js
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(permissions): move access-level to dump config models referencing data
  django/camac/dump_settings.py
Due: test-django

fix(geometer): provide service update permission to geometer
  django/camac/settings.py
Due: test-django

feat(geometer): enable templates module for geometer
  django/camac/settings_permissions.py
  django/kt_bern/config/core.json
Due: test-django

fix(gr): improve keycloak 2fa error handling
  keycloak/dasniko.keycloak-2fa-sms-authenticator.jar
Due: none

fix(permissions): correctly return services involved via acl
  django/camac/permissions/api.py
  django/camac/permissions/models.py
Due: test-django

refactor(notifications): allow sending mail without any sender information
  django/camac/notification/utils.py
Due: test-django

refactor: move `_get_callback_kwargs` into utils and improve calling conventions
  django/camac/permissions/api.py
  django/camac/utils.py
Due: test-django

fix(settings): do not crash if django_extensions is not installed
  django/camac/settings.py
Due: test-django

fix(permissions): make queryset distinct
  django/camac/permissions/mixins.py
Due: test-django

feat(notifications): notify users when they're invited via permission module
  django/camac/notification/tests/test_notification_permisison_created.py
  django/camac/settings.py
  django/kt_bern/config/email_notifications.json
Due: test-django

feat(permissions): trigger notification when a new acl is created
  django/camac/notification/serializers.py
  django/camac/notification/tests/test_notification_permisison_created.py
  django/camac/permissions/events.py
  django/camac/permissions/models.py
Due: test-django

chore(tests): mark flaky test as xfail (for now)
  django/camac/gis/tests/test_gr.py
Due: test-django

fix(geometer): provide permissions for journal-entries to geometer role
  django/camac/document/tests/test_attachment.py
  django/camac/instance/mixins.py
  django/camac/instance/tests/test_instance_caluma_permissions.py
  django/camac/instance/tests/test_journal_entry.py
  django/camac/instance/views.py
  django/camac/permissions/api.py
  django/camac/settings_permissions.py
Due: test-django

fix(geometer): provide permissions for responsible services to geometer role
  django/camac/responsible/tests/test_responsible_service.py
  django/camac/responsible/views.py
  django/camac/user/tests/test_user.py
  django/camac/user/views.py
Due: test-django

chore(be): release v3.5.0-rc.4
  VERSION.txt
  django/camac/camac_metadata.py
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
Due: lint-ember-camac-ng, lint-ember-caluma-portal, test-ember-camac-ng, test-ember-caluma-portal, test-django

fix(be): correct jexl for gvb question
  django/kt_bern/config/caluma_form_v3.json
Due: test-django

fix(be): form changes according to Kt. Lab. feedback
  django/kt_bern/config/caluma_form.json
  django/kt_bern/config/caluma_form_v3.json
Due: test-django

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml
