Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml

fix(gis): add order statement to avoid flaky tests
  django/camac/gis/tests/test_gr.py
  django/camac/gis/views.py
Due: test-django

fix(ur): fix the re-submission of rejected dossiers
  django/camac/settings_rejection.py
  ember-caluma-portal/app/instances/edit/index/template.hbs
  ember-caluma-portal/translations/de-ur.yaml
Due: lint-ember-caluma-portal, test-ember-caluma-portal, test-django

feat(be/geometer): notify geometers when sb1 form is submitted
  django/camac/notification/serializers.py
  django/camac/notification/tests/test_notification_permisison_created.py
  django/camac/permissions/factories.py
  django/camac/settings.py
  django/kt_bern/config/email_notifications.json
Due: test-django

fix(be): denkmalpflege translations
  django/camac/instance/placeholders/locale/de/LC_MESSAGES/django.mo
  django/camac/instance/placeholders/locale/de/LC_MESSAGES/django.po
  django/camac/instance/placeholders/locale/fr/LC_MESSAGES/django.mo
  django/camac/instance/placeholders/locale/fr/LC_MESSAGES/django.po
  django/camac/instance/tests/snapshots/snap_test_placeholders.py
Due: test-django

chore(be): release v3.5.0-rc.5
  VERSION.txt
  django/camac/camac_metadata.py
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
Due: lint-ember-camac-ng, lint-ember-caluma-portal, test-ember-camac-ng, test-ember-caluma-portal, test-django

chore(so): fix visibility for subservices on category for additional demands
  django/kt_so/config/alexandria_core.json
Due: test-django

fix(ember-ebau): display more informational texts
  ember-ebau-core/addon/components/additional-demand/list.hbs
  ember-ebau-core/translations/additional-demand/de.yaml
  ember-ebau/app/cases/detail/corrections/template.hbs
  ember-ebau/translations/corrections/de.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core

chore: apply 1 suggestion(s) to 1 file(s)
  ember-ebau-core/translations/additional-demand/de.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core

feat(ur): add new service, role etc. for KOOR AfG
  django/camac/caluma/extensions/data_sources.py
  django/camac/constants/kt_uri.py
  django/camac/instance/serializers.py
  django/camac/instance/tests/test_instance_caluma.py
  django/camac/settings.py
  django/kt_uri/config/core.json
  django/kt_uri/config/instance.json
  django/kt_uri/config/user.json
  django/kt_uri/data/notification.json
  django/kt_uri/data/user.json
  ember-caluma-portal/config/environment.js
  ember-ebau-core/addon/config/main-ur.js
Due: lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-caluma-portal, test-ember-ebau-core, test-django

fix(gr): show rejected dossiers in internal area
  django/kt_gr/config/core.json
Due: test-django

feat(modification): show modification only for paper dossiers in portal
  ember-caluma-portal/app/abilities/instance.js
Due: lint-ember-caluma-portal, test-ember-caluma-portal

feat(be): Take over responsible user from source instance
  django/camac/instance/domain_logic/create.py
  django/camac/instance/serializers.py
  django/camac/instance/tests/test_instance_caluma.py
  django/camac/responsible/serializers.py
  django/camac/settings.py
Due: test-django

feat(be): Add service notifications in communications module for internal entities
  django/camac/communications/events.py
  django/camac/communications/serializers.py
  django/camac/communications/tests/test_api.py
  django/camac/communications/tests/test_permissions.py
  django/camac/conftest_settings.py
  django/camac/instance/placeholders/locale/de/LC_MESSAGES/django.po
  django/camac/instance/placeholders/locale/fr/LC_MESSAGES/django.po
  django/camac/instance/placeholders/locale/it/LC_MESSAGES/django.po
  django/camac/instance/tests/snapshots/snap_test_placeholders.py
  django/camac/notification/serializers.py
  django/camac/settings.py
  django/camac/settings_communications.py
  django/demo/config/email_notifications.json
  django/kt_bern/config/email_notifications.json
  django/locale/de/LC_MESSAGES/django.po
  django/locale/fr/LC_MESSAGES/django.po
  django/locale/it/LC_MESSAGES/django.po
Due: test-django

feat(be): Add responsible_service_users to TopicSerializer and add responsible_service_user filter field to TopicFilterSet
  django/camac/communications/filters.py
  django/camac/communications/serializers.py
  django/camac/communications/tests/test_filters_and_flags.py
Due: test-django

fix(communications): allow instance-services to involve applicant
  ember-ebau-core/addon/abilities/topic.js
  ember-ebau-core/addon/components/communication/new-topic.js
  ember-ebau-core/tests/integration/components/communication/new-topic-test.js
Due: lint-ember-ebau-core, test-ember-ebau-core

feat(communications): show responsible person in global communication module
  ember-ebau-core/addon/components/communication/topic-list.hbs
  ember-ebau-core/addon/components/communication/topic-list.js
  ember-ebau-core/addon/models/communications-topic.js
  ember-ebau-core/app/styles/_communications-module.scss
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(rejection): automatic saving of rejection feedback
  django/camac/instance/domain_logic/rejection.py
  django/camac/instance/tests/test_rejection.py
  django/camac/instance/views.py
  ember-ebau-core/addon/components/saving-indicator.hbs
  ember-ebau-core/addon/controllers/rejection.js
  ember-ebau-core/addon/templates/rejection.hbs
  ember-ebau-core/app/components/saving-indicator.js
  ember-ebau-core/app/styles/components/saving-indicator.scss
  ember-ebau-core/app/styles/ember-ebau-core.scss
  ember-ebau-core/tests/dummy/mirage/config.js
  ember-ebau-core/tests/integration/components/saving-indicator-test.js
  ember-ebau-core/translations/saving-indicator/de.yaml
  ember-ebau-core/translations/saving-indicator/fr.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

fix(be): change label on decision-approval-type
  django/kt_bern/config/caluma_decision_form.json
Due: test-django

fix(communications): change notification recipient type label
  django/locale/de/LC_MESSAGES/django.mo
  django/locale/de/LC_MESSAGES/django.po
  django/locale/fr/LC_MESSAGES/django.mo
  django/locale/fr/LC_MESSAGES/django.po
Due: test-django

fix(be): add translation for option, add new QSS matrix, remove redundant question in "brandschutz" form
  django/kt_bern/config/caluma_form.json
  django/kt_bern/config/caluma_form_v3.json
  ember-caluma-portal/public/assets/downloads/Tabelle_QSS_DE_FR.xlsx
Due: lint-ember-caluma-portal, test-ember-caluma-portal, test-django
