Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml

feat(gr): show rejected dossiers under "finished" in the portal
  django/camac/instance/serializers.py
  django/camac/settings_rejection.py
  ember-caluma-portal/config/environment.js
Due: lint-ember-caluma-portal, test-ember-caluma-portal, test-django

chore(be): release v3.6.0-rc.2
  VERSION.txt
  django/camac/camac_metadata.py
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
Due: lint-ember-camac-ng, lint-ember-caluma-portal, test-ember-camac-ng, test-ember-caluma-portal, test-django

feat(so): improve billing module
  django/camac/billing/migrations/0002_billingv2entry_billing_type.py
  django/camac/billing/models.py
  django/camac/billing/serializers.py
  ember-camac-ng/app/styles/_misc.scss
  ember-ebau-core/addon/components/billing-table.hbs
  ember-ebau-core/addon/components/billing-table.js
  ember-ebau-core/addon/components/billing-table/row.hbs
  ember-ebau-core/addon/config/features/be.js
  ember-ebau-core/addon/config/features/so.js
  ember-ebau-core/addon/config/features/sz.js
  ember-ebau-core/addon/controllers/billing/new.js
  ember-ebau-core/addon/models/billing-v2-entry.js
  ember-ebau-core/addon/templates/billing/new.hbs
  ember-ebau-core/app/styles/ember-ebau-core.scss
  ember-ebau-core/tests/acceptance/billing-test.js
  ember-ebau-core/tests/dummy/mirage/config.js
  ember-ebau-core/tests/integration/components/billing-table-test.js
  ember-ebau-core/tests/integration/components/billing-table/row-test.js
  ember-ebau-core/translations/billing/de.yaml
  ember-ebau-core/translations/billing/fr.yaml
Due: lint-ember-camac-ng, lint-ember-ebau-core, test-ember-camac-ng, test-ember-ebau-core, test-django

fix(portal): reset page when exiting public-instances
  ember-caluma-portal/app/public-instances/index/route.js
Due: lint-ember-caluma-portal, test-ember-caluma-portal

feat(so): improve rejection
  django/camac/instance/domain_logic/rejection.py
  django/camac/instance/placeholders/locale/de/LC_MESSAGES/django.po
  django/camac/instance/placeholders/locale/fr/LC_MESSAGES/django.po
  django/camac/instance/placeholders/locale/it/LC_MESSAGES/django.po
  django/camac/instance/serializers.py
  django/camac/settings_rejection.py
  django/locale/de/LC_MESSAGES/django.mo
  django/locale/de/LC_MESSAGES/django.po
  django/locale/fr/LC_MESSAGES/django.mo
  django/locale/fr/LC_MESSAGES/django.po
  django/locale/it/LC_MESSAGES/django.po
  ember-ebau-core/addon/abilities/instance.js
  ember-ebau-core/addon/config/features/be.js
  ember-ebau-core/addon/config/features/gr.js
  ember-ebau-core/addon/config/features/so.js
  ember-ebau-core/addon/controllers/rejection.js
  ember-ebau-core/translations/rejection/de.yaml
  ember-ebau-core/translations/rejection/fr.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

fix(gr): fix alexandria negated conditions
  django/camac/alexandria/extensions/permissions/extension.py
  django/camac/alexandria/tests/test_permissions.py
Due: test-django

feat(gr): copy alexandria documents by re-submission of rejected dossiers
  django/camac/instance/domain_logic/create.py
  django/camac/instance/tests/test_domain_logic_create.py
  django/requirements.txt
Due: test-django

fix(so): improve withdrawal
  django/camac/caluma/extensions/events/decision.py
  django/camac/caluma/tests/test_decision.py
  django/camac/core/management/commands/acls/kt_so.json
  django/camac/instance/domain_logic/decision.py
  django/camac/instance/domain_logic/withdrawal.py
  django/camac/instance/placeholders/locale/de/LC_MESSAGES/django.po
  django/camac/instance/placeholders/locale/fr/LC_MESSAGES/django.po
  django/camac/instance/placeholders/locale/it/LC_MESSAGES/django.po
  django/camac/settings.py
  django/camac/settings_withdrawal.py
  django/kt_so/config/core.json
  django/kt_so/config/instance.json
  django/locale/de/LC_MESSAGES/django.mo
  django/locale/de/LC_MESSAGES/django.po
  django/locale/fr/LC_MESSAGES/django.po
  django/locale/it/LC_MESSAGES/django.po
  ember-caluma-portal/config/environment.js
  ember-ebau-core/addon/config/main-so.js
Due: lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-caluma-portal, test-ember-ebau-core, test-django

chore: simplify test, refactor
  django/camac/alexandria/extensions/permissions/extension.py
  django/camac/alexandria/tests/test_permissions.py
Due: test-django

feat(tags): create a tag component in the header
  django/camac/circulation/tests/test_circulation.py
  django/camac/document/tests/test_attachment.py
  django/camac/instance/filters.py
  django/camac/instance/serializers.py
  django/camac/instance/tests/snapshots/snap_test_instance.py
  django/camac/instance/tests/test_instance.py
  django/camac/instance/tests/test_instance_caluma.py
  django/camac/instance/views.py
  django/camac/settings.py
  django/camac/tags/factories.py
  django/camac/tags/filters.py
  django/camac/tags/migrations/0003_keyword.py
  django/camac/tags/models.py
  django/camac/tags/serializers.py
  django/camac/tags/tests/test_keywords.py
  django/camac/tags/urls.py
  django/camac/tags/views.py
  django/camac/tests/test_public_access.py
  ember-ebau-core/addon/components/case-filter.js
  ember-ebau-core/addon/components/case-filter/filter-config.js
  ember-ebau-core/addon/components/case-table.js
  ember-ebau-core/addon/config/case-table-be.js
  ember-ebau-core/addon/config/case-table-gr.js
  ember-ebau-core/addon/config/case-table-so.js
  ember-ebau-core/addon/models/instance.js
  ember-ebau-core/addon/models/keyword.js
  ember-ebau-core/app/models/keyword.js
  ember-ebau-core/translations/cases/de-be.yaml
  ember-ebau-core/translations/cases/de.yaml
  ember-ebau-core/translations/cases/fr.yaml
  ember-ebau-core/translations/de.yaml
  ember-ebau/app/components/case-header.hbs
  ember-ebau/app/components/case-header/keywords.hbs
  ember-ebau/app/components/case-header/keywords.js
  ember-ebau/app/serializers/instance.js
  ember-ebau/app/styles/_power-select.scss
  ember-ebau/package.json
  ember-ebau/tests/unit/serializers/instance-test.js
  ember-ebau/translations/cases/de.yaml
  yarn.lock
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

chore: re-dump acls and config
  django/camac/core/management/commands/acls/kt_gr.json
  django/kt_gr/config/alexandria_core.json
Due: test-django

fix(gr): add missing ACL for circulation in state finished
  django/camac/core/management/commands/acls/kt_gr.json
  django/kt_gr/config/core.json
Due: test-django

feat(gr): add "download receipt" action in portal
  ember-caluma-portal/app/abilities/instance.js
  ember-caluma-portal/app/components/be-download-pdf.js
  ember-caluma-portal/app/components/gr-submit-instance.js
  ember-caluma-portal/app/instances/edit/index/controller.js
  ember-caluma-portal/app/instances/edit/index/template.hbs
  ember-caluma-portal/translations/de.yaml
  ember-caluma-portal/translations/fr.yaml
  ember-camac-ng/app/components/audit-table/row.js
  ember-camac-ng/app/components/cf-download-pdf.js
  ember-ebau-core/addon/config/main-gr.js
  ember-ebau-core/addon/services/dms.js
  ember-ebau-core/app/services/dms.js
  ember-ebau-core/tests/unit/services/dms-test.js
  ember-ebau-core/translations/dms/de.yaml
  ember-ebau-core/translations/dms/fr.yaml
  ember-ebau/app/components/case-header.js
Due: lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core

chore(deps): update frontend dependencies
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
  ember-ebau-core/package.json
  ember-ebau/package.json
  yarn.lock
Due: lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core

chore(dev): switch to pnpm
  ember-caluma-portal/package.json
  ember-caluma-portal/testem.js
  ember-camac-ng/package.json
  ember-camac-ng/testem.js
  ember-ebau-core/package.json
  ember-ebau-core/testem.js
  ember-ebau/package.json
  ember-ebau/testem.js
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  yarn.lock
Due: lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core

chore(docker): merge all ember dockerfiles into one
  .dockerignore
  .gitattributes
  Dockerfile.ember
  compose/ci.yml
  compose/demo.yml
  compose/kt_bern.yml
  compose/kt_gr.yml
  compose/kt_schwyz-dev.yml
  compose/kt_schwyz.yml
  compose/kt_so.yml
  compose/kt_uri-dev.yml
  compose/kt_uri.yml
  ember-caluma-portal/Dockerfile
  ember-caluma-portal/package.json
  ember-camac-ng/Dockerfile
  ember-camac-ng/package.json
  ember-ebau/Dockerfile
  ember-ebau/package.json
Due: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django

fix(gr): show instance resources for service in instance state "rejected"
  django/camac/core/management/commands/acls/kt_gr.json
  django/kt_gr/config/core.json
Due: test-django

fix(permissions): in the low-level filtering api, make queryset distinct
  django/camac/permissions/api.py
Due: test-django

refactor(notifications): change notification text for geometer SB2
  django/kt_bern/config/email_notifications.json
Due: test-django

refactor: geometer notification should be at completion of sb2
  django/camac/caluma/tests/test_events.py
  django/camac/ech0211/tests/test_send_handlers.py
  django/camac/instance/tests/test_instance_caluma.py
  django/camac/settings.py
  django/kt_bern/config/email_notifications.json
Due: test-django
