Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml

fix: simplify linked instances table
  ember-camac-ng/app/ui/components/case-dashboard/template.hbs
  ember-camac-ng/app/ui/components/linked-instances-table/component.js
  ember-camac-ng/app/ui/components/linked-instances-table/template.hbs
Due: lint-ember-camac-ng, test-ember-camac-ng

fix(sz): correctly update status after applicant completes workItem
  ember/app/caluma-query/models/work-item.js
  ember/app/gql/mutations/complete-workitem.graphql
  ember/app/instances/edit/work-items/detail/controller.js
Due: test-ember

chore(sz): ebausz-633 replace text for "datenverschnitt-naturgefahren"
  django/kt_schwyz/form.json
Due: test-django

fix(sz): ebausz-628 optimize the online-edition
  ember/app/components/camac-document/template.hbs
  ember/app/instances/edit/index/template.hbs
Due: test-ember

chore(sz): backport caluma form version of the customers configuration
  django/kt_schwyz/config/caluma_form.json
Due: test-django

feat(ur): add the link-instance-button component
  ember-camac-ng/app/ui/components/case-dashboard/template.hbs
  ember-camac-ng/app/ui/components/link-instance-button/component.js
  ember-camac-ng/app/ui/components/link-instance-button/template.hbs
  ember-camac-ng/app/ui/components/linked-instances-table/component.js
  ember-camac-ng/app/ui/components/linked-instances-table/template.hbs
  ember-camac-ng/tests/integration/ui/components/link-instance-button/component-test.js
Due: lint-ember-camac-ng, test-ember-camac-ng

fix: make ur workflow entry migration more defensive
  django/camac/core/management/commands/migrate_workflow_entries_ur.py
Due: test-django

fix(ur): don't cover exception
  django/camac/core/management/commands/migrate_workflow_entries_ur.py
Due: test-django

fix(ur): allow docx files in "interne dokumente" attachment section
  django/kt_uri/config/document.json
Due: test-django

fix(ur): reload request when linking a dossier
  ember-camac-ng/app/ui/components/case-dashboard/component.js
Due: lint-ember-camac-ng, test-ember-camac-ng

feat(be): add form for reporting solar plants
  django/camac/conftest.py
  django/camac/instance/tests/test_document_merge_service.py
  django/camac/settings.py
  django/kt_bern/config/caluma_form.json
  django/kt_bern/config/caluma_form_common.json
  django/kt_bern/config/caluma_solar_plants_form.json
  django/kt_bern/config/caluma_workflow.json
  django/kt_bern/workflow-preliminary-clarification.graphql
  tools/lib/link-checker.js
Due: test-django
