Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml

chore(django): update vscode debugger
  django/manage.py
  django/requirements-dev.txt
Due: test-django

feat(sz): EBAUSZ-565 add new questions vermessungsangaben
  django/kt_schwyz/form.json
  ember/app/instances/edit/grundinformationen/allgemeine-informationen-zum-vorhaben-v3/template.hbs
Due: test-ember, test-django

feat(sz): EBAUSZ-565 add new questions vermessungsangaben
  django/kt_schwyz/form.json
Due: test-django

feat(sz): add municipality custom coordinate
  django/camac/core/tests/test_publications.py
  django/camac/core/views.py
  django/kt_schwyz/form.json
Due: test-django

fix(ember): use textarea for custom coordinates
  django/camac/core/views.py
Due: test-django

feat(sz): EBAUSZ-580 configure personal data in the form
  django/camac/instance/tests/test_instance.py
  django/camac/settings.py
  django/kt_schwyz/config/core.json
  django/kt_schwyz/config/instance.json
  django/kt_schwyz/form.json
  ember/app/instances/edit/controller.js
  ember/app/instances/edit/personalien/bauherrschaft-v2/controller.js
  ember/app/instances/edit/personalien/bauherrschaft-v2/route.js
  ember/app/instances/edit/personalien/bauherrschaft-v2/template.hbs
  ember/app/instances/edit/personalien/projektverfasser-planer-v2/controller.js
  ember/app/instances/edit/personalien/projektverfasser-planer-v2/route.js
  ember/app/instances/edit/personalien/projektverfasser-planer-v2/template.hbs
  ember/app/instances/new/controller.js
  ember/app/instances/new/template.hbs
  ember/app/router.js
Due: test-ember, test-django

feat(sz): EBAUSZ-580 configure personal data in the form
  django/camac/instance/tests/test_instance.py
  django/camac/settings.py
  django/kt_schwyz/config/core.json
  django/kt_schwyz/config/instance.json
  django/kt_schwyz/form.json
Due: test-django

fix(be): fix issues with new GIS version and use test system in dev
  compose/kt_bern-dev.yml
  django/camac/settings.py
  django/gisbern/tests/cassettes/test_gis_canton[CH643546955207].yaml
  django/gisbern/tests/cassettes/test_gis_canton[CH673533354667].yaml
  django/gisbern/tests/cassettes/test_gis_canton[CH851446093521].yaml
  django/gisbern/tests/cassettes/test_gis_canton[doesntexist].yaml
  django/gisbern/tests/cassettes/test_gis_canton[emptygis].yaml
  django/gisbern/tests/cassettes/test_gis_canton[emptymultisurface].yaml
  django/gisbern/tests/cassettes/test_gis_canton[emptypolygon].yaml
  django/gisbern/tests/multisurface.xml
  django/gisbern/tests/response.xml
  django/gisbern/tests/snapshots/snap_test_gis_canton.py
  django/gisbern/tests/test_gis_canton.py
  django/gisbern/views.py
  django/gisbern/xml/get_feature.xml
  ember-caluma-portal/app/components/be-gis/component.js
  ember-caluma-portal/config/dotenv.js
  ember-caluma-portal/config/environment.js
Due: lint-yml, lint-ember-caluma-portal, test-ember-caluma-portal, test-django

chore(sz): rename table header in the planauflage
  ember/app/publications/template.hbs
Due: test-ember

chore(sz): edit text in the gwr form
  django/kt_schwyz/form.json
Due: test-django

chore(sz): edit text in the "baukosten" form
  django/kt_schwyz/form.json
Due: test-django

fix: always collect static files (not just in dev), proxy conf
  compose/kt_uri-stage.yml
  django/Dockerfile
  proxy/kt_bern.conf
  proxy/kt_schwyz.conf
  proxy/kt_uri.conf
Due: lint-yml, test-django

fix: always collect static files (not just in dev), proxy conf
  django/Dockerfile
  proxy/kt_bern.conf
  proxy/kt_schwyz.conf
  proxy/kt_uri.conf
Due: test-django

fix: add oereb public-instances API prefetching
  django/camac/instance/tests/test_instance_public.py
  django/camac/instance/views.py
Due: test-django
