Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

lint-yml:
  stage: lint
  image: node:lts
  before_script:
  - yarn global add prettier
  script:
  - prettier -c **/*.yml

lint-ember-camac-ng:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-camac-ng
  - yarn
  script:
  - yarn lint

lint-ember-caluma-portal:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-caluma-portal
  - yarn
  script:
  - yarn lint

lint-ember-ebau-core:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-ebau-core
  - yarn
  script:
  - yarn lint

lint-php:
  stage: lint
  image:
    name: node:lts
  script:
  - if git grep -I -e ä  -e ö  -e ü   -- './*' ':!.gitlab-ci.yml'; then exit 1; else echo "No composite umlaute found"; fi
  - yarn --cwd=php install
  - yarn --cwd=php lint
  - yarn --cwd=php prettier-check

test-ember:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember"
  - eval $COMPOSE build ember
  - eval $COMPOSE run --rm --no-deps ember yarn test

test-ember-camac-ng:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-camac-ng"
  - eval $COMPOSE build ember-camac-ng
  ...

test-ember-caluma-portal:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-caluma-portal"
  - eval $COMPOSE build ember-caluma-portal
  ...

test-ember-ebau-core:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-ebau-core"
  - eval $COMPOSE build ember-ebau-core
  ...

test-django:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet django db clamav unoconv"
  - eval $COMPOSE build --parallel django db clamav unoconv
  ...

php-security-checker:
  stage: test
  image:
    name: jakzal/phpqa:php7.3-alpine
  script: local-php-security-checker --path=./php/composer.lock

fix(tasklist): change layout of the tasklist
  ember-ebau-core/addon/caluma-query/models/work-item.js
  ember-ebau-core/addon/components/work-item-list.hbs
  ember-ebau-core/addon/components/work-item-list/item.hbs
  ember-ebau-core/addon/config/work-item-list-ur.js
  ember-ebau-core/translations/work-items/de-ur.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(gr): remove Poschavio, Trun from list of active municipalities
  django/kt_gr/config/caluma_form_common.json
Due: test-django

chore(so): fix question order in inquiry-answer form
  django/kt_so/config/caluma_distribution.json
Due: test-django

chore(django-ur): backport acl config changes
  django/kt_uri/config/core.json
Due: test-django

feat(ur): change the nfd paper text
  ember-ebau-core/addon/templates/additional-demand.hbs
  ember-ebau-core/translations/additional-demand/de-ur.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(token-exchange): only validate LoT for portal requests
  django/camac/token_exchange/permissions.py
  django/camac/token_exchange/tests/test_permissions.py
  django/camac/user/utils.py
Due: test-django

chore(alexandria): bump to 6.4.0
  django/camac/alexandria/tests/test_permissions.py
  django/camac/conftest.py
  django/requirements.txt
  ember-ebau-core/translations/alexandria-documents/de-gr.yaml
  ember-ebau-core/translations/alexandria-documents/it-gr.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

fix(celery): reduce memory usage in development
  compose/kt_gr-dev.yml
  compose/kt_so-dev.yml
  django/camac/settings/django.py
Due: lint-yml, test-django

fix(cases): fix the case list
  ember-ebau-core/addon/caluma-query/models/-case.js
  ember-ebau-core/addon/caluma-query/models/work-item.js
  ember-ebau-core/addon/components/work-item-list.hbs
  ember-ebau-core/addon/components/work-item-list/item.hbs
  ember-ebau-core/addon/config/work-item-list-ur.js
  ember-ebau-core/translations/work-items/de-ur.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core

feat(ur): allow specific services to do sub-circulations
  ember-camac-ng/app/services/caluma-options.js
  ember-camac-ng/app/services/shoebox.js
  ember-ebau-core/translations/distribution/de-ur.yaml
Due: lint-ember-camac-ng, lint-ember-ebau-core, test-ember-camac-ng, test-ember-ebau-core

fix(so): disable caluma for public users
  django/camac/settings/django.py
Due: test-django

fix(gr): add copy permission
  django/camac/settings/modules/permissions/kt_gr.py
Due: test-django

chore(django): update packages
  django/requirements-dev.txt
  django/requirements.txt
Due: test-django

fix(gr): remove Klosters from list of active municipalities
  django/kt_gr/config/caluma_form_common.json
Due: test-django

fix(be): store config in meta in index.html file
  ember-caluma-portal/ember-cli-build.js
  ember-camac-ng/ember-cli-build.js
Due: lint-ember-camac-ng, lint-ember-caluma-portal, test-ember-camac-ng, test-ember-caluma-portal

chore(be): release v3.6.4-rc.2
  VERSION.txt
  django/camac/camac_metadata.py
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
Due: lint-ember-camac-ng, lint-ember-caluma-portal, test-ember-camac-ng, test-ember-caluma-portal, test-django

fix(gr): fix a translation and add the input receipt template in italian
  django/camac/core/translation_files/GR_IT/Question_label_it.csv
  django/kt_gr/config/caluma_form.json
  document-merge-service/kt_gr/dump.json
Due: test-django

feat(sz): add notifications for construction monitoring steps
  django/camac/caluma/tests/test_construction_monitoring.py
  django/camac/conftest.py
  django/camac/settings/django.py
  django/kt_schwyz/config/email_notifications.json
Due: test-django

chore(be): ensure env variable replacement through ansible role
  compose/kt_bern.yml
Due: lint-yml

feat(be): update error message shown when uploading an infected file
  compose/kt_bern-dev.yml
  ember-caluma-portal/app/components/be-documents-form.js
  ember-caluma-portal/app/services/fetch.js
  ember-ebau-core/translations/documents/de.yaml
  ember-ebau-core/translations/documents/fr.yaml
Due: lint-yml, lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-caluma-portal, test-ember-ebau-core

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml
