Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

lint-yml:
  stage: lint
  image: node:lts
  before_script:
  - yarn global add prettier
  script:
  - prettier -c **/*.yml

lint-ember-camac-ng:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-camac-ng
  - yarn
  script:
  - yarn lint

lint-ember-caluma-portal:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-caluma-portal
  - yarn
  script:
  - yarn lint

lint-ember-ebau-core:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-ebau-core
  - yarn
  script:
  - yarn lint

lint-php:
  stage: lint
  image:
    name: node:lts
  script:
  - if git grep -I -e ä  -e ö  -e ü   -- './*' ':!.gitlab-ci.yml'; then exit 1; else echo "No composite umlaute found"; fi
  - yarn --cwd=php install
  - yarn --cwd=php lint
  - yarn --cwd=php prettier-check

test-ember:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember"
  - eval $COMPOSE build ember
  - eval $COMPOSE run --rm --no-deps ember yarn test

test-ember-camac-ng:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-camac-ng"
  - eval $COMPOSE build ember-camac-ng
  ...

test-ember-caluma-portal:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-caluma-portal"
  - eval $COMPOSE build ember-caluma-portal
  ...

test-ember-ebau-core:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-ebau-core"
  - eval $COMPOSE build ember-ebau-core
  ...

test-django:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet django db clamav unoconv"
  - eval $COMPOSE build --parallel django db clamav unoconv
  ...

php-security-checker:
  stage: test
  image:
    name: jakzal/phpqa:php7.3-alpine
  script: local-php-security-checker --path=./php/composer.lock

fix(ur): generate identifier when copying instances in internal area
  django/camac/instance/domain_logic.py
  django/camac/instance/serializers.py
  django/camac/instance/tests/test_instance_caluma.py
Due: test-django

chore(deps): update caluma and use built in child case filter
  django/camac/caluma/extensions/visibilities.py
  django/camac/caluma/tests/test_visibilities.py
  django/requirements.txt
  ember-camac-ng/app/ui/components/case-table/component.js
  ember-ebau/app/ui/components/case-table/component.js
Due: lint-ember-camac-ng, test-ember-camac-ng, test-django

fix: add default for APPLICATION_ENV
  django/camac/settings.py
Due: test-django

fix(ur): visibility for coordination, paper submit for Bundesstelle
  django/camac/constants/kt_uri.py
  django/camac/instance/mixins.py
  django/camac/settings.py
  ember-caluma-portal/config/environment.js
Due: lint-ember-caluma-portal, test-ember-caluma-portal, test-django

fix: make `intersects` jexl expressions more defensive
  django/kt_uri/config/caluma_form.json
  django/kt_uri/config/core.json
Due: test-django

fix(distribution): make sure only controller of inquiry can reopen it
  django/camac/caluma/extensions/permissions.py
  django/camac/caluma/tests/test_permissions.py
  django/camac/circulation/management/commands/distribution_analyze.py
  django/camac/circulation/management/commands/distribution_migrate.py
  django/kt_bern/config/caluma_distribution.json
  django/kt_bern/distribution.graphql
  django/kt_schwyz/config/caluma_distribution.json
  django/kt_schwyz/distribution.graphql
Due: test-django

fix(ur): new ca-cert path since dms uses poetry
  compose/kt_uri-prod.yml
Due: lint-yml

fix(ur): fix the displayed activation states of involved services
  ember-camac-ng/app/utils/activation-indicator.js
  ember-camac-ng/translations/dashboard/de.yaml
  ember-camac-ng/translations/dashboard/fr.yaml
Due: lint-ember-camac-ng, test-ember-camac-ng

fix(ur): fix the states of the involved services on the dashboard
  ember-camac-ng/app/utils/activation-indicator.js
Due: lint-ember-camac-ng, test-ember-camac-ng

chore(ur): backport the form changes in the 'solar' form
  django/kt_uri/config/caluma_form.json
Due: test-django

feat(ur): migrate the workflow entries
  django/camac/core/management/commands/migrate_workflow_dates_ur.py
  django/kt_uri/config/core.json
  django/pyproject.toml
Due: test-django

feat(ur): activate the paper filter in the intern area
  ember-camac-ng/app/config/case-table-ur.js
  ember-camac-ng/app/ui/components/case-table/component.js
  ember-camac-ng/translations/cases/de-ur.yaml
Due: lint-ember-camac-ng, test-ember-camac-ng

chore(sz): add azure prod system to gitlab ci
  compose/kt_schwyz-prod.yml
  compose/kt_schwyz-stage.yml
Due: lint-yml

fix(be): display uploaded documents in portal directly
  ember-caluma-portal/app/components/be-documents-form/component.js
Due: lint-ember-caluma-portal, test-ember-caluma-portal

chore(ur): backport form changes solar
  django/kt_uri/config/caluma_form.json
Due: test-django

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml
