Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

lint-yml:
  stage: lint
  image: node:lts
  before_script:
  - yarn global add prettier
  script:
  - prettier -c **/*.yml

lint-ember-camac-ng:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-camac-ng
  - yarn
  script:
  - yarn lint

lint-ember-caluma-portal:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-caluma-portal
  - yarn
  script:
  - yarn lint

lint-ember-ebau-core:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-ebau-core
  - yarn
  script:
  - yarn lint

lint-php:
  stage: lint
  image:
    name: node:lts
  script:
  - if git grep -I -e ä  -e ö  -e ü   -- './*' ':!.gitlab-ci.yml'; then exit 1; else echo "No composite umlaute found"; fi
  - yarn --cwd=php install
  - yarn --cwd=php lint
  - yarn --cwd=php prettier-check

test-ember:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember"
  - eval $COMPOSE build ember
  - eval $COMPOSE run --rm --no-deps ember yarn test

test-ember-camac-ng:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-camac-ng"
  - eval $COMPOSE build ember-camac-ng
  ...

test-ember-caluma-portal:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-caluma-portal"
  - eval $COMPOSE build ember-caluma-portal
  ...

test-ember-ebau-core:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-ebau-core"
  - eval $COMPOSE build ember-ebau-core
  ...

test-django:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet django db clamav unoconv"
  - eval $COMPOSE build --parallel django db clamav unoconv
  ...

php-security-checker:
  stage: test
  image:
    name: jakzal/phpqa:php7.3-alpine
  script: local-php-security-checker --path=./php/composer.lock

feat(tooling): add "ember-dev" make target
  Makefile
Due: none

fix(gwr): log warnings instead of exceptions
  django/camac/instance/gwr_lookups.py
Due: test-django

style(cases): add "button" css class to case-filter buttons
  ember-camac-ng/app/ui/components/case-filter/template.hbs
Due: lint-ember-camac-ng, test-ember-camac-ng

fix(dossier-list): make sort order configurable
  ember-camac-ng/app/ui/components/case-table/component.js
  ember-camac-ng/config/environment.js
Due: lint-ember-camac-ng, test-ember-camac-ng

feat(ur-circ): stop circulations (wip)
  django/camac/circulation/views.py
Due: test-django

feat(ur): config the buttons "Zirkulation abschliessen"
  django/camac/circulation/tests/test_circulation.py
  django/camac/circulation/views.py
  django/camac/settings.py
  django/kt_uri/config/core.json
Due: test-django

fix: test / prod differences, testing
  django/camac/dossier_import/tests/test_views.py
  django/camac/dossier_import/views.py
  ember-camac-ng/app/abilities/dossier-import.js
Due: lint-ember-camac-ng, test-ember-camac-ng, test-django

fix(be): fix claims for applicant
  ember-caluma-portal/app/components/be-claims-form/component.js
  ember-caluma-portal/app/components/be-claims-form/edit/component.js
Due: lint-ember-caluma-portal, test-ember-caluma-portal

fix(be): fix embedded usage of portal
  ember-caluma-portal/app/application/route.js
  ember-caluma-portal/app/helpers/is-embedded.js
  ember-caluma-portal/app/instances/edit/index/route.js
  ember-caluma-portal/tests/integration/helpers/is-embedded-test.js
Due: lint-ember-caluma-portal, test-ember-caluma-portal

fix(ur): edit the text of the email notification "Bau- und Einsprache-Entscheid"
  django/kt_uri/config/core.json
Due: test-django

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml
