Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml

chore(gr): update dummy data
  django/kt_gr/data/applicants.json
  django/kt_gr/data/caluma_form.json
  django/kt_gr/data/caluma_workflow.json
  django/kt_gr/data/core.json
  django/kt_gr/data/instance.json
  django/kt_gr/data/permissions.json
Due: test-django

feat(be): add a additional description to the document buckets
  ember-ebau-core/addon/components/be-document-bucket.hbs
  ember-ebau-core/addon/components/be-document-bucket.js
  ember-ebau-core/translations/documents/de-be.yaml
  ember-ebau-core/translations/documents/fr-be.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(ember-ebau-core): use stringValue instead of string for instance description
  ember-ebau-core/addon/caluma-query/models/work-item.js
Due: lint-ember-ebau-core, test-ember-ebau-core

chore(so): change icon for direct inquiries
  ember-ebau/app/services/caluma-options.js
Due: none

feat(so): inform users that an addressed inquiry is direct
  django/kt_so/config/caluma_distribution.json
  ember-caluma-portal/app/application/route.js
  ember-ebau-core/addon/components/direct-inquiry-checkbox.js
  ember-ebau-core/addon/components/direct-inquiry-info.hbs
  ember-ebau-core/addon/components/direct-inquiry-info.js
  ember-ebau-core/addon/gql/queries/is-direct-inquiry.graphql
  ember-ebau-core/app/components/direct-inquiry-info.js
  ember-ebau-core/tests/integration/components/direct-inquiry-info-test.js
  ember-ebau/app/application/route.js
Due: lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-caluma-portal, test-ember-ebau-core, test-django

fix(so): avoid check inquiry work item if completed inquiry is direct
  django/camac/caluma/extensions/dynamic_tasks.py
  django/camac/caluma/extensions/events/direct_inquiry.py
  django/camac/caluma/tests/test_direct_inquiry.py
  django/camac/caluma/utils.py
  ember-ebau-core/addon/components/direct-inquiry-checkbox.hbs
  ember-ebau-core/addon/components/direct-inquiry-checkbox.js
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

fix(dossier-import): ignore keywords without any instances
  django/camac/dossier_import/config/kt_so.py
Due: test-django

chore(so): don't show dossier import resource to municipality admin
  django/kt_so/config/core.json
Due: test-django

fix(dossier-import): fix downloading of dossier imports with S3
  django/camac/dossier_import/tests/test_views.py
  django/camac/dossier_import/views.py
Due: test-django

feat(be): add new columns "modified at" and "modified by" to dms templates list
  ember-ebau-core/addon/components/dms/edit.js
  ember-ebau-core/addon/components/dms/list.hbs
  ember-ebau-core/addon/models/template.js
  ember-ebau-core/addon/serializers/template.js
  ember-ebau-core/translations/dms/de.yaml
  ember-ebau-core/translations/dms/fr.yaml
  ember-ebau-core/translations/dms/it.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core

chore(so): change notification texts
  django/camac/caluma/extensions/events/decision.py
  django/camac/instance/serializers.py
  django/camac/instance/tests/test_instance_caluma.py
  django/camac/settings/django.py
  django/camac/settings/modules/construction_monitoring.py
  django/kt_so/config/email_notifications.json
Due: test-django

fix(django-ur): missing afg permission
  django/camac/settings/django.py
Due: test-django

feat(so): add DMS templates
  document-merge-service/kt_so/dump.json
  document-merge-service/kt_so/templatefiles/bab-begleitformular-kantonale-pruefung.docx
  document-merge-service/kt_so/templatefiles/bauentscheid.docx
  document-merge-service/kt_so/templatefiles/briefvorlage-an-gesuchstellerin.docx
  document-merge-service/kt_so/templatefiles/eingangsbestaetigung-an-gesuchstellerin.docx
  document-merge-service/kt_so/templatefiles/inserat-amtsblatt.docx
  document-merge-service/kt_so/templatefiles/inserat-anzeiger.docx
  document-merge-service/kt_so/templatefiles/pruefung-kanalisationsanschluss-und-versickerungsanlage.xlsx
  document-merge-service/kt_so/templatefiles/pv-anlage-bestaetigung.docx
  document-merge-service/kt_so/templatefiles/selbstdeklaration-bauabschluss.docx
  document-merge-service/kt_so/templatefiles/vorpruefung-baugesuche.xlsx
Due: none

feat(django-ur): add fee question to inquiry
  django/kt_uri/config/caluma_distribution.json
Due: test-django

feat(tools): add simple tool to scan images with trivy
  Makefile
  tools/bin/scan-images.js
Due: none

fix(django-ur): extend visibilty of instances for coordination services
  django/camac/instance/mixins.py
  django/camac/instance/tests/test_instance.py
Due: test-django

fix(django-ur): additional demands
  django/camac/circulation/management/commands/migrate_additional_demands_ur.py
  django/kt_uri/config/caluma_distribution.json
  django/kt_uri/config/caluma_workflow.json
Due: test-django

feat(django): throw better error in distribution permission check
  django/camac/caluma/extensions/permissions.py
Due: test-django

chore(be): release v3.6.4-rc.1
  VERSION.txt
  django/camac/camac_metadata.py
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
Due: lint-ember-camac-ng, lint-ember-caluma-portal, test-ember-camac-ng, test-ember-caluma-portal, test-django

fix(gr): permission config
  django/camac/settings/modules/permissions/kt_gr.py
  django/camac/settings/modules/permissions/kt_so.py
Due: test-django
