Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml

chore(ember-ebau-core): add helper to detect legacy app
  ember-ebau-core/.template-lintrc.js
  ember-ebau-core/addon/caluma-query/models/work-item.js
  ember-ebau-core/addon/components/additional-demand/list.js
  ember-ebau-core/addon/components/additional-demand/list/item.js
  ember-ebau-core/addon/components/case-table.js
  ember-ebau-core/addon/components/communication/topic-list.js
  ember-ebau-core/addon/components/construction-monitoring/work-item/header.hbs
  ember-ebau-core/addon/components/instances-on-same-plot.hbs
  ember-ebau-core/addon/components/linked-instances.hbs
  ember-ebau-core/addon/components/linked-instances/table.hbs
  ember-ebau-core/addon/components/work-item-list/item.js
  ember-ebau-core/addon/controllers/rejection.js
  ember-ebau-core/addon/helpers/is-legacy-app.js
  ember-ebau-core/addon/services/ebau-modules.js
  ember-ebau-core/app/helpers/is-legacy-app.js
  ember-ebau-core/tests/integration/helpers/is-legacy-app-test.js
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(construction-monitoring): improve layout for non-legacy apps
  ember-ebau-core/addon/components/construction-monitoring/work-item.hbs
  ember-ebau-core/addon/components/construction-monitoring/work-item/header.hbs
  ember-ebau-core/addon/templates/construction-monitoring/construction-stage.hbs
  ember-ebau-core/addon/templates/construction-monitoring/construction-stage/construction-step.hbs
  ember-ebau-core/addon/templates/construction-monitoring/construction-stage/index.hbs
  ember-ebau-core/addon/templates/construction-monitoring/index.hbs
  ember-ebau-core/translations/construction-monitoring/de.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(ur): backport fix dossier submission for municipality "Wassen"
  django/camac/instance/serializers.py
Due: test-django

feat(so): automatically revoke 'municipality-before-submission' permission 8 hours after creation
  django/camac/instance/tests/test_instance_caluma_custom_actions.py
  django/camac/instance/views.py
Due: test-django

feat(so): allow linking of instances
  django/camac/core/management/commands/acls/kt_so.json
  django/camac/settings/django.py
  django/kt_so/config/core.json
  ember-ebau-core/addon/config/main-so.js
  ember-ebau-core/addon/controllers/linked-instances.js
  ember-ebau-core/addon/controllers/linked-instances/index.js
  ember-ebau-core/addon/modules/linked-instances.js
  ember-ebau-core/addon/templates/linked-instances.hbs
  ember-ebau-core/addon/templates/linked-instances/index.hbs
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

feat(ur): enable the municipalities to submit dossiers of type "Gebäudetechnik"
  ember-caluma-portal/config/environment.js
Due: lint-ember-caluma-portal, test-ember-caluma-portal

feat(ur): linking konzession with bohrbewilligung by submission
  django/camac/instance/serializers.py
  django/camac/instance/tests/test_instance_caluma.py
Due: test-django

feat(be): display legal entity info in information of neighbors form
  django/kt_bern/config/caluma_information_of_neighbors_form.json
Due: test-django

feat(gr): extend keycloak theme for eeba client
  keycloak/themes/src/main/resources/theme/kanton-gr/login/login.ftl
  keycloak/themes/src/main/resources/theme/kanton-gr/login/messages/messages_de.properties
  keycloak/themes/src/main/resources/theme/kanton-gr/login/resources/css/style.css
  keycloak/themes/src/main/resources/theme/kanton-gr/login/template.ftl
  keycloak/themes/src/main/resources/theme/kanton-gr/scss/style.scss
Due: none

chore(docs): update permissions module TODO
  django/camac/permissions/TODO.md
Due: test-django

feat(permissions): support event trigger for copying instances
  django/camac/instance/utils.py
  django/camac/permissions/config/kt_bern.py
  django/camac/permissions/events.py
  django/camac/permissions/tests/test_events.py
Due: test-django

fix(permissions): correctly assign lead authority/construction control
  django/camac/permissions/config/common.py
  django/camac/permissions/management/commands/migrate_permissions.py
  django/camac/settings/modules/permissions/kt_bern.py
Due: test-django

fix(permissions): Handling non-municipality instance services
  django/camac/permissions/config/common.py
  django/camac/permissions/management/commands/migrate_permissions.py
  django/camac/permissions/tests/test_events.py
  django/kt_bern/config/permissions.json
Due: test-django

feat(be): geometer extension
  django/kt_bern/config/caluma_decision_form.json
  ember-caluma-portal/app/application/route.js
  ember-camac-ng/app/application/route.js
  ember-camac-ng/app/styles/_reset-be.scss
  ember-ebau-core/addon/components/decision/info-missing-geometer-involvement.hbs
  ember-ebau-core/addon/components/decision/info-missing-geometer-involvement.js
  ember-ebau-core/addon/gql/queries/get-decision-geometer-answer.graphql
Due: lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django

fix(so): fix translations for link instance module
  ember-ebau-core/translations/cases/de-so.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core

feat(admin): add bulk action to disable and enable groups and services
  django/camac/user/admin/views.py
  django/locale/de/LC_MESSAGES/django.mo
  django/locale/de/LC_MESSAGES/django.po
Due: test-django

feat(gr): municipality specific content
  django/camac/core/admin/forms.py
  django/camac/core/admin/views.py
  django/camac/core/factories.py
  django/camac/core/filters.py
  django/camac/core/migrations/0109_servicecontent.py
  django/camac/core/models.py
  django/camac/core/serializers.py
  django/camac/core/tests/test_service_content.py
  django/camac/core/urls.py
  django/camac/core/views.py
  django/camac/settings/modules/django_admin.py
  django/kt_gr/config/caluma_form.json
  ember-caluma-portal/app/application/route.js
  ember-ebau-core/addon/components/service-content.hbs
  ember-ebau-core/addon/components/service-content.js
  ember-ebau-core/addon/models/service-content.js
  ember-ebau-core/app/components/service-content.js
  ember-ebau-core/app/models/service-content.js
  ember-ebau-core/tests/unit/models/service-content-test.js
Due: lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-caluma-portal, test-ember-ebau-core, test-django

fix(gr): use public instance text from customer
  ember-caluma-portal/translations/public-instances/de-gr.yaml
Due: lint-ember-caluma-portal, test-ember-caluma-portal

fix(so): make sure only PDFs and images can be uploaded
  django/kt_so/config/alexandria_core.json
Due: test-django

feat(so): add folder for migrated documents
  django/camac/alexandria/extensions/permissions/conditions.py
  django/camac/alexandria/tests/test_permissions.py
  django/camac/settings/modules/dossier_import.py
  django/kt_so/config/alexandria_core.json
Due: test-django

ci(bern): rename to correct INTERNAL_URL parameter in compose file
  compose/kt_bern.yml
Due: lint-yml
