Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml

fix(so/ech0211): make sure building name complies with XML validation
  django/camac/ech0211/formatters.py
Due: test-django

fix(django-gr): add missing "baugesuch-v3" for permissions
  django/camac/settings/modules/permissions/kt_gr.py
Due: test-django

fix(caluma_form): fix subsequent form copy dynamic answers
  django/camac/caluma/extensions/data_sources.py
Due: test-django

feat(django-gr): re-enable construction monitoring
  django/camac/caluma/extensions/events/__init__.py
  django/camac/caluma/extensions/events/construction_acceptance.py
  django/camac/caluma/extensions/permissions.py
  django/camac/notification/serializers.py
  django/camac/notification/tests/test_notification_template.py
  django/camac/permissions/config/kt_gr.py
  django/camac/permissions/events.py
  django/camac/permissions/tests/test_events.py
  django/camac/settings/modules/construction_monitoring.py
  django/camac/settings/modules/decision.py
  django/camac/settings/modules/dump.py
  django/camac/settings/modules/permissions/kt_gr.py
  django/kt_gr/config/caluma_construction_monitoring_form.json
  django/kt_gr/config/caluma_construction_monitoring_workflow.json
  django/kt_gr/config/caluma_form.json
  django/kt_gr/config/caluma_form_common.json
  django/kt_gr/config/caluma_workflow.json
  django/kt_gr/config/core.json
Due: test-django

chore(django): update alexandria to v7.2.0
  django/requirements.txt
Due: test-django

fix(so): use correct placeholder name for work item name
  django/kt_so/config/email_notifications.json
Due: test-django

fix(so): add role mapping for service-bab and append role to config key
  django/camac/alexandria/extensions/common.py
  django/camac/alexandria/tests/test_common.py
  django/camac/settings/modules/alexandria.py
  django/kt_so/config/alexandria_core.json
Due: test-django

chore(gr): einsprachen instance resource IT translation
  django/kt_gr/config/core.json
Due: test-django

chore(gr): change GR document upload hinweis text
  ember-ebau-core/translations/documents/de-gr.yaml
  ember-ebau-core/translations/documents/it-gr.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(compose/be-dev): add build context for django-webdav
  compose/kt_bern-dev.yml
Due: lint-yml

fix(compose/be-dev): add dev deps for django-webdav
  compose/kt_bern-dev.yml
Due: lint-yml

fix(ag/ech0211): fix nature risk formatter for Kt. AG and add tests
  django/camac/conftest.py
  django/camac/ech0211/conftest.py
  django/camac/ech0211/tests/__snapshots__/test_ech0211.ambr
  django/camac/ech0211/tests/test_ech0211.py
  django/camac/instance/master_data.py
  django/camac/instance/tests/__snapshots__/test_master_data.ambr
  django/camac/instance/tests/__snapshots__/test_placeholders.ambr
  django/camac/settings/modules/master_data.py
Due: test-django

fix: use configuration during redis stratup
  django/camac/settings/django.py
  django/entrypoint.sh
Due: test-django

feat(ag): add workflow for PGV dossiers
  django/camac/billing/models.py
  django/camac/caluma/extensions/dynamic_tasks.py
  django/camac/caluma/tests/test_direct_inquiry.py
  django/camac/caluma/tests/test_dynamic_tasks.py
  django/camac/conftest.py
  django/camac/ech0211/tests/__snapshots__/test_ech0211.ambr
  django/camac/instance/domain_logic/decision.py
  django/camac/instance/master_data.py
  django/camac/instance/placeholders/locale/de/LC_MESSAGES/django.po
  django/camac/instance/placeholders/locale/fr/LC_MESSAGES/django.po
  django/camac/instance/placeholders/locale/it/LC_MESSAGES/django.po
  django/camac/instance/placeholders/serializers.py
  django/camac/instance/serializers.py
  django/camac/instance/tests/__snapshots__/test_master_data.ambr
  django/camac/instance/tests/__snapshots__/test_placeholders.ambr
  django/camac/instance/tests/test_instance_caluma.py
  django/camac/instance/tests/test_master_data.py
  django/camac/settings/django.py
  django/camac/settings/modules/master_data.py
  django/camac/settings/modules/permissions/kt_ag.py
  django/camac/user/management/commands/import_services.py
  django/kt_ag/config/caluma_cantonal_exam_form.json
  django/kt_ag/config/caluma_form.json
  django/kt_ag/config/caluma_form_common.json
  django/kt_ag/config/caluma_workflow.json
  django/kt_ag/config/permissions.json
  django/kt_ag/config/user.json
  django/kt_ag/data/user.json
  django/kt_ag/import/Services_AG.xlsx
  django/kt_ag/workflow/workflow-building-permit.graphql
  ember-caluma-portal/config/environment.js
  ember-ebau-core/addon/config/main-ag.js
  ember-ebau/app/new-case/controller.js
  ember-ebau/app/services/session.js
Due: lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-caluma-portal, test-ember-ebau-core, test-django

feat(ag): add internal dossier form
  django/kt_ag/config/caluma_form.json
  django/kt_ag/config/caluma_form_common.json
  ember-ebau-core/addon/config/main-ag.js
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

chore: set nginx resolver for dev environments in entrypoint script
  compose/kt_ag-dev.yml
  compose/kt_bern-dev.yml
  compose/kt_gr-dev.yml
  compose/kt_schwyz-dev.yml
  compose/kt_so-dev.yml
  compose/kt_uri-dev.yml
  proxy/docker-entrypoint.d/90-nameserver.sh
  proxy/kt_ag.conf
  proxy/kt_bern.conf
  proxy/kt_gr.conf
  proxy/kt_schwyz.conf
  proxy/kt_so.conf
  proxy/kt_uri.conf
Due: lint-yml

feat(ur): add sanctions ACLs
  django/kt_uri/config/core.json
Due: test-django

fix(ech): don't break if decision authority has no zip
  django/camac/ech0211/formatters.py
Due: test-django

fix(so): add missing parantheses
  django/kt_so/config/email_notifications.json
Due: test-django

feat(gr): decision status Bewilligt mit Auflagen
  ember-ebau/app/caluma/lib/custom-field.js
Due: none

chore(dms): update dms to 7.3.7
  document-merge-service/Dockerfile
Due: none

refactor(wilken): add endpoint for product numbers
  django/camac/billing/utils.py
  django/camac/billing/views.py
  django/camac/settings/modules/billing.py
  django/camac/user/utils.py
  ember-ebau-core/addon/components/permissions/create-acl-modal.hbs
  ember-ebau-core/addon/components/permissions/create-acl-modal.js
  ember-ebau-core/addon/controllers/billing/new.js
  ember-ebau-core/addon/models/billing-v2-common-entry.js
  ember-ebau-core/addon/templates/billing/new.hbs
  ember-ebau-core/tests/dummy/mirage/config.js
  ember-ebau-core/translations/billing/de.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

jsdkfl
  django/camac/billing/tests/test_billing.py
  django/camac/billing/urls.py
  django/camac/billing/utils.py
  django/camac/billing/views.py
  ember-ebau-core/addon/controllers/billing/new.js
  ember-ebau-core/tests/dummy/mirage/config.js
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

refactor(productNumber): configure name in the backend as well
  django/camac/billing/serializers.py
  django/camac/billing/tests/test_billing.py
  django/camac/billing/utils.py
  django/camac/billing/views.py
  django/camac/settings/modules/billing.py
  ember-ebau-core/addon/components/billing-table/row.hbs
  ember-ebau-core/addon/controllers/billing/new.js
  ember-ebau-core/addon/models/billing-v2-entry.js
  ember-ebau-core/addon/templates/billing/new.hbs
  ember-ebau-core/tests/dummy/mirage/config.js
  ember-ebau-core/translations/billing/de.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

feat(gr): center gis map before creating canvas image
  ember-ebau-core/addon/components/gr-gis.js
Due: lint-ember-ebau-core, test-ember-ebau-core

feat(be): restrict mime-type for decision document flag
  django/camac/document/serializers.py
  django/camac/document/tests/test_attachment.py
  django/camac/settings/django.py
  django/locale/de/LC_MESSAGES/django.po
  django/locale/fr/LC_MESSAGES/django.po
  django/locale/it/LC_MESSAGES/django.po
Due: test-django

feat(be): add tags write permission to Unterfachstelle and Nachführungsgeometer
  django/camac/settings/modules/permissions/kt_bern.py
Due: test-django

fix(ag): query GIS search directly, remove proxy
  ember-ebau-core/addon/components/ag-gis.js
  proxy/kt_ag.conf
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(ag): add csp rule for GIS search
  proxy/kt_ag.conf
Due: none

fix(gr): fix required expression for paper
  django/kt_gr/config/caluma_form.json
  django/kt_gr/config/caluma_form_v2.json
  django/kt_gr/config/caluma_form_v3.json
Due: test-django

chore(ag): hide download button in DMS module
  ember-ebau-core/addon/config/features/ag.js
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(deps-dev): update pdbpp to fix error in CI
  django/requirements-dev.txt
Due: test-django

feat(ag): allow office documents in folder for cantonal services
  django/kt_ag/config/alexandria_core.json
Due: test-django

feat(ag): switch to simple inquiry workflow
  django/camac/settings/django.py
  django/camac/settings/modules/distribution.py
  django/kt_ag/config/caluma_distribution.json
  django/kt_ag/workflow/distribution.graphql
  ember-ebau/app/services/caluma-options.js
Due: test-django

chore(ur): backport inquiry form changes
  django/kt_uri/config/caluma_distribution.json
  django/kt_uri/config/caluma_form.json
  django/kt_uri/config/caluma_gebaeudeschaetzung_forms.json
Due: test-django

chore(be): unpublish the "Reklamegesuch" form (backport)
  django/kt_bern/config/caluma_reklamegesuch_form.json
Due: test-django

fix(gr): modification instance project description
  document-merge-service/kt_gr/templatefiles/eingabequittung.docx
  document-merge-service/kt_gr/templatefiles/eingabequittung_it.docx
  ember-caluma-portal/app/caluma-query/models/case.js
  ember-caluma-portal/app/instances/edit/index/template.hbs
  ember-ebau-core/addon/caluma-query/models/-case.js
  ember-ebau-core/addon/config/main-gr.js
  ember-ebau-core/addon/utils/get-answer.js
  ember-ebau/app/components/case-header.hbs
Due: lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-caluma-portal, test-ember-ebau-core

refactor: replace X-Sendfile with FileResponse for simpler k8s setup
  django/camac/communications/tests/test_api.py
  django/camac/communications/views.py
  django/camac/core/views.py
  django/camac/document/tests/test_attachment.py
  django/camac/document/views.py
  django/camac/dossier_import/tests/test_views.py
  django/camac/dossier_import/views.py
  django/camac/ech0211/tests/test_file_views.py
  django/camac/ech0211/views.py
  django/camac/instance/tests/test_instance_caluma.py
  django/camac/instance/views.py
  django/camac/tests/test_dav.py
Due: test-django

chore(i18n): re-generate translation files to fix ordering
  django/locale/de/LC_MESSAGES/django.po
  django/locale/fr/LC_MESSAGES/django.po
  django/locale/it/LC_MESSAGES/django.po
Due: test-django

fix(dms): don't include base64 image data in DMS placeholder data
  ember-ebau-core/addon/components/dms/generate.js
Due: lint-ember-ebau-core, test-ember-ebau-core
