Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml

chore(portal): fix typo
  ember-ebau-core/translations/alexandria-documents/de.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(dynamic-tasks): avoid accidentally creating geometer workitem
  django/camac/caluma/extensions/dynamic_tasks.py
Due: test-django

chore(ur): backport the config from core.json on prod
  django/kt_uri/config/core.json
Due: test-django

fix(dms): send correct x-camac-group to DMS
  django/camac/instance/document_merge_service.py
Due: test-django

feat(be): add Spezialformulare > Anschluss Gemeinschaftsantenne / Fernmeldenetz (v5)
  django/kt_bern/config/caluma_form_v5.json
Due: test-django

fix(ur): fix the updated notifications
  django/camac/notification/serializers.py
  django/camac/notification/tests/test_notification_template.py
  django/camac/settings/django.py
  django/kt_uri/config/caluma_workflow.json
  django/kt_uri/config/email_notifications.json
Due: test-django

fix(so): add original system templates
  document-merge-service/kt_so/templatefiles/bauentscheid.docx
  document-merge-service/kt_so/templatefiles/briefvorlage-an-gesuchstellerin.docx
  document-merge-service/kt_so/templatefiles/eingangsbestaetigung-an-gesuchstellerin.docx
  document-merge-service/kt_so/templatefiles/inserat-amtsblatt.docx
  document-merge-service/kt_so/templatefiles/inserat-anzeiger.docx
  document-merge-service/kt_so/templatefiles/pv-anlage-bestaetigung.docx
  document-merge-service/kt_so/templatefiles/selbstdeklaration-bauabschluss.docx
Due: none

feat(admin): add bulk action to enable or disable notifications
  django/camac/communications/tests/test_permissions.py
  django/camac/user/admin/views.py
  django/locale/de/LC_MESSAGES/django.po
Due: test-django

feat(gr): show a note when the "correction finished" button was clicked
  ember-ebau/app/cases/detail/corrections/controller.js
  ember-ebau/app/cases/detail/corrections/template.hbs
  ember-ebau/translations/corrections/de.yaml
  ember-ebau/translations/corrections/it.yaml
Due: none

fix(portal): debounce fetching of thumbnails
  ember-caluma-portal/app/components/thumbnail.hbs
Due: lint-ember-caluma-portal, test-ember-caluma-portal

fix(dms): only provide placeholder aliases in canton-defined languages
  django/camac/core/translations.py
  django/camac/instance/placeholders/views.py
  django/camac/settings/django.py
Due: test-django

chore: bump document-merge-service to v7.3.0
  document-merge-service/Dockerfile
Due: none

fix(dms): provide available placeholders as JSON string to DMS for template upload
  ember-ebau-core/addon/serializers/template.js
Due: lint-ember-ebau-core, test-ember-ebau-core

chore(django): fix linting errors
  django/camac/core/translations.py
  ember-ebau-core/addon/serializers/template.js
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

fix(tests): update placeholder test snapshots
  django/camac/instance/tests/__snapshots__/test_placeholders.ambr
Due: test-django

fix(gr): change urls for maps from "edit." to "map."
  proxy/kt_gr.conf
Due: none

fix(performance): ability to disable answer visibility check in masterdata
  django/camac/caluma/extensions/data_sources.py
  django/camac/conftest.py
  django/camac/instance/master_data.py
  django/camac/instance/tests/__snapshots__/test_master_data.ambr
  django/camac/instance/tests/test_master_data.py
Due: test-django

fix(dms): properly calculate dynamic options
  django/camac/instance/document_merge_service.py
Due: test-django

feat(be): introduce management command to fix the broken geometer workitems
  django/camac/core/management/commands/fix_incorrectly_created_geometer_workitems.py
  django/pyproject.toml
Due: test-django

fix(permisisons-traditional): actually enforce assignable access levels
  django/camac/permissions/filters.py
  django/camac/permissions/tests/test_acl_views.py
  django/camac/permissions/views.py
Due: test-django
