Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml

refactor(permissions): use internal context object instead of bare instance
  django/camac/permissions/api.py
  django/camac/permissions/conditions.py
  django/camac/permissions/tests/test_conditions.py
Due: test-django

chore(permissions): add __eq__ method for P-objects
  django/camac/permissions/api.py
Due: test-django

feat(alexandria): implement new permission module adaptation
  django/camac/alexandria/extensions/permissions_v2.py
  django/camac/alexandria/permissions.py
  django/camac/alexandria/tests/test_permission_integration.py
  django/camac/alexandria/tests/test_permissions_v2.py
  django/camac/conftest.py
  django/camac/settings/django.py
  django/camac/settings/modules/permissions/alexandria.py
Due: test-django

feat(request): add request cache decorator
  django/camac/request_cache.py
Due: test-django

refactor(permissions): make permissions manager specializable
  django/camac/permissions/api.py
Due: test-django

refactor(permissions): minor refactoring and drop deprecations
  django/camac/permissions/api.py
Due: test-django

feat(permissions): add permission scopes
  django/camac/permissions/api.py
Due: test-django

feat(gr): add Holz Schnitzel for GIS check
  django/kt_gr/config/caluma_form.json
Due: test-django

feat(alexandria): configure folders for alexandria
  django/camac/django_admin/admin.py
  django/kt_bern/config/alexandria_core.json
  ember-camac-ng/app/styles/_alexandria.scss
Due: lint-ember-camac-ng, test-ember-camac-ng, test-django

chore(alexandria): temporarily allow all actions in v2 permissions
  django/camac/alexandria/permissions.py
  django/camac/alexandria/tests/test_permission_integration.py
  django/camac/alexandria/tests/test_permissions_v2.py
Due: test-django

chore(be): update the geometer-change module translations
  ember-ebau-core/translations/geometer-change/fr.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core

chore(alexandria): move common settings into settings file
  compose/kt_ag-dev.yml
  compose/kt_bern-dev.yml
  compose/kt_gr-dev.yml
  compose/kt_gr.yml
  compose/kt_so-dev.yml
  django/camac/alexandria/tests/test_permissions.py
  django/camac/alexandria/tests/test_permissions_v2.py
  django/camac/settings/django.py
Due: lint-yml, test-django

fix(so_form_voranfrage): re add document placeholder
  django/kt_so/config/caluma_form_v2.json
Due: test-django

feat(deadlines): holiday/weekend exclusion defined by deadline type
  django/camac/deadlines/README.md
  django/camac/deadlines/admin.py
  django/camac/deadlines/factories.py
  django/camac/deadlines/migrations/0005_deadlinetype_exclude_public_holidays_and_more.py
  django/camac/deadlines/models.py
  django/camac/deadlines/serializers.py
  django/camac/deadlines/tests/test_managers.py
  django/camac/deadlines/utils.py
  django/camac/settings/modules/deadlines.py
  django/camac/settings/modules/deadlines_schema.py
  django/locale/de/LC_MESSAGES/django.po
  django/locale/fr/LC_MESSAGES/django.po
  django/locale/it/LC_MESSAGES/django.po
Due: test-django

feat(deadlines): disable GR deadlines for vorlaeufige-beurteilung
  django/camac/deadlines/mixins.py
  django/camac/deadlines/tests/test_managers.py
Due: test-django

feat(deadlines): form specific deadline types
  django/camac/deadlines/admin.py
  django/camac/deadlines/filters.py
  django/camac/deadlines/migrations/0006_deadlinetype_form_types.py
  django/camac/deadlines/models.py
  django/camac/deadlines/tests/test_model_deadline_types.py
  django/locale/de/LC_MESSAGES/django.po
  django/locale/fr/LC_MESSAGES/django.po
  django/locale/it/LC_MESSAGES/django.po
  ember-ebau-core/addon/components/deadlines/deadline/detail.js
  ember-ebau-core/addon/components/deadlines/deadline/form-modal.js
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

feat(deadlines): disable module when the service has no instance deadline
  django/camac/permissions/conditions.py
  django/camac/settings/modules/permissions/kt_ag.py
  django/camac/settings/modules/permissions/kt_gr.py
Due: test-django

feat(deadlines): autocreate suspension on re-invite service by default
  django/camac/caluma/extensions/events/deadlines.py
  django/camac/caluma/tests/test_deadlines.py
  django/camac/deadlines/README.md
Due: test-django

chore(ag): refactor evenUrl to make it configurable with env vars
  ember-ebau-core/addon/components/even-projectnumber-list.js
  ember-ebau-core/addon/config/main-ag.js
  ember-ebau-core/index.js
Due: lint-ember-ebau-core, test-ember-ebau-core

feat(ag): add ech submit
  django/camac/conftest.py
  django/camac/ech0211/parsers.py
  django/camac/ech0211/tests/test_views.py
  django/camac/settings/modules/ech0211.py
Due: test-django

fix(alexandria): properly handle permissions on child categories
  django/camac/alexandria/extensions/permissions_v2.py
  django/camac/alexandria/tests/test_permissions_v2.py
Due: test-django

fix(gr): add missing German translation and fix IT translation
  ember-caluma-portal/translations/de-gr.yaml
  ember-caluma-portal/translations/it.yaml
Due: lint-ember-caluma-portal, test-ember-caluma-portal

feat(gr): update link for GVG
  django/kt_gr/config/caluma_form.json
Due: test-django

docs(permissions): document permission system for module-specific application
  django/camac/permissions/docs/integration.md
  django/camac/permissions/docs/module_specific_permissions.md
Due: test-django

feat(ur): enable notifications for given permissions
  django/camac/settings/django.py
  django/kt_uri/config/email_notifications.json
Due: test-django

chore(ur): add the "Energiefachstelle Even" to our local data
  django/kt_uri/data/user.json
Due: test-django

feat(alexandria): require base permission for all actions
  django/camac/alexandria/extensions/permissions_v2.py
  django/camac/alexandria/permissions.py
  django/camac/alexandria/tests/test_permissions_v2.py
Due: test-django

feat(be): widen additional-demands internal area and add FR translations
  django/kt_bern/config/caluma_additional_demand.json
  django/kt_bern/config/email_notifications.json
Due: test-django

feat(permissions): role permission based permission module switching
  django/camac/billing/views.py
  django/camac/caluma/extensions/permissions.py
  django/camac/core/admin/views.py
  django/camac/core/filters.py
  django/camac/instance/serializers.py
  django/camac/permissions/serializers.py
  django/camac/permissions/switcher.py
  django/camac/permissions/tests/test_permission_views.py
  django/camac/permissions/tests/test_switcher.py
  django/camac/permissions/views.py
  django/camac/settings/modules/permissions/kt_bern.py
Due: test-django

chore(ur): bab form changes
  django/kt_uri/config/caluma_bab_form.json
  django/kt_uri/config/caluma_form.json
Due: test-django

feat(ur): new permissions for services in altdorf
  django/camac/constants/kt_uri.py
  django/camac/document/permissions.py
  django/camac/document/tests/test_attachment_section.py
Due: test-django

feat(ur): new form "Einfache Anfrage"
  django/camac/caluma/extensions/events/construction_monitoring.py
  django/camac/caluma/tests/test_construction_monitoring.py
  django/camac/constants/kt_uri.py
  django/camac/settings/modules/dms.py
  django/camac/settings/modules/dump.py
  django/kt_uri/config/caluma_einfache_anfrage_form.json
  django/kt_uri/config/caluma_form.json
  django/kt_uri/config/core.json
  django/kt_uri/config/instance.json
  ember-caluma-portal/config/environment.js
Due: lint-ember-caluma-portal, test-ember-caluma-portal, test-django

feat(sz): give Lesezugriff role access to communications module
  django/kt_schwyz/config/core.json
Due: test-django

fix(gr): use correct leitbehoerde as recipient
  django/camac/settings/django.py
Due: test-django

chore(ag): update services file and add municipality-light to service import
  django/camac/user/management/commands/import_services.py
  django/kt_ag/import/Services_AG.xlsx
Due: test-django

feat(workitems): add target_deadline_date to v2 workitem list
  django/camac/work_items/serializers.py
  django/camac/work_items/tests/__snapshots__/test_work_item_list_row.ambr
  django/camac/work_items/tests/test_work_item_list_row.py
  django/camac/work_items/views.py
  ember-ebau-core/addon/components/work-item-list-v2/item.hbs
  ember-ebau-core/addon/components/work-item-list-v2/item.js
  ember-ebau-core/addon/config/features/gr.js
  ember-ebau-core/addon/config/work-item-list-gr.js
  ember-ebau-core/addon/controllers/work-items-global.js
  ember-ebau-core/addon/models/work-item-list-row.js
  ember-ebau-core/addon/templates/work-items-global.hbs
  ember-ebau-core/translations/work-items/de.yaml
  ember-ebau-core/translations/work-items/fr.yaml
  ember-ebau-core/translations/work-items/it.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

feat(workitems): move target deadline annotation to the model
  django/camac/work_items/models.py
  django/camac/work_items/views.py
Due: test-django

fix(workitems): always use prefetch if attribute is set
  django/camac/work_items/relations.py
Due: test-django

chore(be/forms): update french translations for Erdbebenformular
  django/kt_bern/config/caluma_form_v5.json
Due: test-django
