Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

lint-yml:
  stage: lint
  image: node:lts
  before_script:
  - yarn global add prettier
  script:
  - prettier -c **/*.yml

lint-ember-camac-ng:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-camac-ng
  - yarn
  script:
  - yarn lint

lint-ember-caluma-portal:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-caluma-portal
  - yarn
  script:
  - yarn lint

lint-ember-ebau-core:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-ebau-core
  - yarn
  script:
  - yarn lint

lint-php:
  stage: lint
  image:
    name: node:lts
  script:
  - if git grep -I -e ä  -e ö  -e ü   -- './*' ':!.gitlab-ci.yml'; then exit 1; else echo "No composite umlaute found"; fi
  - yarn --cwd=php install
  - yarn --cwd=php lint
  - yarn --cwd=php prettier-check

test-ember:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember"
  - eval $COMPOSE build ember
  - eval $COMPOSE run --rm --no-deps ember yarn test

test-ember-camac-ng:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-camac-ng"
  - eval $COMPOSE build ember-camac-ng
  ...

test-ember-caluma-portal:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-caluma-portal"
  - eval $COMPOSE build ember-caluma-portal
  ...

test-ember-ebau-core:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-ebau-core"
  - eval $COMPOSE build ember-ebau-core
  ...

test-django:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet django db clamav unoconv"
  - eval $COMPOSE build --parallel django db clamav unoconv
  ...

php-security-checker:
  stage: test
  image:
    name: jakzal/phpqa:php7.3-alpine
  script: local-php-security-checker --path=./php/composer.lock

fix(dms): send correct content type when uploading to alexandria
  ember-ebau-core/addon/components/dms/generate.js
Due: lint-ember-ebau-core, test-ember-ebau-core

chore(deps): update ember-ebau-gwr
  ember-camac-ng/package.json
  ember-ebau/package.json
  pnpm-lock.yaml
Due: lint-ember-camac-ng, test-ember-camac-ng

chore(so): minor form changes
  django/kt_so/config/caluma_form.json
  django/kt_so/data/caluma_form.json
Due: test-django

chore(deps): update ember-alexandria
  ember-caluma-portal/package.json
  ember-ebau-core/package.json
  ember-ebau/package.json
  pnpm-lock.yaml
Due: lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-caluma-portal, test-ember-ebau-core

fix(so): enable detail view of objection for read only roles
  ember-ebau-core/addon/components/legal-submission-table.hbs
  ember-ebau-core/addon/components/legal-submission-table/row.hbs
  ember-ebau-core/addon/controllers/legal-submission/edit.js
  ember-ebau-core/addon/modules/legal-submission.js
  ember-ebau-core/addon/templates/legal-submission/edit.hbs
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(so): hide billing and communication modules in correction
  django/camac/core/management/commands/acls/kt_so.json
  django/kt_so/config/core.json
Due: test-django

fix(so): fix additional demand notifications
  django/camac/settings/modules/additional_demand.py
  django/kt_so/config/email_notifications.json
Due: test-django

fix(public-instances): clear store before and after routing to public instances
  ember-caluma-portal/app/public-instances/route.js
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
  ember-ebau-core/package.json
  ember-ebau/package.json
  pnpm-lock.yaml
Due: lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core

feat(so): enable webdav
  compose/kt_so-dev.yml
  ember-ebau-core/addon/config/features/gr.js
  ember-ebau/app/services/alexandria-config.js
  proxy/kt_so.conf
Due: lint-yml, lint-ember-ebau-core, test-ember-ebau-core

chore: update ruff to 0.3.3
  django/camac/applicants/tests/test_applicants.py
  django/camac/caluma/extensions/events/distribution.py
  django/camac/caluma/tests/test_decision.py
  django/camac/caluma/tests/test_distribution_workflow.py
  django/camac/caluma/tests/test_events.py
  django/camac/caluma/tests/test_visibilities.py
  django/camac/communications/tests/test_alexandria.py
  django/camac/communications/tests/test_api.py
  django/camac/communications/tests/test_permissions.py
  django/camac/document/tests/test_attachment.py
  django/camac/dossier_import/tests/test_views.py
  django/camac/ech0211/formatters.py
  django/camac/instance/master_data.py
  django/camac/instance/tests/test_instance.py
  django/camac/migrate_to_caluma/management/commands/migrate_cases.py
  django/camac/notification/serializers.py
  django/camac/notification/tests/test_notification_template.py
  django/camac/permissions/events.py
  django/camac/permissions/tests/test_events.py
  django/requirements-dev.txt
Due: test-django

chore: remove obsolete gisbern app
  django/camac/gisbern/__init__.py
  django/camac/gisbern/apps.py
  django/camac/gisbern/migrations/__init__.py
  django/camac/gisbern/tests/__snapshots__/test_gis_canton.ambr
  django/camac/gisbern/tests/cassettes/test_gis_canton[CH643546955207].yaml
  django/camac/gisbern/tests/cassettes/test_gis_canton[CH673533354667].yaml
  django/camac/gisbern/tests/cassettes/test_gis_canton[CH851446093521].yaml
  django/camac/gisbern/tests/cassettes/test_gis_canton[doesntexist].yaml
  django/camac/gisbern/tests/cassettes/test_gis_canton[emptygis].yaml
  django/camac/gisbern/tests/cassettes/test_gis_canton[emptypolygon].yaml
  django/camac/gisbern/tests/test_gis_canton.py
  django/camac/gisbern/urls.py
  django/camac/gisbern/views.py
  django/camac/gisbern/xml/get_feature.xml
  django/camac/settings/django.py
  django/camac/urls.py
Due: test-django

fix(gr): show the form for subservices in the instance state "decision"
  django/camac/core/management/commands/acls/kt_gr.json
  django/kt_gr/config/core.json
  django/kt_gr/data/user.json
Due: test-django

fix(gr): update the keycloak footer links
  keycloak/themes/src/main/resources/theme/kanton-gr/login/template.ftl
Due: none

chore(gr): add new text to the keycloak registration site
  keycloak/themes/src/main/resources/theme/kanton-gr/login/login.ftl
  keycloak/themes/src/main/resources/theme/kanton-gr/login/messages/messages_de.properties
Due: none

fix(gr): use right timezone to display time of document for "entscheiddokumente" placeholder
  django/camac/instance/placeholders/fields.py
  django/camac/instance/tests/__snapshots__/test_placeholders.ambr
Due: test-django

feat(gr): use the same support module as BE and enable instance-support
  ember-caluma-portal/app/support/template-gr.hbs
  ember-caluma-portal/app/support/template.hbs
  ember-caluma-portal/ember-cli-build.js
  ember-caluma-portal/translations/de-gr.yaml
Due: lint-ember-caluma-portal, test-ember-caluma-portal

feat(alexandria): update alexandria
  django/kt_gr/config/alexandria_core.json
  django/kt_so/config/alexandria_core.json
  django/requirements.txt
  ember-caluma-portal/package.json
  ember-ebau-core/package.json
  ember-ebau/package.json
  pnpm-lock.yaml
Due: lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-caluma-portal, test-ember-ebau-core, test-django

chore(gr): fix alexandria dump
  django/kt_gr/config/alexandria_core.json
Due: test-django

chore: fix test
  django/camac/instance/tests/test_instance_caluma.py
Due: test-django

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml
