Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

lint-yml:
  stage: lint
  image: node:lts
  before_script:
  - yarn global add prettier
  script:
  - prettier -c **/*.yml

lint-ember-camac-ng:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-camac-ng
  - yarn
  script:
  - yarn lint

lint-ember-caluma-portal:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-caluma-portal
  - yarn
  script:
  - yarn lint

lint-ember-ebau-core:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-ebau-core
  - yarn
  script:
  - yarn lint

lint-php:
  stage: lint
  image:
    name: node:lts
  script:
  - if git grep -I -e ä  -e ö  -e ü   -- './*' ':!.gitlab-ci.yml'; then exit 1; else echo "No composite umlaute found"; fi
  - yarn --cwd=php install
  - yarn --cwd=php lint
  - yarn --cwd=php prettier-check

test-ember:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember"
  - eval $COMPOSE build ember
  - eval $COMPOSE run --rm --no-deps ember yarn test

test-ember-camac-ng:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-camac-ng"
  - eval $COMPOSE build ember-camac-ng
  ...

test-ember-caluma-portal:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-caluma-portal"
  - eval $COMPOSE build ember-caluma-portal
  ...

test-ember-ebau-core:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-ebau-core"
  - eval $COMPOSE build ember-ebau-core
  ...

test-django:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet django db clamav unoconv"
  - eval $COMPOSE build --parallel django db clamav unoconv
  ...

php-security-checker:
  stage: test
  image:
    name: jakzal/phpqa:php7.3-alpine
  script: local-php-security-checker --path=./php/composer.lock

fix(dossier-import): set django-q retry to double timeout
  django/camac/settings.py
Due: test-django

fix(dossier-import): fix various minor UI bugs
  ember-camac-ng/app/dossier-import/detail/controller.js
  ember-camac-ng/app/dossier-import/index/template.hbs
  ember-camac-ng/app/dossier-import/new/template.hbs
Due: lint-ember-camac-ng, test-ember-camac-ng

feat(admin): add service filter for subservices
  django/camac/user/admin/filters.py
  django/camac/user/admin/views.py
  django/locale/de/LC_MESSAGES/django.mo
  django/locale/de/LC_MESSAGES/django.po
  django/locale/fr/LC_MESSAGES/django.mo
  django/locale/fr/LC_MESSAGES/django.po
Due: test-django

fix(be): add command to fix broken production data
  django/camac/instance/management/commands/fix_broken_be_instances.py
Due: test-django

chore(gwr): bump ember-ebau-gwr to v6.3.0
  django/kt_bern/config/core.json
  ember-camac-ng/package.json
  yarn.lock
Due: lint-ember-camac-ng, test-ember-camac-ng, test-django

fix(gwr): determine linked instance number depending on canton
  django/camac/instance/serializers.py
  ember-camac-ng/app/components/case-dashboard.js
  ember-camac-ng/app/components/case-table.js
  ember-camac-ng/app/services/gwr-config.js
  ember-camac-ng/app/support/controller.js
  ember-ebau-core/addon/models/instance.js
Due: lint-ember-camac-ng, lint-ember-ebau-core, test-ember-camac-ng, test-ember-ebau-core, test-django

chore(release): v3.1.0
  VERSION.txt
  django/camac/camac_metadata.py
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
Due: lint-ember-camac-ng, lint-ember-caluma-portal, test-ember-camac-ng, test-ember-caluma-portal, test-django

fix(ech0211): add required judgment date to ruling
  django/camac/ech0211/formatters.py
Due: test-django

feat(be): add placeholder for publication link
  django/camac/instance/placeholders/aliases.py
  django/camac/instance/placeholders/serializers.py
  django/camac/instance/tests/snapshots/snap_test_placeholders.py
  ember-ebau-core/addon/components/dms/docs.hbs
  ember-ebau-core/addon/components/dms/docs.js
  ember-ebau-core/addon/utils/dms.js
  ember-ebau-core/translations/dms/placeholders/de.yaml
  ember-ebau-core/translations/dms/placeholders/fr.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

fix(dev): add /ech/ directive to dev proxy
  compose/kt_schwyz-dev.yml
Due: lint-yml

chore(deps): minor frontend updates
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
  ember-ebau-core/package.json
  ember-ebau/package.json
  yarn.lock
Due: lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core

feat(file-upload): add unified file upload component
  ember-caluma-portal/app/components/be-document-bucket.hbs
  ember-caluma-portal/app/components/be-document-bucket.js
  ember-caluma-portal/translations/de.yaml
  ember-caluma-portal/translations/fr.yaml
  ember-ebau-core/addon/components/dms/edit.hbs
  ember-ebau-core/addon/components/dms/edit.js
  ember-ebau-core/addon/components/dropzone.hbs
  ember-ebau-core/addon/components/dropzone.js
  ember-ebau-core/app/components/dropzone.js
  ember-ebau-core/tests/integration/components/dropzone-test.js
  ember-ebau-core/translations/dms/de.yaml
  ember-ebau-core/translations/dms/fr.yaml
  ember-ebau-core/translations/dropzone/de.yaml
  ember-ebau-core/translations/dropzone/fr.yaml
Due: lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-caluma-portal, test-ember-ebau-core

refactor: use caluma event layer for custom work item in SB2
  django/camac/caluma/extensions/events/__init__.py
  django/camac/caluma/extensions/events/sb.py
  django/camac/core/translations.py
  django/camac/core/utils.py
  django/camac/instance/serializers.py
  django/locale/de/LC_MESSAGES/django.mo
  django/locale/de/LC_MESSAGES/django.po
  django/locale/fr/LC_MESSAGES/django.mo
  django/locale/fr/LC_MESSAGES/django.po
Due: test-django

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml
