Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

lint-yml:
  stage: lint
  image: node:lts
  before_script:
  - yarn global add prettier
  script:
  - prettier -c **/*.yml

lint-ember-camac-ng:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-camac-ng
  - yarn
  script:
  - yarn lint

lint-ember-caluma-portal:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-caluma-portal
  - yarn
  script:
  - yarn lint

lint-ember-ebau-core:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-ebau-core
  - yarn
  script:
  - yarn lint

lint-php:
  stage: lint
  image:
    name: node:lts
  script:
  - if git grep -I -e ä  -e ö  -e ü   -- './*' ':!.gitlab-ci.yml'; then exit 1; else echo "No composite umlaute found"; fi
  - yarn --cwd=php install
  - yarn --cwd=php lint
  - yarn --cwd=php prettier-check

test-ember:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember"
  - eval $COMPOSE build ember
  - eval $COMPOSE run --rm --no-deps ember yarn test

test-ember-camac-ng:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-camac-ng"
  - eval $COMPOSE build ember-camac-ng
  ...

test-ember-caluma-portal:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-caluma-portal"
  - eval $COMPOSE build ember-caluma-portal
  ...

test-ember-ebau-core:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-ebau-core"
  - eval $COMPOSE build ember-ebau-core
  ...

test-django:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet django db clamav unoconv"
  - eval $COMPOSE build --parallel django db clamav unoconv
  ...

php-security-checker:
  stage: test
  image:
    name: jakzal/phpqa:php7.3-alpine
  script: local-php-security-checker --path=./php/composer.lock

chore(ag): show EVEN project number input field also when solaranlage is true
  django/kt_ag/config/caluma_form.json
Due: test-django

fix(be): reset the correct current language after creating of history entries
  django/camac/core/tests/test_translations.py
  django/camac/core/translations.py
Due: test-django

test(dump): comment out wrongly commited dump action
  django/camac/core/tests/test_dump.py
Due: test-django

fix(billing): fix service select filter in global billing module
  ember-ebau-core/addon/controllers/billing-global.js
  ember-ebau-core/addon/templates/billing-global.hbs
Due: lint-ember-ebau-core, test-ember-ebau-core

feat(ag): support multiple EVEN project numbers in format validator and UI components
  django/camac/caluma/extensions/format_validators.py
  django/camac/caluma/tests/test_format_validators.py
  ember-caluma-portal/app/components/even-overview-grid-cell.hbs
  ember-caluma-portal/app/components/even-overview-grid-cell.js
  ember-ebau-core/addon/components/even-projectnumber-list.hbs
  ember-ebau-core/addon/components/even-projectnumber-list.js
  ember-ebau-core/app/components/even-projectnumber-list.js
  ember-ebau/app/components/case-header.hbs
  ember-ebau/app/components/case-header.js
Due: lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-caluma-portal, test-ember-ebau-core, test-django

feat(keycloak/be): layout & css
  keycloak/themes/src/main/resources/theme/ebau-be-2.0.0/.gitignore
  keycloak/themes/src/main/resources/theme/ebau-be-2.0.0/login/footer.ftl
  keycloak/themes/src/main/resources/theme/ebau-be-2.0.0/login/header.ftl
  keycloak/themes/src/main/resources/theme/ebau-be-2.0.0/login/login.ftl
  keycloak/themes/src/main/resources/theme/ebau-be-2.0.0/login/resources/css/footer.css
  keycloak/themes/src/main/resources/theme/ebau-be-2.0.0/login/resources/css/header.css
  keycloak/themes/src/main/resources/theme/ebau-be-2.0.0/login/resources/css/login-page.css
  keycloak/themes/src/main/resources/theme/ebau-be-2.0.0/login/resources/css/style.css
  keycloak/themes/src/main/resources/theme/ebau-be-2.0.0/login/resources/css/template-styles.css
  keycloak/themes/src/main/resources/theme/ebau-be-2.0.0/login/resources/css/variables.css
  keycloak/themes/src/main/resources/theme/ebau-be-2.0.0/login/resources/scss/footer.scss
  keycloak/themes/src/main/resources/theme/ebau-be-2.0.0/login/resources/scss/header.scss
  keycloak/themes/src/main/resources/theme/ebau-be-2.0.0/login/resources/scss/login-page.scss
  keycloak/themes/src/main/resources/theme/ebau-be-2.0.0/login/resources/scss/template-styles.scss
  keycloak/themes/src/main/resources/theme/ebau-be-2.0.0/login/resources/scss/variables.scss
  keycloak/themes/src/main/resources/theme/ebau-be-2.0.0/login/template.ftl
Due: none

chore(deps): upgrade alexandria to v8.0.1
  django/requirements.txt
Due: test-django

fix(sub-nav-header): only show readonly badge if there are no other permissions
  ember-ebau-core/addon/abilities/instance.js
Due: lint-ember-ebau-core, test-ember-ebau-core

feat(django-admin): add message admin to django-admin
  django/camac/ech0211/admin.py
  django/camac/settings/modules/django_admin.py
Due: test-django

feat(keycloak/be): footer layout and styling
  keycloak/themes/src/main/resources/theme/ebau-be-2.0.0/login/footer.ftl
  keycloak/themes/src/main/resources/theme/ebau-be-2.0.0/login/resources/scss/footer.scss
  keycloak/themes/src/main/resources/theme/ebau-be-2.0.0/login/resources/scss/header.scss
  keycloak/themes/src/main/resources/theme/ebau-be-2.0.0/login/resources/scss/template-styles.scss
  keycloak/themes/src/main/resources/theme/ebau-be-2.0.0/login/theme.properties
Due: none

chore(ag): adjust eingabequittung
  django/camac/settings/modules/dms.py
  django/kt_ag/config/caluma_form.json
Due: test-django

fix(be): fix watermark for exam documents
  django/camac/instance/document_merge_service.py
  django/camac/instance/tests/test_document_merge_service.py
  django/camac/settings/modules/dms.py
Due: test-django

chore(deps): update backend dependencies
  django/requirements-dev.txt
  django/requirements.txt
Due: test-django

chore(uri): upgrade to postgres15
  compose/kt_uri-dev.yml
  compose/kt_uri.yml
  db/migrate_from_12_to_15.md
Due: lint-yml

feat(keycloak/be): context column
  keycloak/themes/src/main/resources/theme/ebau-be-2.0.0/login/resources/scss/template-styles.scss
  keycloak/themes/src/main/resources/theme/ebau-be-2.0.0/login/template.ftl
Due: none

fix(so): update form template to not show None as dossierNr
  document-merge-service/kt_so/templatefiles/form.docx
  ember-caluma-portal/translations/de-so.yaml
Due: lint-ember-caluma-portal, test-ember-caluma-portal

feat(so): add bab questions and form to voranfrage
  django/camac/settings/modules/distribution.py
  django/camac/user/filters.py
  django/camac/user/tests/__snapshots__/test_public_services_bab.ambr
  django/camac/user/tests/test_public_services_bab.py
  django/kt_so/config/caluma_form.json
  django/kt_so/config/caluma_form_v2.json
Due: test-django

chore(ur): backport form changes in personal data and species protection
  django/kt_uri/config/caluma_form.json
Due: test-django

fix(distribution/so): filter direct inquiries by service groups
  django/camac/caluma/tests/test_direct_inquiry.py
  django/camac/caluma/utils.py
Due: test-django

chore(be): release v3.8.2
  VERSION.txt
  django/camac/camac_metadata.py
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
Due: lint-ember-camac-ng, lint-ember-caluma-portal, test-ember-camac-ng, test-ember-caluma-portal, test-django

chore(be): release v3.8.3
  VERSION.txt
  django/camac/camac_metadata.py
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
Due: lint-ember-camac-ng, lint-ember-caluma-portal, test-ember-camac-ng, test-ember-caluma-portal, test-django

chore(be): release v3.8.2-rc.1
  VERSION.txt
  django/camac/camac_metadata.py
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
Due: lint-ember-camac-ng, lint-ember-caluma-portal, test-ember-camac-ng, test-ember-caluma-portal, test-django

chore(uri): cleanup after pg15 migration
  db/Dockerfile
  db/migrate_from_12_to_15.md
Due: none

chore(sz): disable Wilken and Baustellenentwässerung for prod release
  ember-ebau-core/addon/config/features/sz.js
Due: lint-ember-ebau-core, test-ember-ebau-core

feat(keycloak/be): add feedback box to layout
  keycloak/themes/src/main/resources/theme/ebau-be-2.0.0/login/login.ftl
  keycloak/themes/src/main/resources/theme/ebau-be-2.0.0/login/resources/img/icon-danger.svg
  keycloak/themes/src/main/resources/theme/ebau-be-2.0.0/login/resources/img/icon-info.svg
  keycloak/themes/src/main/resources/theme/ebau-be-2.0.0/login/resources/img/icon-link-arrow.svg
  keycloak/themes/src/main/resources/theme/ebau-be-2.0.0/login/resources/img/icon-success.svg
  keycloak/themes/src/main/resources/theme/ebau-be-2.0.0/login/resources/img/icon-warning.svg
  keycloak/themes/src/main/resources/theme/ebau-be-2.0.0/login/resources/scss/template-styles.scss
  keycloak/themes/src/main/resources/theme/ebau-be-2.0.0/login/resources/scss/variables.scss
  keycloak/themes/src/main/resources/theme/ebau-be-2.0.0/login/template.ftl
  keycloak/themes/src/main/resources/theme/ebau-be-2.0.0/login/theme.properties
Due: none

fix(distribution/so): scope direct inquiries by case
  django/camac/caluma/utils.py
Due: test-django

fix(sz): remove Wilken product number configuration
  django/camac/settings/modules/billing.py
Due: test-django

fix(sz): set correct portal URL for ember-dev-reset
  Makefile
Due: none

chore(sz/compose): unify container image name declaration
  compose/kt_schwyz-dev.yml
  compose/kt_schwyz.yml
Due: lint-yml

chore(sz): don't store Ember buildtime configuration in HTML meta field
  ember-camac-ng/ember-cli-build.js
Due: lint-ember-camac-ng, test-ember-camac-ng

chore(sz/compose): use env-var based build for ember
  compose/kt_schwyz-dev.yml
  compose/kt_schwyz.yml
Due: lint-yml

chore(sz/compose): use env-var based build for ember-camac-ng
  compose/kt_schwyz-dev.yml
  compose/kt_schwyz.yml
Due: lint-yml

fix(tools/bump-version): properly quote VERSION variable
  tools/bump-version.sh
Due: none

chore(sz/ci): versioned builds
  compose/kt_schwyz.yml
  tools/bump-version.sh
Due: lint-yml

chore(sz): reenable Wilken and Baustellenentwässerung
  django/camac/settings/modules/billing.py
  ember-ebau-core/addon/config/features/sz.js
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

feat(keycloak/be): add header mobile menu
  keycloak/themes/src/main/resources/theme/ebau-be-2.0.0/login/header.ftl
  keycloak/themes/src/main/resources/theme/ebau-be-2.0.0/login/resources/js/script.js
  keycloak/themes/src/main/resources/theme/ebau-be-2.0.0/login/resources/scss/header.scss
  keycloak/themes/src/main/resources/theme/ebau-be-2.0.0/login/resources/scss/template-styles.scss
  keycloak/themes/src/main/resources/theme/ebau-be-2.0.0/login/resources/scss/variables.scss
Due: none

feat(keycloak/be): add custom feedbackbox to layout
  keycloak/themes/src/main/resources/theme/ebau-be-2.0.0/login/login.ftl
  keycloak/themes/src/main/resources/theme/ebau-be-2.0.0/login/messages/messages_de.properties
  keycloak/themes/src/main/resources/theme/ebau-be-2.0.0/login/template.ftl
Due: none

feat(keycloak/be): insert text via placeholder
  keycloak/themes/src/main/resources/theme/ebau-be-2.0.0/login/footer.ftl
  keycloak/themes/src/main/resources/theme/ebau-be-2.0.0/login/header.ftl
  keycloak/themes/src/main/resources/theme/ebau-be-2.0.0/login/login.ftl
  keycloak/themes/src/main/resources/theme/ebau-be-2.0.0/login/messages/messages_de.properties
  keycloak/themes/src/main/resources/theme/ebau-be-2.0.0/login/resources/scss/login-page.scss
  keycloak/themes/src/main/resources/theme/ebau-be-2.0.0/login/template.ftl
Due: none

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml
