Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml

chore: update snapshots
  django/camac/gis/clients/gr.py
  django/camac/gis/tests/snapshots/snap_test_gr.py
Due: test-django

chore: add Verbindlichkeit & include coordinates
  django/camac/gis/clients/gr.py
Due: test-django

fix: refactor verbindlichkeit
  django/camac/gis/clients/gr.py
  django/camac/gis/tests/snapshots/snap_test_gr.py
Due: test-django

fix(gr-gis): introduce `query` instead of markers / geometry
  django/camac/gis/clients/gr.py
  django/kt_gr/config/gis.json
  ember-ebau-core/addon/components/gr-gis.hbs
  ember-ebau-core/addon/components/gr-gis.js
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

chore(so): import inital list of services
  django/camac/user/management/commands/import_services.py
  django/kt_so/data/user.json
Due: test-django

chore(gr):refactor gis test, and updating snapshots & cassettes
  django/camac/gis/tests/cassettes/test_gr_client[query0-baugesuch].yaml
  django/camac/gis/tests/cassettes/test_gr_client[query1-bauanzeige].yaml
  django/camac/gis/tests/cassettes/test_gr_client[query1-baugesuch].yaml
  django/camac/gis/tests/cassettes/test_gr_client[query10-baugesuch].yaml
  django/camac/gis/tests/cassettes/test_gr_client[query11-baugesuch].yaml
  django/camac/gis/tests/cassettes/test_gr_client[query12-baugesuch].yaml
  django/camac/gis/tests/cassettes/test_gr_client[query2-bauanzeige].yaml
  django/camac/gis/tests/cassettes/test_gr_client[query3-baugesuch].yaml
  django/camac/gis/tests/cassettes/test_gr_client[query4-baugesuch].yaml
  django/camac/gis/tests/cassettes/test_gr_client[query5-baugesuch].yaml
  django/camac/gis/tests/cassettes/test_gr_client[query6-baugesuch].yaml
  django/camac/gis/tests/cassettes/test_gr_client[query7-baugesuch].yaml
  django/camac/gis/tests/cassettes/test_gr_client[query8-baugesuch].yaml
  django/camac/gis/tests/cassettes/test_gr_client[query9-baugesuch].yaml
  django/camac/gis/tests/snapshots/snap_test_gr.py
  django/camac/gis/tests/test_gr.py
Due: test-django

chore: refactor config mgmt
  django/camac/caluma/extensions/dynamic_tasks.py
  django/camac/caluma/tests/test_decision.py
  django/camac/caluma/tests/test_dynamic_tasks.py
  django/camac/caluma/tests/test_events.py
  django/camac/conftest.py
  django/camac/conftest_settings.py
  django/camac/constants/kt_gr.py
  django/camac/dossier_import/config/kt_bern.py
  django/camac/dossier_import/tests/test_dossier_import_case.py
  django/camac/ech0211/formatters.py
  django/camac/ech0211/send_handlers.py
  django/camac/ech0211/tests/test_send_handlers.py
  django/camac/ech0211/tests/test_views.py
  django/camac/instance/domain_logic.py
  django/camac/instance/filters.py
  django/camac/instance/serializers.py
  django/camac/instance/tests/test_instance_appeal.py
  django/camac/instance/tests/test_instance_caluma.py
  django/camac/notification/serializers.py
  django/camac/notification/tests/test_notification_template.py
  django/camac/settings.py
  django/camac/settings_decision.py
Due: test-django

feat(so): configure form corrections
  django/camac/caluma/extensions/events/distribution.py
  django/camac/instance/models.py
  django/camac/instance/serializers.py
  django/camac/instance/tests/test_instance_caluma_custom_actions.py
  django/camac/instance/views.py
  django/camac/settings.py
  django/camac/settings_correction.py
  django/kt_so/config/core.json
  django/kt_so/config/instance.json
  ember-caluma-portal/config/environment.js
  ember-ebau-core/addon/abilities/instance.js
  ember-ebau-core/addon/config/main-gr.js
  ember-ebau-core/addon/config/main-so.js
  ember-ebau/app/styles/components/sub-navigation.scss
Due: lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-caluma-portal, test-ember-ebau-core, test-django

fix(so): make sure creation of an inquiry also creates an init-additional-demand work item
  django/camac/caluma/extensions/dynamic_tasks.py
  django/camac/caluma/tests/test_dynamic_tasks.py
  django/kt_so/config/caluma_distribution.json
  django/kt_so/distribution.graphql
Due: test-django

chore(gr): backport notification config
  django/kt_gr/config/email_notifications.json
Due: test-django

chore(so): backport form changes
  django/kt_so/config/caluma_form.json
Due: test-django

feat(so): add acls for services and subservices
  django/kt_so/config/core.json
Due: test-django

chore(ur): refactor instance submit test
  django/camac/caluma/extensions/data_sources.py
  django/camac/conftest.py
  django/camac/instance/serializers.py
  django/camac/instance/tests/test_instance_caluma.py
Due: test-django

fix(deps): downgrade python-docx to 0.8.11
  django/requirements.txt
Due: test-django

chore(be): release v3.4.1
  VERSION.txt
  django/camac/camac_metadata.py
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
Due: lint-ember-camac-ng, lint-ember-caluma-portal, test-ember-camac-ng, test-ember-caluma-portal, test-django

test(dossier-import): fix test setup for dossier import tests
  django/camac/dossier_import/conftest.py
  django/camac/dossier_import/tests/test_dossier_import_case.py
  django/camac/settings.py
  django/kt_bern/config/caluma_form.json
  django/kt_bern/config/caluma_form_common.json
  django/kt_bern/config/caluma_form_sb2.json
Due: test-django

perf(ci): use --no-migrations for testing
  db/init-user-db.sh
  django/camac/core/models.py
  django/camac/models.py
  django/camac/user/models.py
  django/pyproject.toml
Due: test-django

test(clamd): mock clamd validation in tests
  compose/ci.yml
  django/camac/document/conftest.py
  django/camac/document/serializers.py
Due: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django

feat(gr): add additional demand inquiry answer
  django/kt_gr/config/caluma_distribution.json
Due: test-django

fix(gr): fix wrong document component
  django/kt_gr/config/caluma_form.json
Due: test-django
