Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml

fix(be/keycloak): add tel link on contact page
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.0/login/messages/messages_de.properties
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.0/login/messages/messages_fr.properties
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.0/login/template.ftl
Due: none

chore(ur): show the support role the button transition to ARCH
  django/kt_uri/config/core.json
Due: test-django

fix(be/keycloak): unify button width to 60%
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.0/login/resources/scss/login-page.scss
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.0/login/resources/scss/template-styles.scss
Due: none

fix(be/keycloak): add right margin to feedback box
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.0/login/resources/scss/template-styles.scss
Due: none

fix(keywords): preserve existing keywords on visibility aware patch
  django/camac/instance/serializers.py
  django/camac/instance/tests/test_instance_caluma.py
Due: test-django

chore(be/keycloak): bump theme version to v2.1.1
  compose/kt_bern-dev.yml
  keycloak/themes/package.json
  keycloak/themes/pom.xml
  keycloak/themes/src/main/resources/META-INF/keycloak-themes.json
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.1/.gitignore
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.1/login/README.md
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.1/login/footer.ftl
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.1/login/header.ftl
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.1/login/idp-review-user-profile.ftl
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.1/login/login-idp-link-confirm-override.ftl
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.1/login/login-idp-link-confirm.ftl
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.1/login/login-idp-link-email.ftl
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.1/login/login.ftl
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.1/login/messages/messages_de.properties
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.1/login/messages/messages_fr.properties
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.1/login/resources/img/close.svg
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.1/login/resources/img/hamburger-icon.svg
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.1/login/resources/img/icon-danger.svg
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.1/login/resources/img/icon-info.svg
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.1/login/resources/img/icon-link-arrow.svg
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.1/login/resources/img/icon-success.svg
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.1/login/resources/img/icon-warning.svg
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.1/login/resources/img/kanton-bern-logo.svg
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.1/login/resources/img/password-hide-icon.svg
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.1/login/resources/img/password-show-icon.svg
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.1/login/resources/img/sign-in-icon.svg
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.1/login/resources/js/script.js
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.1/login/resources/scss/footer.scss
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.1/login/resources/scss/header.scss
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.1/login/resources/scss/login-page.scss
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.1/login/resources/scss/style.scss
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.1/login/resources/scss/template-styles.scss
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.1/login/resources/scss/variables.scss
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.1/login/template.ftl
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.1/login/theme.properties
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.1/login/user-profile-commons.ftl
Due: lint-yml

docs(be/keycloak): add note to readme regarding image build
  keycloak/README.md
Due: none

feat(sz): add DMS resources to camac as hidden
  django/kt_schwyz/config/core.json
Due: test-django

fix(ur): fix the submissions of dossiers for the koors
  django/camac/constants/kt_uri.py
  django/camac/instance/serializers.py
  django/camac/instance/tests/test_instance_serializer.py
Due: test-django

feat(gr): formchanges v5 gvg dez 2025
  django/kt_gr/config/caluma_form.json
  django/kt_gr/config/caluma_form_v5.json
Due: test-django

chore(ur): backport form changes on the "Energetische Massnahmen" form
  django/kt_uri/config/caluma_form.json
Due: test-django

chore(dossier-import): remove obsolete fields on dossier import model
  django/camac/dossier_import/migrations/0010_remove_obsolete_fields.py
  django/camac/dossier_import/models.py
Due: test-django

fix(be/keycloak): correct typo
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.1/login/messages/messages_de.properties
Due: none

fix(be/keycloak): link to keycloak contact page if no explicit support link is given
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.1/login/login.ftl
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.1/login/messages/messages_de.properties
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.1/login/messages/messages_fr.properties
Due: none

fix(be/keycloak): wrap idp-link-email buttons in form-group
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.1/login/login-idp-link-email.ftl
Due: none

chore(be/keycloak): bump theme version to v2.1.2
  keycloak/themes/package.json
  keycloak/themes/pom.xml
  keycloak/themes/src/main/resources/META-INF/keycloak-themes.json
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.2/.gitignore
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.2/login/README.md
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.2/login/footer.ftl
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.2/login/header.ftl
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.2/login/idp-review-user-profile.ftl
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.2/login/login-idp-link-confirm-override.ftl
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.2/login/login-idp-link-confirm.ftl
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.2/login/login-idp-link-email.ftl
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.2/login/login.ftl
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.2/login/messages/messages_de.properties
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.2/login/messages/messages_fr.properties
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.2/login/resources/img/close.svg
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.2/login/resources/img/hamburger-icon.svg
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.2/login/resources/img/icon-danger.svg
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.2/login/resources/img/icon-info.svg
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.2/login/resources/img/icon-link-arrow.svg
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.2/login/resources/img/icon-success.svg
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.2/login/resources/img/icon-warning.svg
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.2/login/resources/img/kanton-bern-logo.svg
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.2/login/resources/img/password-hide-icon.svg
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.2/login/resources/img/password-show-icon.svg
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.2/login/resources/img/sign-in-icon.svg
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.2/login/resources/js/script.js
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.2/login/resources/scss/footer.scss
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.2/login/resources/scss/header.scss
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.2/login/resources/scss/login-page.scss
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.2/login/resources/scss/style.scss
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.2/login/resources/scss/template-styles.scss
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.2/login/resources/scss/variables.scss
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.2/login/template.ftl
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.2/login/theme.properties
  keycloak/themes/src/main/resources/theme/ebau-be-2.1.2/login/user-profile-commons.ftl
Due: none

feat(sz): allow reader role to create communication topics
  ember-ebau-core/addon/abilities/topic.js
Due: lint-ember-ebau-core, test-ember-ebau-core

feat(sz): adapt layer name for Wanderwege
  django/kt_schwyz/data/instance.json
  django/kt_schwyz/form.json
Due: test-django

fix(uri): filter uninvoiced billing entries correctly
  django/camac/billing/management/commands/fix_uri_billing_entries.py
  django/camac/billing/tests/test_fix_uri_billing_entries.py
  django/pyproject.toml
Due: test-django

chore(ur): backport rpg form changes
  django/kt_uri/config/caluma_form.json
Due: test-django

fix(gr): correct solaranlage jexl
  django/kt_gr/config/caluma_form_v4.json
Due: test-django

refactor(dossier_import): enable celery
  django/camac/settings/modules/dossier_import.py
Due: test-django

fix(ur): change the creation of the rpg task
  django/camac/caluma/extensions/events/bab.py
  django/camac/caluma/tests/test_events.py
  django/kt_uri/data/user.json
Due: test-django

fix(gr): use modificationDescription in public instances proposal field
  django/camac/instance/tests/__snapshots__/test_document_merge_service.ambr
  django/camac/instance/tests/__snapshots__/test_placeholders.ambr
  django/camac/settings/modules/master_data.py
Due: test-django

fix(gr): correct dossier import workitem states
  compose/kt_gr-dev.yml
  django/camac/dossier_import/config/kt_gr.py
  django/camac/dossier_import/tests/test_dossier_import_case.py
Due: lint-yml, test-django

feat(gr): add extra field project cost to dossier-import
  django/camac/dossier_import/config/kt_gr.py
  django/camac/dossier_import/conftest.py
  django/camac/dossier_import/dossier_classes.py
  django/camac/dossier_import/loaders.py
  django/camac/dossier_import/tests/__snapshots__/test_kt_ag_loader.ambr
  django/kt_gr/config/caluma_form.json
Due: test-django

feat(gr): public instances text changes
  ember-caluma-portal/app/public-instances/detail/documents/template.hbs
  ember-caluma-portal/app/public-instances/detail/template.hbs
  ember-caluma-portal/app/public-instances/index/template.hbs
  ember-caluma-portal/translations/public-instances/de-gr.yaml
  ember-caluma-portal/translations/public-instances/de.yaml
  ember-caluma-portal/translations/public-instances/fr.yaml
  ember-caluma-portal/translations/public-instances/it.yaml
Due: lint-ember-caluma-portal, test-ember-caluma-portal

feat(gr): public instances display original filename
  ember-caluma-portal/app/public-instances/detail/documents/template.hbs
  ember-ebau-core/addon/components/alexandria-attachment-list.hbs
  ember-ebau-core/addon/models/document.js
  ember-ebau-core/translations/documents/de.yaml
  ember-ebau-core/translations/documents/fr.yaml
  ember-ebau-core/translations/documents/it.yaml
Due: lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-caluma-portal, test-ember-ebau-core

feat(gr): publication start email notification
  django/camac/constants/kt_gr.py
  django/camac/instance/placeholders/locale/de/LC_MESSAGES/django.po
  django/camac/instance/placeholders/locale/fr/LC_MESSAGES/django.po
  django/camac/instance/placeholders/locale/it/LC_MESSAGES/django.po
  django/camac/instance/placeholders/serializers.py
  django/camac/instance/tests/__snapshots__/test_placeholders.ambr
  django/camac/instance/tests/test_placeholders.py
  django/camac/notification/serializers.py
  django/camac/notification/tasks.py
  django/camac/notification/tests/test_notification_template.py
  django/camac/notification/tests/test_send_publication_start.py
  django/camac/settings/modules/publication.py
  django/kt_gr/config/django_celery_beat.json
  django/kt_gr/config/email_notifications.json
  django/kt_gr/config/publication.json
Due: test-django

feat(publication): separate endpoint to get active publication date-range
  django/camac/instance/mixins.py
  django/camac/instance/tests/test_instance_public.py
  django/camac/instance/views.py
  django/camac/tests/test_public_access.py
  ember-caluma-portal/app/public-instances/detail/controller.js
  ember-caluma-portal/app/public-instances/detail/template.hbs
Due: lint-ember-caluma-portal, test-ember-caluma-portal, test-django

chore(gr): add 4 municipalities to static content
  django/kt_gr/config/caluma_form_common.json
Due: test-django

feat(gr): notifications for manual workitems
  django/camac/settings/django.py
  django/kt_gr/config/django_celery_beat.json
  django/kt_gr/config/email_notifications.json
Due: test-django

chore(gr): remove static text in migrated dossier form
  django/kt_gr/config/caluma_form.json
Due: test-django

chore(be): don't save submit date in legacy CAMAC answer
  django/camac/instance/serializers.py
  django/camac/instance/tests/test_instance_caluma.py
  django/camac/settings/django.py
Due: test-django

chore(answer): remove obsolete CQI logic
  django/camac/constants/kt_uri.py
  django/camac/core/models.py
  django/camac/core/tests/test_models.py
Due: test-django

chore(be): change the label of the zivilschutz question in triage
  django/kt_bern/config/caluma_form_v5.json
Due: test-django

fix(be): don't show the own service in dropdown in change-responsible-service
  ember-ebau-core/addon/controllers/change-responsible-service.js
  ember-ebau-core/addon/templates/change-responsible-service.hbs
Due: lint-ember-ebau-core, test-ember-ebau-core

feat(be): create new form version "baugesuch-v6"
  django/camac/conftest.py
  django/camac/instance/serializers.py
  django/camac/instance/tests/__snapshots__/test_document_merge_service.ambr
  django/camac/instance/tests/test_document_merge_service.py
  django/camac/settings/modules/change_form.py
  django/camac/settings/modules/dms.py
  django/camac/settings/modules/dump.py
  django/camac/settings/modules/project_modification.py
  django/kt_bern/config/caluma_form.json
  django/kt_bern/config/caluma_form_v5.json
  django/kt_bern/config/caluma_form_v6.json
  django/kt_bern/config/caluma_workflow.json
  django/kt_bern/data/applicants.json
  django/kt_bern/data/caluma_form.json
  django/kt_bern/data/caluma_workflow.json
  django/kt_bern/data/instance.json
  django/kt_bern/data/user.json
  django/kt_bern/workflow-building-permit.graphql
  django/kt_bern/workflow-preliminary-clarification.graphql
  ember-caluma-portal/config/environment.js
  ember-ebau-core/addon/config/main-be.js
  ember-ebau-core/tests/integration/components/inquiry-answer-status-test.js
Due: lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-caluma-portal, test-ember-ebau-core, test-django

fix(gr): skip notification history but don't skip recipient types
  django/camac/notification/serializers.py
Due: test-django

Merge branch 'feat-communication-overview-date' into 'master'
  django/camac/communications/serializers.py
  django/camac/communications/views.py
  ember-ebau-core/addon/components/communication/topic-list.hbs
  ember-ebau-core/addon/components/communication/topic-list.js
  ember-ebau-core/addon/models/communications-topic.js
  ember-ebau-core/tests/integration/components/communication/new-topic-test.js
  ember-ebau-core/tests/integration/components/communication/topic-list-test.js
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django
