Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml

fix(sz): ensure applicants are only auto-added once
  django/camac/instance/views.py
Due: test-django

fix(instance): only return linked instances for instances with instance group
  django/camac/instance/models.py
Due: test-django

chore(so): remove obsolete construction monitoring role
  django/camac/core/management/commands/acls/kt_so.json
  django/camac/settings/django.py
  django/camac/settings/modules/permissions/kt_so.py
  django/camac/user/management/commands/import_services.py
  django/kt_so/config/core.json
  django/kt_so/config/user.json
  django/kt_so/data/user.json
Due: test-django

fix(so): fix wrong construction monitoring permission
  django/camac/settings/modules/permissions/kt_so.py
Due: test-django

fix(ur): fixes after testing round
  django/camac/core/management/commands/migrate_uri_instances.py
  django/camac/settings/django.py
  django/kt_uri/config/caluma_additional_demand.json
  django/kt_uri/config/caluma_complete_check_form.json
  django/kt_uri/config/caluma_construction_monitoring_form.json
  django/kt_uri/config/caluma_decision_form.json
  django/kt_uri/config/caluma_workflow.json
  django/kt_uri/config/core.json
  django/kt_uri/config/email_notifications.json
  django/kt_uri/workflow/tasks.graphql
  django/kt_uri/workflow/workflow.graphql
  ember-ebau-core/addon/controllers/task-form.js
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

feat(ur): finalise milestones
  django/camac/instance/milestones/fields.py
  django/camac/instance/milestones/locale/de/LC_MESSAGES/django.mo
  django/camac/instance/milestones/locale/de/LC_MESSAGES/django.po
  django/camac/instance/milestones/locale/fr/LC_MESSAGES/django.mo
  django/camac/instance/milestones/locale/fr/LC_MESSAGES/django.po
  django/camac/instance/milestones/locale/it/LC_MESSAGES/django.mo
  django/camac/instance/milestones/locale/it/LC_MESSAGES/django.po
  django/camac/instance/milestones/serializers.py
  django/camac/instance/tests/__snapshots__/test_milestones.ambr
  django/camac/instance/tests/test_milestones.py
  django/camac/settings/django.py
Due: test-django

fix(django-ur): handle "complete-check" outcome for cantonal forms properly
  django/camac/caluma/extensions/dynamic_tasks.py
  django/camac/caluma/extensions/events/complete_check.py
  django/camac/caluma/tests/test_dynamic_tasks.py
  django/camac/caluma/tests/test_events.py
  django/kt_uri/config/caluma_complete_check_form.json
  django/kt_uri/config/caluma_workflow.json
Due: test-django

fix(dossier-import): do not override pre_complete events in the config
  django/camac/dossier_import/config/kt_schwyz.py
  django/camac/dossier_import/tests/test_dossier_import_case.py
Due: test-django

chore(deps): update DMS
  document-merge-service/Dockerfile
Due: none

feat(sz): integrate communications module and re-design the public portal
  django/camac/communications/serializers.py
  django/camac/communications/tests/test_api.py
  django/camac/communications/tests/test_behaviour.py
  django/camac/communications/tests/test_permissions.py
  django/camac/instance/models.py
  django/camac/instance/serializers.py
  django/camac/instance/tests/__snapshots__/test_instance.ambr
  django/camac/instance/tests/test_instance.py
  django/camac/settings/modules/communications.py
  django/camac/user/filters.py
  django/kt_schwyz/config/core.json
  django/kt_schwyz/config/email_notifications.json
  ember-ebau-core/addon/abilities/topic.js
  ember-ebau-core/addon/components/communication/topic-list.hbs
  ember-ebau-core/addon/config/main-sz.js
  ember-ebau-core/index.js
  ember-ebau-core/translations/de.yaml
  pnpm-lock.yaml
  proxy/kt_schwyz.conf
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

feat(so): add simple building permit logic
  django/kt_so/config/caluma_form.json
Due: test-django

chore(gr): enable more municipalities
  django/kt_gr/config/caluma_form_common.json
Due: test-django

chore(deps): update dependency debugpy to v1.8.5
  django/requirements-dev.txt
Due: test-django

ur: various small fixes for bugs found after testing
  django/camac/caluma/extensions/dynamic_tasks.py
  django/camac/caluma/extensions/events/complete_check.py
  django/camac/caluma/extensions/events/general.py
  django/camac/caluma/tests/test_events.py
  django/camac/conftest.py
  django/camac/settings/django.py
  django/kt_uri/config/caluma_additional_demand.json
  django/kt_uri/config/caluma_complete_check_form.json
  django/kt_uri/config/caluma_construction_monitoring_form.json
  django/kt_uri/config/caluma_construction_monitoring_workflow.json
  django/kt_uri/config/caluma_decision_form.json
  django/kt_uri/config/caluma_form.json
  django/kt_uri/config/caluma_workflow.json
  django/kt_uri/config/core.json
  django/kt_uri/config/permissions.json
Due: test-django

fix(be): fix geometer involvement info
  ember-ebau-core/addon/components/decision/info-missing-geometer-involvement.js
  ember-ebau-core/addon/gql/queries/get-decision-geometer-answer.graphql
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(ur): add missing jexl for "schnuergeruestabnahme-durch"
  django/kt_uri/config/caluma_construction_monitoring_form.json
Due: test-django

fix(gr): add hint to AMZ form
  django/kt_gr/config/caluma_form.json
Due: test-django

test(snapshot): update snapshots after faker update
  django/camac/gis/tests/__snapshots__/test_kt_so.ambr
  django/camac/gis/tests/__snapshots__/test_param.ambr
  django/camac/instance/tests/__snapshots__/test_placeholders.ambr
Due: test-django

chore(deps): update backend dependencies
  django/pyproject.toml
  django/requirements-dev.txt
  django/requirements.txt
Due: test-django

chore(docker): remove obsolete version in docker compose files
  compose/ci.yml
  compose/demo-dev.yml
  compose/demo.yml
  compose/kt_bern-dev.yml
  compose/kt_uri-dev.yml
  compose/kt_uri.yml
Due: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django

test: fix tests after updates
  django/camac/caluma/tests/test_ast_utils.py
  django/camac/conftest.py
  django/camac/ech0211/conftest.py
  django/camac/permissions/tests/test_permission_views.py
Due: test-django
