Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

lint-yml:
  stage: lint
  image: node:lts
  before_script:
  - yarn global add prettier
  script:
  - prettier -c **/*.yml

lint-ember-camac-ng:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-camac-ng
  - yarn
  script:
  - yarn lint

lint-ember-caluma-portal:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-caluma-portal
  - yarn
  script:
  - yarn lint

lint-ember-ebau-core:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-ebau-core
  - yarn
  script:
  - yarn lint

lint-php:
  stage: lint
  image:
    name: node:lts
  script:
  - if git grep -I -e ä  -e ö  -e ü   -- './*' ':!.gitlab-ci.yml'; then exit 1; else echo "No composite umlaute found"; fi
  - yarn --cwd=php install
  - yarn --cwd=php lint
  - yarn --cwd=php prettier-check

test-ember:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember"
  - eval $COMPOSE build ember
  - eval $COMPOSE run --rm --no-deps ember yarn test

test-ember-camac-ng:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-camac-ng"
  - eval $COMPOSE build ember-camac-ng
  ...

test-ember-caluma-portal:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-caluma-portal"
  - eval $COMPOSE build ember-caluma-portal
  ...

test-ember-ebau-core:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-ebau-core"
  - eval $COMPOSE build ember-ebau-core
  ...

test-django:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet django db clamav unoconv"
  - eval $COMPOSE build --parallel django db clamav unoconv
  ...

php-security-checker:
  stage: test
  image:
    name: jakzal/phpqa:php7.3-alpine
  script: local-php-security-checker --path=./php/composer.lock

fix(be): add default fallback when no claims are available
  ember-caluma-portal/app/components/be-claims-form/component.js
Due: lint-ember-caluma-portal, test-ember-caluma-portal

fix: re-enable swagger for Kt. UR, simplify configuration
  django/camac/document/urls.py
  django/camac/ech0211/docs/demo.md
  django/camac/ech0211/docs/kt_uri.md
  django/camac/ech0211/urls.py
  django/camac/ech0211/views/kt_schwyz.py
  django/camac/instance/urls.py
  django/camac/instance/views.py
  django/camac/settings.py
  django/camac/swagger/README.md
  django/camac/swagger/views.py
  django/camac/swagger/views/__init__.py
  django/camac/swagger/views/kt_schwyz.py
  django/camac/urls.py
Due: test-django

fix(sz): add needed available instance resource `formpage`
  django/kt_schwyz/config/core.json
Due: test-django

fix(config): access urlpatterns after loading config class
  django/camac/urls.py
Due: test-django

feat(kt_schwyz): add ech0211 submit messages with xml-data
  django/camac/ech0211/constants.py
  django/camac/ech0211/event_handlers.py
  django/camac/ech0211/formatters.py
  django/camac/ech0211/tests/snapshots/snap_test_event_handlers.py
  django/camac/ech0211/tests/test_event_handlers.py
  django/camac/ech0211/urls.py
  django/camac/ech0211/views/common.py
  django/camac/ech0211/views/kt_bern.py
  django/camac/instance/serializers.py
  django/camac/instance/views.py
Due: test-django

fix(dossier-import): minor fixes after testing with real data
  django/camac/dossier_import/loaders.py
  django/camac/dossier_import/validation.py
  django/camac/dossier_import/writers.py
Due: test-django

fix(be): get decision answer from work-item
  django/camac/caluma/extensions/dynamic_tasks.py
  django/camac/caluma/extensions/events/decision.py
  django/camac/instance/utils.py
Due: test-django

fix(be): filter decision answer work-item status
  django/camac/stats/cycle_time.py
Due: test-django

fix(distribution): include fetch dependency for distribution
  ember-camac-ng/app/app.js
  ember-camac-ng/package.json
  yarn.lock
Due: lint-ember-camac-ng, test-ember-camac-ng

fix(distribution): enable configurable permissions for document answers
  django/camac/caluma/extensions/permissions.py
  django/camac/caluma/tests/test_permissions.py
  django/camac/instance/serializers.py
  django/camac/instance/tests/snapshots/snap_test_instance_caluma_permissions.py
  django/camac/settings.py
  django/camac/settings_distribution.py
  django/camac/utils.py
  ember-camac-ng/app/services/shoebox.js
Due: lint-ember-camac-ng, test-ember-camac-ng, test-django

chore(release): v3.0.0-rc.2
  VERSION.txt
  django/camac/camac_metadata.py
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
Due: lint-ember-camac-ng, lint-ember-caluma-portal, test-ember-camac-ng, test-ember-caluma-portal, test-django

fix(sz): rename GIS layers according to webgis SZ
  django/kt_schwyz/form.json
Due: test-django

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml
