Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml

fix(master-data): fix query explosion for answers from work items
  django/camac/instance/master_data.py
  django/camac/instance/placeholders/serializers.py
  django/camac/instance/tests/test_master_data.py
  django/camac/instance/views.py
Due: test-django

feat(ag): add function to change the form of an instance
  django/camac/fixtures/generated/settings_fixtures.py
  django/camac/instance/serializers.py
  django/camac/instance/tests/__snapshots__/test_change_form.ambr
  django/camac/instance/tests/test_change_form.py
  django/camac/instance/tests/test_instance.py
  django/camac/instance/tests/test_instance_caluma_custom_actions.py
  django/camac/instance/utils.py
  django/camac/instance/views.py
  django/camac/settings/django.py
  django/camac/settings/modules/change_form.py
  django/camac/settings/modules/permissions/kt_ag.py
  django/camac/settings/modules/permissions/kt_bern.py
  django/locale/de/LC_MESSAGES/django.po
  django/locale/fr/LC_MESSAGES/django.po
  django/locale/it/LC_MESSAGES/django.po
  ember-camac-ng/app/support/controller.js
  ember-camac-ng/app/support/template.hbs
  ember-camac-ng/translations/support/de.yaml
  ember-camac-ng/translations/support/fr.yaml
  ember-ebau-core/addon/abilities/instance.js
  ember-ebau-core/addon/components/corrections/change-form.hbs
  ember-ebau-core/addon/components/corrections/change-form.js
  ember-ebau-core/addon/components/corrections/document.hbs
  ember-ebau-core/addon/components/corrections/document.js
  ember-ebau-core/addon/config/features/ag.js
  ember-ebau-core/addon/config/main-be.js
  ember-ebau-core/addon/gql/queries/get-document.graphql
  ember-ebau-core/app/components/corrections/change-form.js
  ember-ebau-core/app/components/corrections/document.js
  ember-ebau-core/translations/corrections/de-be.yaml
  ember-ebau-core/translations/corrections/de.yaml
  ember-ebau-core/translations/corrections/fr.yaml
  ember-ebau-core/translations/corrections/it.yaml
  ember-ebau/app/cases/detail/corrections/template.hbs
  ember-ebau/app/components/document-correction.hbs
  ember-ebau/translations/corrections/fr.yaml
Due: lint-ember-camac-ng, lint-ember-ebau-core, test-ember-camac-ng, test-ember-ebau-core, test-django

fix(so): fix BaB placeholders from table questions
  django/camac/conftest.py
  django/camac/instance/master_data.py
  django/camac/instance/placeholders/locale/de/LC_MESSAGES/django.po
  django/camac/instance/placeholders/locale/fr/LC_MESSAGES/django.po
  django/camac/instance/placeholders/locale/it/LC_MESSAGES/django.po
  django/camac/instance/placeholders/serializers.py
  django/camac/instance/tests/__snapshots__/test_master_data.ambr
  django/camac/instance/tests/__snapshots__/test_placeholders.ambr
  django/camac/instance/tests/test_master_data.py
  django/camac/instance/tests/test_placeholders.py
  django/camac/settings/modules/master_data.py
  django/camac/tests/data.py
Due: test-django

feat(ag): allow charging of billing entries for cantonal services
  django/camac/billing/tests/test_billing_charge.py
  django/camac/billing/views.py
  django/camac/settings/modules/permissions/kt_ag.py
  ember-ebau-core/addon/abilities/billing-v2-entry.js
  ember-ebau-core/addon/components/billing-table.hbs
  ember-ebau-core/addon/components/billing-table.js
  ember-ebau-core/addon/components/billing-table/row.hbs
  ember-ebau-core/addon/controllers/billing/index.js
  ember-ebau-core/addon/templates/billing/index.hbs
  ember-ebau-core/tests/unit/abilities/billing-v2-entry-test.js
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

fix(ech0211): use non deprecated value iteration
  django/camac/ech0211/send_handlers.py
Due: test-django

feat(dms): add shared templates to dms-admin
  compose/ci.yml
  compose/kt_bern-dev.yml
  document-merge-service/extensions/conftest.py
  document-merge-service/extensions/extensions_settings.py
  document-merge-service/extensions/permissions.py
  document-merge-service/extensions/tests/test_permissions.py
  document-merge-service/extensions/tests/test_visibilities.py
  document-merge-service/extensions/utils.py
  document-merge-service/extensions/visibilities.py
  ember-ebau-core/addon/abilities/dms-template.js
  ember-ebau-core/addon/components/dms/edit.hbs
  ember-ebau-core/addon/components/dms/edit.js
  ember-ebau-core/addon/components/dms/generate.js
  ember-ebau-core/addon/components/dms/list.hbs
  ember-ebau-core/addon/components/dms/list.js
  ember-ebau-core/addon/components/dms/template-table.hbs
  ember-ebau-core/addon/components/dms/template-table.js
  ember-ebau-core/addon/config/main-be.js
  ember-ebau-core/addon/controllers/dms-admin/new.js
  ember-ebau-core/addon/modules/dms-admin.js
  ember-ebau-core/addon/routes/dms-admin/new.js
  ember-ebau-core/addon/services/dms.js
  ember-ebau-core/addon/templates/dms-admin/new.hbs
  ember-ebau-core/addon/utils/dms.js
  ember-ebau-core/app/abilities/dms-template.js
  ember-ebau-core/app/components/dms/template-table.js
  ember-ebau-core/tests/unit/abilities/dms-template-test.js
  ember-ebau-core/translations/dms/de.yaml
  ember-ebau-core/translations/dms/fr.yaml
  ember-ebau-core/translations/dms/it.yaml
Due: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django

feat(ag): add remark field for billing entries
  django/camac/billing/admin.py
  django/camac/billing/migrations/0010_billingv2entry_remark.py
  django/camac/billing/models.py
  django/kt_ag/config/billing_templates.json
  django/locale/de/LC_MESSAGES/django.po
  django/locale/fr/LC_MESSAGES/django.po
  django/locale/it/LC_MESSAGES/django.po
  ember-ebau-core/addon/components/billing-table.hbs
  ember-ebau-core/addon/components/billing-table.js
  ember-ebau-core/addon/components/billing-table/row.hbs
  ember-ebau-core/addon/config/features/ag.js
  ember-ebau-core/addon/models/billing-v2-common-entry.js
  ember-ebau-core/addon/models/billing-v2-entry.js
  ember-ebau-core/addon/templates/billing/new.hbs
  ember-ebau-core/tests/acceptance/billing-test.js
  ember-ebau-core/tests/dummy/mirage/factories/billing-v2-common-entry.js
  ember-ebau-core/translations/billing/de.yaml
  ember-ebau-core/translations/billing/fr.yaml
  ember-ebau-core/translations/billing/it.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

chore(ag): add infotext for rejection module
  ember-ebau-core/translations/rejection/de-ag.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core

chore(ag): add Services_AG.xlsx for data import
  django/kt_ag/import/Services_AG.xlsx
Due: test-django

fix(django): add missing migrations
  django/camac/caluma/migrations/0001_inquiry_proxy.py
  django/camac/dossier_import/migrations/0009_alter_dossierimport_id.py
Due: test-django

fix(caluma): fix history for inquiry proxy model
  django/camac/caluma/models.py
Due: test-django

fix(ag): only allow AfB and lead authority to charge billing entries
  django/camac/billing/tests/test_billing_charge.py
  django/camac/settings/modules/permissions/kt_ag.py
Due: test-django

feat(ag): create dossiers from internal area
  django/camac/settings/modules/permissions/kt_ag.py
  django/kt_ag/config/core.json
  ember-caluma-portal/app/application/route.js
  ember-ebau-core/addon/abilities/instance.js
  ember-ebau-core/addon/abilities/topic.js
  ember-ebau-core/addon/components/case-filter.hbs
  ember-ebau-core/addon/components/case-filter.js
  ember-ebau-core/addon/components/case-table.js
  ember-ebau-core/addon/components/gr-submit-instance.js
  ember-ebau-core/addon/components/watermark.js
  ember-ebau-core/addon/config/features/ag.js
  ember-ebau-core/addon/config/main-ag.js
  ember-ebau-core/addon/services/ebau-modules.js
  ember-ebau-core/translations/cases/de.yaml
  ember-ebau-core/translations/cases/fr.yaml
  ember-ebau-core/translations/cases/it.yaml
  ember-ebau/app/application/route.js
  ember-ebau/app/gql/queries/get-root-forms.graphql
  ember-ebau/app/new-case/controller.js
  ember-ebau/app/new-case/route.js
  ember-ebau/app/new-case/template.hbs
  ember-ebau/app/router.js
  ember-ebau/translations/de.yaml
  proxy/kt_ag.conf
Due: lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-caluma-portal, test-ember-ebau-core, test-django

fix(so): dont download signatures for voranfrage
  ember-caluma-portal/app/abilities/instance.js
Due: lint-ember-caluma-portal, test-ember-caluma-portal

fix(so): make sure only versioned forms are recursively filtered
  ember-ebau-core/addon/utils/form-filters.js
  ember-ebau-core/tests/unit/utils/form-filters-test.js
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(so): remove .dwg filetype from alle beteiligten
  django/kt_so/config/alexandria_core.json
Due: test-django

fix(dossier-import): disable transmit action for Kt. SO
  ember-ebau-core/addon/abilities/dossier-import.js
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(dossier-import): allow undo in production for Kt. SO
  ember-ebau-core/addon/abilities/dossier-import.js
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(so): remove subservice permission from alexandria category Fachstellen
  django/kt_so/config/alexandria_core.json
Due: test-django

feat(ech0211): add response data when uploading files
  django/camac/ech0211/serializers.py
  django/camac/ech0211/tests/test_file_views.py
  django/camac/ech0211/views.py
Due: test-django

refactor(ech0211): remove download-link from file upload response
  django/camac/ech0211/tests/test_file_views.py
  django/camac/ech0211/views.py
Due: test-django

fix(ech0211): check visibility of document tags before rendering them
  django/camac/ech0211/formatters.py
Due: test-django

fix(so): add missing config to einreichen form
  django/kt_so/config/caluma_form.json
Due: test-django

fix(gr): baugesuch-v3 for gvg changes
  django/camac/caluma/extensions/dynamic_tasks.py
  django/camac/caluma/extensions/events/construction_acceptance.py
  django/camac/caluma/extensions/events/decision.py
  django/camac/permissions/config/kt_gr.py
  django/camac/settings/modules/dms.py
  django/camac/settings/modules/dump.py
  django/camac/settings/modules/permissions/kt_gr.py
  django/camac/settings/modules/project_modification.py
  django/kt_gr/config/caluma_form.json
  django/kt_gr/config/caluma_form_common.json
  django/kt_gr/config/caluma_form_v2.json
  django/kt_gr/config/caluma_form_v3.json
  django/kt_gr/config/gis.json
  ember-caluma-portal/config/environment.js
  ember-ebau-core/addon/components/gr-submit-instance.js
  ember-ebau-core/addon/config/main-gr.js
  ember-ebau/app/caluma/lib/custom-field.js
  ember-ebau/app/services/caluma-options.js
Due: lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-caluma-portal, test-ember-ebau-core, test-django

chore(so): change infotext for alexandria category
  django/kt_so/config/alexandria_core.json
Due: test-django

fix(public-instances): use paginated query for instance listing
  ember-caluma-portal/app/public-instances/index/controller.js
  ember-caluma-portal/app/public-instances/index/template.hbs
  ember-ebau-core/addon/resources/paginated.js
Due: lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-caluma-portal, test-ember-ebau-core

style(portal): improve styling when no public instances are found
  ember-caluma-portal/app/public-instances/index/template.hbs
  ember-caluma-portal/app/styles/app.scss
Due: lint-ember-caluma-portal, test-ember-caluma-portal

feat(so): add new system templates
  document-merge-service/kt_so/dump.json
  document-merge-service/kt_so/templatefiles/bauentscheid.docx
  document-merge-service/kt_so/templatefiles/eingangsbestaetigung-an-gesuchstellerin.docx
  document-merge-service/kt_so/templatefiles/gesuchsformular-oeffentliche-planauflage.docx
  document-merge-service/kt_so/templatefiles/pv-anlage-bestaetigung.docx
Due: none

feat(so): replace system templates
  document-merge-service/kt_so/templatefiles/inserat-amtsblatt.docx
  document-merge-service/kt_so/templatefiles/inserat-anzeiger.docx
Due: none

chore(django): add hurricane logger
  django/camac/settings/django.py
Due: test-django

fix(django): adapt hurricane request_queue_length and workers defaults
  django/entrypoint.sh
Due: test-django

feat(dms): change form and receipt download filename
  django/camac/instance/document_merge_service.py
  django/camac/instance/tests/test_document_merge_service.py
  django/camac/settings/modules/dms.py
  django/locale/de/LC_MESSAGES/django.po
  django/locale/fr/LC_MESSAGES/django.po
  django/locale/it/LC_MESSAGES/django.po
Due: test-django

fix(django): expose setting for db connection health checks
  django/camac/settings/django.py
Due: test-django

chore(ag): allow changing of form in more instance states
  django/camac/settings/modules/permissions/kt_ag.py
Due: test-django

fix: make form fileupload edge 122 compatible
  ember-ebau-core/addon/components/alexandria-documents-form.js
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(django-gr): remove duplicate zugaenglichkeit question
  django/kt_gr/config/caluma_form_v3.json
Due: test-django

fix(sz): validate format for date fields
  django/camac/instance/serializers.py
  django/camac/instance/tests/test_form_field.py
  django/locale/de/LC_MESSAGES/django.po
  django/locale/fr/LC_MESSAGES/django.po
  django/locale/it/LC_MESSAGES/django.po
Due: test-django

fix(django): remove dict access in serializer definition
  django/camac/instance/serializers.py
Due: test-django

fix(django-gr): add missing "v2" forms
  django/kt_gr/config/caluma_form_v3.json
Due: test-django
