Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml

feat(ur): show instances on the same plot in the dashboard
  ember-camac-ng/app/gql/queries/get-case-from-parcels.graphql
  ember-camac-ng/app/ui/components/case-dashboard/component.js
  ember-camac-ng/app/ui/components/case-dashboard/section/template.hbs
  ember-camac-ng/app/ui/components/case-dashboard/template.hbs
  ember-camac-ng/app/ui/components/linked-instances-table/component.js
  ember-camac-ng/app/ui/components/linked-instances-table/template.hbs
  ember-camac-ng/config/environment.js
  ember-camac-ng/translations/cases/de.yaml
  ember-camac-ng/translations/cases/fr.yaml
Due: lint-ember-camac-ng, test-ember-camac-ng

feat(ur): add state change buttons for "System-Betrieb"
  django/kt_uri/config/core.json
Due: test-django

fix: move unlink into custom serializer action
  django/camac/instance/serializers.py
  django/camac/instance/views.py
Due: test-django

fix: frontend cleanups
  ember-camac-ng/app/adapters/instance.js
  ember-camac-ng/app/models/instance.js
  ember-camac-ng/app/ui/components/case-dashboard/component.js
  ember-camac-ng/app/ui/components/case-dashboard/template.hbs
  ember-camac-ng/tests/unit/adapters/instance-test.js
Due: lint-ember-camac-ng, test-ember-camac-ng

fix: repair the modal
  ember-camac-ng/app/ui/components/case-dashboard/template.hbs
  ember-camac-ng/app/ui/components/linked-instances-table/component.js
  ember-camac-ng/app/ui/components/linked-instances-table/template.hbs
Due: lint-ember-camac-ng, test-ember-camac-ng

fix tests
  django/camac/instance/tests/test_instance.py
  ember-camac-ng/app/ui/components/linked-instances-table/component.js
Due: lint-ember-camac-ng, test-ember-camac-ng, test-django

fix: cleanup the linked-instance component
  ember-camac-ng/app/ui/components/case-dashboard/component.js
  ember-camac-ng/app/ui/components/case-dashboard/template.hbs
  ember-camac-ng/app/ui/components/linked-instances-table/component.js
  ember-camac-ng/app/ui/components/linked-instances-table/template.hbs
Due: lint-ember-camac-ng, test-ember-camac-ng

fix: include linked instances
  django/camac/instance/serializers.py
  ember-camac-ng/app/ui/components/case-dashboard/component.js
Due: lint-ember-camac-ng, test-ember-camac-ng, test-django

fix graphql query and further cleanup
  ember-camac-ng/app/caluma-query/models/case.js
  ember-camac-ng/app/gql/queries/get-case-from-parcels.graphql
  ember-camac-ng/app/ui/cases/detail/dashboard/template.hbs
  ember-camac-ng/app/ui/components/case-dashboard/component.js
  ember-camac-ng/app/ui/components/case-dashboard/template.hbs
  ember-camac-ng/app/ui/components/linked-instances-table/template.hbs
Due: lint-ember-camac-ng, test-ember-camac-ng

fix(portal): fix various issues after updates
  ember-caluma-portal/app/abilities/instance.js
  ember-caluma-portal/app/instances/edit/index/controller.js
Due: lint-ember-caluma-portal, test-ember-caluma-portal
