Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml

fix(gr): allow ARE to update metadata of applicant documents
  django/kt_gr/config/alexandria_core.json
Due: test-django

fix(gr): internal document category can always be edited
  django/kt_gr/config/alexandria_core.json
Due: test-django

fix(gr): remove incorrect permission for applicants
  django/kt_gr/config/alexandria_core.json
Due: test-django

feat(gr): add new document category "Bauabnahme", show in portal
  django/kt_gr/config/alexandria_core.json
  ember-caluma-portal/config/environment.js
Due: lint-ember-caluma-portal, test-ember-caluma-portal, test-django

chore(gr): increase the zoom level for the gis map
  ember-ebau-core/translations/gis/de.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(tests): fix flaky test_swagger_paths test
  django/camac/ech0211/views.py
  django/camac/swagger/utils.py
Due: test-django

fix(gr): create a new construction-acceptance notification for applicants
  django/camac/caluma/extensions/events/construction_acceptance.py
  django/camac/notification/tests/test_notification_template.py
  django/camac/settings/django.py
  django/kt_gr/config/email_notifications.json
Due: test-django

fix(gr): make centerCoordinates more defensive
  ember-ebau-core/addon/caluma-query/models/case-gr.js
Due: lint-ember-ebau-core, test-ember-ebau-core

feat(permissions-api): return permission mode in metadata
  django/camac/permissions/serializers.py
  django/camac/permissions/tests/test_permission_views.py
Due: test-django

fix(ember-ebau): enable raw output for changeset validations
  ember-ebau/config/environment.js
Due: none

refactor(permissions): rename instance state conditional to avoid confusion
  django/camac/permissions/conditions.py
  django/camac/permissions/tests/test_lowlevel_api.py
  django/camac/permissions/tests/test_permission_views.py
  django/camac/settings/modules/permissions.py
Due: test-django

feat(sz): extend internal business search filters with keyword search
  django/camac/caluma/tests/test_visibilities.py
  django/camac/conftest.py
  django/camac/instance/filters.py
  django/camac/settings/django.py
  ember-ebau-core/addon/components/case-filter.js
  ember-ebau-core/addon/components/case-filter/filter-config.js
  ember-ebau-core/addon/components/case-table.js
  ember-ebau-core/addon/config/case-table-sz.js
  ember-ebau-core/translations/cases/de.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

fix(gr): remove depends_on django clamd
  compose/kt_gr.yml
Due: lint-yml

fix(visibility/performance): improve caluma visibility layer performance
  django/camac/caluma/ast_utils.py
  django/camac/caluma/extensions/visibilities.py
  django/camac/caluma/tests/test_ast_utils.py
  django/camac/caluma/tests/test_visibilities.py
  django/camac/instance/mixins.py
Due: test-django

fix(be-header): fetch suggested tags on demand
  django/camac/tags/tests/test_tags.py
  django/camac/tags/views.py
Due: test-django

fix(be): flaky master data test
  django/camac/instance/tests/__snapshots__/test_master_data.ambr
  django/camac/instance/tests/test_master_data.py
Due: test-django

fix(alexandria): centralize file creation to avoid unencrypted files
  django/camac/communications/serializers.py
  django/camac/ech0211/serializers.py
  django/camac/instance/serializers.py
  django/requirements.txt
Due: test-django

feat(so): implement new appeal decision type anulled
  django/camac/caluma/tests/test_decision.py
  django/camac/instance/domain_logic/decision.py
  django/camac/settings/modules/appeal.py
  django/kt_so/config/caluma_decision_form.json
  ember-ebau-core/addon/components/decision/appeal-button.js
  ember-ebau-core/addon/components/decision/info-appeal.js
  ember-ebau-core/addon/config/main-be.js
  ember-ebau-core/addon/config/main-so.js
  ember-ebau-core/translations/decision/de-so.yaml
  ember-ebau-core/translations/decision/de.yaml
  ember-ebau-core/translations/decision/fr.yaml
  ember-ebau/app/caluma/lib/custom-field.js
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

chore(be): release v3.6.1-rc.1
  VERSION.txt
  django/camac/camac_metadata.py
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
Due: lint-ember-camac-ng, lint-ember-caluma-portal, test-ember-camac-ng, test-ember-caluma-portal, test-django

chore(be): release v3.6.1
  VERSION.txt
  django/camac/camac_metadata.py
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
Due: lint-ember-camac-ng, lint-ember-caluma-portal, test-ember-camac-ng, test-ember-caluma-portal, test-django
