Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

lint-yml:
  stage: lint
  image: node:lts
  before_script:
  - yarn global add prettier
  script:
  - prettier -c **/*.yml

lint-ember-camac-ng:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-camac-ng
  - yarn
  script:
  - yarn lint

lint-ember-caluma-portal:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-caluma-portal
  - yarn
  script:
  - yarn lint

lint-ember-ebau-core:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-ebau-core
  - yarn
  script:
  - yarn lint

lint-php:
  stage: lint
  image:
    name: node:lts
  script:
  - if git grep -I -e ä  -e ö  -e ü   -- './*' ':!.gitlab-ci.yml'; then exit 1; else echo "No composite umlaute found"; fi
  - yarn --cwd=php install
  - yarn --cwd=php lint
  - yarn --cwd=php prettier-check

test-ember:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember"
  - eval $COMPOSE build ember
  - eval $COMPOSE run --rm --no-deps ember yarn test

test-ember-camac-ng:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-camac-ng"
  - eval $COMPOSE build ember-camac-ng
  ...

test-ember-caluma-portal:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-caluma-portal"
  - eval $COMPOSE build ember-caluma-portal
  ...

test-ember-ebau-core:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-ebau-core"
  - eval $COMPOSE build ember-ebau-core
  ...

test-django:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet django db clamav unoconv"
  - eval $COMPOSE build --parallel django db clamav unoconv
  ...

php-security-checker:
  stage: test
  image:
    name: jakzal/phpqa:php7.3-alpine
  script: local-php-security-checker --path=./php/composer.lock

fix(ember-ebau-core): label for instance-acl status
  Makefile
  ember-ebau-core/addon/components/permissions/acl-table.hbs
  ember-ebau-core/addon/models/instance-acl.js
  ember-ebau-core/tests/dummy/mirage/factories/instance-acl.js
  ember-ebau-core/tests/integration/components/permissions/acl-table-test.js
Due: lint-ember-ebau-core, test-ember-ebau-core

feat(gr): download PDF Formular
  django/camac/instance/tests/test_instance_caluma.py
  django/camac/settings/modules/permissions/kt_gr.py
  ember-caluma-portal/app/abilities/instance.js
  ember-caluma-portal/app/instances/edit/index/controller.js
  ember-caluma-portal/app/instances/edit/index/template.hbs
  ember-caluma-portal/translations/de.yaml
  ember-caluma-portal/translations/fr.yaml
  ember-caluma-portal/translations/it.yaml
  ember-ebau-core/addon/config/features/gr.js
Due: lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-caluma-portal, test-ember-ebau-core, test-django

feat(permissions): add custom error codes for global permission checks
  django/camac/tests/test_external_client_access.py
  django/camac/token_exchange/permissions.py
  django/camac/user/permissions.py
Due: test-django

feat(so): new tax-mode hint when creating new billing entries
  ember-ebau-core/addon/templates/billing/new.hbs
  ember-ebau-core/translations/billing/de.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core

chore(so): show Liegenschaftsentwässerung for hochbau or hochbau and tiefbau
  django/kt_so/config/caluma_form.json
Due: test-django

chore(so): add info text to personalien form
  django/kt_so/config/caluma_form.json
Due: test-django

chore(so): add Umfrage to baugesuch form
  django/kt_so/config/caluma_form.json
Due: test-django

chore(so): archive option and add info text in formelle prufung form
  django/kt_so/config/caluma_formal_exam_form.json
Due: test-django

chore(so): add Berechtigungen explanation to baugesuch form
  django/kt_so/config/caluma_form.json
Due: test-django

fix(be): fix subform ordering in vorabklaerung-vollstaendig-v5
  django/kt_bern/config/caluma_form_v5.json
Due: test-django

chore(deps): update alexandria
  django/requirements.txt
Due: test-django

feat(so): document visibility kantonale/ausserkantonale fachstellen
  django/camac/settings/modules/alexandria.py
  django/kt_so/config/alexandria_core.json
Due: test-django

fix(ag): typo in mail-template and set notify on cancel (circulation)
  django/camac/settings/modules/distribution.py
  django/kt_ag/config/email_notifications.json
Due: test-django

fix(ag): adjust notification mail text
  django/kt_ag/config/email_notifications.json
Due: test-django

chore(ember-ebau-gwr): update to 8.0.3
  ember-camac-ng/package.json
  ember-ebau/package.json
  pnpm-lock.yaml
Due: lint-ember-camac-ng, test-ember-camac-ng

fix(ur): send notifications for copied AfJ dossiers by submission
  django/camac/instance/serializers.py
  django/camac/instance/tests/test_instance_caluma.py
  django/camac/settings/django.py
Due: test-django

fix(ur): fixes for the bbp v2 after customer review
  django/camac/caluma/extensions/dynamic_tasks.py
  django/camac/caluma/extensions/events/complete_check.py
  django/camac/caluma/tests/test_events.py
  django/camac/settings/django.py
  django/kt_uri/config/caluma_complete_check_form.json
  django/kt_uri/config/caluma_form.json
  django/kt_uri/config/caluma_workflow.json
  django/kt_uri/config/core.json
  django/kt_uri/config/email_notifications.json
Due: test-django

chore(so): text change for Berechtigungen in baugesuch form
  django/kt_so/config/caluma_form.json
Due: test-django

refactor(docker-compose): use docker compose v2
  tools/start-dev-env-config.json
Due: none

feat(ur): add the nfd filter and highlight in the task list for municipalities
  ember-camac-ng/app/styles/components/work-item-list/index.scss
  ember-ebau-core/addon/components/work-item-list/item.js
  ember-ebau-core/addon/config/features/ur.js
  ember-ebau-core/addon/config/work-item-list-ur.js
  ember-ebau-core/translations/work-items/de-ur.yaml
Due: lint-ember-camac-ng, lint-ember-ebau-core, test-ember-camac-ng, test-ember-ebau-core

feat(be): update form template with missing bestaetigung and dokumente slugs
  document-merge-service/kt_bern/templatefiles/form.docx
Due: none

fix(ag): add different empty text when searching for snippets
  ember-ebau-core/addon/components/snippets-table.hbs
  ember-ebau-core/translations/snippets/de.yaml
  ember-ebau-core/translations/snippets/fr.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core

chore(ag): update billing entry templates
  django/kt_ag/config/billing_templates.json
Due: test-django

fix(be): change the mime type of all system templates
  document-merge-service/kt_bern/templatefiles/audit-form.docx
  document-merge-service/kt_bern/templatefiles/de-amtsbericht.docx
  document-merge-service/kt_bern/templatefiles/de-aufforderung-ergaenzung.docx
  document-merge-service/kt_bern/templatefiles/de-bestaetigung-waermeerzeugerersatz.docx
  document-merge-service/kt_bern/templatefiles/de-gesamtbauentscheid.docx
  document-merge-service/kt_bern/templatefiles/de-maengelbrief-formell-materiell.docx
  document-merge-service/kt_bern/templatefiles/de-maengelbrief-formell.docx
  document-merge-service/kt_bern/templatefiles/de-maengelbrief-materiell.docx
  document-merge-service/kt_bern/templatefiles/de-nachbarschaftsorientierung.docx
  document-merge-service/kt_bern/templatefiles/de-publikation.docx
  document-merge-service/kt_bern/templatefiles/de-verfahrensprogramm-normal.docx
  document-merge-service/kt_bern/templatefiles/de-verfahrensprogramm-voranfrage.docx
  document-merge-service/kt_bern/templatefiles/form.docx
  document-merge-service/kt_bern/templatefiles/fr-avis-de-construction.docx
  document-merge-service/kt_bern/templatefiles/fr-communication-aux-voisins-et-aux-voisines.docx
  document-merge-service/kt_bern/templatefiles/fr-confirmation-remplacement-generateur-chaleur.docx
  document-merge-service/kt_bern/templatefiles/fr-decision-globale.docx
  document-merge-service/kt_bern/templatefiles/fr-demande-de-complement-d-information.docx
  document-merge-service/kt_bern/templatefiles/fr-notification-de-defauts-formel-materiel.docx
  document-merge-service/kt_bern/templatefiles/fr-notification-de-defauts-formel.docx
  document-merge-service/kt_bern/templatefiles/fr-notification-de-defauts-materiel.docx
  document-merge-service/kt_bern/templatefiles/fr-programme-de-procedure-normal.docx
  document-merge-service/kt_bern/templatefiles/fr-rapport-officiel.docx
Due: none

feat(gr): introduce the construction-monitoring module
  django/camac/caluma/extensions/dynamic_tasks.py
  django/camac/caluma/extensions/events/__init__.py
  django/camac/caluma/extensions/events/construction_acceptance.py
  django/camac/caluma/extensions/events/construction_monitoring.py
  django/camac/conftest.py
  django/camac/core/management/commands/acls/kt_gr.json
  django/camac/fixtures/generated/settings_fixtures.py
  django/camac/notification/serializers.py
  django/camac/notification/tests/test_notification_template.py
  django/camac/permissions/config/kt_gr.py
  django/camac/permissions/events.py
  django/camac/permissions/tests/test_events.py
  django/camac/settings/django.py
  django/camac/settings/modules/construction_monitoring.py
  django/camac/settings/modules/decision.py
  django/camac/settings/modules/dump.py
  django/camac/settings/modules/permissions/kt_gr.py
  django/kt_gr/config/caluma_construction_monitoring_form.json
  django/kt_gr/config/caluma_construction_monitoring_workflow.json
  django/kt_gr/config/caluma_form.json
  django/kt_gr/config/caluma_form_common.json
  django/kt_gr/config/caluma_workflow.json
  django/kt_gr/config/core.json
  ember-ebau-core/addon/config/construction-monitoring-gr.js
  ember-ebau-core/addon/config/construction-monitoring.js
  ember-ebau-core/translations/construction-monitoring/de-gr.yaml
  ember-ebau-core/translations/construction-monitoring/de.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

fix(ember-camac-ng): repair justify left styling for toggles
  ember-camac-ng/app/styles/_misc.scss
Due: lint-ember-camac-ng, test-ember-camac-ng

feat(gr): add add Entsorgung questions to Triage form for eEBA integration, add eeba-export endpoint, update bfs_nr import command
  django/camac/eeba_integration/__init__.py
  django/camac/eeba_integration/apps.py
  django/camac/eeba_integration/serializers.py
  django/camac/eeba_integration/tests/__init__.py
  django/camac/eeba_integration/tests/__snapshots__/test_eeba_integration.ambr
  django/camac/eeba_integration/tests/test_eeba_integration.py
  django/camac/eeba_integration/urls.py
  django/camac/eeba_integration/views.py
  django/camac/instance/tests/test_master_data.py
  django/camac/settings/django.py
  django/camac/settings/modules/master_data.py
  django/camac/urls.py
  django/camac/user/management/commands/import_bfs_nr.py
  django/camac/user/permissions.py
  django/kt_gr/config/caluma_form.json
  django/kt_gr/data/user.json
Due: test-django

fix(be): fix dokuments section for Reklamegesuch
  django/kt_bern/config/caluma_reklamegesuch_form.json
Due: test-django

feat(so): enable and configure ruckmeldungen
  django/kt_so/config/alexandria_core.json
  ember-caluma-portal/config/environment.js
Due: lint-ember-caluma-portal, test-ember-caluma-portal, test-django

fix(be): remove installation-v5-getraenkeautomat from warmwasser questions
  django/kt_bern/config/caluma_form_v5.json
Due: test-django

fix(be): reorder heat-generator-v2 special form
  django/kt_bern/config/caluma_heat_generator_form_v2.json
Due: test-django

chore(be): release v3.7.0-rc.7
  VERSION.txt
  django/camac/camac_metadata.py
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
Due: lint-ember-camac-ng, lint-ember-caluma-portal, test-ember-camac-ng, test-ember-caluma-portal, test-django

fix(ur): show the NFD filter for KOORs and services too
  ember-ebau-core/addon/config/work-item-list-ur.js
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(be): add option to disable magic byte check for certain mime types
  django/camac/communications/serializers.py
  django/camac/communications/tests/test_api.py
  django/camac/settings/django.py
Due: test-django

chore(release): v3.7.0
  VERSION.txt
  django/camac/camac_metadata.py
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
Due: lint-ember-camac-ng, lint-ember-caluma-portal, test-ember-camac-ng, test-ember-caluma-portal, test-django

fix(snippets): remove search form to avoid form submitting
  ember-ebau-core/addon/components/snippets-table.hbs
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(magic): update magic file to detect docx properly
  django/Dockerfile
  django/camac/document/tests/data/libreoffice-template-after-dms.docx
  django/camac/tests/test_magic.py
  django/ms_office_magicfile
Due: test-django

fix(history): translate and resolve text data for non-multilang
  django/camac/core/utils.py
Due: test-django

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml
