Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml

feat(sz): change all plz inputs to type text
  django/kt_schwyz/config/core.json
  django/kt_schwyz/form.json
Due: test-django

chore(deps): bump ember-uikit to v5.1.3
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
  ember-ebau-core/package.json
  ember-ebau/package.json
  yarn.lock
Due: lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core

chore(be): add AGR services to question in formal audit
  django/kt_bern/config/caluma_audit_form.json
Due: test-django

fix(publication): fix duplicated publicated attachments
  django/camac/document/views.py
Due: test-django

feat(sz): move readonly role to new search
  django/kt_schwyz/config/core.json
Due: test-django

chore(ember): add missing service injection
  ember-ebau-core/addon/models/instance.js
Due: lint-ember-ebau-core, test-ember-ebau-core

chore(ember): update dependencies
  ember-caluma-portal/app/components/be-navbar/component.js
  ember-caluma-portal/package.json
  ember-caluma-portal/tests/integration/components/be-navbar/component-test.js
  ember-camac-ng/package.json
  ember-ebau-core/package.json
  ember-ebau/package.json
  package.json
  yarn.lock
Due: lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core

chore(ember-resources): fix ember-resources deprecations
  ember-caluma-portal/app/components/be-dashboard/component.js
  ember-caluma-portal/app/components/personal-suggestions/component.js
  ember-caluma-portal/app/components/related-publications/component.js
  ember-caluma-portal/app/instances/edit/controller.js
  ember-caluma-portal/app/instances/edit/form/controller.js
  ember-caluma-portal/app/instances/index/controller.js
  ember-caluma-portal/app/public-instances/detail/controller.js
  ember-caluma-portal/app/public-instances/detail/documents/controller.js
  ember-caluma-portal/app/public-instances/index/controller.js
  ember-camac-ng/app/ui/components/publication-info/component.js
  ember-camac-ng/app/ui/components/snippets/component.js
  ember-camac-ng/app/ui/components/suggest-ebau-number/component.js
  ember-camac-ng/app/ui/publication/controller.js
  ember-camac-ng/app/ui/publication/edit/controller.js
  ember-ebau-core/addon/components/history.js
  ember-ebau/app/services/session.js
  ember-ebau/app/ui/cases/detail/form/controller.js
  ember-ebau/app/ui/cases/detail/work-items/new/controller.js
  ember-ebau/app/ui/components/main-navigation/component.js
  ember-ebau/app/ui/components/sub-navigation/component.js
Due: lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core

chore(faker): fix faker deprecations
  ember-camac-ng/mirage/factories/dossier-import.js
  ember-camac-ng/mirage/factories/history-entry.js
  ember-ebau-core/tests/dummy/mirage/factories/dossier-import.js
  ember-ebau-core/tests/dummy/mirage/factories/history-entry.js
Due: lint-ember-camac-ng, lint-ember-ebau-core, test-ember-camac-ng, test-ember-ebau-core

chore(ember-ebau): fix linting and run linter in pipeline
  .gitlab-ci.yml
  ember-ebau/app/adapters/application.js
  ember-ebau/app/ui/application/route.js
  ember-ebau/app/ui/cases/detail/form/controller.js
  ember-ebau/app/ui/components/context-menu/template.hbs
  ember-ebau/app/ui/components/main-navigation/component.js
  ember-ebau/package.json
Due: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

chore(ember-ebau): fix linting and run linter in pipeline
  ember-ebau/app/adapters/application.js
  ember-ebau/app/ui/application/route.js
  ember-ebau/app/ui/cases/detail/form/controller.js
  ember-ebau/app/ui/components/context-menu/template.hbs
  ember-ebau/app/ui/components/main-navigation/component.js
  ember-ebau/package.json
Due: none

fix(portal): make sure groups are only fetched if authenticated
  ember-caluma-portal/app/components/be-navbar/template.hbs
Due: lint-ember-caluma-portal, test-ember-caluma-portal
