Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

lint-yml:
  stage: lint
  image: node:lts
  before_script:
  - yarn global add prettier
  script:
  - prettier -c **/*.yml

lint-ember-camac-ng:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-camac-ng
  - yarn
  script:
  - yarn lint

lint-ember-caluma-portal:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-caluma-portal
  - yarn
  script:
  - yarn lint

lint-ember-ebau-core:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-ebau-core
  - yarn
  script:
  - yarn lint

lint-php:
  stage: lint
  image:
    name: node:lts
  script:
  - if git grep -I -e ä  -e ö  -e ü   -- './*' ':!.gitlab-ci.yml'; then exit 1; else echo "No composite umlaute found"; fi
  - yarn --cwd=php install
  - yarn --cwd=php lint
  - yarn --cwd=php prettier-check

test-ember:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember"
  - eval $COMPOSE build ember
  - eval $COMPOSE run --rm --no-deps ember yarn test

test-ember-camac-ng:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-camac-ng"
  - eval $COMPOSE build ember-camac-ng
  ...

test-ember-caluma-portal:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-caluma-portal"
  - eval $COMPOSE build ember-caluma-portal
  ...

test-ember-ebau-core:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-ebau-core"
  - eval $COMPOSE build ember-ebau-core
  ...

test-django:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet django db clamav unoconv"
  - eval $COMPOSE build --parallel django db clamav unoconv
  ...

php-security-checker:
  stage: test
  image:
    name: jakzal/phpqa:php7.3-alpine
  script: local-php-security-checker --path=./php/composer.lock

feat(be): add Spezialformulare > Anschluss Trinkwasserinstallation (v5)
  django/kt_bern/config/caluma_form_v5.json
Due: test-django

feat(be): add dokumente begruendung questions to excluded list so they do not show up twice
  ember-caluma-portal/config/environment.js
Due: lint-ember-caluma-portal, test-ember-caluma-portal

chore(ag): add instance resource "Formular"
  django/kt_ag/config/core.json
Due: test-django

fix(ur): use group id instead of service id for "Amt für Umwelt Fachbereich Landwirtschaft"
  django/camac/constants/kt_uri.py
Due: test-django

fix(ur): only show your own objection dates in milestones
  django/camac/instance/milestones/fields.py
Due: test-django

feat(be): add Meldung Benützung von öffentlichem Terrain
  django/camac/conftest.py
  django/camac/instance/tests/test_document_merge_service.py
  django/camac/settings/django.py
  django/camac/settings/modules/dms.py
  django/camac/settings/modules/dump.py
  django/kt_bern/config/caluma_benuetzung_oeffentlichem_terrain_form.json
  django/kt_bern/config/caluma_workflow.json
  django/kt_bern/workflow-preliminary-clarification.graphql
  ember-caluma-portal/config/environment.js
Due: lint-ember-caluma-portal, test-ember-caluma-portal, test-django

fix(so): add missing prodUrl configuration
  ember-ebau-core/addon/config/main-so.js
Due: lint-ember-ebau-core, test-ember-ebau-core

chore(lint): add stylelint
  ember-caluma-portal/.stylelintignore
  ember-caluma-portal/.stylelintrc.js
  ember-caluma-portal/package.json
  ember-camac-ng/.stylelintignore
  ember-camac-ng/.stylelintrc.js
  ember-camac-ng/package.json
  ember-ebau-core/.stylelintignore
  ember-ebau-core/.stylelintrc.js
  ember-ebau-core/package.json
  ember-ebau/.stylelintignore
  ember-ebau/.stylelintrc.js
  ember-ebau/package.json
  pnpm-lock.yaml
Due: lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core

chore(ur): backport koor np acls for baubegleitung
  django/kt_uri/config/core.json
Due: test-django

chore(ur): backport koor np acls for "Verfahren abschliessen"
  django/kt_uri/config/core.json
Due: test-django

fix(ur): set instance state to CIRC if nfd is answered positive while there are open inquiries
  django/camac/caluma/extensions/events/additional_demand.py
  django/camac/caluma/tests/test_additional_demand_events.py
  django/camac/settings/modules/additional_demand.py
Due: test-django

feat(ag): add trusted service role in ag
  django/camac/settings/django.py
  django/camac/user/management/commands/import_services.py
  django/kt_ag/config/user.json
  django/kt_ag/data/user.json
Due: test-django

feat(ur): restrict the forms which the GBBs can create in the portal
  ember-caluma-portal/config/environment.js
Due: lint-ember-caluma-portal, test-ember-caluma-portal

fix(so): remove user metadata from system templates
  document-merge-service/kt_so/templatefiles/form.docx
  document-merge-service/kt_so/templatefiles/signatures.docx
Due: none

feat(so): add new form "Reklamegesuch"
  django/camac/caluma/tests/test_decision.py
  django/camac/instance/domain_logic/decision.py
  django/camac/settings/modules/dms.py
  django/kt_so/config/caluma_form.json
  django/kt_so/config/caluma_workflow.json
  django/kt_so/workflow/workflow-building-permit.graphql
  ember-caluma-portal/config/environment.js
Due: lint-ember-caluma-portal, test-ember-caluma-portal, test-django

fix(so): allow read permission to use work items and communications
  django/camac/settings/modules/permissions/kt_so.py
Due: test-django

feat(ember-ebau-core): hide the task filter on the workitemlist if no filters are configured
  ember-ebau-core/addon/components/work-item-list-wrapper.hbs
  ember-ebau-core/addon/config/work-item-list-gr.js
Due: lint-ember-ebau-core, test-ember-ebau-core

feat(ag): add alexandria permissions for 5 categories without afb
  django/kt_ag/config/alexandria_core.json
  django/kt_ag/data/user.json
Due: test-django

chore(ur): backport afu group for permission to the afu attachment section
  django/camac/constants/kt_uri.py
Due: test-django

feat(ag): add missing alexandria permission, even for afb
  django/kt_ag/config/alexandria_core.json
Due: test-django

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml
