Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml

feat(gr): add the responsibility module
  django/kt_gr/config/core.json
Due: test-django

chore(ci): use postgres 15 in CI
  compose/ci.yml
Due: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django

feat(gr): configure the construciton-monitoring form
  django/kt_gr/config/caluma_form.json
Due: test-django

feat(gr): add the new placeholder decision documents
  django/camac/instance/placeholders/fields.py
  django/camac/instance/placeholders/serializers.py
  django/camac/instance/tests/snapshots/snap_test_placeholders.py
  django/camac/instance/tests/test_placeholders.py
  django/locale/de/LC_MESSAGES/django.mo
  django/locale/de/LC_MESSAGES/django.po
Due: test-django

fix(instance): fix decision property on instance when not using decision settings
  django/camac/instance/serializers.py
Due: test-django

fix(so): fix additional demand workflow config
  django/kt_so/additional-demand.graphql
  django/kt_so/config/caluma_additional_demand.json
Due: test-django

fix(so): show instance description in work item list
  ember-ebau-core/addon/caluma-query/models/work-item.js
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(so): change service group of SGV
  django/kt_so/data/user.json
Due: test-django

fix(so): remove additional demand for subservices
  django/kt_so/config/core.json
Due: test-django

fix(ember-ebau): fix z-indexes of navigation to handle modal and GIS map properly
  ember-caluma-portal/app/styles/_variables-so.scss
  ember-ebau/app/styles/_variables-so.scss
  ember-ebau/app/styles/components/main-navigation.scss
Due: lint-ember-caluma-portal, test-ember-caluma-portal

fix(so): disable setting GIS marker when map is disabled
  ember-ebau-core/addon/components/so-gis.js
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(ember-ebau): fix fingerprinting
  ember-ebau/ember-cli-build.js
Due: none

fix(gr): only import active services and groups
  django/camac/user/management/commands/import_services.py
Due: test-django

fix(so): add nginx location for code generated files
  proxy/kt_so.conf
Due: none

chore(ember-ebau): animate opacity of header as well
  ember-ebau/app/styles/components/header.scss
Due: none

chore(ci): use new CI runner
  compose/ci.yml
  django/Makefile
Due: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django

feat(gr): allow municipality to change document description
  django/camac/alexandria/extensions/permissions/classes.py
  django/camac/alexandria/extensions/permissions/kt_gr.py
  django/camac/alexandria/tests/test_permissions.py
  django/kt_gr/config/alexandria_core.json
Due: test-django

fix: flaky test
  django/kt_bern/data/caluma_form.json
Due: test-django

feat(gr):update params feature
  django/camac/gis/clients/admin.py
  django/camac/gis/clients/base.py
  django/camac/gis/clients/gr.py
  django/camac/gis/clients/param.py
  django/camac/gis/clients/sogis.py
  django/camac/gis/models.py
  django/camac/gis/tests/snapshots/snap_test_base.py
  django/camac/gis/tests/snapshots/snap_test_gr.py
  django/camac/gis/tests/snapshots/snap_test_kt_so.py
  django/camac/gis/tests/snapshots/snap_test_param.py
  django/camac/gis/tests/test_gr.py
  django/camac/gis/views.py
  django/kt_gr/config/gis.json
  ember-ebau-core/addon/components/gis-apply-button.hbs
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

chore(gr): remove gis "plans" duplicates
  django/camac/gis/clients/gr.py
  django/camac/gis/tests/snapshots/snap_test_gr.py
Due: test-django
