Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml

fix: add oereb public-instances API prefetching
  django/camac/instance/tests/test_instance_public.py
  django/camac/instance/views.py
Due: test-django

fix: remove dossier import endpoint from swagger docu
  django/camac/dossier_import/views.py
Due: test-django

refactor(dossier_import): clean up validation and import summary
  django/camac/dossier_import/config/kt_schwyz.py
  django/camac/dossier_import/loaders.py
  django/camac/dossier_import/management/commands/import_dossiers.py
  django/camac/dossier_import/management/commands/validate_dossiers.py
  django/camac/dossier_import/messages.py
  django/camac/dossier_import/serializers.py
  django/camac/dossier_import/tests/data/import-example-validation-errors.zip
  django/camac/dossier_import/tests/snapshots/snap_test_views.py
  django/camac/dossier_import/tests/test_dossier_import_case.py
  django/camac/dossier_import/tests/test_views.py
  django/camac/dossier_import/validation.py
Due: test-django

feat(dossier_import): add translations
  django/locale/de/LC_MESSAGES/django.po
  django/locale/en/LC_MESSAGES/django.po
  django/locale/fr/LC_MESSAGES/django.po
  django/locale/it/LC_MESSAGES/django.po
Due: test-django

fix: minor translation issue
  django/locale/de/LC_MESSAGES/django.po
Due: test-django

feat(sz): add legal representative to personal data
  django/kt_schwyz/form.json
Due: test-django

feat(sz): add legal representative to personal data
  django/kt_schwyz/form.json
  ember/app/instances/edit/personalien/vertreter-mit-vollmacht/route.js
  ember/app/instances/edit/personalien/vertreter-mit-vollmacht/template.hbs
  ember/app/router.js
Due: test-ember, test-django

feat(sz): update document section permissions
  django/kt_schwyz/config/document.json
Due: test-django

fix(sz): fix the "date-start-zirkulation" placeholder
  django/camac/notification/serializers.py
  django/camac/notification/tests/test_notification_template.py
Due: test-django

fix: don't show private states on oereb API
  django/camac/instance/mixins.py
  django/camac/instance/tests/test_instance_public.py
Due: test-django

feat(dossier-import): frontend views to upload, list and validate imports
  django/kt_schwyz/config/core.json
  ember-camac-ng/app/models/group.js
  ember-camac-ng/app/models/location.js
  ember-camac-ng/app/models/role.js
  ember-camac-ng/app/router.js
  ember-camac-ng/app/styles/app.scss
  ember-camac-ng/app/styles/modules/dossier-import/index.scss
  ember-camac-ng/app/ui/components/dossier-import-action/template.hbs
  ember-camac-ng/app/ui/components/dossier-import-detail-block/template.hbs
  ember-camac-ng/app/ui/components/dossier-import-icon-text/component.js
  ember-camac-ng/app/ui/components/dossier-import-icon-text/template.hbs
  ember-camac-ng/app/ui/dossier-import/detail/controller.js
  ember-camac-ng/app/ui/dossier-import/detail/route.js
  ember-camac-ng/app/ui/dossier-import/detail/template.hbs
  ember-camac-ng/app/ui/dossier-import/index/controller.js
  ember-camac-ng/app/ui/dossier-import/index/route.js
  ember-camac-ng/app/ui/dossier-import/index/template.hbs
  ember-camac-ng/app/ui/dossier-import/new/controller.js
  ember-camac-ng/app/ui/dossier-import/new/route.js
  ember-camac-ng/app/ui/dossier-import/new/template.hbs
  ember-camac-ng/app/ui/dossier-import/route.js
  ember-camac-ng/app/ui/dossier-import/template.hbs
  ember-camac-ng/app/utils/date-time.js
  ember-camac-ng/config/environment.js
  ember-camac-ng/mirage/config.js
  ember-camac-ng/mirage/factories/dossier-import.js
  ember-camac-ng/mirage/models/dossier-import.js
  ember-camac-ng/tests/acceptance/dossier-import-test.js
  ember-camac-ng/tests/integration/ui/components/dossier-import-action/component-test.js
  ember-camac-ng/tests/integration/ui/components/dossier-import-detail-block/component-test.js
  ember-camac-ng/tests/integration/ui/components/dossier-import-icon-text/component-test.js
  ember-camac-ng/tests/unit/ui/dossier-import/detail/controller-test.js
  ember-camac-ng/tests/unit/ui/dossier-import/detail/route-test.js
  ember-camac-ng/tests/unit/ui/dossier-import/index/controller-test.js
  ember-camac-ng/tests/unit/ui/dossier-import/index/route-test.js
  ember-camac-ng/tests/unit/ui/dossier-import/new/controller-test.js
  ember-camac-ng/tests/unit/ui/dossier-import/new/route-test.js
  ember-camac-ng/tests/unit/ui/dossier-import/route-test.js
  ember-camac-ng/translations/dossier-import/de.yaml
  ember-camac-ng/translations/dossier-import/fr.yaml
Due: lint-ember-camac-ng, test-ember-camac-ng, test-django

fix: add oereb client to keycloak config
  keycloak/kt_uri-test-config.json
Due: none
