Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

lint-yml:
  stage: lint
  image: node:lts
  before_script:
  - yarn global add prettier
  script:
  - prettier -c **/*.yml

lint-ember-camac-ng:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-camac-ng
  - yarn
  script:
  - yarn lint

lint-ember-caluma-portal:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-caluma-portal
  - yarn
  script:
  - yarn lint

lint-ember-ebau-core:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-ebau-core
  - yarn
  script:
  - yarn lint

lint-php:
  stage: lint
  image:
    name: node:lts
  script:
  - if git grep -I -e ä  -e ö  -e ü   -- './*' ':!.gitlab-ci.yml'; then exit 1; else echo "No composite umlaute found"; fi
  - yarn --cwd=php install
  - yarn --cwd=php lint
  - yarn --cwd=php prettier-check

test-ember:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember"
  - eval $COMPOSE build ember
  - eval $COMPOSE run --rm --no-deps ember yarn test

test-ember-camac-ng:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-camac-ng"
  - eval $COMPOSE build ember-camac-ng
  ...

test-ember-caluma-portal:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-caluma-portal"
  - eval $COMPOSE build ember-caluma-portal
  ...

test-ember-ebau-core:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-ebau-core"
  - eval $COMPOSE build ember-ebau-core
  ...

test-django:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet django db clamav unoconv"
  - eval $COMPOSE build --parallel django db clamav unoconv
  ...

php-security-checker:
  stage: test
  image:
    name: jakzal/phpqa:php7.3-alpine
  script: local-php-security-checker --path=./php/composer.lock

fix(be): make sure copies of modifications are a modification as well
  django/camac/instance/serializers.py
  django/camac/instance/tests/test_instance_caluma.py
Due: test-django

feat(ur): merge building permits and preliminary clarifications
  django/.coveragerc
  django/camac/constants/kt_uri.py
  django/camac/core/management/commands/migrate_forms_and_form_types.py
  django/camac/instance/filters.py
  django/camac/instance/mixins.py
  django/camac/instance/tests/test_instance.py
  django/camac/instance/tests/test_instance_public.py
  django/kt_uri/config/caluma_form.json
  django/kt_uri/config/core.json
  django/kt_uri/config/instance.json
  ember-camac-ng/app/config/case-table-ur.js
  ember-camac-ng/app/ui/cases/index/controller.js
  ember-camac-ng/app/ui/components/case-filter/checkbox/component.js
  ember-camac-ng/app/ui/components/case-filter/checkbox/template.hbs
  ember-camac-ng/app/ui/components/case-filter/filter-config.js
  ember-camac-ng/app/ui/components/case-table/component.js
  ember-camac-ng/translations/cases/de.yaml
  ember-camac-ng/translations/cases/fr.yaml
Due: lint-ember-camac-ng, test-ember-camac-ng, test-django

Revert "Merge branch 'fix-docker-image' into 'master'"
  django/Dockerfile
Due: test-django

fix(portal): fix resetting instance list filters to default
  ember-caluma-portal/app/decorators/tracked-filter.js
Due: lint-ember-caluma-portal, test-ember-caluma-portal

fix: minor corrections
  django/camac/constants/kt_uri.py
  django/kt_uri/config/caluma_form.json
Due: test-django

fix(be): fix applicant read permissions and refactor session
  ember-caluma-portal/app/abilities/instance.js
  ember-caluma-portal/app/application/route.js
  ember-caluma-portal/app/components/be-navbar/component.js
  ember-caluma-portal/app/components/be-navbar/template.hbs
  ember-caluma-portal/app/services/session.js
  ember-caluma-portal/tests/acceptance/navigation-test.js
  ember-caluma-portal/tests/unit/abilities/instance-test.js
  ember-caluma-portal/tests/unit/services/fetch-test.js
  ember-caluma-portal/tests/unit/services/session-test.js
Due: lint-ember-caluma-portal, test-ember-caluma-portal

chore(release): v2.9.0-rc.7
  VERSION.txt
  django/camac/camac_metadata.py
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
Due: lint-ember-camac-ng, lint-ember-caluma-portal, test-ember-camac-ng, test-ember-caluma-portal, test-django

fix(sz): remove db from kt. SZ prod build
  .gitlab-ci.yml
Due: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

code changes after the review
  django/camac/constants/kt_uri.py
  django/camac/core/management/commands/migrate_forms_and_form_types.py
  django/camac/instance/filters.py
  django/camac/instance/tests/test_instance_public.py
  django/kt_uri/config/caluma_form.json
  django/kt_uri/config/core.json
  django/kt_uri/config/instance.json
  django/kt_uri/data/caluma_form.json
  django/kt_uri/data/instance.json
Due: test-django

feat(be): add new question to the bab form
  django/kt_bern/config/caluma_audit_form.json
  ember-camac-ng/app/gql/mutations/save-answer.graphql
  ember-camac-ng/app/gql/queries/get-document-answer.graphql
  ember-camac-ng/app/ui/components/audit-table/component.js
Due: lint-ember-camac-ng, test-ember-camac-ng, test-django

chore(deps): update ember dependencies
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
  ember-ebau-core/package.json
  ember-ebau/package.json
  yarn.lock
Due: lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core

feat(be): copy the mandatory documents and attachments for modifications
  django/camac/instance/domain_logic.py
  django/camac/instance/tests/test_instance_caluma.py
Due: test-django

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml
