Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

lint-yml:
  stage: lint
  image: node:lts
  before_script:
  - yarn global add prettier
  script:
  - prettier -c **/*.yml

lint-ember-camac-ng:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-camac-ng
  - yarn
  script:
  - yarn lint

lint-ember-caluma-portal:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-caluma-portal
  - yarn
  script:
  - yarn lint

lint-ember-ebau-core:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-ebau-core
  - yarn
  script:
  - yarn lint

lint-php:
  stage: lint
  image:
    name: node:lts
  script:
  - if git grep -I -e ä  -e ö  -e ü   -- './*' ':!.gitlab-ci.yml'; then exit 1; else echo "No composite umlaute found"; fi
  - yarn --cwd=php install
  - yarn --cwd=php lint
  - yarn --cwd=php prettier-check

test-ember:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember"
  - eval $COMPOSE build ember
  - eval $COMPOSE run --rm --no-deps ember yarn test

test-ember-camac-ng:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-camac-ng"
  - eval $COMPOSE build ember-camac-ng
  ...

test-ember-caluma-portal:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-caluma-portal"
  - eval $COMPOSE build ember-caluma-portal
  ...

test-ember-ebau-core:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-ebau-core"
  - eval $COMPOSE build ember-ebau-core
  ...

test-django:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet django db clamav unoconv"
  - eval $COMPOSE build --parallel django db clamav unoconv
  ...

php-security-checker:
  stage: test
  image:
    name: jakzal/phpqa:php7.3-alpine
  script: local-php-security-checker --path=./php/composer.lock

chore(swagger): opt-in of swagger docs
  django/camac/alexandria/urls.py
  django/camac/alexandria/views.py
  django/camac/applicants/views.py
  django/camac/billing/views.py
  django/camac/circulation/views.py
  django/camac/communications/views.py
  django/camac/conftest.py
  django/camac/core/views.py
  django/camac/document/urls.py
  django/camac/document/views.py
  django/camac/dossier_import/views.py
  django/camac/ech0211/views/common.py
  django/camac/ech0211/views/kt_bern.py
  django/camac/ech0211/views/kt_schwyz.py
  django/camac/gis/views.py
  django/camac/gisbern/views.py
  django/camac/instance/export/views.py
  django/camac/instance/placeholders/views.py
  django/camac/instance/urls.py
  django/camac/instance/views.py
  django/camac/notification/views.py
  django/camac/objection/views.py
  django/camac/permissions/views.py
  django/camac/responsible/views.py
  django/camac/settings/django.py
  django/camac/stats/views.py
  django/camac/swagger/generators.py
  django/camac/swagger/tests/__snapshots__/test_swagger.ambr
  django/camac/swagger/tests/test_swagger.py
  django/camac/tags/views.py
  django/camac/urls.py
  django/camac/user/views.py
Due: test-django

feat(so): integrate appeal module
  django/camac/caluma/extensions/dynamic_tasks.py
  django/camac/caluma/tests/test_dynamic_tasks.py
  django/camac/conftest.py
  django/camac/core/filters.py
  django/camac/core/management/commands/acls/kt_so.json
  django/camac/core/tests/test_filters.py
  django/camac/instance/domain_logic/decision.py
  django/camac/instance/serializers.py
  django/camac/instance/tests/test_instance_appeal.py
  django/camac/instance/views.py
  django/camac/settings/modules/appeal.py
  django/camac/settings/modules/decision.py
  django/camac/settings/modules/dump.py
  django/camac/settings/testing.py
  django/kt_so/config/caluma_appeal_form.json
  django/kt_so/config/caluma_workflow.json
  django/kt_so/config/core.json
  django/kt_so/config/email_notifications.json
  ember-camac-ng/app/services/ebau-modules.js
  ember-ebau-core/addon/components/decision/appeal-button.js
  ember-ebau-core/addon/components/decision/info-appeal.js
  ember-ebau-core/addon/components/decision/submit-button.js
  ember-ebau-core/addon/config/main-be.js
  ember-ebau-core/addon/config/main-so.js
  ember-ebau-core/tests/helpers/scenarios.js
  ember-ebau-core/tests/integration/components/decision/appeal-button-test.js
  ember-ebau-core/tests/integration/components/decision/info-appeal-test.js
  ember-ebau-core/translations/decision/de.yaml
  ember-ebau/app/application/route.js
  ember-ebau/app/caluma/lib/custom-field.js
  ember-ebau/app/components/subnav-header.hbs
  ember-ebau/app/gql/queries/work-item-case-information.graphql
  ember-ebau/app/services/ebau-modules.js
  ember-ebau/translations/de.yaml
Due: lint-ember-camac-ng, lint-ember-ebau-core, test-ember-camac-ng, test-ember-ebau-core, test-django

feat(addtiional-demand): add info texts
  django/kt_gr/config/caluma_additional_demand.json
  ember-ebau-core/addon/components/additional-demand/detail.hbs
  ember-ebau-core/translations/additional-demand/de.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

fix(sz): fix styling for portal
  ember-camac-ng/app/styles/_variables-sz.scss
  ember-ebau-core/app/styles/_construction-monitoring.scss
Due: lint-ember-camac-ng, lint-ember-ebau-core, test-ember-camac-ng, test-ember-ebau-core

docs(readme): add login credentials for Kt. SO
  README.md
Due: none

chore: reformat some files
  django/camac/alexandria/tests/test_permissions.py
  django/camac/caluma/extensions/dynamic_tasks.py
  django/camac/caluma/extensions/events/construction_monitoring.py
  django/camac/caluma/extensions/permissions.py
  django/camac/caluma/extensions/visibilities.py
  django/camac/caluma/tests/test_construction_monitoring.py
  django/camac/notification/tests/test_construction_monitoring_recipients.py
  django/camac/settings/modules/dump.py
Due: test-django

feat(so): integrate eCH-0216 GWR module
  compose/kt_so-dev.yml
  django/camac/core/management/commands/acls/kt_so.json
  django/camac/settings/modules/master_data.py
  django/kt_so/config/core.json
  ember-camac-ng/package.json
  ember-ebau-core/addon/config/main-so.js
  ember-ebau/package.json
  pnpm-lock.yaml
  proxy/kt_so.conf
Due: lint-yml, lint-ember-camac-ng, lint-ember-ebau-core, test-ember-camac-ng, test-ember-ebau-core, test-django

feat(so): adabt gwr relevant master data
  django/camac/instance/tests/__snapshots__/test_gwr.ambr
  django/camac/instance/tests/test_gwr.py
  django/camac/instance/tests/test_master_data.py
Due: test-django

feat(so): update gwr relevant master data
  django/camac/conftest.py
  django/camac/instance/gwr_lookups.py
  django/camac/instance/tests/__snapshots__/test_gwr.ambr
  django/camac/instance/tests/test_gwr.py
  django/camac/instance/tests/test_master_data.py
  django/camac/settings/modules/master_data.py
Due: test-django

test(gwr): parametrise canton specific fixtures
  django/camac/instance/gwr_lookups.py
  django/camac/instance/tests/__snapshots__/test_gwr.ambr
  django/camac/instance/tests/test_gwr.py
Due: test-django

feat(so): add lookups for gwr import
  django/camac/conftest.py
  django/camac/instance/gwr_lookups.py
  django/camac/instance/tests/__snapshots__/test_gwr.ambr
  django/camac/instance/tests/test_gwr.py
  django/camac/settings/modules/master_data.py
Due: test-django

chore(dev-env): make it ruffer!
  .pre-commit-config.yaml
  django/Makefile
Due: test-django

feat(so): add slug mappings and test master data
  django/camac/conftest.py
  django/camac/instance/gwr_lookups.py
  django/camac/instance/tests/__snapshots__/test_gwr.ambr
  django/camac/instance/tests/test_master_data.py
  django/camac/settings/modules/master_data.py
Due: test-django

refactor(Filter-Select): to use the `@setFilter` action
  ember-camac-ng/app/work-items/index/template.hbs
  ember-ebau-core/addon/components/filters/select.hbs
  ember-ebau-core/addon/components/work-item-list-wrapper.js
  ember-ebau-core/app/styles/components/filters/select.scss
  ember-ebau-core/app/styles/ember-ebau-core.scss
Due: lint-ember-camac-ng, lint-ember-ebau-core, test-ember-camac-ng, test-ember-ebau-core

feat(sz): new filters for `workItemList`
  ember-camac-ng/app/work-items/index/controller.js
  ember-camac-ng/app/work-items/index/template.hbs
  ember-ebau-core/addon/components/filters.hbs
  ember-ebau-core/addon/components/filters/select.hbs
  ember-ebau-core/addon/components/work-item-list-wrapper.hbs
  ember-ebau-core/addon/components/work-item-list-wrapper.js
  ember-ebau-core/addon/config/work-item-list-sz.js
  ember-ebau-core/translations/work-items/de-sz.yaml
Due: lint-ember-camac-ng, lint-ember-ebau-core, test-ember-camac-ng, test-ember-ebau-core

feat(communication): add clamav scanning
  django/camac/communications/serializers.py
  django/camac/conftest.py
  django/camac/document/conftest.py
Due: test-django

refactor(work-item): move tracked properties and actions to the controller
  ember-camac-ng/app/work-items/index/controller.js
  ember-camac-ng/app/work-items/index/template.hbs
  ember-ebau-core/addon/components/work-item-list-wrapper.hbs
  ember-ebau-core/addon/components/work-item-list-wrapper.js
Due: lint-ember-camac-ng, lint-ember-ebau-core, test-ember-camac-ng, test-ember-ebau-core

chore(gr): improve additional-demand info text
  django/kt_gr/config/caluma_additional_demand.json
Due: test-django

refactor: change import of django_clamd
  django/camac/communications/serializers.py
  django/camac/conftest.py
  django/camac/document/serializers.py
Due: test-django

chore(so): cleanup master data and gwr lookups
  django/camac/instance/gwr_lookups.py
  django/camac/instance/tests/__snapshots__/test_gwr.ambr
  django/camac/instance/tests/__snapshots__/test_master_data.ambr
  django/camac/instance/tests/test_master_data.py
  django/camac/settings/modules/master_data.py
Due: test-django

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml
