Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

lint-yml:
  stage: lint
  image: node:lts
  before_script:
  - yarn global add prettier
  script:
  - prettier -c **/*.yml

lint-ember-camac-ng:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-camac-ng
  - yarn
  script:
  - yarn lint

lint-ember-caluma-portal:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-caluma-portal
  - yarn
  script:
  - yarn lint

lint-ember-ebau-core:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-ebau-core
  - yarn
  script:
  - yarn lint

lint-php:
  stage: lint
  image:
    name: node:lts
  script:
  - if git grep -I -e ä  -e ö  -e ü   -- './*' ':!.gitlab-ci.yml'; then exit 1; else echo "No composite umlaute found"; fi
  - yarn --cwd=php install
  - yarn --cwd=php lint
  - yarn --cwd=php prettier-check

test-ember:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember"
  - eval $COMPOSE build ember
  - eval $COMPOSE run --rm --no-deps ember yarn test

test-ember-camac-ng:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-camac-ng"
  - eval $COMPOSE build ember-camac-ng
  ...

test-ember-caluma-portal:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-caluma-portal"
  - eval $COMPOSE build ember-caluma-portal
  ...

test-ember-ebau-core:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-ebau-core"
  - eval $COMPOSE build ember-ebau-core
  ...

test-django:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet django db clamav unoconv"
  - eval $COMPOSE build --parallel django db clamav unoconv
  ...

php-security-checker:
  stage: test
  image:
    name: jakzal/phpqa:php7.3-alpine
  script: local-php-security-checker --path=./php/composer.lock

fix(communication): fix collapsing of latest message if new message is sent
  ember-ebau-core/addon/components/communication/message.js
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(communications): fix frontend permissions
  ember-ebau-core/addon/abilities/message.js
  ember-ebau-core/addon/abilities/topic.js
  ember-ebau-core/addon/components/communication/file-list/file.hbs
  ember-ebau-core/addon/components/communication/message-input.hbs
  ember-ebau-core/addon/components/communication/new-topic.hbs
  ember-ebau-core/addon/components/communication/new-topic.js
  ember-ebau-core/addon/components/communication/topic-base.js
  ember-ebau-core/addon/components/communication/topic-list.hbs
  ember-ebau-core/addon/components/communication/topic-list.js
  ember-ebau-core/addon/components/communication/topic.hbs
  ember-ebau-core/addon/components/communication/topic.js
  ember-ebau-core/app/abilities/message.js
  ember-ebau-core/app/abilities/topic.js
  ember-ebau-core/app/components/communication/topic-base.js
  ember-ebau-core/tests/integration/components/communication/topic-list-test.js
  ember-ebau-core/tests/unit/abilities/message-test.js
  ember-ebau-core/tests/unit/abilities/topic-test.js
Due: lint-ember-ebau-core, test-ember-ebau-core

feat(communications): only display attachment sections with upload permissions
  ember-caluma-portal/config/environment.js
  ember-camac-ng/app/serializers/application.js
  ember-camac-ng/config/environment.js
  ember-ebau-core/addon/components/communication/attachment-section-dropdown.hbs
  ember-ebau-core/addon/components/communication/attachment-section-dropdown.js
  ember-ebau-core/addon/components/communication/file-list/file.hbs
  ember-ebau-core/addon/components/communication/file-list/file.js
  ember-ebau-core/addon/components/link-attachments.hbs
  ember-ebau-core/addon/components/link-attachments.js
  ember-ebau-core/addon/gql/queries/has-running-inquiries.graphql
  ember-ebau-core/addon/models/attachment-section.js
Due: lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core

fix(communications): fix filename of converted attachments
  django/camac/communications/serializers.py
Due: test-django

chore(communications): add provisional french translations
  django/kt_bern/config/core.json
  ember-ebau-core/translations/communications/de.yaml
  ember-ebau-core/translations/communications/fr.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

chore(release): v3.3.0-rc.1
  VERSION.txt
  django/camac/camac_metadata.py
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
Due: lint-ember-camac-ng, lint-ember-caluma-portal, test-ember-camac-ng, test-ember-caluma-portal, test-django

fix(service-permissions): make sure user exists before migrating
  django/camac/user/management/commands/migrate_user_group.py
Due: test-django

feat(service-permission): paginate user groups and subservice lists
  ember-ebau-core/addon/controllers/service-permissions/permissions/index.js
  ember-ebau-core/addon/controllers/service-permissions/sub-services/index.js
  ember-ebau-core/addon/templates/service-permissions/permissions/index.hbs
  ember-ebau-core/addon/templates/service-permissions/sub-services/index.hbs
Due: lint-ember-ebau-core, test-ember-ebau-core

chore(release): v3.3.0-rc.2
  VERSION.txt
  django/camac/camac_metadata.py
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
Due: lint-ember-camac-ng, lint-ember-caluma-portal, test-ember-camac-ng, test-ember-caluma-portal, test-django

fix(gr): form changes from workshop
  django/kt_gr/config/caluma_form.json
  django/kt_gr/config/caluma_form_common.json
Due: test-django

fix(sz): improve keyword search input value splitting
  django/camac/instance/filters.py
  ember-camac-ng/app/components/case-filter.js
Due: lint-ember-camac-ng, test-ember-camac-ng, test-django

fix(case-list): encode special characters in camac filters
  ember-camac-ng/app/components/case-table.js
Due: lint-ember-camac-ng, test-ember-camac-ng

fix(ember-ebau): redirect to first resource initially
  ember-ebau/app/components/main-navigation.js
Due: none

fix(service-permissions): fix loading state of tables when searching
  ember-ebau-core/addon/resources/paginated.js
  ember-ebau-core/addon/templates/service-permissions/permissions/index.hbs
  ember-ebau-core/addon/templates/service-permissions/sub-services/index.hbs
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(communications): add missing translations
  ember-ebau-core/translations/communications/de.yaml
  ember-ebau-core/translations/communications/fr.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(gr): show the resource "meine Organisation" to admin roles
  django/kt_gr/config/core.json
Due: test-django

fix(communications): improve message toggling mechanism
  ember-ebau-core/addon/components/communication/message.hbs
  ember-ebau-core/addon/components/communication/message.js
Due: lint-ember-ebau-core, test-ember-ebau-core

feat(communications): allow sending a message with enter + ctrl keypress
  ember-ebau-core/addon/components/communication/message-input.hbs
  ember-ebau-core/addon/components/communication/message-input.js
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(gr): changes in the solar form
  django/kt_gr/config/caluma_form.json
Due: test-django

fix(gr): fix the jexl in the 'sicherheitsdatenblatt' question
  django/kt_gr/config/caluma_form.json
Due: test-django

fix(gr): fix the "return to eBau" link in django admin
  django/camac/core/templatetags/__init__.py
  django/camac/core/templatetags/settings_value.py
  django/camac/core/tests/test_custom_template_tags.py
  django/camac/settings.py
  django/camac/templates/admin/base.html
  django/locale/de/LC_MESSAGES/django.mo
  django/locale/de/LC_MESSAGES/django.po
Due: test-django

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml
