Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml

chore(be): enable gwr module per default
  django/kt_bern/config/core.json
Due: test-django

chore(be): update rsta templates
  document-merge-service/kt_bern/rsta_templates/rsta_einfordern_schlussbemerkungen.docx
  document-merge-service/kt_bern/rsta_templates/rsta_einigungsverhandlung.docx
  document-merge-service/kt_bern/rsta_templates/rsta_einspracheversand.docx
  document-merge-service/kt_bern/rsta_templates/rsta_rueckzug_baugesuch.docx
  document-merge-service/kt_bern/rsta_templates/rsta_sistierungsverfuegung.docx
  document-merge-service/kt_bern/rsta_templates/rsta_verfahrensleitende_verfuegung.docx
Due: none

feat(be): new placeholders for notification emails
  django/camac/conftest.py
  django/camac/notification/serializers.py
  django/camac/notification/tests/test_notification_template.py
  django/kt_bern/config/email_notifications.json
Due: test-django

fix(ember-camac-ng): prevent undefined translation for addressedService
  ember-camac-ng/app/caluma-query/models/work-item.js
Due: lint-ember-camac-ng, test-ember-camac-ng

feat(be): remove mandatory documents
  django/kt_bern/config/caluma_form_v2.json
Due: test-django

feat(be): show same modules in instance state archived as in finished
  django/kt_bern/config/core.json
Due: test-django

feat(be): add button for validating the audit forms
  django/kt_bern/config/caluma_audit_form.json
  ember-caluma-portal/app/application/route.js
  ember-caluma-portal/app/components/be-submit-instance/component.js
  ember-caluma-portal/app/components/be-submit-instance/template.hbs
  ember-caluma-portal/translations/de.yaml
  ember-caluma-portal/translations/fr.yaml
  ember-camac-ng/app/ui/application/route.js
  ember-ebau-core/addon/components/document-validity-button.hbs
  ember-ebau-core/addon/components/document-validity-button.js
  ember-ebau-core/app/components/document-validity-button.js
  ember-ebau-core/tests/integration/components/document-validity-button-test.js
  ember-ebau-core/translations/document-validity-button/de.yaml
  ember-ebau-core/translations/document-validity-button/fr.yaml
Due: lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django

chore(deps): update caluma
  django/requirements.txt
Due: test-django

feat(be): hide the awa confirmation for commercial permits
  django/kt_bern/config/caluma_form.json
Due: test-django

feat(be): send email to services if sb1 or sb2 was closed manually
  django/kt_bern/config/core.json
Due: test-django
