Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

lint-yml:
  stage: lint
  image: node:lts
  before_script:
  - yarn global add prettier
  script:
  - prettier -c **/*.yml

lint-ember-camac-ng:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-camac-ng
  - yarn
  script:
  - yarn lint

lint-ember-caluma-portal:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-caluma-portal
  - yarn
  script:
  - yarn lint

lint-ember-ebau-core:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-ebau-core
  - yarn
  script:
  - yarn lint

lint-php:
  stage: lint
  image:
    name: node:lts
  script:
  - if git grep -I -e ä  -e ö  -e ü   -- './*' ':!.gitlab-ci.yml'; then exit 1; else echo "No composite umlaute found"; fi
  - yarn --cwd=php install
  - yarn --cwd=php lint
  - yarn --cwd=php prettier-check

test-ember:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember"
  - eval $COMPOSE build ember
  - eval $COMPOSE run --rm --no-deps ember yarn test

test-ember-camac-ng:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-camac-ng"
  - eval $COMPOSE build ember-camac-ng
  ...

test-ember-caluma-portal:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-caluma-portal"
  - eval $COMPOSE build ember-caluma-portal
  ...

test-ember-ebau-core:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-ebau-core"
  - eval $COMPOSE build ember-ebau-core
  ...

test-django:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet django db clamav unoconv"
  - eval $COMPOSE build --parallel django db clamav unoconv
  ...

php-security-checker:
  stage: test
  image:
    name: jakzal/phpqa:php7.3-alpine
  script: local-php-security-checker --path=./php/composer.lock

fix(be): copy confirmation answer for appeal dossiers
  django/camac/instance/domain_logic/create.py
  django/camac/instance/serializers.py
  django/camac/instance/tests/test_instance_caluma.py
  django/camac/instance/utils.py
Due: test-django

fix(sz): move banking info for Abbruchprämie to own category/module
  django/kt_schwyz/form.json
Due: test-django

fix(gr): duplicate dossiers migration command manual picking
  django/camac/core/management/commands/fix_duplicate_identifiers.py
  django/camac/core/tests/test_fix_duplicate_identifiers.py
Due: test-django

chore(sg): add applicant question for QA responsible table question
  django/kt_sg/config/caluma_form.json
Due: test-django

chore(sg): move question to different subform
  django/kt_sg/config/caluma_form.json
Due: test-django

chore(sg): render various number questions with thousand separators
  django/kt_sg/config/caluma_form.json
Due: test-django

feat(sg): change navigation title to eBauSG
  ember-caluma-portal/translations/de-sg.yaml
  ember-ebau/translations/de-sg.yaml
Due: lint-ember-caluma-portal, test-ember-caluma-portal

fix(rpg2): check found rpg2 service for migration
  django/camac/instance/management/commands/create_rpg2_workitems.py
Due: test-django

chore(sg): add new question "Schacht VKF-Nummer"
  django/kt_sg/config/caluma_form.json
Due: test-django

fix(layout): improve spacing in DMS and snippet admin
  ember-ebau-core/addon/components/dms/list.hbs
  ember-ebau-core/addon/components/dms/template-table.hbs
  ember-ebau-core/addon/components/snippets-table/category.hbs
  ember-ebau-core/app/styles/ember-ebau-core.scss
  ember-ebau-core/tests/acceptance/snippets-admin-test.js
  ember-ebau-core/tests/integration/components/snippets-table/category-test.js
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(gr): eeba remove trailing slash from integrations endpoint
  django/camac/eeba_integration/client.py
  django/camac/eeba_integration/tests/test_eeba_client.py
Due: test-django

chore(sg): make applicant question optional for landowner
  django/kt_sg/config/caluma_form.json
Due: test-django

chore(sg): remove obsolete questions
  django/kt_sg/config/caluma_form.json
Due: test-django

fix(translations): move documents tags translations into ember-ebau-core
  ember-caluma-portal/translations/de-gr.yaml
  ember-caluma-portal/translations/de-ur.yaml
  ember-caluma-portal/translations/de.yaml
  ember-caluma-portal/translations/fr.yaml
  ember-caluma-portal/translations/it-gr.yaml
  ember-caluma-portal/translations/it.yaml
  ember-ebau-core/translations/de-gr.yaml
  ember-ebau-core/translations/de-ur.yaml
  ember-ebau-core/translations/de.yaml
  ember-ebau-core/translations/fr.yaml
  ember-ebau-core/translations/it-gr.yaml
  ember-ebau-core/translations/it.yaml
Due: lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-caluma-portal, test-ember-ebau-core

chore(sg): set ALEXANDRIA_MIN_PDF_VERSION for dev-setup
  compose/kt_sg-dev.yml
Due: lint-yml

fix(gr): change infotext migrated docs
  django/kt_gr/config/alexandria_core.json
Due: test-django

chore(elixir): bump dependencies
  elixir-ebau/mix.lock
Due: none

fix(deps): update ember-caluma to fix missing asterisk in distribution
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
  ember-ebau-core/package.json
  ember-ebau/package.json
  pnpm-lock.yaml
Due: lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core

fix(ag): extend rpg2 migration script with accessible flag
  django/camac/instance/management/commands/create_rpg2_workitems.py
Due: test-django

feat(elixir): add allow fail hex audit elixir stage
  elixir-ebau/lib/mix/tasks/ebau.bootstrap_legacy_schema.ex
Due: none

feat(elixir): add dependency release-age cooldown
  elixir-ebau/mix.exs
Due: none

fix(sg): fix title in internal section
  ember-ebau/translations/de-sg.yaml
Due: none

fix(gr): adding it translation for in korrektur
  django/kt_gr/config/instance.json
Due: test-django

fix(be/rpg2): update form changes according to feedback
  django/kt_bern/config/caluma_form_v7.json
  ember-ebau-core/translations/de.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

fix(gr): it wording status entscheid austehend
  django/kt_gr/config/instance.json
Due: test-django

fix(elixir): add handling for non int plot data
  elixir-ebau/lib/ebau/instances/calculations/gis_link_for_instance.ex
  elixir-ebau/lib/ebau/user.ex
  elixir-ebau/lib/ebau/user/user.ex
  elixir-ebau/lib/ebau/user/user_identity.ex
  elixir-ebau/mix.lock
  elixir-ebau/priv/repo/migrations/20260701113337_add_user_identity.exs
  elixir-ebau/priv/resource_snapshots/repo/user_identities/20260701113338.json
Due: none

refactor(dossier-import): consolidate duplicated writer methods
  django/camac/dossier_import/config/kt_ag.py
  django/camac/dossier_import/config/kt_gr.py
  django/camac/dossier_import/config/kt_so.py
  django/camac/dossier_import/writers.py
Due: test-django

ci(elixir): add build pipline for container
  compose/ci.yml
  compose/kt_gr-dev.yml
  compose/kt_gr.yml
  compose/kt_so-dev.yml
  compose/kt_so.yml
  elixir-ebau/.dockerignore
  elixir-ebau/Dockerfile
  elixir-ebau/Makefile
  elixir-ebau/config/config.exs
  elixir-ebau/config/runtime.exs
  elixir-ebau/entrypoint.dev.sh
  elixir-ebau/entrypoint.sh
  elixir-ebau/lib/ebau/release.ex
  elixir-ebau/lib/mix/tasks/ebau.ensure_legacy_schema.ex
  elixir-ebau/mix.exs
  elixir-ebau/rel/overlays/bin/migrate
  elixir-ebau/rel/overlays/bin/migrate.bat
  elixir-ebau/rel/overlays/bin/server
  elixir-ebau/rel/overlays/bin/server.bat
Due: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django

fix(elixir): read canton as compiled env
  elixir-ebau/entrypoint.dev.sh
  elixir-ebau/lib/ebau/caluma/canton_resolver.ex
  elixir-ebau/lib/ebau_web/initialise_scope.ex
Due: none

fix(gr): add missing ech judgement decision mappings
  django/camac/settings/modules/decision.py
Due: test-django

chore(lint): add "INT" to ruff rules
  django/camac/communications/serializers.py
  django/camac/instance/serializers.py
  django/camac/instance/tests/test_change_responsible_service.py
  django/camac/instance/tests/test_instance_caluma.py
  django/camac/instance/utils.py
  django/camac/user/serializers.py
  django/pyproject.toml
Due: test-django

chore(lint): add "FLY" to ruff rules
  django/camac/admin.py
  django/camac/communications/tests/test_permissions.py
  django/camac/core/dataimport.py
  django/camac/core/management/commands/deletelogs.py
  django/camac/core/management/commands/deleterevisions.py
  django/camac/core/management/commands/importmunis.py
  django/camac/core/management/commands/translate_caluma.py
  django/camac/document/management/commands/test_legacy_templates.py
  django/camac/document/models.py
  django/camac/document/tests/test_attachment.py
  django/camac/document/tests/test_template.py
  django/camac/document/views.py
  django/camac/dossier_import/config/kt_ag_sap_migration/dossier_import/dossier_writer.py
  django/camac/dossier_import/models.py
  django/camac/dossier_import/writers.py
  django/camac/ech0211/parsers.py
  django/camac/eeba_integration/exceptions.py
  django/camac/gis_export/management/commands/agis_export.py
  django/camac/instance/management/commands/migrate_activations.py
  django/camac/instance/tests/test_validators.py
  django/camac/instance/validators.py
  django/camac/instance/views.py
  django/camac/notification/serializers.py
  django/camac/notification/tests/test_notification_template.py
  django/camac/user/authentication.py
  django/camac/user/models.py
  django/camac/user/permissions.py
  django/camac/user/serializers.py
  django/form_json_helper.py
  django/pyproject.toml
  django/tools/diffdumps.py
Due: test-django

fix(sz/wilken): remove and sanitize special characters for wilken
  django/camac/billing/tests/test_wilken_export.py
  django/camac/billing/utils.py
  django/camac/settings/modules/billing.py
  django/camac/settings/modules/billing_schema.py
Due: test-django

chore(sz/wilken): update test file to use pytest.mark.django_db
  django/camac/billing/tests/test_wilken_export.py
Due: test-django

chore(sz/wilken): add sanitization logs for wilken exports
  django/camac/billing/utils.py
Due: test-django

refactor(elixir): rename behaviour as its also used to resolve mappings
  elixir-ebau/README.md
  elixir-ebau/guides/ash-policies.md
  elixir-ebau/lib/caluma/form/calculations/mapped_document_answer.ex
  elixir-ebau/lib/caluma/form/calculations/mapped_list_document_answer.ex
  elixir-ebau/lib/caluma/form/changes/create_row_document.ex
  elixir-ebau/lib/caluma/form/extensions/document.ex
  elixir-ebau/lib/caluma/form/question_id_resolver.ex
  elixir-ebau/lib/caluma/form/resolver.ex
  elixir-ebau/lib/caluma/workflow/calculations/case_meta.ex
  elixir-ebau/lib/caluma/workflow/extensions/case.ex
  elixir-ebau/lib/ebau/actor.ex
  elixir-ebau/lib/ebau/caluma/canton_resolver.ex
  elixir-ebau/lib/ebau/master_data.ex
  elixir-ebau/lib/ebau/master_data/plot_data_row.ex
  elixir-ebau/lib/ebau_web/controllers/auth_controller.ex
  elixir-ebau/lib/ebau_web/controllers/page_html.ex
  elixir-ebau/lib/ebau_web/initialise_scope.ex
  elixir-ebau/test/caluma/form/calculations/document_answer_test.exs
Due: none

chore(lint): add "TC" to ruff rules
  django/camac/applicants/models.py
  django/camac/applicants/utils.py
  django/camac/billing/serializers.py
  django/camac/billing/tests/test_billing.py
  django/camac/billing/tests/test_wilken_export.py
  django/camac/billing/views.py
  django/camac/billing/wilken/domain_logic.py
  django/camac/caluma/extensions/validations.py
  django/camac/core/utils.py
  django/camac/dossier_import/config/kt_ag_sap_migration/kt_ag_migrator.py
  django/camac/dossier_import/domain_logic.py
  django/camac/dossier_import/management/commands/mark_work_items_for_imported_dossiers.py
  django/camac/dossier_import/tests/test_kt_ag_loader.py
  django/camac/instance/export/views.py
  django/camac/permissions/api.py
  django/camac/permissions/conditions.py
  django/camac/rulesets/models.py
  django/camac/rulesets/signals.py
  django/camac/rulesets/utils.py
  django/camac/rulesets/views.py
  django/camac/settings/modules/permissions/alexandria/conditions.py
  django/camac/tests/form_utils.py
  django/camac/work_items/models.py
  django/pyproject.toml
Due: test-django

chore(ag): add rpg2 workitem for anfrage intern
  django/camac/caluma/extensions/events/distribution_ag_afb_specific.py
  django/camac/caluma/extensions/events/rpg2.py
  django/camac/caluma/tests/test_rpg2_events.py
  django/camac/permissions/tests/test_rpg2_permissions.py
  django/camac/settings/modules/permissions/kt_ag.py
Due: test-django

chore(lint): add "PIE" to ruff rules
  django/camac/caluma/api.py
  django/camac/caluma/ast_utils.py
  django/camac/caluma/tests/test_visibilities.py
  django/camac/communications/factories.py
  django/camac/core/management/commands/migrate_oereb_attachment_context_key_ur.py
  django/camac/core/management/commands/snapdb.py
  django/camac/core/management/commands/translate_camac_it.py
  django/camac/core/management/commands/translate_services_it_gr.py
  django/camac/document/factories.py
  django/camac/document/management/commands/copy_document_categories_to_alexandria.py
  django/camac/document/permissions.py
  django/camac/document/views.py
  django/camac/ech0211/send_handlers.py
  django/camac/eeba_integration/exceptions.py
  django/camac/gis/factories.py
  django/camac/instance/filters.py
  django/camac/instance/management/commands/additional_demands_analyze_be.py
  django/camac/instance/management/commands/create_rsta_migrated_instance.py
  django/camac/instance/management/commands/migrate_additional_demands_be.py
  django/camac/instance/milestones/serializers.py
  django/camac/instance/serializers.py
  django/camac/instance/tests/test_unsubscribe_responsible_service.py
  django/camac/parashift/parashift.py
  django/camac/permissions/management/commands/migrate_permissions.py
  django/camac/rulesets/tests/test_responsible_user_rule.py
  django/camac/statistics/views.py
  django/camac/work_items/factories.py
  django/pyproject.toml
  django/tools/diffdumps.py
Due: test-django

fix(lint): remove duplicate class property definitions
  django/camac/core/models.py
  django/camac/ech0211/views.py
  django/camac/notification/serializers.py
Due: test-django

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml
