Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml

fix(ur): edit the text of the email notification "Bau- und Einsprache-Entscheid"
  django/kt_uri/config/core.json
Due: test-django

feat(ur): improve the public instances list
  django/camac/instance/mixins.py
  django/camac/instance/serializers.py
  django/camac/instance/views.py
  ember-caluma-portal/app/instances/index/template.hbs
  ember-caluma-portal/app/models/public-caluma-instance.js
  ember-caluma-portal/app/public-instances/index/controller.js
  ember-caluma-portal/app/public-instances/index/template.hbs
  ember-caluma-portal/config/environment.js
  ember-caluma-portal/translations/de.yaml
  ember-caluma-portal/translations/fr.yaml
Due: lint-ember-caluma-portal, test-ember-caluma-portal, test-django

fix(be): fix link in statistics navigation
  ember-camac-ng/app/ui/statistics/template.hbs
Due: lint-ember-camac-ng, test-ember-camac-ng

fix(sz): add correct location for new form versions
  ember/config/environment.js
Due: test-ember

fix(sz): add document module `subm` permission for municipality
  django/kt_schwyz/config/core.json
Due: test-django

feat(sz): allow business control instances to be completed
  django/camac/caluma/extensions/events/general.py
  django/camac/caluma/tests/test_dynamic_groups.py
  django/camac/instance/serializers.py
  django/kt_schwyz/config/caluma_form.json
  django/kt_schwyz/config/caluma_workflow.json
  ember-camac-ng/app/ui/form/template.hbs
Due: lint-ember-camac-ng, test-ember-camac-ng, test-django

fix(be,ur): provide instance id in context when starting a case
  django/camac/instance/domain_logic.py
Due: test-django

fix(be): fix publication permissions
  ember-caluma-portal/package.json
  ember-camac-ng/app/abilities/publication.js
  ember-camac-ng/app/gql/queries/get-publication.graphql
  ember-camac-ng/app/ui/publication/edit/template.hbs
  ember-camac-ng/package.json
  ember-ebau-core/package.json
  yarn.lock
Due: lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core

fix(ur): fix document permission for oereb api
  django/camac/document/permissions.py
  django/camac/instance/mixins.py
Due: test-django

fix(template): fix empty page in information of neighbors template
  document-merge-service/kt_bern/templatefiles/de-nachbarschaftsorientierung.docx
Due: none

chore(release): v2.8.0-rc.3
  VERSION.txt
  django/camac/camac_metadata.py
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
Due: lint-ember-camac-ng, lint-ember-caluma-portal, test-ember-camac-ng, test-ember-caluma-portal, test-django
