Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

lint-yml:
  stage: lint
  image: node:lts
  before_script:
  - yarn global add prettier
  script:
  - prettier -c **/*.yml

lint-ember-camac-ng:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-camac-ng
  - yarn
  script:
  - yarn lint

lint-ember-caluma-portal:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-caluma-portal
  - yarn
  script:
  - yarn lint

lint-ember-ebau-core:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-ebau-core
  - yarn
  script:
  - yarn lint

lint-php:
  stage: lint
  image:
    name: node:lts
  script:
  - if git grep -I -e ä  -e ö  -e ü   -- './*' ':!.gitlab-ci.yml'; then exit 1; else echo "No composite umlaute found"; fi
  - yarn --cwd=php install
  - yarn --cwd=php lint
  - yarn --cwd=php prettier-check

test-ember:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember"
  - eval $COMPOSE build ember
  - eval $COMPOSE run --rm --no-deps ember yarn test

test-ember-camac-ng:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-camac-ng"
  - eval $COMPOSE build ember-camac-ng
  ...

test-ember-caluma-portal:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-caluma-portal"
  - eval $COMPOSE build ember-caluma-portal
  ...

test-ember-ebau-core:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-ebau-core"
  - eval $COMPOSE build ember-ebau-core
  ...

test-django:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet django db clamav unoconv"
  - eval $COMPOSE build --parallel django db clamav unoconv
  ...

php-security-checker:
  stage: test
  image:
    name: jakzal/phpqa:php7.3-alpine
  script: local-php-security-checker --path=./php/composer.lock

chore(ur): backport different changes on links
  django/kt_uri/config/caluma_form.json
Due: test-django

feat(ag): show zip in nav masterdata
  ember-ebau-core/addon/config/main-ag.js
Due: lint-ember-ebau-core, test-ember-ebau-core

feat(distribution): custom service group default deadline to match the backend
  ember-ebau-core/addon/config/main-gr.js
  ember-ebau/app/services/caluma-options.js
Due: lint-ember-ebau-core, test-ember-ebau-core

feat(gr): change default distribution deadline from 30 to 14 days
  django/camac/settings/modules/distribution.py
  ember-ebau/app/services/caluma-options.js
Due: test-django

feat(so): distribution service can see publication read only
  django/camac/settings/modules/permissions/kt_so.py
Due: test-django

feat(ag): add the task "complete construction monitoring" to the task filter
  django/camac/settings/modules/work_item_list.py
Due: test-django

feat(gr): address change needed hint
  django/kt_gr/config/caluma_form.json
  ember-caluma-portal/app/application/route.js
  ember-ebau-core/addon/components/check-hint-new-address-needed.hbs
  ember-ebau-core/addon/components/check-hint-new-address-needed.js
  ember-ebau-core/app/components/check-hint-new-address-needed.js
  ember-ebau-core/translations/work-items/de.yaml
  ember-ebau-core/translations/work-items/fr.yaml
  ember-ebau-core/translations/work-items/it.yaml
  ember-ebau/app/application/route.js
Due: lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-caluma-portal, test-ember-ebau-core, test-django

feat(gr): address change hint and adressvergabe hint
  django/kt_gr/config/caluma_construction_monitoring_form.json
  django/kt_gr/config/caluma_form.json
  ember-ebau-core/translations/work-items/de.yaml
  ember-ebau-core/translations/work-items/it.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

fix(be): grant involved lead authorities ACLs on appeal instances
  django/camac/permissions/config/common.py
  django/camac/permissions/tests/test_events.py
Due: test-django

fix(gr): no construction monitoring on solaranlage, bauanzeige and vorlaufige beurteilung
  django/camac/caluma/extensions/dynamic_tasks.py
  django/camac/instance/domain_logic/decision.py
  django/camac/permissions/config/kt_gr.py
Due: test-django

chore(deps): update ember-alexandria to 10.12.2
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
  ember-ebau-core/package.json
  ember-ebau/package.json
  pnpm-lock.yaml
Due: lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core

fix(gr): remove extra questions and change hint class
  django/kt_gr/config/caluma_construction_monitoring_form.json
  django/kt_gr/config/caluma_form.json
Due: test-django

feat(gr): address change needed hint
  django/kt_gr/config/caluma_construction_monitoring_form.json
  django/kt_gr/config/caluma_form.json
  ember-caluma-portal/app/application/route.js
  ember-ebau-core/addon/components/check-hint-new-address-needed.hbs
  ember-ebau-core/addon/components/check-hint-new-address-needed.js
  ember-ebau-core/app/components/check-hint-new-address-needed.js
  ember-ebau-core/translations/work-items/de.yaml
  ember-ebau-core/translations/work-items/fr.yaml
  ember-ebau-core/translations/work-items/it.yaml
  ember-ebau/app/application/route.js
Due: lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-caluma-portal, test-ember-ebau-core, test-django

chore: split ember-dev{,-reset} Makefile targets to dedicated script
  Makefile
  tools/ember-dev.sh
Due: none

feat(so): add new applicant role project owner
  django/camac/applicants/migrations/0011_alter_applicant_role.py
  django/camac/applicants/models.py
  django/camac/applicants/serializers.py
  django/camac/applicants/tests/test_applicants.py
  django/camac/applicants/views.py
  django/camac/instance/serializers.py
  django/camac/settings/django.py
  django/camac/settings/modules/permissions/kt_so.py
  ember-caluma-portal/app/instances/edit/applicants/template.hbs
  ember-caluma-portal/translations/de.yaml
  ember-caluma-portal/translations/fr.yaml
  ember-caluma-portal/translations/it.yaml
  ember-ebau-core/addon/components/permissions/acl-table.hbs
  ember-ebau-core/addon/components/permissions/acl-table.js
  ember-ebau-core/addon/helpers/get-applicant-role-from-acl.js
  ember-ebau-core/addon/models/applicant.js
  ember-ebau-core/app/helpers/get-applicant-role-from-acl.js
  ember-ebau-core/translations/permissions/de.yaml
  ember-ebau-core/translations/permissions/fr.yaml
  ember-ebau-core/translations/permissions/it.yaml
  ember-ebau/app/services/session.js
Due: lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-caluma-portal, test-ember-ebau-core, test-django

chore(sg): add missing info texts in material exam
  django/kt_sg/config/caluma_material_exam_form.json
Due: test-django

chore(ember-dev): also update proxy configuration for local dev env
  compose/kt_bern-dev.yml
  compose/kt_schwyz-dev.yml
  compose/kt_uri-dev.yml
  tools/ember-dev.sh
Due: lint-yml

fix(ag): implement none check in diba-light resource check
  django/camac/core/views.py
Due: test-django

fix(ag): trigger work item event for trigger-billing
  django/camac/caluma/extensions/dynamic_tasks.py
Due: test-django

fix(proxy): add http host header for mailpit
  proxy/demo.conf
  proxy/kt_ag.conf
  proxy/kt_gr.conf
  proxy/kt_sg.conf
  proxy/kt_so.conf
Due: none

fix(gr): allow eEBA check during applicant correction
  ember-ebau-core/addon/components/eeba-confirmation.js
Due: lint-ember-ebau-core, test-ember-ebau-core

feat(be): ebau-617 unify special forms workflows
  django/camac/conftest.py
  django/camac/instance/tests/test_document_merge_service.py
  django/camac/notification/tests/test_notification_template.py
  django/camac/settings/django.py
  django/camac/settings/modules/dms.py
  django/camac/settings/modules/dump.py
  django/kt_bern/config/caluma_baupolizeiliches_verfahren_form_v3.json
  django/kt_bern/config/caluma_distribution.json
  django/kt_bern/config/caluma_form_common.json
  django/kt_bern/config/caluma_workflow.json
  django/kt_bern/config/caluma_zutrittsermaechtigung_form_v2.json
  django/kt_bern/config/caluma_zutrittsermaechtigung_form_v3.json
  django/kt_bern/workflow-internal.graphql
  django/kt_bern/workflow-preliminary-clarification.graphql
Due: test-django

fix(gr): switch solaranlage jexl condition for hinweis
  django/kt_gr/config/caluma_form_v6.json
Due: test-django

feat(gr): construction monitoring delay until decision
  django/camac/caluma/extensions/events/construction_monitoring.py
  django/camac/caluma/tests/test_construction_monitoring.py
  django/kt_gr/config/caluma_construction_monitoring_workflow.json
  ember-ebau-core/addon/abilities/construction-monitoring.js
  ember-ebau-core/addon/components/construction-monitoring/navigation/controls.hbs
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

fix(alexandria): re-use v1 move permission checks
  django/camac/alexandria/extensions/common.py
  django/camac/alexandria/extensions/permissions/extension.py
Due: test-django

fix(ag): fix the right detection of the form
  django/camac/dossier_import/config/kt_ag.py
Due: test-django

feat(so): log publication in history
  django/camac/caluma/extensions/events/publication.py
  django/camac/caluma/tests/test_events.py
  django/camac/core/migrations/0117_alter_historyactionconfig_history_type.py
  django/camac/core/models.py
  django/locale/de/LC_MESSAGES/django.po
  django/locale/fr/LC_MESSAGES/django.po
  django/locale/it/LC_MESSAGES/django.po
  ember-ebau-core/addon/models/history-entry.js
  ember-ebau-core/config/icons.js
  ember-ebau-core/translations/history/de.yaml
  ember-ebau-core/translations/history/fr.yaml
  ember-ebau-core/translations/history/it.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

fix(gr): made addressevergabe hint infotext
  django/kt_gr/config/caluma_construction_monitoring_form.json
Due: test-django

feat(gr): add file upload to construction monitoring schlussabnahme
  django/kt_gr/config/alexandria_core.json
  django/kt_gr/config/caluma_construction_monitoring_form.json
Due: test-django

fix(so:afu-form): add ir translations
  django/camac/settings/modules/permissions/kt_so.py
  django/kt_so/config/core.json
Due: test-django

fix(so:project-owner): update labels in templates
  django/camac/instance/document_merge_service.py
  django/camac/instance/tests/__snapshots__/test_document_merge_service.ambr
  django/locale/de/LC_MESSAGES/django.po
  django/locale/fr/LC_MESSAGES/django.po
  django/locale/it/LC_MESSAGES/django.po
  document-merge-service/kt_so/templatefiles/form.docx
  document-merge-service/kt_so/templatefiles/signatures.docx
Due: test-django

fix(so:zivilschutz-form): fix expression so submit works again
  django/kt_so/config/caluma_form.json
Due: test-django

feat(ech): change unvoid endpoint to void endpoint with delete http verb
  django/camac/ech0211/tests/test_document_views.py
  django/camac/ech0211/views.py
  django/camac/swagger/tests/__snapshots__/test_swagger.ambr
  tools/ech0211/delete-document-void.sh
Due: test-django

chore(deps): update ember-alexandria to 10.12.4
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
  ember-ebau-core/package.json
  ember-ebau/package.json
  pnpm-lock.yaml
Due: lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core

chore(proxy): add missing CSP configuration for silk
  proxy/csp_headers.inc
  proxy/kt_sg.conf
Due: none

chore(sg): remove obsolete question
  django/kt_sg/config/caluma_form.json
Due: test-django

fix(sg): fix submission of instances
  django/camac/caluma/extensions/events/construction_monitoring.py
Due: test-django

fix(ag-workflow): handle case where trigger-billing already exists
  django/camac/caluma/extensions/dynamic_tasks.py
Due: test-django

fix(so): label and applicant role in permissions
  django/kt_so/config/caluma_form.json
  ember-ebau-core/addon/components/permissions/acl-table.hbs
  ember-ebau-core/addon/components/permissions/acl-table.js
  ember-ebau-core/addon/helpers/get-applicant-role-from-acl.js
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

chore(deps): update dependency django-reversion to v6
  django/requirements.txt
Due: test-django

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml
