Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

lint-yml:
  stage: lint
  image: node:lts
  before_script:
  - yarn global add prettier
  script:
  - prettier -c **/*.yml

lint-ember-camac-ng:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-camac-ng
  - yarn
  script:
  - yarn lint

lint-ember-caluma-portal:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-caluma-portal
  - yarn
  script:
  - yarn lint

lint-ember-ebau-core:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-ebau-core
  - yarn
  script:
  - yarn lint

lint-php:
  stage: lint
  image:
    name: node:lts
  script:
  - if git grep -I -e ä  -e ö  -e ü   -- './*' ':!.gitlab-ci.yml'; then exit 1; else echo "No composite umlaute found"; fi
  - yarn --cwd=php install
  - yarn --cwd=php lint
  - yarn --cwd=php prettier-check

test-ember:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember"
  - eval $COMPOSE build ember
  - eval $COMPOSE run --rm --no-deps ember yarn test

test-ember-camac-ng:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-camac-ng"
  - eval $COMPOSE build ember-camac-ng
  ...

test-ember-caluma-portal:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-caluma-portal"
  - eval $COMPOSE build ember-caluma-portal
  ...

test-ember-ebau-core:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-ebau-core"
  - eval $COMPOSE build ember-ebau-core
  ...

test-django:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet django db clamav unoconv"
  - eval $COMPOSE build --parallel django db clamav unoconv
  ...

php-security-checker:
  stage: test
  image:
    name: jakzal/phpqa:php7.3-alpine
  script: local-php-security-checker --path=./php/composer.lock

chore(deps): update backend dependencies
  django/pyproject.toml
  django/requirements-dev.txt
  django/requirements.txt
Due: test-django

chore(deps): update DMS placeholder snapshot after faker upgrade
  django/camac/instance/tests/snapshots/snap_test_placeholders.py
Due: test-django

chore(deps): update caluma dumps after upgrade
  django/kt_bern/config/caluma_audit_form.json
  django/kt_bern/config/caluma_form_v2.json
  django/kt_bern/data/caluma_form.json
  django/kt_schwyz/data/caluma_form.json
  django/kt_uri/data/caluma_form.json
Due: test-django

chore(deps): update frontend dependencies
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
  ember-ebau-core/package.json
  ember-ebau/package.json
  package.json
  yarn.lock
Due: lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core

fix(ur): solar jexl
  django/kt_uri/config/caluma_form.json
Due: test-django

chore(deps): update ember-data-resources and ember-resources to latest version
  ember-caluma-portal/app/services/session.js
  ember-caluma-portal/package.json
  ember-camac-ng/app/ui/components/case-filter/component.js
  ember-camac-ng/app/ui/components/inquiry-answer-status/component.js
  ember-camac-ng/app/ui/work-items/instance/index/controller.js
  ember-camac-ng/package.json
  ember-ebau-core/package.json
  ember-ebau/package.json
  package.json
  yarn.lock
Due: lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core

feat(distribution): add functionality to reopen distribution
  django/camac/caluma/extensions/events/distribution.py
  django/camac/caluma/extensions/permissions.py
  django/camac/caluma/tests/test_distribution_workflow.py
  django/camac/caluma/tests/test_permissions.py
  django/camac/conftest.py
  django/camac/settings_distribution.py
  django/camac/utils.py
  django/kt_bern/config/caluma_workflow.json
  django/kt_bern/workflow-building-permit.graphql
  django/kt_bern/workflow-preliminary-clarification.graphql
  django/kt_schwyz/config/caluma_workflow.json
  django/kt_schwyz/workflow-building-permit.graphql
  ember-camac-ng/app/services/caluma-options.js
Due: lint-ember-camac-ng, test-ember-camac-ng, test-django

chore(be): remove obsolete survey for applicants from notifications
  django/camac/instance/tests/test_instance_caluma.py
  django/kt_bern/config/email_notifications.json
  django/kt_bern/data/instance.json
Due: test-django

feat(be): change question type from choice to multiple choice
  django/kt_bern/config/caluma_audit_form.json
Due: test-django

chore(deps): update ember-uikit and caluma packages
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
  ember-ebau-core/package.json
  ember-ebau/package.json
  package.json
  yarn.lock
Due: lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core

chore(release): v3.0.0-rc.3
  VERSION.txt
  django/camac/camac_metadata.py
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
Due: lint-ember-camac-ng, lint-ember-caluma-portal, test-ember-camac-ng, test-ember-caluma-portal, test-django

fix(dms): documents merge service update to 5.0.4
  compose/ci.yml
  compose/kt_bern.yml
  compose/kt_uri.yml
Due: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django

fix(api): keep the camac form constant when making copies
  django/camac/instance/serializers.py
Due: test-django

fix(sz): don't show instances with state new for public authorities
  django/camac/settings.py
Due: test-django

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml
