Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

lint-yml:
  stage: lint
  image: node:lts
  before_script:
  - yarn global add prettier
  script:
  - prettier -c **/*.yml

lint-ember-camac-ng:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-camac-ng
  - yarn
  script:
  - yarn lint

lint-ember-caluma-portal:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-caluma-portal
  - yarn
  script:
  - yarn lint

lint-ember-ebau-core:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-ebau-core
  - yarn
  script:
  - yarn lint

lint-php:
  stage: lint
  image:
    name: node:lts
  script:
  - if git grep -I -e ä  -e ö  -e ü   -- './*' ':!.gitlab-ci.yml'; then exit 1; else echo "No composite umlaute found"; fi
  - yarn --cwd=php install
  - yarn --cwd=php lint
  - yarn --cwd=php prettier-check

test-ember:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember"
  - eval $COMPOSE build ember
  - eval $COMPOSE run --rm --no-deps ember yarn test

test-ember-camac-ng:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-camac-ng"
  - eval $COMPOSE build ember-camac-ng
  ...

test-ember-caluma-portal:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-caluma-portal"
  - eval $COMPOSE build ember-caluma-portal
  ...

test-ember-ebau-core:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-ebau-core"
  - eval $COMPOSE build ember-ebau-core
  ...

test-django:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet django db clamav unoconv"
  - eval $COMPOSE build --parallel django db clamav unoconv
  ...

php-security-checker:
  stage: test
  image:
    name: jakzal/phpqa:php7.3-alpine
  script: local-php-security-checker --path=./php/composer.lock

feat(dms): improve user interface for SO
  ember-ebau-core/addon/components/dms/generate.hbs
  ember-ebau-core/addon/config/features/so.js
  ember-ebau-core/translations/dms/de-gr.yaml
  ember-ebau-core/translations/dms/de-so.yaml
  ember-ebau-core/translations/dms/de.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core

feat(so): add placeholders for invoice recipients
  django/camac/instance/placeholders/locale/de/LC_MESSAGES/django.mo
  django/camac/instance/placeholders/locale/de/LC_MESSAGES/django.po
  django/camac/instance/placeholders/serializers.py
  django/camac/instance/tests/__snapshots__/test_master_data.ambr
  django/camac/instance/tests/__snapshots__/test_placeholders.ambr
  django/camac/instance/tests/test_master_data.py
  django/camac/instance/tests/test_placeholders.py
  django/camac/settings/modules/master_data.py
Due: test-django

fix(communications): show error message when uploading invalid mime type
  ember-ebau-core/addon/components/communication/message-input.hbs
  ember-ebau-core/addon/components/communication/message-input.js
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(so): fix decision date placeholder
  django/camac/instance/placeholders/serializers.py
  django/camac/instance/tests/__snapshots__/test_placeholders.ambr
  django/camac/instance/tests/test_placeholders.py
Due: test-django

feat(gr): merge alexandria categories and create a new one
  django/camac/settings/modules/dms.py
  django/kt_gr/config/alexandria_core.json
  django/kt_gr/config/caluma_form.json
Due: test-django

chore(gr): write tests for untested instance model methods
  django/camac/instance/tests/test_instance.py
Due: test-django

fix(billing): prevent deletion of charged billing entries
  django/camac/billing/tests/test_billing.py
  django/camac/billing/views.py
  ember-ebau-core/addon/abilities/billing-v2-entry.js
  ember-ebau-core/tests/integration/components/billing-table/row-test.js
  ember-ebau-core/tests/unit/abilities/billing-v2-entry-test.js
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

fix(so): fix case table filters
  ember-ebau-core/addon/components/case-table.js
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(alexandria): fix convert permission check
  django/camac/alexandria/extensions/permissions/extension.py
  django/camac/alexandria/tests/test_permissions.py
Due: test-django

fix(permissions/filters): make the assignable_in_instance filter behave correctly
  django/camac/permissions/filters.py
  django/camac/permissions/tests/test_acl_views.py
  django/camac/permissions/tests/test_permission_views.py
  django/camac/permissions/views.py
Due: test-django

chore(service-permissions): add a hint text for the e-mail address
  ember-ebau-core/addon/components/edit-service.hbs
  ember-ebau-core/translations/service-permissions/de.yaml
  ember-ebau-core/translations/service-permissions/fr.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core

feat(ember-caluma-portal): enable construction monitoring
  django/camac/caluma/extensions/permissions.py
  django/camac/caluma/extensions/visibilities.py
  django/camac/settings/django.py
  ember-caluma-portal/app/instances/edit/template.hbs
  ember-caluma-portal/app/router.js
  ember-caluma-portal/translations/de.yaml
  ember-caluma-portal/translations/fr.yaml
  ember-ebau-core/addon/config/features/sz.js
  ember-ebau-core/addon/config/features/ur.js
  ember-ebau-core/addon/services/ebau-modules.js
Due: lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-caluma-portal, test-ember-ebau-core, test-django

doc(ember-ebau-core): add comment about @tracked instanceId in base ebau-modules-service
  ember-ebau-core/addon/services/ebau-modules.js
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(gr): change texts and fix a typo in alexandria categories
  django/kt_gr/config/alexandria_core.json
Due: test-django

feat: demo feature
  VERSION.txt
Due: none

chore(so): apply requested changes on SGV forms
  django/camac/settings/modules/distribution.py
  django/kt_so/config/caluma_form.json
  django/kt_so/data/caluma_form.json
Due: test-django

feat(so): switch to exact search for plot number
  ember-ebau-core/addon/components/case-table.js
Due: lint-ember-ebau-core, test-ember-ebau-core

chore(deps): update dependency uwsgi to v2.0.25.1
  django/requirements.txt
Due: test-django

fix(gr): enable inquiryState and inquiryAnswer filters for cases list
  ember-ebau-core/addon/components/case-table.js
Due: lint-ember-ebau-core, test-ember-ebau-core

test(withdraw): fix wrong usage of freeze
  django/camac/instance/tests/test_withdrawal.py
Due: test-django

fix(gr): change the display of the "Entscheiddokumente" placeholder
  django/camac/instance/placeholders/fields.py
  django/camac/instance/placeholders/locale/de/LC_MESSAGES/django.mo
  django/camac/instance/placeholders/locale/de/LC_MESSAGES/django.po
  django/camac/instance/placeholders/locale/fr/LC_MESSAGES/django.mo
  django/camac/instance/placeholders/locale/fr/LC_MESSAGES/django.po
  django/camac/instance/placeholders/locale/it/LC_MESSAGES/django.mo
  django/camac/instance/placeholders/locale/it/LC_MESSAGES/django.po
  django/camac/instance/tests/__snapshots__/test_placeholders.ambr
Due: test-django

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml
