Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml

fix(be): don't allow completing the audit manually
  django/kt_bern/config/caluma_workflow.json
Due: test-django

fix: compose and keycloak config for Kt. SZ
  compose/kt_schwyz-dev.yml
  ember-ebau/config/environment.js
  ember-ebau/config/locales.js
  keycloak/kt_schwyz-test-config.json
Due: lint-yml

chore: test patches
  .gitignore
Due: none

chore(clamav): persist definitions, disable concurrent reload
  compose/kt_schwyz-dev.yml
  compose/kt_schwyz.yml
  compose/kt_uri-dev.yml
  compose/kt_uri.yml
Due: lint-yml

chore(clamav): persist definitions, disable concurrent reload
  compose/kt_schwyz-dev.yml
  compose/kt_schwyz-prod.yml
  compose/kt_schwyz.yml
  compose/kt_uri-dev.yml
  compose/kt_uri.yml
Due: lint-yml

chore(ech): fix flaky tests
  django/camac/ech0211/formatters.py
  django/camac/ech0211/tests/snapshots/snap_test_formatters.py
  django/camac/ech0211/tests/test_formatters.py
Due: test-django

chore(release): v2.10.0-rc.1
  VERSION.txt
  django/camac/camac_metadata.py
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
Due: lint-ember-camac-ng, lint-ember-caluma-portal, test-ember-camac-ng, test-ember-caluma-portal, test-django

chore(sz): remove obsolete apilist
  django/camac/core/migrations/0099_delete_apilist.py
  django/camac/core/models.py
  django/camac/dump_settings.py
  django/camac/user/management/__init__.py
  django/camac/user/management/commands/__init__.py
  django/camac/user/management/commands/disable_obsolete_groups.py
  django/demo/config/core.json
  django/kt_schwyz/config/core.json
  django/kt_schwyz/data/user.json
Due: test-django

feat: add form BGBB for KOOR ALA
  django/kt_uri/config/core.json
Due: test-django

feat(ur): replace "Change Form Type" IR with dashboard button
  django/kt_uri/config/core.json
Due: test-django

fix(be): fix groups type in decision migration
  django/camac/core/management/commands/migrate_decision_form.py
Due: test-django

feat(sz): validate coordinates of integrity dashboard
  django/camac/core/views.py
Due: test-django
