Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml

fix(gr): workflow config
  django/kt_gr/config/caluma_workflow.json
  django/kt_gr/tasks.graphql
Due: test-django

feat(gr): add new instance state init-distribution
  django/camac/constants/kt_gr.py
  django/camac/instance/placeholders/locale/de/LC_MESSAGES/django.po
  django/camac/settings.py
  django/kt_gr/config/core.json
  django/kt_gr/config/instance.json
  django/kt_gr/config/publication.json
  django/locale/de/LC_MESSAGES/django.mo
  django/locale/de/LC_MESSAGES/django.po
  ember-caluma-portal/config/environment.js
Due: lint-ember-caluma-portal, test-ember-caluma-portal, test-django

fix(gr): regression in publication config
  django/camac/caluma/extensions/validations.py
Due: test-django

fix: alexandria permissions for "alle-kanton"
  django/kt_gr/config/alexandria_core.json
Due: test-django

chore(validations): make missing coverage explicit
  django/camac/caluma/extensions/validations.py
  django/pyproject.toml
Due: test-django

chore: simplify case-table config (wip)
  ember-ebau-core/addon/components/case-table.js
Due: lint-ember-ebau-core, test-ember-ebau-core

chore(ur): add new parashift import settings for the municipalities
  django/camac/core/import_dossiers.py
  django/camac/parashift/conftest.py
  django/camac/parashift/parashift.py
  django/camac/parashift/tests/test_parashift_import.py
  django/camac/settings_parashift.py
Due: test-django

chore(gr): extract the address and parcel slugs to the case table config
  ember-ebau-core/addon/components/case-table.js
  ember-ebau-core/addon/config/case-table-be.js
  ember-ebau-core/addon/config/case-table-gr.js
  ember-ebau-core/addon/config/case-table-ur.js
Due: lint-ember-ebau-core, test-ember-ebau-core

chore(ur): backport changes in the form "Benützung Kantonsgebiet"
  django/kt_uri/config/caluma_form.json
Due: test-django

feat(dms): load config and default templates on start of container
  document-merge-service/Dockerfile
Due: none

fix(gr): minor jexl fix
  django/kt_gr/config/caluma_form.json
Due: test-django

chore(gr): re-dump alexandria config
  django/kt_gr/config/alexandria_core.json
Due: test-django

feat(ur): add the publication text for the oereb topic "bausperre"
  django/kt_uri/config/core.json
Due: test-django

fix(alexandria): load events.py
  django/camac/instance/apps.py
Due: test-django
