Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml

chore(ur): backport ssl certificate changes
  django/Dockerfile
Due: test-django

chore(ur): backport ssl certificate changes
  compose/kt_uri-prod.yml
  django/Dockerfile
Due: lint-yml, test-django

fix(ur): fix the municipality answer and dynamic option migration
  django/camac/core/management/commands/migrate_municipality_answer_value.py
Due: test-django

fix: save answer permissions
  django/camac/caluma/extensions/permissions.py
Due: test-django

fix(ur): instance filtering
  ember-camac-ng/app/ui/cases/index/controller.js
Due: lint-ember-camac-ng, test-ember-camac-ng

Revert "Merge branch 'revert-538abeb8' into 'master'"
  django/camac/document/tests/data/template.docx
  django/camac/document/tests/snapshots/snap_test_template.py
  django/camac/document/tests/test_template.py
  django/camac/instance/tests/test_master_data.py
  django/camac/notification/serializers.py
  django/camac/notification/tests/test_notification_template.py
  django/camac/settings.py
  django/kt_schwyz/config/buildingauthority.json
  django/kt_schwyz/config/caluma_form.json
Due: test-django

Revert "Merge branch 'revert-3db52466' into 'master'"
  django/camac/document/tests/data/template.docx
  django/camac/document/tests/snapshots/snap_test_template.py
  django/camac/document/tests/test_template.py
  django/camac/instance/tests/test_master_data.py
  django/camac/notification/serializers.py
  django/camac/notification/tests/test_notification_template.py
  django/camac/settings.py
  django/kt_schwyz/config/buildingauthority.json
  django/kt_schwyz/config/caluma_form.json
Due: test-django

Revert "Merge branch 'revert-8c3130dc' into 'master'"
  django/camac/document/tests/data/template.docx
  django/camac/document/tests/snapshots/snap_test_template.py
  django/camac/document/tests/test_template.py
  django/camac/instance/tests/test_master_data.py
  django/camac/notification/serializers.py
  django/camac/notification/tests/test_notification_template.py
  django/camac/settings.py
  django/kt_schwyz/config/buildingauthority.json
  django/kt_schwyz/config/caluma_form.json
Due: test-django

Revert "Merge branch 'revert-65878b48' into 'master'"
  django/camac/document/tests/data/template.docx
  django/camac/document/tests/snapshots/snap_test_template.py
  django/camac/document/tests/test_template.py
  django/camac/instance/tests/test_master_data.py
  django/camac/notification/serializers.py
  django/camac/notification/tests/test_notification_template.py
  django/camac/settings.py
  django/kt_schwyz/config/buildingauthority.json
  django/kt_schwyz/config/caluma_form.json
Due: test-django

fix(django): add check for bauverwaltung answers
  django/camac/notification/serializers.py
Due: test-django

chore(deps): update dependencies
  ember-caluma-portal/app/services/apollo.js
  ember-caluma-portal/package.json
  ember-camac-ng/app/app.js
  ember-camac-ng/package.json
  ember-ebau-core/package.json
  yarn.lock
Due: lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core

feat(ur): multiple search for municipalities and building permit types
  ember-camac-ng/app/ui/components/case-filter/filter-config.js
  ember-camac-ng/app/ui/components/case-table/component.js
Due: lint-ember-camac-ng, test-ember-camac-ng

chore(refactor): only save ebau numbers on case
  django/camac/core/tests/test_utils.py
  django/camac/core/utils.py
  django/camac/echbern/conftest.py
  django/camac/echbern/formatters.py
  django/camac/echbern/tests/test_views.py
  django/camac/instance/domain_logic.py
  django/camac/instance/serializers.py
  django/camac/instance/tests/test_instance_caluma.py
  django/camac/instance/tests/test_instance_caluma_custom_actions.py
Due: test-django

fix(ur-gis): set correct data types for answers
  ember-ebau-core/addon/components/ur-gis.js
Due: lint-ember-ebau-core, test-ember-ebau-core
