Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

lint-yml:
  stage: lint
  image: node:lts
  before_script:
  - yarn global add prettier
  script:
  - prettier -c **/*.yml

lint-ember-camac-ng:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-camac-ng
  - yarn
  script:
  - yarn lint

lint-ember-caluma-portal:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-caluma-portal
  - yarn
  script:
  - yarn lint

lint-ember-ebau-core:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-ebau-core
  - yarn
  script:
  - yarn lint

lint-php:
  stage: lint
  image:
    name: node:lts
  script:
  - if git grep -I -e ä  -e ö  -e ü   -- './*' ':!.gitlab-ci.yml'; then exit 1; else echo "No composite umlaute found"; fi
  - yarn --cwd=php install
  - yarn --cwd=php lint
  - yarn --cwd=php prettier-check

test-ember:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember"
  - eval $COMPOSE build ember
  - eval $COMPOSE run --rm --no-deps ember yarn test

test-ember-camac-ng:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-camac-ng"
  - eval $COMPOSE build ember-camac-ng
  ...

test-ember-caluma-portal:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-caluma-portal"
  - eval $COMPOSE build ember-caluma-portal
  ...

test-ember-ebau-core:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-ebau-core"
  - eval $COMPOSE build ember-ebau-core
  ...

test-django:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet django db clamav unoconv"
  - eval $COMPOSE build --parallel django db clamav unoconv
  ...

php-security-checker:
  stage: test
  image:
    name: jakzal/phpqa:php7.3-alpine
  script: local-php-security-checker --path=./php/composer.lock

chore(gr): reorder resources
  django/camac/core/admin/views.py
  django/kt_gr/config/core.json
Due: test-django

fix(ember): correctly disable keycloak apply button
  ember-ebau-core/addon/components/keycloak-profile-apply-button.hbs
Due: lint-ember-ebau-core, test-ember-ebau-core

feat(django): enable ssec for normal file fields
  compose/kt_gr.yml
  compose/kt_so-dev.yml
  django/camac/core/management/commands/migrate_file_encryption.py
  django/camac/settings/django.py
  django/pyproject.toml
  django/requirements.txt
Due: lint-yml, test-django

fix(service-content): improve django-admin and rendering
  django/camac/core/migrations/0111_alter_servicecontent_options_and_more.py
  django/camac/core/models.py
  django/camac/settings/modules/django_admin.py
  django/locale/de/LC_MESSAGES/django.mo
  django/locale/de/LC_MESSAGES/django.po
  ember-ebau-core/addon/components/service-content.hbs
  ember-ebau-core/app/styles/components/service-content.scss
  ember-ebau-core/app/styles/ember-ebau-core.scss
  ember-ebau-core/translations/service-content/de.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

fix(Makefile): replace/improve echo usage and escape sequences
  Makefile
Due: none

feat(send_work_item_reminders): send emails individually
  django/camac/notification/management/commands/send_work_item_reminders.py
Due: test-django

chore(so): apply changes for SGV
  django/kt_so/config/caluma_form.json
Due: test-django

test(ech0211): decouple test from dossier-import
  django/camac/ech0211/tests/test_views.py
Due: test-django

chore(dossier-import): apply suggestions from review
  django/camac/dossier_import/config/kt_bern.py
  django/camac/dossier_import/config/kt_schwyz.py
  django/camac/dossier_import/config/kt_so.py
  django/camac/dossier_import/loaders.py
  django/camac/dossier_import/messages.py
  django/camac/dossier_import/tests/test_dossier_import_case.py
  django/camac/dossier_import/tests/test_views.py
  django/camac/dossier_import/validation.py
  django/camac/dossier_import/writers.py
Due: test-django

refactor(dossier-import): decouple validation steps
  django/camac/dossier_import/tests/data/import-example-no-errors.zip
  django/camac/dossier_import/tests/data/import-example.zip
  django/camac/dossier_import/tests/data/import-missing-id-column.zip
  django/camac/dossier_import/tests/test_dossier_import_case.py
  django/camac/dossier_import/tests/test_management_commands.py
  django/camac/dossier_import/validation.py
Due: test-django

chore(dossier-import): remove confusing warnings after deletion
  django/camac/dossier_import/writers.py
Due: test-django

feat(dossier-import): add translations and updated count to summary
  django/camac/dossier_import/domain_logic.py
  django/camac/dossier_import/messages.py
  django/camac/dossier_import/writers.py
  django/locale/de/LC_MESSAGES/django.po
  django/locale/fr/LC_MESSAGES/django.mo
  django/locale/fr/LC_MESSAGES/django.po
  django/locale/it/LC_MESSAGES/django.mo
  django/locale/it/LC_MESSAGES/django.po
Due: test-django

feat(dossier-import): add reimporting
  django/camac/conftest.py
  django/camac/dossier_import/config/kt_bern.py
  django/camac/dossier_import/config/kt_schwyz.py
  django/camac/dossier_import/config/kt_so.py
  django/camac/dossier_import/conftest.py
  django/camac/dossier_import/domain_logic.py
  django/camac/dossier_import/dossier_classes.py
  django/camac/dossier_import/loaders.py
  django/camac/dossier_import/messages.py
  django/camac/dossier_import/tests/__snapshots__/test_dossier_import_case.ambr
  django/camac/dossier_import/tests/__snapshots__/test_views.ambr
  django/camac/dossier_import/tests/data/import-example-no-errors-reimport.zip
  django/camac/dossier_import/tests/test_domain_logic.py
  django/camac/dossier_import/tests/test_dossier_import_case.py
  django/camac/dossier_import/tests/test_views.py
  django/camac/dossier_import/validation.py
  django/camac/dossier_import/writers.py
  django/camac/settings/modules/dossier_import.py
  django/locale/de/LC_MESSAGES/django.po
  django/locale/fr/LC_MESSAGES/django.mo
  django/locale/fr/LC_MESSAGES/django.po
  django/locale/it/LC_MESSAGES/django.mo
  django/locale/it/LC_MESSAGES/django.po
Due: test-django

fix(dossier-import): weakref circular writer assignment
  django/camac/dossier_import/config/kt_schwyz.py
  django/camac/dossier_import/tests/test_dossier_import_case.py
  django/camac/dossier_import/writers.py
Due: test-django

refactor(dossier-import): make import generic and add hooks
  django/camac/dossier_import/config/kt_bern.py
  django/camac/dossier_import/config/kt_schwyz.py
  django/camac/dossier_import/config/kt_so.py
  django/camac/dossier_import/writers.py
Due: test-django

fix(dossier-import): fix raceconditions with async tasks
  django/camac/dossier_import/domain_logic.py
  django/camac/dossier_import/views.py
Due: test-django

fix(dossier-import): handle documents based on DOCUMENT_BACKEND setting
  django/camac/dossier_import/config/kt_so.py
  django/camac/dossier_import/conftest.py
  django/camac/dossier_import/writers.py
Due: test-django

fix(be): fill triage question for persons
  django/camac/dossier_import/config/kt_bern.py
Due: test-django

fix: compile updated translations
  django/locale/de/LC_MESSAGES/django.mo
Due: test-django

fix(sz): add target state WRITTEN OFF to dossier import
  django/camac/dossier_import/config/kt_schwyz.py
  django/camac/dossier_import/tests/test_dossier_import_case.py
  django/camac/settings/modules/dossier_import.py
Due: test-django

feat(django): rename s3 settings with EBAU prefix
  compose/kt_gr-dev.yml
  compose/kt_gr.yml
  compose/kt_so-dev.yml
  django/camac/core/management/commands/migrate_file_encryption.py
  django/camac/settings/django.py
Due: lint-yml, test-django

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml
