Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

lint-yml:
  stage: lint
  image: node:lts
  before_script:
  - yarn global add prettier
  script:
  - prettier -c **/*.yml

lint-ember-camac-ng:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-camac-ng
  - yarn
  script:
  - yarn lint

lint-ember-caluma-portal:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-caluma-portal
  - yarn
  script:
  - yarn lint

lint-ember-ebau-core:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-ebau-core
  - yarn
  script:
  - yarn lint

lint-php:
  stage: lint
  image:
    name: node:lts
  script:
  - if git grep -I -e ä  -e ö  -e ü   -- './*' ':!.gitlab-ci.yml'; then exit 1; else echo "No composite umlaute found"; fi
  - yarn --cwd=php install
  - yarn --cwd=php lint
  - yarn --cwd=php prettier-check

test-ember:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember"
  - eval $COMPOSE build ember
  - eval $COMPOSE run --rm --no-deps ember yarn test

test-ember-camac-ng:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-camac-ng"
  - eval $COMPOSE build ember-camac-ng
  ...

test-ember-caluma-portal:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-caluma-portal"
  - eval $COMPOSE build ember-caluma-portal
  ...

test-ember-ebau-core:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-ebau-core"
  - eval $COMPOSE build ember-ebau-core
  ...

test-django:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet django db clamav unoconv"
  - eval $COMPOSE build --parallel django db clamav unoconv
  ...

php-security-checker:
  stage: test
  image:
    name: jakzal/phpqa:php7.3-alpine
  script: local-php-security-checker --path=./php/composer.lock

fix(gr): allow are in are-stellungnahme to create and delete
  django/kt_gr/config/alexandria_core.json
Due: test-django

fix(ember): use correct format for italian dates
  ember-caluma-portal/config/environment.js
  ember-ebau/config/environment.js
Due: lint-ember-caluma-portal, test-ember-caluma-portal

fix(django-ur): change lead authority for migrated bgbb dossiers
  django/camac/constants/kt_uri.py
  django/camac/core/management/commands/ur_fix_lead_authority_bgbb.py
  django/pyproject.toml
Due: test-django

fix(django-ur): reopen decision for recent dossiers
  django/camac/core/management/commands/ur_reopen_decision_for_recent_instances.py
  django/pyproject.toml
Due: test-django

fix(so): fix logo position and size in PDF templates
  django/camac/settings/django.py
  document-merge-service/kt_so/templatefiles/form.docx
  document-merge-service/kt_so/templatefiles/signatures.docx
Due: test-django

fix(ur): backport acl rules
  django/camac/document/permissions.py
  django/kt_uri/config/core.json
Due: test-django

feat(gr): add uso to permission migration
  django/camac/permissions/management/commands/migrate_permissions.py
  django/camac/settings/modules/permissions/kt_gr.py
Due: test-django

feat(distribution): allow direct completion of inquries by sub-inquiry
  django/camac/caluma/extensions/events/__init__.py
  django/camac/caluma/extensions/events/direct_inquiry.py
  django/camac/caluma/tests/test_direct_inquiry.py
  django/camac/caluma/utils.py
  django/camac/settings/modules/distribution.py
  django/kt_so/config/caluma_distribution.json
  ember-caluma-portal/app/application/route.js
  ember-ebau-core/addon/components/direct-inquiry-checkbox.hbs
  ember-ebau-core/addon/components/direct-inquiry-checkbox.js
  ember-ebau-core/app/components/direct-inquiry-checkbox.js
  ember-ebau-core/tests/integration/components/direct-inquiry-checkbox-test.js
  ember-ebau/app/application/route.js
  ember-ebau/app/services/caluma-options.js
Due: lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-caluma-portal, test-ember-ebau-core, test-django

feat(ember-ebau): truncate intent in case header
  ember-ebau-core/addon/components/truncated-text.hbs
  ember-ebau-core/addon/components/truncated-text.js
  ember-ebau-core/app/components/truncated-text.js
  ember-ebau-core/tests/integration/components/truncated-text-test.js
  ember-ebau-core/translations/de.yaml
  ember-ebau-core/translations/it.yaml
  ember-ebau/app/components/case-header.hbs
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(dossier-import): fix validation of coordinates if they are aready floats or integers
  django/camac/dossier_import/loaders.py
  django/camac/dossier_import/tests/__snapshots__/test_dossier_import_case.ambr
  django/camac/dossier_import/tests/test_dossier_import_case.py
Due: test-django

fix(dossier-import): ignore all whitespace chars in headings
  django/camac/dossier_import/utils.py
Due: test-django

feat(be): add profile text to the documents form
  ember-caluma-portal/app/components/be-documents-form.hbs
  ember-caluma-portal/translations/de.yaml
  ember-caluma-portal/translations/fr.yaml
Due: lint-ember-caluma-portal, test-ember-caluma-portal

chore(deps): update test
  django/requirements-dev.txt
  ember-ebau-core/package.json
  pnpm-lock.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

chore(deps): update linters
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
  ember-ebau-core/package.json
  ember-ebau/package.json
  pnpm-lock.yaml
Due: lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core

chore(gr): enable new municipalities
  django/kt_gr/config/caluma_form_common.json
Due: test-django

Revert "fix(gr): no documents-write permission while module is not enabled"
  django/camac/settings/modules/permissions/kt_gr.py
Due: test-django

feat(gr): enable permission module
  django/camac/settings/modules/permissions/kt_gr.py
  django/camac/settings/modules/permissions/kt_so.py
Due: test-django

chore(so): add correct links to support page
  django/kt_so/config/static_content.json
Due: test-django

fix(gr): show additional demand IR after submit
  django/camac/settings/modules/permissions/kt_gr.py
Due: test-django

feat(be): formal-exam form changes
  django/camac/conftest.py
  django/camac/instance/tests/test_document_merge_service.py
  django/camac/settings/modules/dms.py
  django/camac/settings/modules/dump.py
  django/kt_bern/config/caluma_audit_form.json
  django/kt_bern/config/caluma_audit_form_v2.json
  ember-camac-ng/app/components/audit-table.js
  ember-camac-ng/translations/audit/de.yaml
  ember-camac-ng/translations/audit/fr.yaml
Due: lint-ember-camac-ng, test-ember-camac-ng, test-django

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml
