Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml

chore(be): clean-up GIS frontend implementation
  ember-caluma-portal/app/components/be-gis.hbs
  ember-caluma-portal/app/components/be-gis.js
Due: lint-ember-caluma-portal, test-ember-caluma-portal

Refactoring GIS Client for new services and multiple EGRIDS
  django/camac/gis/clients/begis.py
  django/camac/gis/clients/xml/get_feature.xml
  django/camac/gis/tests/cassettes/test_be_client[CH643546955207,CH843546955632].yaml
  django/camac/gis/tests/cassettes/test_be_client[CH643546955207,CH851446093521,CH673533354667].yaml
  django/camac/gis/tests/cassettes/test_be_client[CH643546955207,CH851446093521].yaml
  django/camac/gis/tests/cassettes/test_be_client[CH643546955207].yaml
  django/camac/gis/tests/cassettes/test_be_client[CH673533354667,CH643546955207].yaml
  django/camac/gis/tests/cassettes/test_be_client[CH673533354667,CH851446093521].yaml
  django/camac/gis/tests/cassettes/test_be_client[CH673533354667].yaml
  django/camac/gis/tests/cassettes/test_be_client_error[doesntexist].yaml
  django/camac/gis/tests/cassettes/test_be_client_error[emptygis].yaml
  django/camac/gis/tests/cassettes/test_be_client_error[emptypolygon].yaml
  django/camac/gis/tests/snapshots/snap_test_kt_be.py
  django/camac/gis/tests/test_kt_be.py
  django/kt_bern/config/gis.json
  ember-caluma-portal/app/components/be-gis.hbs
  ember-caluma-portal/app/components/be-gis.js
Due: lint-ember-caluma-portal, test-ember-caluma-portal, test-django

Update client, migrations and test casettes
  django/camac/gis/clients/begis.py
  django/camac/gis/migrations/0004_alter_gisdatasource_client.py
  django/camac/gis/migrations/0005_alter_gisdatasource_client.py
  django/camac/gis/tests/cassettes/test_be_client[CH643546955207,CH843546955632].yaml
  django/camac/gis/tests/cassettes/test_be_client[CH643546955207,CH851446093521,CH673533354667].yaml
  django/camac/gis/tests/cassettes/test_be_client[CH643546955207,CH851446093521].yaml
  django/camac/gis/tests/cassettes/test_be_client[CH643546955207].yaml
  django/camac/gis/tests/cassettes/test_be_client[CH673533354667,CH643546955207].yaml
  django/camac/gis/tests/cassettes/test_be_client[CH673533354667,CH851446093521].yaml
  django/camac/gis/tests/cassettes/test_be_client[CH673533354667].yaml
  django/camac/gis/tests/cassettes/test_be_client[CH851446093521].yaml
  django/kt_bern/config/gis.json
Due: test-django

Update error handling and add logging
  django/camac/gis/clients/begis.py
Due: test-django

Add queueing and concurrent requests
  django/camac/gis/admin.py
  django/camac/gis/clients/begis.py
  django/camac/gis/models.py
  django/camac/gis/tests/test_kt_be.py
  django/camac/gis/urls.py
  django/camac/gis/views.py
Due: test-django

Add polygon caching and improve error logging
  django/camac/gis/clients/begis.py
Due: test-django

test(gis-apply-button): cover legacy and v3 GIS scenario
  ember-ebau-core/addon/components/gis-apply-button.js
  ember-ebau-core/addon/config/features/be.js
  ember-ebau-core/tests/integration/components/gis-apply-button-test.js
Due: lint-ember-ebau-core, test-ember-ebau-core

feat(be): update tests, cleanup implementation, add translation
  django/camac/gis/admin.py
  django/camac/gis/clients/begis.py
  django/camac/gis/models.py
  django/camac/gis/tests/__snapshots__/test_kt_be.ambr
  django/camac/gis/tests/snapshots/snap_test_kt_be.py
  django/camac/gis/tests/test_kt_be.py
  django/camac/gis/views.py
  django/camac/instance/placeholders/locale/de/LC_MESSAGES/django.po
  django/camac/instance/placeholders/locale/fr/LC_MESSAGES/django.po
  django/camac/instance/placeholders/locale/it/LC_MESSAGES/django.po
  django/camac/settings.py
  django/locale/de/LC_MESSAGES/django.po
  django/locale/fr/LC_MESSAGES/django.po
  django/locale/it/LC_MESSAGES/django.po
Due: test-django

feat(be): poll GIS task results
  ember-ebau-core/addon/components/gis-apply-button.js
  ember-ebau-core/tests/integration/components/gis-apply-button-test.js
  ember-ebau-core/translations/gis/de.yaml
  ember-ebau-core/translations/gis/fr.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core

feat(gis): update admin, be gis client, task group
  django/camac/django_admin/admin.py
  django/camac/gis/admin.py
  django/camac/gis/clients/begis.py
  django/camac/gis/models.py
  django/camac/gis/tests/cassettes/test_be_client_error[doesntexist].yaml
  django/camac/gis/tests/cassettes/test_be_client_error[emptygis].yaml
  django/camac/gis/tests/cassettes/test_be_client_error[emptypolygon].yaml
  django/camac/gis/views.py
  django/camac/instance/placeholders/locale/de/LC_MESSAGES/django.po
  django/camac/instance/placeholders/locale/fr/LC_MESSAGES/django.po
  django/camac/instance/placeholders/locale/it/LC_MESSAGES/django.po
  django/camac/settings_django_admin.py
  django/locale/de/LC_MESSAGES/django.mo
  django/locale/de/LC_MESSAGES/django.po
  django/locale/fr/LC_MESSAGES/django.po
  django/locale/it/LC_MESSAGES/django.po
Due: test-django

fix(gr): enhance display of applicant names in header and dossierlist
  ember-ebau-core/addon/caluma-query/models/-case.js
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(instance-ability): allow lead and clerk role to edit acls
  ember-ebau-core/addon/abilities/instance.js
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(support): add visibility for users
  django/camac/user/tests/test_user.py
  django/camac/user/views.py
Due: test-django

fix(ur): add missing header to public-instances swagger
  django/camac/instance/views.py
  django/camac/swagger/utils.py
Due: test-django

feat(sz): configure instance-resources instance-states for construction-monitoring
  django/kt_schwyz/config/core.json
  django/kt_schwyz/config/instance.json
Due: test-django

fix(be): conditionally hide question "solaranlagen"
  django/kt_bern/config/caluma_form_v3.json
Due: test-django

refactor(instanceresource-filters): move role acl filtering to filterset
  django/camac/core/filters.py
  django/camac/core/views.py
Due: test-django

fix(instanceresource-filters): use either instnce acls or role acls, not both
  django/camac/core/filters.py
  django/camac/core/tests/test_filters.py
Due: test-django

fix(geometer): typo in form widget override
  ember-caluma-portal/app/application/route.js
Due: lint-ember-caluma-portal, test-ember-caluma-portal

refactor(utils): make the get_function_kwargs() function functor-aware
  django/camac/utils.py
Due: test-django

feat(permissions): introduce support for complex permission check logic
  django/camac/permissions/api.py
  django/camac/permissions/conditions.py
  django/camac/permissions/docs/configuration.md
  django/camac/permissions/docs/data_model.md
  django/camac/permissions/tests/test_geometer_permissions.py
  django/camac/permissions/tests/test_lowlevel_api.py
  django/camac/permissions/tests/test_permission_views.py
Due: test-django

feat(be): form changes according ebau-56
  django/camac/conftest.py
  django/camac/instance/tests/__snapshots__/test_document_merge_service.ambr
  django/kt_bern/config/caluma_form.json
  django/kt_bern/config/caluma_form_common.json
Due: test-django
