Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml

chore(dossierlist): only use placeholders in internal dossierlist for BE
  ember-ebau-core/translations/cases/de-be.yaml
  ember-ebau-core/translations/cases/de-gr.yaml
  ember-ebau-core/translations/cases/de-so.yaml
  ember-ebau-core/translations/cases/de-sz.yaml
  ember-ebau-core/translations/cases/de-ur.yaml
  ember-ebau-core/translations/cases/de.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core

fix: makefile commands and dockerfile
  Makefile
  compose/kt_bern-dev.yml
Due: lint-yml

fix(alexandria): allow shared tags to be set
  django/camac/alexandria/extensions/visibilities.py
  django/camac/settings.py
  django/camac/settings_alexandria.py
Due: test-django

fix(gr): make the gis map draggable again
  ember-ebau-core/addon/components/gr-gis.hbs
Due: lint-ember-ebau-core, test-ember-ebau-core

feat: add dossier-number-sort to meta
  django/camac/core/management/commands/migrate_dossier_number_sort.py
  django/camac/core/tests/test_utils.py
  django/camac/core/utils.py
  django/camac/instance/domain_logic.py
  django/camac/instance/serializers.py
  django/pyproject.toml
  ember-ebau-core/addon/config/case-table-gr.js
  ember-ebau-core/addon/config/case-table-so.js
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

feat(gr): show alexandria decision documents in the portal
  ember-caluma-portal/app/instances/edit/controller.js
  ember-caluma-portal/app/instances/edit/index/template.hbs
  ember-caluma-portal/config/environment.js
Due: lint-ember-caluma-portal, test-ember-caluma-portal

feat(gr): form changes
  django/kt_gr/config/caluma_form_common.json
  django/kt_gr/config/caluma_material_exam_form.json
  django/kt_gr/config/publication.json
Due: test-django

feat: add decision document visibility
  django/camac/alexandria/extensions/visibilities.py
  django/camac/alexandria/tests/snapshots/snap_test_visibilities.py
  django/camac/alexandria/tests/test_permissions.py
  django/camac/alexandria/tests/test_visibilities.py
  django/camac/settings_alexandria.py
  ember-caluma-portal/app/instances/edit/controller.js
Due: lint-ember-caluma-portal, test-ember-caluma-portal, test-django

fix(alexandria): fix public mapping
  django/camac/alexandria/extensions/common.py
Due: test-django

chore: add FIXME about potential camac_role refactor
  django/camac/caluma/utils.py
Due: test-django

chore(gr): cleanup local testdossier data
  django/kt_gr/data/alexandria_core.json
  django/kt_gr/data/applicants.json
  django/kt_gr/data/caluma_form.json
  django/kt_gr/data/caluma_workflow.json
  django/kt_gr/data/core.json
  django/kt_gr/data/instance.json
Due: test-django

fix(gr): add status mapping for inquiry answer 'claim'
  ember-ebau/app/services/caluma-options.js
Due: none

chore(gr): fix mandatory questions and jexls in bab form
  django/kt_gr/config/caluma_form.json
Due: test-django

chore(so): minor form change
  django/kt_so/config/alexandria_core.json
  django/kt_so/config/caluma_form.json
Due: test-django

feat(gr): add new placeholders
  django/camac/instance/placeholders/locale/de/LC_MESSAGES/django.mo
  django/camac/instance/placeholders/locale/de/LC_MESSAGES/django.po
  django/camac/instance/placeholders/serializers.py
  django/camac/instance/tests/snapshots/snap_test_placeholders.py
  django/camac/instance/tests/test_placeholders.py
Due: test-django

feat(gr):search by city or plot in gr gis
  ember-ebau-core/addon/components/gr-gis.hbs
  ember-ebau-core/addon/components/gr-gis.js
Due: lint-ember-ebau-core, test-ember-ebau-core

feat(gr): create management command to revert the mandatory questions
  django/camac/core/management/commands/revert_mandatory_questions_gr.py
  django/kt_gr/config/caluma_form.json
  django/pyproject.toml
Due: test-django

feat: enable additional-demands for ember-camac-ng
  ember-camac-ng/app/router.js
  ember-ebau-core/addon/abilities/additional-demand.js
  ember-ebau-core/addon/caluma-query/models/work-item.js
  ember-ebau-core/addon/components/additional-demand/list/item.hbs
  ember-ebau-core/addon/components/additional-demand/list/item.js
  ember-ebau-core/addon/components/case-table.js
  ember-ebau-core/addon/components/communication/topic-list.js
  ember-ebau-core/addon/services/additional-demand.js
  ember-ebau-core/addon/services/ebau-modules.js
Due: lint-ember-camac-ng, lint-ember-ebau-core, test-ember-camac-ng, test-ember-ebau-core

chore(gr): add two new system templates
  document-merge-service/kt_gr/dump.json
  document-merge-service/kt_gr/templatefiles/BAB_Bewilligung.docx
  document-merge-service/kt_gr/templatefiles/publikationsformular_baugesuch.docx
Due: none

fix(gr): fix the decision-documents placeholder
  django/camac/instance/serializers.py
  django/camac/instance/tests/snapshots/snap_test_placeholders.py
  django/kt_gr/data/alexandria_core.json
  django/locale/de/LC_MESSAGES/django.mo
  django/locale/de/LC_MESSAGES/django.po
  ember-ebau-core/addon/services/config.js
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django
