Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml

fix(instance): fix deletion of cases and documents on delete
  django/.coveragerc
  django/camac/caluma/api.py
  django/camac/core/tests/test_migrate_workflow_entries_ur.py
  django/camac/instance/management/commands/clean_deleted_instances.py
  django/camac/instance/migrations/0036_alter_instance_case.py
  django/camac/instance/models.py
  django/camac/instance/tests/test_instance_caluma.py
  django/camac/instance/views.py
Due: test-django

chore(deps): update font awesome to v6
  ember-camac-ng/app/models/history-entry.js
  ember-camac-ng/app/ui/components/context-menu/template.hbs
  ember-camac-ng/package.json
  ember-camac-ng/tests/unit/models/history-entry-test.js
  yarn.lock
Due: lint-ember-camac-ng, test-ember-camac-ng

chore(deps): update ember-file-upload to v5
  ember-caluma-portal/app/components/be-claims-form/edit/component.js
  ember-caluma-portal/app/components/be-document-bucket/component.js
  ember-caluma-portal/app/components/be-document-bucket/template.hbs
  ember-caluma-portal/app/components/be-documents-form/component.js
  ember-caluma-portal/package.json
  yarn.lock
Due: lint-ember-caluma-portal, test-ember-caluma-portal

feat(be): show created by only for manual created tasks
  ember-camac-ng/app/ui/work-items/instance/edit/template.hbs
Due: lint-ember-camac-ng, test-ember-camac-ng

feat(be): add the creation date for the circulation placeholders
  django/camac/instance/placeholders/fields.py
  django/camac/instance/tests/snapshots/snap_test_placeholders.py
Due: test-django

chore(deps): update ember dependencies
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
  ember-ebau-core/package.json
  yarn.lock
Due: lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core

refactor(ember): remove deprecated usage of transitions on routes and controllers
  ember-caluma-portal/app/application/route.js
  ember-caluma-portal/app/instances/edit/index/route.js
  ember-caluma-portal/app/instances/new/controller.js
  ember-caluma-portal/app/public-instances/detail/form/route.js
  ember-caluma-portal/app/public-instances/detail/index/route.js
  ember-camac-ng/app/ui/audit/edit/controller.js
  ember-camac-ng/app/ui/index/route.js
  ember-camac-ng/app/ui/publication/index/route.js
  ember-camac-ng/app/ui/statistics/avg-cycle-time/route.js
  ember-camac-ng/app/ui/statistics/cycle-time/route.js
  ember-camac-ng/app/ui/statistics/process-time/route.js
  ember-camac-ng/app/ui/work-items/instance/new/controller.js
Due: lint-ember-camac-ng, lint-ember-caluma-portal, test-ember-camac-ng, test-ember-caluma-portal

chore(be): add missing french translation
  django/kt_bern/config/core.json
Due: test-django

chore(release): v2.9.0-rc.4
  VERSION.txt
  django/camac/camac_metadata.py
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
Due: lint-ember-camac-ng, lint-ember-caluma-portal, test-ember-camac-ng, test-ember-caluma-portal, test-django
