Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

lint-yml:
  stage: lint
  image: node:lts
  before_script:
  - yarn global add prettier
  script:
  - prettier -c **/*.yml

lint-ember-camac-ng:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-camac-ng
  - yarn
  script:
  - yarn lint

lint-ember-caluma-portal:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-caluma-portal
  - yarn
  script:
  - yarn lint

lint-ember-ebau-core:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-ebau-core
  - yarn
  script:
  - yarn lint

lint-php:
  stage: lint
  image:
    name: node:lts
  script:
  - if git grep -I -e ä  -e ö  -e ü   -- './*' ':!.gitlab-ci.yml'; then exit 1; else echo "No composite umlaute found"; fi
  - yarn --cwd=php install
  - yarn --cwd=php lint
  - yarn --cwd=php prettier-check

test-ember:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember"
  - eval $COMPOSE build ember
  - eval $COMPOSE run --rm --no-deps ember yarn test

test-ember-camac-ng:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-camac-ng"
  - eval $COMPOSE build ember-camac-ng
  ...

test-ember-caluma-portal:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-caluma-portal"
  - eval $COMPOSE build ember-caluma-portal
  ...

test-ember-ebau-core:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-ebau-core"
  - eval $COMPOSE build ember-ebau-core
  ...

test-django:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet django db clamav unoconv"
  - eval $COMPOSE build --parallel django db clamav unoconv
  ...

php-security-checker:
  stage: test
  image:
    name: jakzal/phpqa:php7.3-alpine
  script: local-php-security-checker --path=./php/composer.lock

fix(django): correctly filter service ids for work item reminders
  django/camac/notification/management/commands/send_work_item_reminders.py
  django/camac/notification/tests/snapshots/snap_test_send_work_item_reminders.py
  django/camac/notification/tests/test_send_work_item_reminders.py
Due: test-django

fix: route after login, minor layout fix
  ember-ebau/app/router.js
  ember-ebau/app/ui/components/main-navigation/template.hbs
  ember-ebau/app/ui/index/template.hbs
Due: none

fix: move ember-camac-ng to port 4300, ember-ebau to 4400
  .vscode/launch.json
  Makefile
  compose/kt_bern-dev.yml
  ember-caluma-portal/app/router.js
  ember-camac-ng/.ember-cli
  ember-ebau/.ember-cli
  ember-ebau/app/router.js
  keycloak/config/kt_bern-test-config.json
Due: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, test-ember-camac-ng, test-ember-caluma-portal

fix(ur): allow linking for all KOORS
  ember-camac-ng/app/abilities/instance.js
Due: lint-ember-camac-ng, test-ember-camac-ng

chore(sz): final switch to new azure system
  compose/kt_schwyz-prod.yml
Due: lint-yml

feat(be): enable document marking after the decision for the support
  django/camac/document/serializers.py
  django/camac/document/tests/test_attachment.py
Due: test-django

chore(deps): fix faker deprecation
  ember-caluma-portal/mirage/factories/group.js
  ember-camac-ng/mirage/factories/service.js
  ember-ebau-core/tests/dummy/mirage/factories/service.js
Due: lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core

fix(ur): fix the linking of dossiers on the same plot
  ember-camac-ng/app/ui/components/case-dashboard/component.js
  ember-camac-ng/app/ui/components/case-dashboard/template.hbs
Due: lint-ember-camac-ng, test-ember-camac-ng

chore(ur): backport form group changes for form gebaeudetechnik
  django/kt_uri/config/core.json
Due: test-django

feat(be): show sb1 and sb2 to municipality when applicant can edit
  django/camac/instance/serializers.py
  django/camac/instance/tests/snapshots/snap_test_instance_caluma_permissions.py
  django/camac/instance/tests/test_instance_caluma_permissions.py
Due: test-django

fix(django): handle empty date answers in caluma utils
  django/camac/caluma/utils.py
Due: test-django

feat(sz): add arch instance state for read-only role
  django/kt_schwyz/config/core.json
Due: test-django

chore(ur): backport page form circulation for form "gebaeudetechnik"
  django/kt_uri/config/core.json
Due: test-django

chore(gwr): update ember-ebau-gwr to v6.0.3
  ember-camac-ng/package.json
  yarn.lock
Due: lint-ember-camac-ng, test-ember-camac-ng

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml
