Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

lint-yml:
  stage: lint
  image: node:lts
  before_script:
  - yarn global add prettier
  script:
  - prettier -c **/*.yml

lint-ember-camac-ng:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-camac-ng
  - yarn
  script:
  - yarn lint

lint-ember-caluma-portal:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-caluma-portal
  - yarn
  script:
  - yarn lint

lint-ember-ebau-core:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-ebau-core
  - yarn
  script:
  - yarn lint

lint-php:
  stage: lint
  image:
    name: node:lts
  script:
  - if git grep -I -e ä  -e ö  -e ü   -- './*' ':!.gitlab-ci.yml'; then exit 1; else echo "No composite umlaute found"; fi
  - yarn --cwd=php install
  - yarn --cwd=php lint
  - yarn --cwd=php prettier-check

test-ember:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember"
  - eval $COMPOSE build ember
  - eval $COMPOSE run --rm --no-deps ember yarn test

test-ember-camac-ng:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-camac-ng"
  - eval $COMPOSE build ember-camac-ng
  ...

test-ember-caluma-portal:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-caluma-portal"
  - eval $COMPOSE build ember-caluma-portal
  ...

test-ember-ebau-core:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-ebau-core"
  - eval $COMPOSE build ember-ebau-core
  ...

test-django:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet django db clamav unoconv"
  - eval $COMPOSE build --parallel django db clamav unoconv
  ...

php-security-checker:
  stage: test
  image:
    name: jakzal/phpqa:php7.3-alpine
  script: local-php-security-checker --path=./php/composer.lock

fix(ur): disable loadconfig for uri
  django/entrypoint.sh
Due: test-django

fix(ur): bbp v2 fixes part3
  django/camac/caluma/extensions/dynamic_tasks.py
  django/camac/caluma/extensions/events/construction_monitoring.py
  django/camac/caluma/tests/test_construction_monitoring.py
  django/camac/caluma/tests/test_dynamic_tasks.py
  django/camac/settings/django.py
  django/kt_uri/config/caluma_construction_monitoring_form.json
  django/kt_uri/config/caluma_construction_monitoring_workflow.json
  django/kt_uri/config/caluma_form.json
  django/kt_uri/config/caluma_workflow.json
  django/kt_uri/config/core.json
Due: test-django

fix(gr): show abgasanlagen only when relevant
  django/kt_gr/config/caluma_form.json
Due: test-django

fix(gr): fix when hydrogeologische begleitung is shown
  django/kt_gr/config/caluma_form_v2.json
Due: test-django

refactor(so): use dossier number in generated pdfs instead of id
  django/camac/settings/modules/permissions/kt_so.py
  django/kt_so/config/caluma_form.json
  document-merge-service/kt_so/templatefiles/form.docx
  document-merge-service/kt_so/templatefiles/signatures.docx
  ember-caluma-portal/app/application/route.js
  ember-caluma-portal/app/components/so-submit-instance.js
  ember-caluma-portal/app/instances/edit/index/controller.js
  ember-caluma-portal/translations/de-so.yaml
  ember-ebau-core/addon/config/features/so.js
  ember-ebau-core/addon/config/main-so.js
Due: lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-caluma-portal, test-ember-ebau-core, test-django

chore(ag): change ordering of questions in exam form
  django/kt_ag/config/caluma_audit_form.json
Due: test-django

feat(so): disable form in publication and limit caluma access
  django/camac/alexandria/tests/test_visibilities.py
  django/camac/caluma/extensions/visibilities.py
  django/camac/caluma/tests/gql/publication.graphql
  django/camac/caluma/tests/test_visibilities.py
  django/camac/conftest.py
  django/camac/instance/tests/test_withdrawal.py
  django/camac/settings/modules/publication.py
  ember-caluma-portal/app/public-instances/detail/documents/template.hbs
  ember-caluma-portal/app/public-instances/detail/form/route.js
  ember-caluma-portal/app/public-instances/detail/index/route.js
  ember-caluma-portal/app/public-instances/detail/template.hbs
  ember-ebau-core/addon/config/features/ag.js
  ember-ebau-core/addon/config/features/be.js
  ember-ebau-core/addon/config/features/gr.js
  ember-ebau-core/addon/config/features/so.js
Due: lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-caluma-portal, test-ember-ebau-core, test-django

chore: apply 1 suggestion(s) to 1 file(s)
  django/camac/settings/modules/permissions/kt_so.py
Due: test-django

Revert "feat(webdav): separate webdav from django"
  compose/kt_bern-dev.yml
  compose/kt_bern-devtest.yml
  compose/kt_bern.yml
  compose/kt_uri-dev.yml
  compose/kt_uri.yml
  django/Dockerfile
  django/camac/wsgi.py
  django/camac/wsgi_dav.py
  django/entrypoint.sh
  django/k8s.sh
  django/pyproject.toml
  django/requirements.txt
  django/uwsgi.ini
Due: lint-yml, test-django

chore: run makemessages command
  django/camac/instance/milestones/locale/fr/LC_MESSAGES/django.po
  django/camac/instance/milestones/locale/it/LC_MESSAGES/django.po
  django/locale/de/LC_MESSAGES/django.po
  django/locale/fr/LC_MESSAGES/django.po
  django/locale/it/LC_MESSAGES/django.po
Due: test-django

test(placeholders): update snapshots
  django/camac/instance/tests/__snapshots__/test_master_data.ambr
  django/camac/instance/tests/__snapshots__/test_placeholders.ambr
Due: test-django

feat(so): add all billing fields to placeholders
  django/camac/instance/placeholders/fields.py
  django/camac/instance/placeholders/locale/de/LC_MESSAGES/django.po
  django/camac/instance/placeholders/locale/fr/LC_MESSAGES/django.po
  django/camac/instance/placeholders/locale/it/LC_MESSAGES/django.po
Due: test-django

feat(so): add new placeholders for bab
  django/camac/instance/placeholders/locale/de/LC_MESSAGES/django.po
  django/camac/instance/placeholders/locale/fr/LC_MESSAGES/django.po
  django/camac/instance/placeholders/locale/it/LC_MESSAGES/django.po
  django/camac/instance/placeholders/serializers.py
  django/camac/settings/modules/master_data.py
Due: test-django

feat(placeholders): add all publications data structure
  django/camac/instance/placeholders/fields.py
  django/camac/instance/placeholders/locale/de/LC_MESSAGES/django.po
  django/camac/instance/placeholders/locale/fr/LC_MESSAGES/django.po
  django/camac/instance/placeholders/locale/it/LC_MESSAGES/django.po
  django/camac/instance/placeholders/serializers.py
  django/camac/settings/modules/master_data.py
Due: test-django

fix(placeholders): use billing choice labels
  django/camac/billing/factories.py
  django/camac/billing/models.py
  django/camac/billing/serializers.py
  django/camac/billing/tests/test_billing.py
  django/camac/billing/tests/test_export.py
  django/camac/billing/utils.py
  django/camac/instance/placeholders/fields.py
  django/camac/instance/tests/__snapshots__/test_placeholders.ambr
  django/camac/notification/serializers.py
  django/locale/de/LC_MESSAGES/django.po
  django/locale/fr/LC_MESSAGES/django.po
  django/locale/it/LC_MESSAGES/django.po
Due: test-django

fix(so): on form copy sync dynamic option values
  django/camac/caluma/extensions/data_sources.py
  django/camac/caluma/tests/test_data_sources.py
  django/requirements.txt
Due: test-django

feat(ag): add placeholders for information of neighbors
  django/camac/conftest.py
  django/camac/instance/placeholders/fields.py
  django/camac/instance/placeholders/locale/de/LC_MESSAGES/django.po
  django/camac/instance/placeholders/locale/fr/LC_MESSAGES/django.po
  django/camac/instance/placeholders/locale/it/LC_MESSAGES/django.po
  django/camac/instance/placeholders/serializers.py
  django/camac/instance/tests/__snapshots__/test_master_data.ambr
  django/camac/instance/tests/__snapshots__/test_placeholders.ambr
  django/camac/instance/tests/test_placeholders.py
  django/camac/settings/modules/publication.py
Due: test-django

feat(ag): add and configure objections module
  django/camac/conftest.py
  django/camac/settings/modules/dump.py
  django/camac/settings/modules/permissions/kt_ag.py
  django/kt_ag/config/caluma_form_common.json
  django/kt_ag/config/caluma_objection_form.json
  django/kt_ag/config/caluma_workflow.json
  django/kt_ag/config/core.json
  django/kt_ag/workflow/tasks.graphql
  django/kt_ag/workflow/workflow-building-permit.graphql
  ember-ebau-core/addon/config/main-ag.js
  ember-ebau-core/translations/legal-submission/de-ag.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

fix(sz): look up and create involved applicants manually
  django/camac/instance/views.py
Due: test-django

fix(sanctions): use modelName instead of name to get model class name
  ember-ebau-core/addon/components/sanction/edit.js
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(gr): fix the "Kanalisationsabnahme" and "Rohbauabnahme" construction-steps
  django/kt_gr/config/caluma_construction_monitoring_workflow.json
Due: test-django

fix(core): reload file when expired
  ember-ebau-core/addon/models/document.js
Due: lint-ember-ebau-core, test-ember-ebau-core

fix migrations
  django/camac/caluma/migrations/__init__.py
Due: test-django

fix(sanctions): do not set createdByService on template creation
  ember-ebau-core/addon/routes/sanction-templates/new.js
Due: lint-ember-ebau-core, test-ember-ebau-core

feat(ag): implement custom visibility rules for billing entries
  django/camac/billing/export/views.py
  django/camac/billing/models.py
  django/camac/billing/tests/test_managers.py
  django/camac/billing/views.py
  django/camac/instance/placeholders/fields.py
  django/camac/permissions/conditions.py
  django/camac/permissions/tests/test_conditions.py
  django/camac/settings/modules/permissions/kt_ag.py
  django/camac/settings/modules/permissions/kt_gr.py
  django/camac/settings/modules/permissions/kt_so.py
Due: test-django

feat(ag): add new placeholders
  django/camac/conftest.py
  django/camac/instance/master_data.py
  django/camac/instance/placeholders/fields.py
  django/camac/instance/placeholders/locale/de/LC_MESSAGES/django.po
  django/camac/instance/placeholders/locale/fr/LC_MESSAGES/django.po
  django/camac/instance/placeholders/locale/it/LC_MESSAGES/django.po
  django/camac/instance/placeholders/serializers.py
  django/camac/instance/tests/__snapshots__/test_master_data.ambr
  django/camac/instance/tests/__snapshots__/test_placeholders.ambr
  django/camac/instance/tests/test_master_data.py
  django/camac/instance/tests/test_placeholders.py
  django/camac/settings/modules/master_data.py
Due: test-django

feat(ember-ebau-core): allow defining the sub-service that can be load with...
  django/kt_schwyz/config/core.json
  ember-ebau-core/addon/config/main-sz.js
  ember-ebau-core/addon/controllers/service-permissions.js
  ember-ebau-core/addon/modules/service-permissions.js
  ember-ebau-core/addon/routes/service-permissions/index.js
  ember-ebau-core/addon/templates/service-permissions.hbs
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

feat(django-gr): add construction-acceptance features back in for next prod release
  django/camac/caluma/extensions/events/__init__.py
  django/camac/caluma/extensions/events/construction_acceptance.py
  django/camac/conftest.py
  django/camac/notification/serializers.py
  django/camac/notification/tests/test_notification_template.py
  django/camac/permissions/config/kt_gr.py
  django/camac/permissions/events.py
  django/camac/permissions/tests/test_events.py
  django/camac/settings/django.py
  django/camac/settings/modules/construction_monitoring.py
  django/camac/settings/modules/decision.py
  django/camac/settings/modules/dump.py
  django/camac/settings/modules/permissions/kt_gr.py
  django/kt_gr/config/caluma_construction_monitoring_form.json
  django/kt_gr/config/caluma_construction_monitoring_workflow.json
  django/kt_gr/config/caluma_form.json
  django/kt_gr/config/caluma_form_common.json
  django/kt_gr/config/caluma_workflow.json
  django/kt_gr/config/core.json
Due: test-django

fix(so): rename field in formelle prüfung
  django/kt_so/config/caluma_formal_exam_form.json
Due: test-django

fix(gr): coordinates on situationsplan in doc
  django/camac/instance/document_merge_service.py
  django/camac/instance/placeholders/serializers.py
  django/camac/instance/placeholders/utils.py
  django/camac/instance/tests/__snapshots__/test_document_merge_service.ambr
  django/camac/instance/tests/__snapshots__/test_master_data.ambr
  django/camac/instance/tests/__snapshots__/test_placeholders.ambr
  django/camac/instance/tests/test_placeholders.py
  django/camac/settings/modules/master_data.py
  document-merge-service/kt_gr/templatefiles/form.docx
  ember-ebau-core/addon/components/gr-gis.js
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

fix(ag): fix displaying of people names in objections
  ember-ebau-core/addon/utils/get-applicants.js
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(django-gr): disable withdrawal module for GR
  django/camac/settings/modules/permissions/kt_gr.py
Due: test-django

fix(django-gr): hide the "Voraussetzungen für eine bauanzeige" question also for baugesuch-v2
  django/kt_gr/config/caluma_form.json
Due: test-django

feat(gr): add Spezialformulare > Entsorgung subform
  django/kt_gr/config/caluma_form.json
  django/kt_gr/config/caluma_form_v2.json
Due: test-django

feat(gr): hide Entsorgung form
  django/kt_gr/config/caluma_form.json
Due: test-django

feat(sz): add sanctions hint in inquiry response form
  django/kt_schwyz/config/caluma_distribution.json
Due: test-django

fix(django-gr): remove GVG from roof questions in solarform
  django/camac/settings/modules/distribution_suggestions/kt_gr.py
Due: test-django

feat(work-item list): enable to search in the responsible field
  ember-ebau-core/addon/components/work-item-list-wrapper.hbs
Due: lint-ember-ebau-core, test-ember-ebau-core

refactor(wilken): merge invoices app with billing
  django/camac/billing/factories.py
  django/camac/billing/management/__init__.py
  django/camac/billing/management/commands/__init__.py
  django/camac/billing/management/commands/generate_invoices.py
  django/camac/billing/migrations/0009_invoice_lineitem.py
  django/camac/billing/models.py
  django/camac/billing/tests/__snapshots__/test_wilken_export.ambr
  django/camac/billing/tests/test_wilken_export.py
  django/camac/billing/utils.py
  django/camac/billing/wilken/__init__.py
  django/camac/billing/wilken/data.py
  django/camac/billing/wilken/domain_logic.py
  django/camac/conftest.py
  django/camac/fixtures/generated/settings_fixtures.py
  django/camac/invoices/apps.py
  django/camac/invoices/factories.py
  django/camac/invoices/management/commands/__init__.py
  django/camac/invoices/migrations/__init__.py
  django/camac/invoices/models.py
  django/camac/invoices/utils.py
  django/camac/settings/django.py
  django/camac/settings/modules/billing.py
  django/camac/settings/modules/invoices.py
Due: test-django

feat(so): notifications for manually created work items
  django/camac/caluma/extensions/events/caluma_workflow_notifications.py
  django/camac/caluma/extensions/events/complete_check.py
  django/camac/caluma/extensions/events/general.py
  django/camac/caluma/extensions/events/simple_workflow.py
  django/camac/caluma/tests/test_events.py
  django/camac/caluma/tests/test_validations.py
  django/camac/instance/tests/test_instance_caluma.py
  django/camac/settings/django.py
  django/camac/utils.py
  django/kt_so/config/email_notifications.json
Due: test-django

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml
