Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

lint-yml:
  stage: lint
  image: node:lts
  before_script:
  - yarn global add prettier
  script:
  - prettier -c **/*.yml

lint-ember-camac-ng:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-camac-ng
  - yarn
  script:
  - yarn lint

lint-ember-caluma-portal:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-caluma-portal
  - yarn
  script:
  - yarn lint

lint-ember-ebau-core:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-ebau-core
  - yarn
  script:
  - yarn lint

lint-php:
  stage: lint
  image:
    name: node:lts
  script:
  - if git grep -I -e ä  -e ö  -e ü   -- './*' ':!.gitlab-ci.yml'; then exit 1; else echo "No composite umlaute found"; fi
  - yarn --cwd=php install
  - yarn --cwd=php lint
  - yarn --cwd=php prettier-check

test-ember:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember"
  - eval $COMPOSE build ember
  - eval $COMPOSE run --rm --no-deps ember yarn test

test-ember-camac-ng:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-camac-ng"
  - eval $COMPOSE build ember-camac-ng
  ...

test-ember-caluma-portal:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-caluma-portal"
  - eval $COMPOSE build ember-caluma-portal
  ...

test-ember-ebau-core:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-ebau-core"
  - eval $COMPOSE build ember-ebau-core
  ...

test-django:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet django db clamav unoconv"
  - eval $COMPOSE build --parallel django db clamav unoconv
  ...

php-security-checker:
  stage: test
  image:
    name: jakzal/phpqa:php7.3-alpine
  script: local-php-security-checker --path=./php/composer.lock

fix(be/additional-demands): fix draft filtering for migrated instances
  ember-ebau-core/addon/components/additional-demand/list.hbs
  ember-ebau-core/addon/components/additional-demand/list.js
  ember-ebau-core/addon/services/additional-demand.js
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(be): show additional-demand attachments in paper section
  ember-ebau-core/addon/components/camac-additional-demand-files.js
  ember-ebau-core/addon/config/additional-demands-be.js
Due: lint-ember-ebau-core, test-ember-ebau-core

feat(tests): ensure no leaky tests
  django/camac/captcha/tests/test_utils.py
  django/camac/captcha/tests/test_views.py
  django/camac/conftest.py
  django/camac/instance/tests/test_placeholders.py
Due: test-django

feat(ur): create the bab statistics export module
  django/camac/core/serializers.py
  django/camac/instance/export/views.py
  django/camac/instance/tests/test_instance_export.py
  django/camac/instance/urls.py
  django/camac/settings/modules/work_item_list.py
  django/camac/settings/modules/work_item_list_schema.py
  django/kt_uri/config/core.json
  ember-camac-ng/app/router.js
  ember-ebau-core/addon/controllers/bab-statistics-export.js
  ember-ebau-core/addon/modules/bab-statistics-export.js
  ember-ebau-core/addon/routes/bab-statistics-export.js
  ember-ebau-core/addon/templates/bab-statistics-export.hbs
  ember-ebau-core/translations/bab-statistics-export/de.yaml
Due: lint-ember-camac-ng, lint-ember-ebau-core, test-ember-camac-ng, test-ember-ebau-core, test-django

fix(be): add camac-tag ember model since filter uses alexandria tags
  ember-camac-ng/app/adapters/camac-tag.js
  ember-camac-ng/app/models/camac-tag.js
  ember-ebau-core/addon/components/case-filter.js
Due: lint-ember-camac-ng, lint-ember-ebau-core, test-ember-camac-ng, test-ember-ebau-core

fix(keywords): use id instead of name for keywords
  django/camac/instance/filters.py
  ember-ebau-core/addon/components/case-filter.js
  ember-ebau-core/addon/components/case-filter/filter-config.js
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

refactor(additional-demands): refactor additional-demand detail meta information
  ember-ebau-core/addon/components/additional-demand/detail.hbs
  ember-ebau-core/translations/additional-demand/de-be.yaml
  ember-ebau-core/translations/additional-demand/de.yaml
  ember-ebau-core/translations/additional-demand/fr-be.yaml
  ember-ebau-core/translations/additional-demand/fr.yaml
  ember-ebau-core/translations/additional-demand/it.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core

style(additional-demands): make margin below meta information more consistent
  ember-ebau-core/addon/components/additional-demand/detail.hbs
  ember-ebau-core/addon/components/additional-demand/list.hbs
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(ag): use GDEBez for Bauzonen layer
  django/kt_ag/config/gis.json
Due: test-django

fix(be): fix addressed-groups and assigned users in additional-demand migration
  django/camac/instance/management/commands/migrate_additional_demands_be.py
Due: test-django

fix(work-item-list-v2): don't compare string with int for suspended flag
  django/camac/work_items/models.py
Due: test-django

fix(portal): disable dompurify on translation
  ember-caluma-portal/app/instances/new/template.hbs
Due: lint-ember-caluma-portal, test-ember-caluma-portal

chore(deps): bump ember-caluma 14.8.3 and revert dompurify changes
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
  ember-ebau-core/addon/initializers/register-showdown-extensions.js
  ember-ebau-core/app/initializers/modules.js
  ember-ebau-core/package.json
  ember-ebau/package.json
  pnpm-lock.yaml
Due: lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core

chore(deps): downgrade setuptools to v81.0.0
  django/requirements.txt
Due: test-django

fix(tests): use form_utils in changed test
  django/camac/instance/tests/test_instance_export.py
Due: test-django

fix(alexandria): sorting with sortKey
  django/camac/alexandria/views.py
  ember-ebau-core/addon/services/alexandria-config.js
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

chore: update ember-alexandria from v10.10.0 to v10.10.1
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
  ember-ebau-core/package.json
  ember-ebau/package.json
  pnpm-lock.yaml
Due: lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core

chore(sz|keycloak): update dev config dump after upgrade to v26.5.2
  keycloak/config/kt_schwyz-test-config.json
Due: none

feat(so): add new municipalities
  django/kt_so/config/caluma_form.json
  django/kt_so/data/core.json
  ember-caluma-portal/translations/public-instances/de-so.yaml
Due: lint-ember-caluma-portal, test-ember-caluma-portal, test-django

feat(tests): introduce ability to define sql views
  django/camac/conftest.py
  django/camac/settings/django.py
Due: test-django

refactor(swagger): make the conditional factory actually work
  django/camac/ech0211/views.py
  django/camac/swagger/utils.py
Due: test-django

feat(utils): add ability to descend into lists in get_dict_item()
  django/camac/utils.py
Due: test-django

refactor: move common fixtures to conftest
  django/camac/alexandria/tests/test_permissions.py
  django/camac/conftest.py
  django/camac/ech0211/conftest.py
  django/camac/ech0211/tests/test_file_views.py
Due: test-django

fix(ag): add command for migrated document metainfo
  django/camac/alexandria/management/commands/fix_alexandria_migrated_document_metainfo_ag.py
  django/pyproject.toml
Due: test-django

feat(ur): backport form changes
  django/kt_uri/config/caluma_form.json
Due: test-django

feat(so): create the "Zivilschutz" form
  django/camac/conftest.py
  django/camac/settings/modules/dms.py
  django/camac/settings/modules/dump.py
  django/kt_so/config/caluma_form.json
  django/kt_so/config/caluma_form_v2.json
  django/kt_so/config/caluma_form_v3.json
  django/kt_so/config/caluma_workflow.json
  django/kt_so/workflow/workflow-building-permit.graphql
  ember-caluma-portal/config/environment.js
Due: lint-ember-caluma-portal, test-ember-caluma-portal, test-django

fix(dump): handle multiple dependencies when sorting for complexity
  django/camac/core/management/commands/camac_dump_config.py
Due: test-django

feat(sg): add initial styling for portal and internal app
  ember-caluma-portal/app/components/be-navbar.hbs
  ember-caluma-portal/app/styles/_be-navbar.scss
  ember-caluma-portal/app/styles/_variables-sg.scss
  ember-caluma-portal/public/favicon-sg.ico
  ember-caluma-portal/translations/de-sg.yaml
  ember-ebau-core/addon/config/features.js
  ember-ebau-core/addon/config/features/sg.js
  ember-ebau-core/app/styles/components/watermark.scss
  ember-ebau/app/components/main-navigation.hbs
  ember-ebau/app/components/main-navigation.js
  ember-ebau/app/styles/_variables-sg.scss
  ember-ebau/app/styles/components/main-navigation.scss
  ember-ebau/public/favicon-sg.ico
  ember-ebau/translations/de-sg.yaml
Due: lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-caluma-portal, test-ember-ebau-core

feat(gr): make dossier number in instance list clickable
  ember-ebau-core/addon/components/case-table.hbs
  ember-ebau-core/addon/components/case-table.js
  ember-ebau-core/addon/components/case-table/row.hbs
  ember-ebau-core/addon/components/case-table/row.js
  ember-ebau-core/app/components/case-table/row.js
Due: lint-ember-ebau-core, test-ember-ebau-core

chore: don't publish baugesuch-v2 and change order in hochbau form
  django/kt_so/config/caluma_form_v2.json
  django/kt_so/config/caluma_form_v3.json
Due: test-django

feat(ur): enable dossier linking for KOOR AfE
  django/camac/instance/views.py
Due: test-django

fix(gr): change eeba refresh and save logic and order
  ember-ebau-core/addon/components/gis-apply-button.js
  ember-ebau-core/addon/services/eeba-client.js
  ember-ebau-core/tests/integration/components/gis-apply-button-test.js
Due: lint-ember-ebau-core, test-ember-ebau-core

chore(be): add french translations for the GIS changes in the portal
  ember-ebau-core/translations/gis/fr.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core

feat(ur): only copy applicant attachments when copy an instance from php
  django/camac/instance/domain_logic/create.py
  django/camac/instance/serializers.py
  django/camac/instance/tests/test_domain_logic_create.py
Due: test-django

fix(deps): update alexandria to v8.6.1
  compose/kt_ag-dev.yml
  compose/kt_bern-dev.yml
  compose/kt_gr-dev.yml
  compose/kt_sg-dev.yml
  compose/kt_so-dev.yml
  django/camac/conftest.py
  django/camac/core/tests/test_utils.py
  django/camac/settings/django.py
  django/pyproject.toml
  django/requirements.txt
Due: lint-yml, test-django

fix(deps): update docxtpl to v0.20.2
  django/pyproject.toml
  django/requirements.txt
Due: test-django

chore(pytest): cleanup filterwarnings
  django/pyproject.toml
Due: test-django

fix(deps): remove downgrade of setuptools
  django/requirements.txt
Due: test-django

fix(deps): remove dependency to django-excel
  django/camac/billing/export/views.py
  django/camac/circulation/tests/test_activation.py
  django/camac/circulation/views.py
  django/camac/conftest.py
  django/camac/instance/export/views.py
  django/camac/instance/tests/test_instance.py
  django/camac/instance/tests/test_instance_export.py
  django/camac/instance/views.py
  django/camac/response.py
  django/pyproject.toml
  django/requirements.txt
Due: test-django

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml
