Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml

fix(gr): required star in internal area
  ember-caluma-portal/translations/de-gr.yaml
  ember-ebau-core/translations/caluma/de-gr.yaml
  ember-ebau-core/translations/caluma/it-gr.yaml
  ember-ebau/app/styles/_variables-gr.scss
  ember-ebau/config/environment.js
Due: lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-caluma-portal, test-ember-ebau-core

fix(sz): migration for tax-administration
  django/camac/permissions/management/commands/grant_read_permissions_to_tax_administration_if_involved.py
Due: test-django

feat(gr): baugesuch-v2 for ANU wärmepumpe changes
  django/camac/caluma/extensions/events/construction_acceptance.py
  django/camac/settings/modules/dms.py
  django/camac/settings/modules/dump.py
  django/camac/settings/modules/permissions/kt_gr.py
  django/camac/settings/modules/project_modification.py
  django/kt_gr/config/caluma_form.json
  django/kt_gr/config/caluma_form_v2.json
  django/kt_gr/config/gis.json
  ember-caluma-portal/public/assets/downloads/Auftragsbestätigung_für_die_hydrogeologische_Begleitung.pdf
  ember-ebau-core/addon/config/main-gr.js
  ember-ebau/app/caluma/lib/custom-field.js
Due: lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-caluma-portal, test-ember-ebau-core, test-django

fix(gr): personalien table display consistency
  django/kt_gr/config/caluma_form.json
  django/kt_gr/config/caluma_form_common.json
  django/kt_gr/config/caluma_objection_form.json
Due: test-django

fix(core): juristic name fix in applicant name list
  ember-ebau-core/addon/components/legal-submission-table/row.js
  ember-ebau-core/addon/utils/get-applicants.js
  ember-ebau-core/tests/unit/utils/get-applicants-test.js
Due: lint-ember-ebau-core, test-ember-ebau-core

chore: bump caluma to v10.7.0 and ember-caluma to v14.0.0
  Dockerfile.ember
  django/requirements.txt
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
  ember-ebau-core/package.json
  ember-ebau/package.json
  pnpm-lock.yaml
Due: lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django

feat(be): update step for float questions in Hauptnutzflächen in m² Tabelle
  django/kt_bern/config/caluma_form_v5.json
Due: test-django

fix(deps): update dependency django to v4.2.18
  django/requirements.txt
Due: test-django

fix(ember-camac-ng): remove unused code
  ember-camac-ng/app/decorators.js
Due: lint-ember-camac-ng, test-ember-camac-ng

fix(ember): replace unmaintained ember-composable-helpers
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
  ember-ebau-core/package.json
  ember-ebau/package.json
  pnpm-lock.yaml
Due: lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core

chore(ur): backport koor ALA permissions for "Baubegleitung" and "Verfahren abschliessen"
  django/kt_uri/config/core.json
Due: test-django

feat(be): add infotext for juristische person selection in personalien table
  django/kt_bern/config/caluma_form_common.json
Due: test-django

chore(ur): rename the AV task and form for the geometer
  django/kt_uri/config/caluma_construction_monitoring_form.json
  django/kt_uri/config/caluma_construction_monitoring_workflow.json
Due: test-django

feat(sz): split the filter of egrid - grundstucknummer
  django/camac/instance/filters.py
  django/camac/instance/tests/test_instance.py
  ember-ebau-core/addon/components/case-filter/filter-config.js
  ember-ebau-core/addon/components/case-table.js
  ember-ebau-core/addon/config/case-table-sz.js
  ember-ebau-core/translations/cases/de-sz.yaml
  ember-ebau-core/translations/cases/de.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

chore(ur): backport the renaming of two instance resources
  django/kt_uri/config/core.json
Due: test-django

feat(be): automatically grant permissions for heat generator dossiers
  django/camac/applicants/tests/test_applicants.py
  django/camac/dossier_import/tests/test_dossier_import_case.py
  django/camac/notification/serializers.py
  django/camac/notification/tests/test_notification_template.py
  django/camac/permissions/config/kt_bern.py
  django/camac/permissions/tests/test_events.py
  django/camac/settings/modules/permissions/kt_bern.py
  django/kt_bern/data/user.json
Due: test-django

feat: update alexandria for new search endpoint
  django/kt_ag/data/alexandria_core.json
  django/requirements.txt
  ember-caluma-portal/app/adapters/search-result.js
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
  ember-ebau-core/addon/models/search-result.js
  ember-ebau-core/addon/serializers/search-result.js
  ember-ebau-core/app/models/search-result.js
  ember-ebau-core/app/serializers/search-result.js
  ember-ebau-core/package.json
  ember-ebau/app/adapters/document.js
  ember-ebau/app/adapters/search-result.js
  ember-ebau/package.json
  pnpm-lock.yaml
Due: lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django

feat(be): read access level configuration
  django/camac/settings/modules/permissions/kt_bern.py
Due: test-django

feat(be): make read access level assignable for manually granted acls
  django/camac/permissions/filters.py
  django/camac/permissions/tests/test_acl_views.py
Due: test-django

fix(be): remove whitespace and ensure max length for plot numbers to prevent ech submission errors
  django/camac/ech0211/formatters.py
Due: test-django

refactor: use django-presigned-url package
  django/camac/communications/models.py
  django/camac/communications/views.py
  django/requirements.txt
Due: test-django

feat(ech-gr): allow eCH to upload files to "beilagen-zum-gesuch"
  django/camac/settings/modules/ech0211.py
Due: test-django

fix(ember): run pnpm i again for pipeline
  pnpm-lock.yaml
Due: none

fix(gr): new mandatory question for bauanzeige and allow circulations to services
  django/kt_gr/config/caluma_form.json
  ember-ebau/app/services/caluma-options.js
Due: test-django

chore(deps): update alexandria
  django/requirements.txt
Due: test-django

fix(ag): show correct withdrawal public status for applicant
  django/camac/settings/django.py
Due: test-django

chore(ag): hide document search resource for now
  django/kt_ag/config/core.json
Due: test-django

fix(placeholders): fix inquiry placeholders for draft inquiries
  django/camac/conftest.py
  django/camac/instance/placeholders/fields.py
  django/camac/instance/tests/__snapshots__/test_placeholders.ambr
  django/camac/instance/tests/test_placeholders.py
Due: test-django

feat(php): add stub templates for sanctions
  django/kt_schwyz/config/core.json
  django/kt_uri/config/core.json
Due: test-django

fix(communication): prevent duplicate file names
  django/camac/communications/models.py
Due: test-django

fix(so:keycloak-api): get user by username with exact match
  django/camac/token_exchange/keycloak.py
  django/camac/token_exchange/tests/__snapshots__/test_keycloak.ambr
  django/camac/token_exchange/tests/cassettes/test_keycloak_client.yaml
Due: test-django

chore(token-exchange): improve error logging for keycloak API errors
  django/camac/token_exchange/views.py
Due: test-django

fix(alexandria): upload documents as support
  ember-ebau/app/services/alexandria-config.js
Due: none

fix(ag): remove gewaessernutzung from mandatory documents in baugesuch
  django/kt_ag/config/caluma_form.json
Due: test-django

fix(alexandria): category filters update
  ember-caluma-portal/app/instances/edit/controller.js
  ember-ebau-core/addon/components/alexandria-documents-form.js
  ember-ebau-core/addon/components/link-attachments/modal.js
Due: lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-caluma-portal, test-ember-ebau-core

fix(sz): add management command to fix cancelled archive-instance WIs
  django/camac/core/management/commands/fix_sz_cancelled_archiving.py
  django/pyproject.toml
Due: test-django

chore(gr): resize the logo-ebau-gr image
  ember-caluma-portal/public/assets/images/logo-ebau-gr.svg
Due: lint-ember-caluma-portal, test-ember-caluma-portal

fix(gr): allow services with read permission to use the communication module
  django/camac/settings/modules/permissions/kt_gr.py
Due: test-django

chore(ag): customize billing info text
  ember-ebau-core/translations/billing/de-ag.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core

chore(ag): clean caluma forms
  django/camac/core/management/commands/clean_caluma_config.py
  django/kt_ag/config/caluma_form.json
Due: test-django
