Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

lint-yml:
  stage: lint
  image: node:lts
  before_script:
  - yarn global add prettier
  script:
  - prettier -c **/*.yml

lint-ember-camac-ng:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-camac-ng
  - yarn
  script:
  - yarn lint

lint-ember-caluma-portal:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-caluma-portal
  - yarn
  script:
  - yarn lint

lint-ember-ebau-core:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-ebau-core
  - yarn
  script:
  - yarn lint

lint-php:
  stage: lint
  image:
    name: node:lts
  script:
  - if git grep -I -e ä  -e ö  -e ü   -- './*' ':!.gitlab-ci.yml'; then exit 1; else echo "No composite umlaute found"; fi
  - yarn --cwd=php install
  - yarn --cwd=php lint
  - yarn --cwd=php prettier-check

test-ember:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember"
  - eval $COMPOSE build ember
  - eval $COMPOSE run --rm --no-deps ember yarn test

test-ember-camac-ng:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-camac-ng"
  - eval $COMPOSE build ember-camac-ng
  ...

test-ember-caluma-portal:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-caluma-portal"
  - eval $COMPOSE build ember-caluma-portal
  ...

test-ember-ebau-core:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-ebau-core"
  - eval $COMPOSE build ember-ebau-core
  ...

test-django:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet django db clamav unoconv"
  - eval $COMPOSE build --parallel django db clamav unoconv
  ...

php-security-checker:
  stage: test
  image:
    name: jakzal/phpqa:php7.3-alpine
  script: local-php-security-checker --path=./php/composer.lock

feat(ur): add a new approval reason to the BaB data acquisition
  django/kt_uri/config/core.json
Due: test-django

feat(be): implement changes for heat generator form
  django/kt_bern/config/caluma_heat_generator_form.json
  ember-caluma-portal/app/components/be-documents-form.hbs
  ember-caluma-portal/app/components/be-documents-form.js
  ember-caluma-portal/translations/de.yaml
  ember-caluma-portal/translations/fr.yaml
Due: lint-ember-caluma-portal, test-ember-caluma-portal, test-django

chore(deps): update frontend dependencies
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
  ember-ebau-core/package.json
  ember-ebau/package.json
  package.json
  yarn.lock
Due: lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core

chore(lint): resolve frontend linting issues
  ember-caluma-portal/.template-lintrc.js
  ember-caluma-portal/package.json
  ember-caluma-portal/tests/integration/components/be-attachment-list/component-test.js
  ember-caluma-portal/tests/integration/components/be-claims-form/component-test.js
  ember-caluma-portal/tests/integration/components/be-claims-form/edit/component-test.js
  ember-caluma-portal/tests/integration/components/be-claims-form/list/component-test.js
  ember-caluma-portal/tests/integration/components/be-claims-form/list/item/component-test.js
  ember-caluma-portal/tests/integration/components/be-documents-to-sign/component-test.js
  ember-caluma-portal/tests/integration/components/be-gis/component-test.js
  ember-caluma-portal/tests/integration/components/be-submit-instance/component-test.js
  ember-caluma-portal/tests/integration/components/personal-suggestions/component-test.js
  ember-camac-ng/.template-lintrc.js
  ember-camac-ng/app/dossier-import/new/template.hbs
  ember-camac-ng/app/publication/template.hbs
  ember-camac-ng/package.json
  ember-ebau-core/.template-lintrc.js
  ember-ebau-core/package.json
  ember-ebau/.template-lintrc.js
  ember-ebau/app/application/template.hbs
  ember-ebau/app/cases/detail/form/template.hbs
  ember-ebau/app/cases/detail/index/template.hbs
  ember-ebau/app/cases/detail/template.hbs
  ember-ebau/app/cases/detail/work-items/template.hbs
  ember-ebau/app/dashboard/template.hbs
  ember-ebau/app/index/template.hbs
  ember-ebau/app/login/template.hbs
  ember-ebau/app/work-items/template.hbs
  ember-ebau/package.json
  yarn.lock
Due: lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core

fix(be): fix uploading multiple documents in claims
  ember-caluma-portal/app/components/be-claims-form/edit.js
Due: lint-ember-caluma-portal, test-ember-caluma-portal

feat(dossier-import): multiple improvements
  django/camac/dossier_import/domain_logic.py
  django/camac/dossier_import/models.py
  django/camac/dossier_import/tests/test_views.py
  django/camac/dossier_import/views.py
  django/camac/settings.py
  django/camac/user/authentication.py
  django/camac/user/tests/test_authentication.py
  ember-camac-ng/app/abilities/dossier-import.js
  ember-camac-ng/app/adapters/dossier-import.js
  ember-camac-ng/app/dossier-import/detail/controller.js
  ember-camac-ng/app/dossier-import/detail/template.hbs
  ember-camac-ng/app/dossier-import/index/controller.js
  ember-camac-ng/app/dossier-import/index/template.hbs
  ember-camac-ng/tests/acceptance/dossier-import-test.js
  ember-camac-ng/translations/de.yaml
  ember-camac-ng/translations/dossier-import/de.yaml
  ember-camac-ng/translations/dossier-import/fr.yaml
  ember-camac-ng/translations/fr.yaml
  ember-ebau-core/addon/components/history.hbs
  ember-ebau-core/addon/models/dossier-import.js
Due: lint-ember-camac-ng, lint-ember-ebau-core, test-ember-camac-ng, test-ember-ebau-core, test-django

chore(release): v3.1.0-rc.3
  VERSION.txt
  django/camac/camac_metadata.py
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
Due: lint-ember-camac-ng, lint-ember-caluma-portal, test-ember-camac-ng, test-ember-caluma-portal, test-django

chore(heat-generator): fix typo
  django/kt_bern/config/caluma_heat_generator_form.json
Due: test-django

test(statistics): fix flaky test
  django/camac/stats/tests/test_views.py
Due: test-django

chore(heat-generator): add french translations
  django/kt_bern/config/caluma_form_v3.json
  django/kt_bern/config/caluma_heat_generator_form.json
  django/kt_bern/config/email_notifications.json
  ember-caluma-portal/translations/fr.yaml
Due: lint-ember-caluma-portal, test-ember-caluma-portal, test-django

fix(distribution): make sure assigned users are set on check work item
  django/camac/caluma/extensions/events/distribution.py
  django/camac/caluma/extensions/events/general.py
  django/camac/caluma/tests/test_events.py
  django/camac/circulation/management/commands/distribution_add_check_distribution.py
Due: test-django

feat(heat-generator): add template for heat generator confirmation
  Makefile
  django/camac/instance/placeholders/aliases.py
  django/camac/instance/placeholders/fields.py
  django/camac/instance/tests/snapshots/snap_test_placeholders.py
  django/camac/instance/tests/test_placeholders.py
  document-merge-service/kt_bern/dump.json
  document-merge-service/kt_bern/templatefiles/de-bestaetigung-waermeerzeugerersatz.docx
  document-merge-service/kt_bern/templatefiles/fr-confirmation-remplacement-generateur-chaleur.docx
Due: test-django

chore(release): v3.1.0-rc.4
  VERSION.txt
  django/camac/camac_metadata.py
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
Due: lint-ember-camac-ng, lint-ember-caluma-portal, test-ember-camac-ng, test-ember-caluma-portal, test-django

fix(dossier-import): set django-q retry to double timeout
  django/camac/settings.py
Due: test-django

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml
