Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml

fix: manabi key in ci
  compose/ci.yml
Due: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django

fix(dav): unify with alexandria, by not stripping path
  django/camac/dav.py
  django/camac/wsgi.py
Due: test-django

chore(dav): fix dav tests with new path
  django/camac/tests/test_dav.py
Due: test-django

fix(so): filter instance ACLs for municipality permission by instance
  ember-caluma-portal/app/instances/edit/applicants/controller.js
Due: lint-ember-caluma-portal, test-ember-caluma-portal

feat(so): add new alexandria category for appeal documents
  django/kt_so/config/alexandria_core.json
Due: test-django

fix(so): fix creation of custom appeal work item
  django/camac/settings/modules/appeal.py
Due: test-django

feat(so): skip appeal instance directly to decision
  django/camac/caluma/extensions/dynamic_tasks.py
  django/camac/caluma/tests/test_dynamic_tasks.py
  django/camac/core/filters.py
  django/camac/core/tests/test_filters.py
  django/camac/instance/serializers.py
  django/camac/instance/tests/test_instance_appeal.py
  django/kt_so/config/core.json
Due: test-django

fix(communication): preserve created_at to alexandria file
  django/camac/communications/serializers.py
Due: test-django

fix(gr): alexandria permissions remove support restrictions
  django/kt_gr/config/alexandria_core.json
Due: test-django

chore: upgdate alexandria
  django/requirements.txt
Due: test-django

feat(gr): allow are, municipality, service in nachforderung and beilagen
  django/kt_gr/config/alexandria_core.json
Due: test-django

refactor: fixing translation
  ember-ebau-core/translations/work-items/de-sz.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(workitems): fix workitem-list for GR and SO
  ember-ebau/app/work-items/controller.js
  ember-ebau/app/work-items/template.hbs
Due: none

fix(alexandria): generated instane pdf encryption
  django/camac/instance/serializers.py
Due: test-django

fix(so): disable alexandria features
  compose/kt_so-dev.yml
  ember-ebau-core/addon/config/features/gr.js
  ember-ebau/app/services/alexandria-config.js
Due: lint-yml, lint-ember-ebau-core, test-ember-ebau-core

chore(gr): add new alexandria category infotexts
  django/kt_gr/config/alexandria_core.json
Due: test-django

fix: make alexandria placeholders more defensive
  django/camac/instance/placeholders/fields.py
Due: test-django

fix(ech0211): judgement mapping for GR
  django/camac/ech0211/formatters.py
  django/camac/settings/modules/distribution.py
  django/camac/settings/modules/ech0211.py
  django/kt_gr/config/caluma_distribution.json
  ember-ebau/app/services/caluma-options.js
Due: test-django

chore(gr): add alexandria category infotext for USO
  django/kt_gr/config/alexandria_core.json
Due: test-django

chore: bump ember-alexandria
  ember-caluma-portal/package.json
  ember-ebau-core/package.json
  ember-ebau/package.json
  pnpm-lock.yaml
Due: lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-caluma-portal, test-ember-ebau-core
