Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml

chore(deps): update caluma
  django/camac/caluma/models.py
  django/requirements.txt
Due: test-django

fix(ur): backport to hide the old instance resource "Dossier für Fachbereich freischalten"
  django/kt_uri/config/core.json
Due: test-django

fix(test): on copy document instead of answer
  django/camac/caluma/tests/test_data_sources.py
Due: test-django

chore(deps): update alexandria
  django/requirements.txt
Due: test-django

fix(so): re-enable form in publication
  django/camac/settings/modules/publication.py
  ember-ebau-core/addon/config/features/so.js
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

fix(so): only compute DMS placeholders for active languages
  django/camac/instance/tests/test_placeholders.py
  django/camac/settings/django.py
Due: test-django

fix(so): exclude technical keys in DMS placeholders
  django/camac/instance/placeholders/serializers.py
  django/camac/instance/tests/__snapshots__/test_placeholders.ambr
  django/camac/settings/modules/placeholders.py
Due: test-django

feat(ag): add infobox for objections
  django/kt_ag/config/caluma_objection_form.json
Due: test-django

feat(ag): configure JEXL options for cantonal exam
  django/kt_ag/config/caluma_cantonal_exam_form.json
Due: test-django

chore(migrations): add missing migration to drop historical inquiry
  django/camac/caluma/migrations/0002_delete_historicalinquiry_historicalinquiry.py
Due: test-django

fix(ag): make sure authority PGV can only create PGV dossiers
  ember-ebau-core/addon/config/main-ag.js
Due: lint-ember-ebau-core, test-ember-ebau-core

feat(sz): add command to extract used template placeholders
  django/camac/document/management/__init__.py
  django/camac/document/management/commands/__snapshots__/test_extract_used_placeholders.ambr
  django/camac/document/management/commands/extract_used_placeholders.py
  django/camac/document/management/commands/test_extract_used_placeholders.py
Due: test-django

feat(ag): add work item templates
  django/camac/conftest.py
  django/camac/settings/django.py
  django/camac/settings/modules/django_admin.py
  django/camac/settings/modules/dump.py
  django/camac/urls.py
  django/camac/work_items/__init__.py
  django/camac/work_items/admin.py
  django/camac/work_items/apps.py
  django/camac/work_items/factories.py
  django/camac/work_items/migrations/0001_initial.py
  django/camac/work_items/migrations/__init__.py
  django/camac/work_items/models.py
  django/camac/work_items/serializers.py
  django/camac/work_items/tests/test_work_item_template.py
  django/camac/work_items/urls.py
  django/camac/work_items/views.py
  django/demo/config/work_items.json
  django/kt_ag/config/work_items.json
  django/kt_bern/config/work_items.json
  django/kt_gr/config/work_items.json
  django/kt_schwyz/config/work_items.json
  django/kt_so/config/work_items.json
  django/kt_uri/config/work_items.json
  django/locale/de/LC_MESSAGES/django.po
  django/locale/fr/LC_MESSAGES/django.po
  django/locale/it/LC_MESSAGES/django.po
  ember-ebau-core/addon/components/work-item-detail/new.hbs
  ember-ebau-core/addon/components/work-item-detail/new.js
  ember-ebau-core/addon/models/work-item-template.js
  ember-ebau-core/app/models/work-item-template.js
  ember-ebau-core/tests/unit/models/work-item-template-test.js
  ember-ebau-core/translations/work-items/de.yaml
  ember-ebau-core/translations/work-items/fr.yaml
  ember-ebau-core/translations/work-items/it.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

chore(ag): hide question in cantonal exam for certain forms
  django/kt_ag/config/caluma_cantonal_exam_form.json
Due: test-django

feat(ech-0211): trigger WithdrawPlanningPermissionApplication message
  django/camac/ech0211/event_handlers.py
  django/camac/ech0211/signals.py
  django/camac/instance/domain_logic/withdrawal.py
  django/camac/instance/tests/test_withdrawal.py
  django/camac/settings/modules/ech0211.py
Due: test-django

chore: bump alexandria v7.2.2 file copy bugfix
  django/requirements.txt
Due: test-django

chore: simplify caluma filters
  ember-ebau-core/addon/components/case-table.js
  ember-ebau-core/addon/config/case-table-ag.js
  ember-ebau-core/addon/config/case-table-be.js
  ember-ebau-core/addon/config/case-table-gr.js
  ember-ebau-core/addon/config/case-table-so.js
  ember-ebau-core/addon/config/main-sz.js
Due: lint-ember-ebau-core, test-ember-ebau-core

feat(gr-ech0211): trigger file subsequently message
  django/camac/settings/django.py
Due: test-django

feat(ag): add permission for afb to create internal dossiers
  django/camac/settings/django.py
  django/camac/settings/modules/permissions/kt_ag.py
  ember-ebau-core/addon/components/case-filter.js
  ember-ebau-core/addon/config/main-ag.js
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

chore(ech0211): docs, cleanups
  django/camac/caluma/tests/test_distribution_workflow.py
  django/camac/ech0211/docs/kt_ag.md
  django/camac/ech0211/docs/kt_gr.md
  django/camac/ech0211/send_handlers.py
  django/camac/settings/django.py
  django/camac/settings/modules/ech0211.py
  django/kt_bern/static/ech0211/xml/get/status_notification.xml
  django/kt_bern/static/ech0211/xml/get/status_notification_abgeschlossen.xml
  django/kt_bern/static/ech0211/xml/get/status_notification_abschluss_ausstehend.xml
  django/kt_bern/static/ech0211/xml/get/status_notification_ebau_nr_vergeben.xml
  django/kt_bern/static/ech0211/xml/get/status_notification_in_koordination.xml
  django/kt_bern/static/ech0211/xml/get/status_notification_sebstdeklaration_1_ausstehend.xml
  django/kt_bern/static/ech0211/xml/get/status_notification_sebstdeklaration_2_ausstehend.xml
  django/kt_bern/static/ech0211/xml/get/status_notification_start_zirkulation.xml
  tools/ech-gr-base-delivery.sh
  tools/ech-gr-login.sh
  tools/ech-login.sh
  tools/ech0211/config.sh
  tools/ech0211/get-base-delivery.sh
  tools/ech0211/login.sh
  tools/ech0211/post-accompanying-report.sh
  tools/ech0211/post-change-responsibility.sh
  tools/ech0211/post-close-dossier.sh
  tools/ech0211/post-inquiry.sh
  tools/ech0211/post-notice-ruling.sh
  tools/ech0211/post-submit.sh
  tools/ech0211/post-task.sh
Due: test-django

chore(dossier list): remove canton-specifics from filtering
  ember-ebau-core/addon/components/case-table.js
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(ech-0211): pass request argument correctly in event_handlers
  django/camac/ech0211/event_handlers.py
Due: test-django

fix(ag): dossier filters
  ember-ebau-core/addon/components/case-table.js
  ember-ebau-core/addon/config/main-ag.js
Due: lint-ember-ebau-core, test-ember-ebau-core

chore: move code into utility class
  ember-camac-ng/app/services/gwr-config.js
  ember-ebau-core/addon/components/case-table.js
  ember-ebau-core/addon/utils/case-filters.js
Due: lint-ember-camac-ng, lint-ember-ebau-core, test-ember-camac-ng, test-ember-ebau-core

chore(ech0211): clean up swagger docs
  django/camac/settings/modules/ech0211.py
Due: test-django

chore(ur): add the group "Fachbereich Industrieabwasser und Kleinkläranlagen" to the AfU attachment section
  django/camac/constants/kt_uri.py
Due: test-django

fix(gr): revision of the distribution suggestions
  django/camac/settings/modules/distribution_suggestions/kt_gr.py
  django/kt_gr/data/user.json
Due: test-django

fix(gr): use correct option slug
  django/kt_gr/config/caluma_decision_form.json
Due: test-django

chore(ag): allow customer to manager work item templates in admin
  django/camac/settings/modules/django_admin.py
Due: test-django

feat(django-gr): allow enabling/disabling new construction monitoring from ENV variable
  compose/kt_gr-dev.yml
  django/camac/caluma/extensions/dynamic_tasks.py
  django/camac/settings/modules/construction_monitoring.py
  django/camac/settings/modules/permissions/kt_gr.py
  django/kt_gr/config/core.json
Due: lint-yml, test-django

feat(ur): send notifications to all involved services if a distribuation was canceled
  django/camac/settings/modules/distribution.py
  django/kt_uri/config/email_notifications.json
Due: test-django

feat(django-gr): add info to the eCH messages that are still in development
  django/camac/settings/modules/ech0211.py
Due: test-django

chore(gr,ag): enable file_subsequently, improve docs
  django/camac/settings/django.py
  django/camac/settings/modules/ech0211.py
Due: test-django

fix(django-gr): copy "system" files when copying alexandria files during instance copying
  django/camac/settings/modules/alexandria.py
Due: test-django

fix(django-gr): update is_required for Abgasanlagen questions
  django/kt_gr/config/caluma_form.json
Due: test-django

feat: add copy dossier/case link in internal area
  ember-ebau-core/translations/cases/de.yaml
  ember-ebau-core/translations/cases/fr.yaml
  ember-ebau-core/translations/cases/it.yaml
  ember-ebau/app/components/subnav-header.hbs
  ember-ebau/app/components/subnav-header.js
Due: lint-ember-ebau-core, test-ember-ebau-core

feat(ur): show the AfU attachment section for the "Aniterra" service
  django/camac/constants/kt_uri.py
  django/kt_uri/data/user.json
Due: test-django

chore(ur): backport instance acl config changes
  django/kt_uri/config/core.json
Due: test-django

fix(ag): fix internal dossier form mandatory/hide jexls
  django/kt_ag/config/caluma_audit_form.json
  django/kt_ag/config/caluma_form.json
  django/kt_ag/config/caluma_form_common.json
Due: test-django
