Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml

fix(ember-ebau): improve animation of case header
  ember-ebau/app/cases/detail/controller.js
  ember-ebau/app/cases/detail/template.hbs
  ember-ebau/app/components/case-header.hbs
  ember-ebau/app/components/case-header.js
  ember-ebau/app/styles/components/header.scss
  ember-ebau/tests/integration/components/case-header/component-test.js
Due: none

feat(so): add publication
  django/camac/caluma/extensions/events/general.py
  django/camac/caluma/tests/test_events.py
  django/camac/caluma/tests/test_visibilities.py
  django/camac/conftest.py
  django/camac/conftest_settings.py
  django/camac/document/tests/test_attachment.py
  django/camac/instance/mixins.py
  django/camac/instance/tests/test_instance.py
  django/camac/instance/tests/test_instance_public.py
  django/camac/instance/views.py
  django/camac/settings.py
  django/camac/settings_publication.py
  django/kt_so/config/caluma_workflow.json
  django/kt_so/workflow-building-permit.graphql
  ember-caluma-portal/translations/public-instances/de-so.yaml
Due: lint-ember-caluma-portal, test-ember-caluma-portal, test-django

feat(so): configure distribution
  django/camac/settings.py
  django/camac/settings_distribution.py
  django/kt_so/config/caluma_distribution.json
  django/kt_so/config/caluma_workflow.json
  django/kt_so/config/core.json
  django/kt_so/distribution.graphql
  django/kt_so/workflow-building-permit.graphql
  ember-ebau/app/services/caluma-options.js
  ember-ebau/translations/distribution/de.yaml
Due: test-django

chore(ember-ebau): remove obsolete publication IR type
  django/camac/core/serializers.py
  django/kt_gr/config/core.json
  django/kt_so/config/core.json
Due: test-django

fix(be): set PORTAL_URL to easily replaceable value
  compose/kt_bern.yml
  ember-camac-ng/Dockerfile
Due: lint-yml, lint-ember-camac-ng, test-ember-camac-ng

fix(gr): fix publication ranges if not overlapping
  django/camac/instance/mixins.py
  django/camac/instance/tests/test_instance_public.py
  django/camac/settings_publication.py
Due: test-django

feat(sz): add new internal business form "ARE Geschäft"
  django/kt_schwyz/config/caluma_form.json
  ember-ebau-core/addon/caluma-query/models/case-sz.js
  ember-ebau-core/addon/caluma-query/models/work-item.js
  ember-ebau-core/addon/config/main-sz.js
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

feat(sz): extend internal business search filters with case created between start and end date
  ember-ebau-core/addon/components/case-filter/filter-config.js
  ember-ebau-core/addon/components/case-table.js
  ember-ebau-core/addon/config/case-table-sz.js
  ember-ebau-core/translations/cases/de-sz.yaml
  ember-ebau-core/translations/cases/de.yaml
  ember-ebau-core/translations/cases/fr.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core

feat(so): create the formal and material exam forms
  django/camac/settings.py
  django/kt_so/config/caluma_formal_exam_form.json
  django/kt_so/config/caluma_material_exam_form.json
Due: test-django

fix(ember-ebau-core): fix missing selectedGroup in inquiry-deadline-input widget override
  ember-ebau-core/addon/components/inquiry-deadline-input.js
Due: lint-ember-ebau-core, test-ember-ebau-core

feat(so): configure additional demand
  django/camac/alexandria/extensions/permissions/classes.py
  django/camac/alexandria/tests/test_permissions.py
  django/camac/caluma/extensions/dynamic_groups.py
  django/camac/caluma/extensions/dynamic_tasks.py
  django/camac/caluma/extensions/events/additional_demand.py
  django/camac/caluma/extensions/events/distribution.py
  django/camac/caluma/extensions/visibilities.py
  django/camac/caluma/tests/test_additional_demand_workflow.py
  django/camac/caluma/tests/test_dynamic_groups.py
  django/camac/caluma/tests/test_dynamic_tasks.py
  django/camac/settings.py
  django/camac/settings_additional_demand.py
  django/kt_so/additional-demand.graphql
  django/kt_so/config/alexandria_core.json
  django/kt_so/config/caluma_additional_demand.json
  django/kt_so/config/caluma_distribution.json
  django/kt_so/config/core.json
  django/kt_so/distribution.graphql
  ember-caluma-portal/app/components/be-document-bucket.hbs
  ember-caluma-portal/ember-cli-build.js
  ember-ebau-core/addon/components/additional-demand/detail.hbs
  ember-ebau-core/addon/components/additional-demand/list/item.hbs
  ember-ebau-core/addon/components/alexandria-document-bucket.hbs
  ember-ebau-core/addon/components/alexandria-documents-form.hbs
  ember-ebau-core/addon/components/dropzone.hbs
  ember-ebau-core/app/styles/components/additional-demand.scss
  ember-ebau-core/app/styles/components/dropzone.scss
  ember-ebau-core/app/styles/ember-ebau-core.scss
  ember-ebau/app/styles/components/header.scss
Due: lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-caluma-portal, test-ember-ebau-core, test-django

fix(gr): form changes in the 'gewässerschutz' form
  django/kt_gr/config/caluma_form.json
Due: test-django

feat(admin): add alexandria and caluma admin and improve visibility config
  django/camac/admin.py
  django/camac/core/admin/__init__.py
  django/camac/core/admin/views.py
  django/camac/core/apps.py
  django/camac/django_admin/__init__.py
  django/camac/django_admin/admin.py
  django/camac/django_admin/apps.py
  django/camac/gis/admin.py
  django/camac/instance/placeholders/locale/de/LC_MESSAGES/django.po
  django/camac/instance/placeholders/locale/fr/LC_MESSAGES/django.po
  django/camac/instance/placeholders/locale/it/LC_MESSAGES/django.po
  django/camac/notification/admin/__init__.py
  django/camac/notification/admin/views.py
  django/camac/settings.py
  django/camac/settings_django_admin.py
  django/camac/user/admin/__init__.py
  django/camac/user/admin/views.py
  django/locale/de/LC_MESSAGES/django.mo
  django/locale/de/LC_MESSAGES/django.po
  django/locale/fr/LC_MESSAGES/django.po
  django/locale/it/LC_MESSAGES/django.mo
  django/locale/it/LC_MESSAGES/django.po
Due: test-django

fix(gr): preliminary exam jexl
  django/kt_gr/config/caluma_form.json
Due: test-django

fix: move more code into domain logic, use dynamic_task
  django/camac/caluma/extensions/dynamic_tasks.py
  django/camac/caluma/extensions/events/decision.py
  django/camac/instance/domain_logic.py
  django/camac/settings.py
  django/kt_gr/config/caluma_workflow.json
Due: test-django

fix(gr): revise the notifications and add new ones
  django/camac/caluma/extensions/dynamic_tasks.py
  django/camac/caluma/extensions/events/decision.py
  django/camac/caluma/tests/test_decision.py
  django/camac/caluma/tests/test_dynamic_tasks.py
  django/camac/caluma/tests/test_events.py
  django/camac/caluma/tests/test_visibilities.py
  django/camac/constants/kt_gr.py
  django/camac/ech0211/tests/test_send_handlers.py
  django/camac/instance/domain_logic.py
  django/camac/instance/tests/snapshots/snap_test_placeholders.py
  django/camac/instance/tests/test_instance_appeal.py
  django/camac/instance/tests/test_instance_caluma.py
  django/camac/instance/tests/test_placeholders.py
  django/camac/instance/utils.py
  django/camac/notification/serializers.py
  django/camac/settings.py
  django/camac/settings_distribution.py
  django/camac/stats/tests/test_cycle_time_calculation.py
  django/kt_gr/config/caluma_decision_form.json
  django/kt_gr/config/caluma_form.json
  django/kt_gr/config/caluma_workflow.json
  django/kt_gr/config/email_notifications.json
  django/kt_gr/workflow-building-permit.graphql
Due: test-django

fix: linting
  django/camac/instance/domain_logic.py
Due: test-django

fix(gr): configure the construction-monitoring task
  django/camac/caluma/tests/test_decision.py
  django/camac/conftest.py
  django/camac/instance/domain_logic.py
  django/kt_gr/config/caluma_workflow.json
  django/kt_gr/config/instance.json
Due: test-django

fix: re-add config
  django/kt_gr/config/core.json
Due: test-django

fix: tests
  django/camac/caluma/tests/test_decision.py
  django/camac/caluma/tests/test_dynamic_tasks.py
  django/camac/caluma/tests/test_events.py
  django/camac/conftest.py
  django/camac/ech0211/tests/test_send_handlers.py
  django/camac/instance/domain_logic.py
  django/camac/instance/tests/test_instance_appeal.py
  django/camac/instance/tests/test_instance_caluma.py
  django/camac/settings.py
Due: test-django
