Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

lint-yml:
  stage: lint
  image: node:lts
  before_script:
  - yarn global add prettier
  script:
  - prettier -c **/*.yml

lint-ember-camac-ng:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-camac-ng
  - yarn
  script:
  - yarn lint

lint-ember-caluma-portal:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-caluma-portal
  - yarn
  script:
  - yarn lint

lint-ember-ebau-core:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-ebau-core
  - yarn
  script:
  - yarn lint

lint-php:
  stage: lint
  image:
    name: node:lts
  script:
  - if git grep -I -e ä  -e ö  -e ü   -- './*' ':!.gitlab-ci.yml'; then exit 1; else echo "No composite umlaute found"; fi
  - yarn --cwd=php install
  - yarn --cwd=php lint
  - yarn --cwd=php prettier-check

test-ember:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember"
  - eval $COMPOSE build ember
  - eval $COMPOSE run --rm --no-deps ember yarn test

test-ember-camac-ng:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-camac-ng"
  - eval $COMPOSE build ember-camac-ng
  ...

test-ember-caluma-portal:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-caluma-portal"
  - eval $COMPOSE build ember-caluma-portal
  ...

test-ember-ebau-core:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-ebau-core"
  - eval $COMPOSE build ember-ebau-core
  ...

test-django:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet django db clamav unoconv"
  - eval $COMPOSE build --parallel django db clamav unoconv
  ...

php-security-checker:
  stage: test
  image:
    name: jakzal/phpqa:php7.3-alpine
  script: local-php-security-checker --path=./php/composer.lock

feat(so): add pdf export for main form and signatures
  compose/kt_so-dev.yml
  compose/kt_so.yml
  django/camac/instance/document_merge_service.py
  django/camac/instance/tests/snapshots/snap_test_document_merge_service.py
  django/camac/instance/views.py
  django/camac/settings.py
  django/kt_so/config/caluma_form.json
  document-merge-service/kt_so/dump.json
  document-merge-service/kt_so/fonts/Frutiger Black.ttf
  document-merge-service/kt_so/fonts/Frutiger Roman.ttf
  document-merge-service/kt_so/templatefiles/form.docx
  document-merge-service/kt_so/templatefiles/signatures.docx
  ember-caluma-portal/app/components/be-download-pdf.js
  proxy/kt_so.conf
Due: lint-yml, lint-ember-caluma-portal, test-ember-caluma-portal, test-django

chore(be): minor text changes
  django/kt_bern/config/caluma_form_v2.json
Due: test-django

chore(deps): update ember-caluma
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
  ember-ebau-core/package.json
  ember-ebau/package.json
  yarn.lock
Due: lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core

chore(deps): update caluma
  django/camac/caluma/tests/test_visibilities.py
  django/camac/caluma/utils.py
  django/camac/conftest.py
  django/pyproject.toml
  django/requirements.txt
Due: test-django

feat(gr): configure the ANU forms 12.3 and 12.7
  django/kt_gr/config/caluma_form.json
Due: test-django

chore(deps): update frontend dependencies
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
  ember-ebau-core/package.json
  ember-ebau/package.json
  package.json
  yarn.lock
Due: lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core

chore(tests): apply styling for the testing container
  ember-camac-ng/app/styles/app.scss
Due: lint-ember-camac-ng, test-ember-camac-ng

feat(dms): update document merge service
  compose/ci.yml
  compose/kt_bern-dev.yml
  compose/kt_bern.yml
  document-merge-service/Dockerfile
  document-merge-service/Makefile
  document-merge-service/extensions/__init__.py
  document-merge-service/extensions/conftest.py
  document-merge-service/extensions/permissions.py
  document-merge-service/extensions/tests/test_permissions.py
  document-merge-service/extensions/tests/test_visibilities.py
  document-merge-service/extensions/utils.py
  document-merge-service/extensions/visibilities.py
  document-merge-service/kt_bern/dump.json
  ember-ebau-core/addon/components/dms/edit.js
  ember-ebau-core/addon/components/dms/generate.js
  ember-ebau-core/addon/components/dms/list.js
Due: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django

feat(be): upload complete dms code to tarball for deployment
  compose/kt_bern-prod.yml
Due: lint-yml

feat(so): configure minio as storage backend for dms
  Makefile
  compose/kt_so-dev.yml
  compose/kt_so.yml
  document-merge-service/Dockerfile
  document-merge-service/fonts/Frutiger Black.ttf
  document-merge-service/fonts/Frutiger Roman.ttf
  mc/entrypoint.sh
  proxy/kt_so.conf
Due: lint-yml

feat(so): configure minio as storage backend for dms
  Makefile
  compose/kt_so-dev.yml
  compose/kt_so.yml
  document-merge-service/Dockerfile
  document-merge-service/kt_so/fonts/Frutiger Black.ttf
  document-merge-service/kt_so/fonts/Frutiger Roman.ttf
  mc/entrypoint.sh
  proxy/kt_so.conf
Due: lint-yml

fix(dms): add custom permission for merging templates
  document-merge-service/extensions/permissions.py
  document-merge-service/extensions/tests/test_permissions.py
Due: none

chore(dms): add linting for dms extensions
  document-merge-service/Makefile
  document-merge-service/extensions/permissions.py
  document-merge-service/extensions/tests/test_permissions.py
  document-merge-service/extensions/visibilities.py
Due: none

fix(gwr): reenable gwr sorting
  ember-camac-ng/app/services/gwr-config.js
Due: lint-ember-camac-ng, test-ember-camac-ng

chore(tools): pass environment instead of host to upload command
  tools/README.md
  tools/bin/upload-rsta-templates.js
Due: none

chore(be): update rsta templates
  document-merge-service/kt_bern/rsta_templates/Allgemein/rsta_kurzbrief FR.docx
  document-merge-service/kt_bern/rsta_templates/Allgemein/rsta_kurzbrief.docx
  document-merge-service/kt_bern/rsta_templates/Baubewilligungsverfahren/rsta_bbew_amtsbericht_zu_ausnahme.docx
  document-merge-service/kt_bern/rsta_templates/Baubewilligungsverfahren/rsta_bbew_einfordern_schlussbemerkungen.docx
  document-merge-service/kt_bern/rsta_templates/Baubewilligungsverfahren/rsta_bbew_einigungsverhandlung.docx
  document-merge-service/kt_bern/rsta_templates/Baubewilligungsverfahren/rsta_bbew_einspracheversand.docx
  document-merge-service/kt_bern/rsta_templates/Baubewilligungsverfahren/rsta_bbew_generelle_baubewilligung.docx
  document-merge-service/kt_bern/rsta_templates/Baubewilligungsverfahren/rsta_bbew_gesamtbauentscheid.docx
  document-merge-service/kt_bern/rsta_templates/Baubewilligungsverfahren/rsta_bbew_gesamtbauentscheid_projektänderung.docx
  document-merge-service/kt_bern/rsta_templates/Baubewilligungsverfahren/rsta_bbew_gesamtbauentscheid_teilbaubewilligung.docx
  document-merge-service/kt_bern/rsta_templates/Baubewilligungsverfahren/rsta_bbew_nachbarschaftsorientierung_ohne_publikation.docx
  document-merge-service/kt_bern/rsta_templates/Baubewilligungsverfahren/rsta_bbew_publikation_anzeiger.docx
  document-merge-service/kt_bern/rsta_templates/Baubewilligungsverfahren/rsta_bbew_rueckzug_baugesuch.docx
  document-merge-service/kt_bern/rsta_templates/Baubewilligungsverfahren/rsta_bbew_sistierungsverfuegung.docx
  document-merge-service/kt_bern/rsta_templates/Baubewilligungsverfahren/rsta_bbew_uvp_publikation_baugesuch.docx
  document-merge-service/kt_bern/rsta_templates/Baubewilligungsverfahren/rsta_bbew_verfahrensleitende_verfuegung.docx
  document-merge-service/kt_bern/rsta_templates/Baubewilligungsverfahren/rsta_bbew_verlaengerung_der_geltungsdauer_baubewilligung.docx
  document-merge-service/kt_bern/rsta_templates/Baubewilligungsverfahren/rsta_bbew_vorzeitiger_baubeginn.docx
  document-merge-service/kt_bern/rsta_templates/Eingriffe in Hecken und Feldgehölze/rsta_nhhe_entscheid_heckenrodung.docx
  document-merge-service/kt_bern/rsta_templates/Etiketten/rsta_etikette_alle.docx
  document-merge-service/kt_bern/rsta_templates/Etiketten/rsta_etikette_einsprechende.docx
  document-merge-service/kt_bern/rsta_templates/Etiketten/rsta_etikette_gemeinde.docx
  document-merge-service/kt_bern/rsta_templates/Etiketten/rsta_etikette_gesuchsteller.docx
  document-merge-service/kt_bern/rsta_templates/Etiketten/rsta_etikette_projektverfasser.docx
  document-merge-service/kt_bern/rsta_templates/Etiketten/rsta_etikette_rechtsbegehrende.docx
  document-merge-service/kt_bern/rsta_templates/Etiketten/rsta_etikette_rechtsverwahrende.docx
  document-merge-service/kt_bern/rsta_templates/Etiketten/rsta_etikette_vertreter.docx
  document-merge-service/kt_bern/rsta_templates/Fällen eines geschützten Baumes/rsta_nhsb_entscheid_baum.docx
Due: none

chore(dev): remove ember-ebau and simplify proxy configuration
  compose/kt_bern-dev.yml
  compose/kt_bern.yml
  proxy/kt_bern.conf
Due: lint-yml

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml
