Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml

chore(deps): update alexandria
  django/requirements.txt
  ember-caluma-portal/package.json
  ember-ebau-core/package.json
  ember-ebau/package.json
  yarn.lock
Due: lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-caluma-portal, test-ember-ebau-core, test-django

chore(auth): fix demo mode
  django/camac/user/authentication.py
  ember-ebau-core/addon/templates/service-permissions/permissions/index.hbs
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

fix(ember-ebau): fix canton aware decorator for prod build
  ember-ebau-core/addon/decorators.js
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(gr): change answer values to array because of question type change
  django/kt_gr/data/caluma_form.json
Due: test-django

chore(gr): changes in the info buttons
  django/kt_gr/config/caluma_form.json
  django/kt_gr/config/caluma_form_common.json
  ember-caluma-portal/translations/de-gr.yaml
Due: lint-ember-caluma-portal, test-ember-caluma-portal, test-django

fix(gr): fix jexls of questions in the bab form
  django/kt_gr/config/caluma_form.json
Due: test-django

fix(gr): grundwasserschutzzone, gewässerschutzbereich
  django/camac/gis/clients/gr.py
  django/camac/gis/tests/snapshots/snap_test_gr.py
  django/camac/gis/tests/test_gr.py
  django/kt_gr/config/caluma_form.json
  django/kt_gr/config/gis.json
Due: test-django

chore(gr): add mandatory questions for paper dossiers
  django/kt_gr/config/caluma_form.json
  django/kt_gr/config/caluma_form_common.json
Due: test-django

fix(gr): portal filters
  ember-caluma-portal/config/environment.js
  ember-caluma-portal/translations/de.yaml
Due: lint-ember-caluma-portal, test-ember-caluma-portal

fix(gr-keycloak): adapt 2FA SMS message
  keycloak/dasniko.keycloak-requiredaction.jar
Due: none

chore(gr): form changes from the test and acceptance protocol
  django/kt_gr/config/caluma_form.json
  django/kt_gr/config/caluma_form_common.json
Due: test-django

fix(gr): fixt some mandatory questions in the formal-exam form
  django/kt_gr/config/caluma_form.json
Due: test-django

fix(gr): pre-complete workflow config
  django/camac/settings.py
Due: test-django

fix(so): fix reactivity of publication date widgets
  ember-ebau-core/addon/components/dynamic-max-date-input.hbs
  ember-ebau-core/addon/components/dynamic-max-date-input.js
  ember-ebau-core/addon/components/publication-start-date.js
Due: lint-ember-ebau-core, test-ember-ebau-core

feat(publication): add date status of publication in navigation
  ember-ebau-core/addon/controllers/publication.js
  ember-ebau-core/addon/templates/publication.hbs
  ember-ebau-core/translations/publication/de.yaml
  ember-ebau-core/translations/publication/fr.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(gr): withdraw interaction in the gis map if the map is disabled
  ember-ebau-core/addon/components/gr-gis.hbs
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(sz): handle publication ordering and empty applicant names correctly
  django/camac/instance/views.py
Due: test-django

chore(gr): remove the email functionality from the support page
  ember-caluma-portal/app/support/template-gr.hbs
  ember-caluma-portal/translations/de-gr.yaml
Due: lint-ember-caluma-portal, test-ember-caluma-portal

chore(gr): rename "Baubegleitung" to "Bauabnahme"
  django/kt_gr/config/caluma_workflow.json
  django/kt_gr/config/core.json
  django/kt_gr/config/instance.json
Due: test-django

chore(gr): allow to create modifications in the finished state
  ember-caluma-portal/config/environment.js
Due: lint-ember-caluma-portal, test-ember-caluma-portal
