Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

lint-yml:
  stage: lint
  image: node:lts
  before_script:
  - yarn global add prettier
  script:
  - prettier -c **/*.yml

lint-ember-camac-ng:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-camac-ng
  - yarn
  script:
  - yarn lint

lint-ember-caluma-portal:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-caluma-portal
  - yarn
  script:
  - yarn lint

lint-ember-ebau-core:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-ebau-core
  - yarn
  script:
  - yarn lint

lint-php:
  stage: lint
  image:
    name: node:lts
  script:
  - if git grep -I -e ä  -e ö  -e ü   -- './*' ':!.gitlab-ci.yml'; then exit 1; else echo "No composite umlaute found"; fi
  - yarn --cwd=php install
  - yarn --cwd=php lint
  - yarn --cwd=php prettier-check

test-ember:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember"
  - eval $COMPOSE build ember
  - eval $COMPOSE run --rm --no-deps ember yarn test

test-ember-camac-ng:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-camac-ng"
  - eval $COMPOSE build ember-camac-ng
  ...

test-ember-caluma-portal:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-caluma-portal"
  - eval $COMPOSE build ember-caluma-portal
  ...

test-ember-ebau-core:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-ebau-core"
  - eval $COMPOSE build ember-ebau-core
  ...

test-django:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet django db clamav unoconv"
  - eval $COMPOSE build --parallel django db clamav unoconv
  ...

php-security-checker:
  stage: test
  image:
    name: jakzal/phpqa:php7.3-alpine
  script: local-php-security-checker --path=./php/composer.lock

chore(release): v3.3.0
  VERSION.txt
  django/camac/camac_metadata.py
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
Due: lint-ember-camac-ng, lint-ember-caluma-portal, test-ember-camac-ng, test-ember-caluma-portal, test-django

fix(communications): only send notification if message was not created by applicant
  django/camac/communications/events.py
  django/camac/communications/tests/test_api.py
Due: test-django

feat(gr): implement inquiry visibility constraints
  django/camac/caluma/tests/test_visibilities.py
  django/camac/caluma/utils.py
  django/camac/conftest.py
Due: test-django

fix(so): fix remark question in preliminary clarification table
  django/kt_so/config/caluma_form.json
Due: test-django

fix(so): fix JEXL of energienachweis document
  django/kt_so/config/caluma_form.json
Due: test-django

chore(so): add test instance
  django/kt_so/data/applicants.json
  django/kt_so/data/caluma_form.json
  django/kt_so/data/caluma_workflow.json
  django/kt_so/data/instance.json
Due: test-django

fix(so): remove special id column in portal case list
  ember-caluma-portal/app/instances/index/controller.js
  ember-caluma-portal/app/instances/index/template.hbs
Due: lint-ember-caluma-portal, test-ember-caluma-portal

fix(sz): use get_group permission logic to handle FormFields for public
  django/camac/instance/filters.py
  django/camac/instance/models.py
  django/camac/instance/tests/test_form_field.py
  django/camac/instance/tests/test_issue.py
  django/camac/instance/tests/test_journal_entry.py
  django/camac/instance/views.py
  django/camac/user/permissions.py
Due: test-django

fix(ur): filter KOOR AfJ copy dossiers in public caluma instances
  django/camac/instance/views.py
Due: test-django

chore(ur): show publication instance resource for KOOR AfJ
  django/camac/instance/tests/snapshots/snap_test_master_data.py
  django/kt_uri/config/core.json
Due: test-django

Revert "feat(ur): add "oereb_copy" to master_data and use it to specify if the oereb dossier is a copy (as an example for the AFJ for forest dossiers)"
  django/camac/instance/serializers.py
  django/camac/settings.py
Due: test-django

chore(ur): update the master-data snapshot
  django/camac/instance/tests/snapshots/snap_test_master_data.py
Due: test-django

feat(ur): add new oereb publication texts
  django/kt_uri/config/core.json
Due: test-django

feat(so): add keycloak theme
  compose/kt_so-dev.yml
  ember-caluma-portal/ember-cli-build.js
  keycloak/config/kt_so-test-config.json
  keycloak/themes/package.json
  keycloak/themes/src/main/resources/META-INF/keycloak-themes.json
  keycloak/themes/src/main/resources/theme/kanton-so/account/account.ftl
  keycloak/themes/src/main/resources/theme/kanton-so/account/messages/messages_de.properties
  keycloak/themes/src/main/resources/theme/kanton-so/account/password.ftl
  keycloak/themes/src/main/resources/theme/kanton-so/account/resources/css/style.css
  keycloak/themes/src/main/resources/theme/kanton-so/account/resources/fonts/FrutigerRomanBold.woff
  keycloak/themes/src/main/resources/theme/kanton-so/account/resources/fonts/FrutigerRomanRegular.woff
  keycloak/themes/src/main/resources/theme/kanton-so/account/resources/img/favicon.ico
  keycloak/themes/src/main/resources/theme/kanton-so/account/resources/img/logo-kanton-so.svg
  keycloak/themes/src/main/resources/theme/kanton-so/account/resources/img/solothurn.jpg
  keycloak/themes/src/main/resources/theme/kanton-so/account/template.ftl
  keycloak/themes/src/main/resources/theme/kanton-so/account/theme.properties
  keycloak/themes/src/main/resources/theme/kanton-so/account/totp.ftl
  keycloak/themes/src/main/resources/theme/kanton-so/login/resources/css/style.css
  keycloak/themes/src/main/resources/theme/kanton-so/login/resources/fonts/FrutigerRomanBold.woff
  keycloak/themes/src/main/resources/theme/kanton-so/login/resources/fonts/FrutigerRomanRegular.woff
  keycloak/themes/src/main/resources/theme/kanton-so/login/resources/img/favicon.ico
  keycloak/themes/src/main/resources/theme/kanton-so/login/resources/img/logo-kanton-so.svg
  keycloak/themes/src/main/resources/theme/kanton-so/login/resources/img/solothurn.jpg
  keycloak/themes/src/main/resources/theme/kanton-so/login/theme.properties
  keycloak/themes/src/main/resources/theme/kanton-so/scss/_font.scss
  keycloak/themes/src/main/resources/theme/kanton-so/scss/_variables.scss
  keycloak/themes/src/main/resources/theme/kanton-so/scss/style.scss
Due: lint-yml, lint-ember-caluma-portal, test-ember-caluma-portal

fix(communications): add feature flag for communications module in portal
  ember-caluma-portal/app/components/be-navbar.hbs
  ember-caluma-portal/app/instances/edit/template.hbs
  ember-caluma-portal/ember-cli-build.js
  ember-caluma-portal/tests/integration/components/be-navbar/component-test.js
Due: lint-ember-caluma-portal, test-ember-caluma-portal

fix(ur): set allowed_mime_types to [] for internal documents
  django/kt_uri/config/document.json
Due: test-django

feat(ur): add import user for parashift import of municipality dossiers
  django/camac/core/import_dossiers.py
  django/camac/parashift/conftest.py
  django/camac/parashift/tests/test_parashift_import.py
  django/camac/settings.py
  django/kt_uri/data/user.json
Due: test-django

fix(ember-ebau): fix distribution instance resource
  django/kt_gr/config/caluma_distribution.json
  django/kt_gr/distribution.graphql
  ember-ebau/app/cases/detail/distribution/index/route.js
  ember-ebau/app/cases/detail/distribution/index/template.hbs
  ember-ebau/app/cases/detail/distribution/route.js
  ember-ebau/app/cases/detail/distribution/template.hbs
  ember-ebau/app/components/sub-navigation.hbs
  ember-ebau/app/components/sub-navigation.js
  ember-ebau/app/router.js
  ember-ebau/tests/unit/cases/detail/distribution/index/route-test.js
  ember-ebau/tests/unit/cases/detail/distribution/route-test.js
Due: test-django

fix(gr): add missing circulation translation
  ember-caluma-portal/translations/de.yaml
Due: lint-ember-caluma-portal, test-ember-caluma-portal

fix(django): set system locale on startup and per request
  compose/kt_schwyz.yml
  django/camac/instance/validators.py
  django/camac/middleware.py
  django/camac/settings.py
  django/camac/wsgi.py
Due: lint-yml, test-django

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml
