Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

lint-yml:
  stage: lint
  image: node:lts
  before_script:
  - yarn global add prettier
  script:
  - prettier -c **/*.yml

lint-ember-camac-ng:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-camac-ng
  - yarn
  script:
  - yarn lint

lint-ember-caluma-portal:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-caluma-portal
  - yarn
  script:
  - yarn lint

lint-ember-ebau-core:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-ebau-core
  - yarn
  script:
  - yarn lint

lint-php:
  stage: lint
  image:
    name: node:lts
  script:
  - if git grep -I -e ä  -e ö  -e ü   -- './*' ':!.gitlab-ci.yml'; then exit 1; else echo "No composite umlaute found"; fi
  - yarn --cwd=php install
  - yarn --cwd=php lint
  - yarn --cwd=php prettier-check

test-ember:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember"
  - eval $COMPOSE build ember
  - eval $COMPOSE run --rm --no-deps ember yarn test

test-ember-camac-ng:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-camac-ng"
  - eval $COMPOSE build ember-camac-ng
  ...

test-ember-caluma-portal:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-caluma-portal"
  - eval $COMPOSE build ember-caluma-portal
  ...

test-ember-ebau-core:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-ebau-core"
  - eval $COMPOSE build ember-ebau-core
  ...

test-django:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet django db clamav unoconv"
  - eval $COMPOSE build --parallel django db clamav unoconv
  ...

php-security-checker:
  stage: test
  image:
    name: jakzal/phpqa:php7.3-alpine
  script: local-php-security-checker --path=./php/composer.lock

fix(ur): show correct services in distribution
  django/camac/user/filters.py
  django/camac/user/tests/test_public_services_for_distribution.py
  ember-camac-ng/app/services/caluma-options.js
Due: lint-ember-camac-ng, test-ember-camac-ng, test-django

fix(django): remove canton_aware helper which doesn't work for simple functions
  django/camac/caluma/extensions/events/construction_monitoring.py
  django/camac/caluma/tests/test_construction_monitoring.py
Due: test-django

feat(so): add FAQ page for SO
  django/camac/settings/modules/dump.py
  django/kt_so/config/caluma_dashboard_form.json
  django/kt_so/config/static_content.json
  ember-caluma-portal/app/components/so-footer.hbs
  ember-caluma-portal/app/components/so-navbar.hbs
  ember-caluma-portal/app/index/template.hbs
  ember-caluma-portal/app/router.js
  ember-caluma-portal/package.json
  ember-ebau-core/addon/abilities/static-content.js
  ember-ebau-core/addon/components/static-content.hbs
  ember-ebau-core/addon/components/static-content.js
  ember-ebau-core/addon/config/features/be.js
  ember-ebau-core/addon/config/features/gr.js
  ember-ebau-core/addon/config/features/ur.js
  ember-ebau-core/app/abilities/static-content.js
  ember-ebau-core/translations/static-content/de.yaml
  ember-ebau-core/translations/static-content/fr.yaml
  ember-ebau-core/translations/static-content/it.yaml
  ember-ebau/translations/static-content/de.yaml
  ember-ebau/translations/static-content/fr.yaml
  ember-ebau/translations/static-content/it.yaml
  pnpm-lock.yaml
Due: lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-caluma-portal, test-ember-ebau-core, test-django

chore(be): add a new checkbox question to the publication form
  django/kt_bern/config/caluma_publication_form.json
Due: test-django

feat(so): add structured person placeholders
  django/camac/caluma/tests/__snapshots__/test_data_sources.ambr
  django/camac/dossier_import/tests/__snapshots__/test_dossier_import_case.ambr
  django/camac/instance/placeholders/fields.py
  django/camac/instance/placeholders/locale/de/LC_MESSAGES/django.po
  django/camac/instance/placeholders/serializers.py
  django/camac/instance/placeholders/utils.py
  django/camac/instance/tests/__snapshots__/test_gwr.ambr
  django/camac/instance/tests/__snapshots__/test_master_data.ambr
  django/camac/instance/tests/__snapshots__/test_placeholders.ambr
  django/camac/instance/tests/test_placeholders.py
  django/camac/settings/modules/master_data.py
  django/camac/tests/data.py
  ember-ebau-core/addon/components/dms/docs.hbs
  ember-ebau-core/addon/components/dms/docs.js
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

chore(be): release v3.6.2
  VERSION.txt
  django/camac/camac_metadata.py
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
Due: lint-ember-camac-ng, lint-ember-caluma-portal, test-ember-camac-ng, test-ember-caluma-portal, test-django

chore(be): release v3.6.3
  VERSION.txt
  django/camac/camac_metadata.py
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
Due: lint-ember-camac-ng, lint-ember-caluma-portal, test-ember-camac-ng, test-ember-caluma-portal, test-django

fix(so): fix distribution via eCH
  django/camac/settings/modules/distribution.py
  django/kt_so/config/caluma_distribution.json
Due: test-django

chore(django-ur): backport form and core changes
  django/kt_uri/config/caluma_complete_check_form.json
  django/kt_uri/config/core.json
Due: test-django

chore(so): minor changes in support page
  django/kt_so/config/static_content.json
Due: test-django

chore(i18n): improve readability of .po files
  django/camac/core/management/commands/makemessages.py
  django/camac/instance/milestones/locale/de/LC_MESSAGES/django.po
  django/camac/instance/milestones/locale/fr/LC_MESSAGES/django.po
  django/camac/instance/milestones/locale/it/LC_MESSAGES/django.po
  django/camac/instance/placeholders/locale/de/LC_MESSAGES/django.po
  django/camac/instance/placeholders/locale/fr/LC_MESSAGES/django.po
  django/camac/instance/placeholders/locale/it/LC_MESSAGES/django.po
  django/locale/de/LC_MESSAGES/django.po
  django/locale/fr/LC_MESSAGES/django.po
  django/locale/it/LC_MESSAGES/django.po
  django/pyproject.toml
Due: test-django

chore(be-devtest): improve configuration slightly
  compose/kt_bern-devtest.yml
Due: lint-yml

chore(gr): add translations of csv files
  django/camac/core/translation_files/GR_IT/AccessLevel_name_it.csv
  django/camac/core/translation_files/GR_IT/Category_description_it.csv
  django/camac/core/translation_files/GR_IT/Category_name_it.csv
  django/camac/core/translation_files/GR_IT/Form_description_it.csv
  django/camac/core/translation_files/GR_IT/Form_name_it.csv
  django/camac/core/translation_files/GR_IT/InstanceResource_it.csv
  django/camac/core/translation_files/GR_IT/InstanceResource_name_it.csv
  django/camac/core/translation_files/GR_IT/InstanceStateT_name_it.csv
  django/camac/core/translation_files/GR_IT/NotificationTemplate_body_it.csv
  django/camac/core/translation_files/GR_IT/NotificationTemplate_it.csv
  django/camac/core/translation_files/GR_IT/NotificationTemplate_purpose_it.csv
  django/camac/core/translation_files/GR_IT/NotificationTemplate_subject_it.csv
  django/camac/core/translation_files/GR_IT/Option_label_it.csv
  django/camac/core/translation_files/GR_IT/Question_hint_text_it.csv
  django/camac/core/translation_files/GR_IT/Question_info_text_it.csv
  django/camac/core/translation_files/GR_IT/Question_it.csv
  django/camac/core/translation_files/GR_IT/Question_label_it.csv
  django/camac/core/translation_files/GR_IT/Question_placeholder_it.csv
  django/camac/core/translation_files/GR_IT/Question_static_content_it.csv
  django/camac/core/translation_files/GR_IT/Resource_de_it.csv
  django/camac/core/translation_files/GR_IT/Resource_it.csv
  django/camac/core/translation_files/GR_IT/Resource_name_it.csv
  django/camac/core/translation_files/GR_IT/Role_group_prefix_it.csv
  django/camac/core/translation_files/GR_IT/Role_name_it.csv
  django/camac/core/translation_files/GR_IT/ServiceGroup_name_it.csv
  django/camac/core/translation_files/GR_IT/Service_name_it.csv
  django/kt_gr/config/alexandria_core.json
  django/kt_gr/config/caluma_additional_demand.json
  django/kt_gr/config/caluma_decision_form.json
  django/kt_gr/config/caluma_distribution.json
  django/kt_gr/config/caluma_form.json
  django/kt_gr/config/caluma_form_common.json
  django/kt_gr/config/permissions.json
  django/kt_gr/config/publication.json
Due: test-django

fix(gr): more it translations
  django/kt_gr/config/caluma_form_common.json
  keycloak/themes/src/main/resources/theme/kanton-gr/login/messages/messages_it.properties
Due: test-django

fix(make): fix make targets for keycloak configuration
  Makefile
Due: none

fix(communications): disallow creation of topic in portal as internal role
  ember-ebau-core/addon/abilities/topic.js
Due: lint-ember-ebau-core, test-ember-ebau-core

feat(ember-caluma-portal): portal decision document notice
  ember-caluma-portal/app/instances/edit/index/template.hbs
  ember-caluma-portal/config/environment.js
  ember-caluma-portal/translations/de-ur.yaml
  ember-caluma-portal/translations/de.yaml
Due: lint-ember-caluma-portal, test-ember-caluma-portal

fix(gr): management command to translate the city property on services
  django/camac/core/management/commands/translate_service_city_it.py
  django/camac/core/management/commands/translate_services_it_gr.py
  django/camac/instance/placeholders/locale/it/LC_MESSAGES/django.po
  django/pyproject.toml
Due: test-django

feat(token-exchange): validate LoT on the API
  compose/kt_so-dev.yml
  django/camac/caluma/views.py
  django/camac/settings/django.py
  django/camac/token_exchange/conftest.py
  django/camac/token_exchange/keycloak.py
  django/camac/token_exchange/management/commands/generate_dev_tokens.py
  django/camac/token_exchange/permissions.py
  django/camac/token_exchange/tests/__snapshots__/test_keycloak.ambr
  django/camac/token_exchange/tests/cassettes/test_keycloak_client.yaml
  django/camac/token_exchange/tests/test_keycloak.py
  django/camac/token_exchange/tests/test_permissions.py
  django/camac/token_exchange/utils.py
  django/camac/user/permissions.py
  django/camac/user/views.py
  keycloak/config/kt_so-test-config.json
  proxy/egov.html
Due: lint-yml, test-django

chore(so): show material exam BaB to all cantonal services
  django/camac/settings/modules/permissions/kt_so.py
Due: test-django

feat(so): add new alexandria category for services
  django/kt_so/config/alexandria_core.json
Due: test-django

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml
