Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml

build(docker): don't tag django images multiple times
  compose/kt_ag-dev.yml
  compose/kt_bern-dev.yml
  compose/kt_gr-dev.yml
  compose/kt_schwyz-dev.yml
  compose/kt_sg-dev.yml
  compose/kt_so-dev.yml
Due: lint-yml

fix(keywords): add missing id filter
  django/camac/tags/filters.py
Due: test-django

fix(direct-inquiry): add missing component overwrite import to ember-ebau
  ember-ebau/app/application/route.js
Due: none

fix(additional-demands): some minor changes to the loading state and paper info
  ember-ebau-core/addon/controllers/additional-demand.js
  ember-ebau-core/addon/templates/additional-demand.hbs
Due: lint-ember-ebau-core, test-ember-ebau-core

feat(ech0211-swagger): mark new endpoints as preview
  django/camac/ech0211/views.py
  django/camac/swagger/utils.py
Due: test-django

refactor(flags): convert `enableSupport` to feature flag
  ember-caluma-portal/app/components/be-navbar.hbs
  ember-caluma-portal/ember-cli-build.js
  ember-ebau-core/addon/config/features/ag.js
  ember-ebau-core/addon/config/features/be.js
  ember-ebau-core/addon/config/features/gr.js
  ember-ebau-core/addon/config/features/ur.js
Due: lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-caluma-portal, test-ember-ebau-core

refactor(flags): convert `enableStaticFaq` to feature flag
  ember-caluma-portal/app/components/be-navbar.hbs
  ember-caluma-portal/ember-cli-build.js
  ember-ebau-core/addon/config/features/ag.js
  ember-ebau-core/addon/config/features/be.js
Due: lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-caluma-portal, test-ember-ebau-core

refactor(flags): convert `showProfileLink` to feature flag
  ember-caluma-portal/app/components/be-navbar.hbs
  ember-caluma-portal/ember-cli-build.js
  ember-ebau-core/addon/config/features/gr.js
Due: lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-caluma-portal, test-ember-ebau-core

chore(ur|keycloak): upgrade keycloak to version 26.5.3
  compose/kt_uri.yml
Due: lint-yml

fix(ur|keycloak|theme): hide locale selector from registration form
  keycloak/themes/src/main/resources/theme/kanton-uri/login/user-profile-commons.ftl
Due: none

chore(flags): remove obsolete feature flag `hasBuildingControl`
  ember-ebau-core/index.js
Due: lint-ember-ebau-core, test-ember-ebau-core

refactor(flags): convert `useInstanceService` to feature flag
  ember-ebau-core/addon/abilities/topic.js
  ember-ebau-core/addon/config/features/sz.js
  ember-ebau-core/index.js
Due: lint-ember-ebau-core, test-ember-ebau-core

refactor(flags): convert `instancePaperFilterDefault` to feature flag
  ember-caluma-portal/app/instances/index/controller.js
  ember-caluma-portal/ember-cli-build.js
  ember-ebau-core/addon/config/features/ur.js
Due: lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-caluma-portal, test-ember-ebau-core

refactor(flags): convert `enableInstanceActionDescription` to feature flag
  ember-caluma-portal/app/instances/edit/index/template.hbs
  ember-caluma-portal/ember-cli-build.js
  ember-ebau-core/addon/config/features/so.js
Due: lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-caluma-portal, test-ember-ebau-core

refactor(flags): convert `enableInstanceSupport` to feature flag
  ember-caluma-portal/app/instances/edit/template.hbs
  ember-caluma-portal/ember-cli-build.js
  ember-ebau-core/addon/config/features/ag.js
  ember-ebau-core/addon/config/features/be.js
  ember-ebau-core/addon/config/features/gr.js
Due: lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-caluma-portal, test-ember-ebau-core

refactor(flags): convert `enableModificationConfirm` to feature flag
  ember-caluma-portal/app/instances/edit/index/controller.js
  ember-caluma-portal/ember-cli-build.js
  ember-ebau-core/addon/config/features/be.js
Due: lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-caluma-portal, test-ember-ebau-core

refactor(flags): convert `enableAlexandriaOriginalDocumentFilename` to feature flag
  ember-ebau-core/addon/config/features/gr.js
  ember-ebau-core/addon/services/alexandria-config.js
  ember-ebau-core/index.js
Due: lint-ember-ebau-core, test-ember-ebau-core

feat(ag): add deletion for new internal instances
  django/camac/instance/tests/test_instance.py
  django/camac/settings/modules/permissions/kt_ag.py
  ember-ebau-core/addon/abilities/instance.js
  ember-ebau-core/addon/components/corrections/delete-instance.hbs
  ember-ebau-core/addon/components/corrections/delete-instance.js
  ember-ebau-core/addon/config/features/ag.js
  ember-ebau-core/addon/templates/corrections.hbs
  ember-ebau-core/app/components/corrections/delete-instance.js
  ember-ebau-core/translations/corrections/de.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

refactor(flags): get rid of isXY macro condition
  ember-camac-ng/ember-cli-build.js
  ember-ebau-core/addon/abilities/message.js
  ember-ebau-core/addon/abilities/topic.js
  ember-ebau-core/addon/components/case-filter.hbs
  ember-ebau-core/addon/components/publication-info.hbs
  ember-ebau-core/addon/config/features/be.js
  ember-ebau-core/index.js
Due: lint-ember-camac-ng, lint-ember-ebau-core, test-ember-camac-ng, test-ember-ebau-core

feat(ech0211-documents): feature-flag the documents endpoint
  django/camac/ech0211/tests/test_file_views.py
  django/camac/ech0211/views.py
  django/camac/settings/modules/ech0211.py
  django/camac/swagger/tests/__snapshots__/test_swagger.ambr
Due: test-django

feat(sg): enable module "my organisation" for admin groups
  django/kt_sg/config/core.json
Due: test-django

fix(publication): add event filter to enable configuring of trigger for post_complete_publication
  django/camac/caluma/extensions/events/publication.py
  django/camac/caluma/tests/test_events.py
  django/camac/notification/tasks.py
  django/camac/notification/tests/test_send_publication_start.py
Due: test-django

chore(deps): update dependency @ember/optional-features to v3
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
  ember-ebau-core/package.json
  ember-ebau/package.json
  pnpm-lock.yaml
Due: lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core

chore(gr): solaranlage add new beschreibung question for sonstige option
  django/kt_gr/config/caluma_form_v6.json
Due: test-django

chore(gr): solaranlage add leading dot to question labels
  django/kt_gr/config/caluma_form_v6.json
Due: test-django

chore(gr): solaranlage italian translations
  django/kt_gr/config/caluma_form_v6.json
Due: test-django

chore(be): fix DE and FR label of mp-abstand-von-gewaessern
  django/kt_bern/config/caluma_audit_form.json
Due: test-django

chore(deps): update alexandria to 8.7.1
  django/requirements.txt
Due: test-django

chore: bump document-merge-service for fixing empty-pdf bug
  document-merge-service/Dockerfile
Due: none

chore(sz/compose): remove django-q service definition from base file
  compose/kt_schwyz.yml
Due: lint-yml

chore(compose): simplify image tags in dev environment
  compose/kt_ag-dev.yml
  compose/kt_bern-dev.yml
  compose/kt_gr-dev.yml
  compose/kt_schwyz-dev.yml
  compose/kt_sg-dev.yml
  compose/kt_so-dev.yml
Due: lint-yml

fix(be): fix Erdbebensicherheit infobutton links
  django/kt_bern/config/caluma_form.json
  django/kt_bern/config/caluma_form_v5.json
Due: test-django

chore(ur|keycloak): update dev config to match v26.5.3
  keycloak/config/kt_uri-test-config.json
Due: none

fix(ur|keycloak|templates): update custom templates to conform with kc v26.5.3
  keycloak/themes/src/main/resources/theme/kanton-uri/login/login.ftl
  keycloak/themes/src/main/resources/theme/kanton-uri/login/register.ftl
  keycloak/themes/src/main/resources/theme/kanton-uri/login/template.ftl
Due: none

chore(sg): add test data for SG
  django/kt_sg/data/applicants.json
  django/kt_sg/data/caluma_form.json
  django/kt_sg/data/caluma_workflow.json
  django/kt_sg/data/core.json
  django/kt_sg/data/instance.json
  django/kt_sg/data/permissions.json
  django/kt_sg/data/user.json
Due: test-django

chore(gr): solaranlage it text polishing
  django/kt_gr/config/caluma_form_v6.json
  ember-caluma-portal/translations/it-gr.yaml
Due: lint-ember-caluma-portal, test-ember-caluma-portal, test-django

fix(so|keycloak): upgrade to v26.5.3
  compose/kt_so.yml
  keycloak/config/kt_so-test-config.json
  keycloak/themes/src/main/resources/theme/kanton-so/login/login.ftl
  keycloak/themes/src/main/resources/theme/kanton-so/login/template.ftl
Due: lint-yml

fix(ur|keycloak|theme): hide password reveal toggle button in theme settings
  keycloak/themes/src/main/resources/theme/kanton-uri/login/register.ftl
  keycloak/themes/src/main/resources/theme/kanton-uri/login/theme.properties
Due: none

chore(sz): remove patch version from Keycloak build
  compose/kt_schwyz.yml
Due: lint-yml

fix(so|keycloak|theme): fix template indenting and place social provider in grid layout
  keycloak/themes/src/main/resources/theme/kanton-so/login/template.ftl
Due: none
