Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml

fix(dossier-import): improve code quality slightly for improved error handling
  django/camac/dossier_import/writers.py
Due: test-django

fix(be-gis): merge data in correct order
  django/camac/gis/clients/begis.py
Due: test-django

refactor: drop various import_module() -> getattr() implementations
  django/camac/conftest.py
  django/camac/gis/models.py
  django/camac/gis/views.py
  django/camac/instance/document_merge_service.py
  django/camac/settings/django.py
  django/camac/settings/utils.py
Due: test-django

refactor(dossier-import): change tests to use proper application settings
  django/camac/dossier_import/tests/test_domain_logic.py
Due: test-django

refactor(dossier-import): make the archive (zip) loading more stable
  django/camac/dossier_import/models.py
  django/camac/dossier_import/tests/test_domain_logic.py
Due: test-django

chore(dev-env): install celery-flower for debugging celery tasks (be,sz)
  compose/kt_bern-dev.yml
  compose/kt_schwyz-dev.yml
  proxy/kt_bern.conf
  proxy/kt_schwyz.conf
Due: lint-yml

chore(composer/dev): remove redis_password var from redis service
  compose/kt_ag-dev.yml
  compose/kt_bern-dev.yml
  compose/kt_gr-dev.yml
  compose/kt_sg-dev.yml
  compose/kt_so-dev.yml
Due: lint-yml

feat(django-admin): add simple admins for caluma workflow, task and taskflow
  django/camac/admin.py
  django/camac/django_admin/admin.py
  django/camac/gis/admin.py
  django/camac/settings/modules/django_admin.py
  django/camac/user/admin/views.py
  django/camac/work_items/admin.py
Due: test-django

fix(ur): remove unnecessary request to activations for services in the search
  ember-ebau-core/addon/components/case-table.js
Due: lint-ember-ebau-core, test-ember-ebau-core

chore(sg): add SG form changes
  django/kt_sg/config/caluma_form.json
  django/kt_sg/config/caluma_formal_exam_form.json
Due: test-django

feat(ur): show filters for trusted service in the workitem list
  django/camac/settings/modules/work_item_list.py
Due: test-django

chore(responsible): remove the allow clear from the dropdown
  ember-ebau-core/addon/templates/responsible.hbs
Due: lint-ember-ebau-core, test-ember-ebau-core

chore(gr): it translation new address question
  ember-ebau-core/translations/work-items/it.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core

chore(gr): update eCH documentation for gvg and aib
  django/camac/ech0211/docs/kt_gr.md
Due: test-django

fix(workitems): consistency for addressed and controlling for v1 and v2
  django/camac/work_items/models.py
  ember-ebau-core/addon/caluma-query/models/work-item.js
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

chore(ag): remove municipality placeholder in inquir-reminder notification
  django/kt_ag/config/email_notifications.json
Due: test-django

fix(gr): hide gvg checkbox for specific dossiers
  ember-ebau/app/caluma/lib/custom-field.js
Due: none

fix(gr): adjustment description text dossierkorrektur
  django/camac/settings/modules/correction.py
  django/camac/settings/modules/permissions/kt_gr.py
  ember-ebau-core/addon/config/main-gr.js
  ember-ebau-core/translations/corrections/de-gr.yaml
  ember-ebau-core/translations/corrections/it-gr.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

fix(ember-ebau-core-gr): update the GR GIS component to handle GIS changes
  ember-ebau-core/addon/components/gr-gis.js
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(elixir): remove currently unused scss stuff in elixir container
  elixir-ebau/Dockerfile
  elixir-ebau/assets/css/base.scss
  elixir-ebau/mix.exs
Due: none

fix(build): add build context for schwyz celery build
  compose/kt_schwyz-dev.yml
Due: lint-yml

fix(gr): enable gis v3 with celery polling
  ember-ebau-core/addon/config/features/gr.js
Due: lint-ember-ebau-core, test-ember-ebau-core

chore(gr): it translation button nachforderung save
  ember-ebau-core/translations/cases/it-gr.yaml
  ember-ebau-core/translations/cases/it.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core

feat(be): make the content dropdown field of service-content searchable
  django/camac/core/admin/views.py
Due: test-django

chore(ag): restrict mime types for alexandria categories
  django/kt_ag/config/alexandria_core.json
Due: test-django

fix(build): readd build parameters for bern celery build
  compose/kt_bern-dev.yml
Due: lint-yml

fix(build): remove unneeded profiles
  compose/kt_bern-dev.yml
Due: lint-yml

fix(ag): fix display of "create communication" button in the portal
  ember-ebau-core/addon/abilities/topic.js
Due: lint-ember-ebau-core, test-ember-ebau-core

feat(sg): enable publication module
  django/camac/fixtures/generated/settings_fixtures.py
  django/camac/settings/django.py
  django/camac/settings/modules/dump.py
  django/camac/settings/modules/master_data.py
  django/camac/settings/modules/permissions/kt_sg.py
  django/camac/settings/modules/publication.py
  django/camac/user/permissions.py
  django/kt_sg/config/caluma_publication_form.json
  django/kt_sg/config/caluma_workflow.json
  django/kt_sg/config/core.json
  django/kt_sg/workflow/tasks.graphql
  django/kt_sg/workflow/workflow-building-permit.graphql
  ember-ebau-core/addon/config/features/sg.js
  ember-ebau-core/addon/config/main-sg.js
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

fix(so): run update_deadlines task in import queue for longer runtime
  django/kt_so/config/django_celery_beat.json
Due: test-django

test(sg): add `sg_instance` test fixture
  django/camac/conftest.py
  django/camac/instance/master_data.py
  django/camac/instance/tests/__snapshots__/test_master_data.ambr
  django/camac/instance/tests/test_master_data.py
  django/camac/settings/modules/master_data.py
  django/camac/tests/__snapshots__/test_external_client_access.ambr
  django/camac/tests/data.py
  django/camac/tests/test_external_client_access.py
Due: test-django

feat(so): static-keywords can be archived and edited
  django/camac/tags/filters.py
  django/camac/tags/migrations/0005_statickeyword_is_archived.py
  django/camac/tags/models.py
  django/camac/tags/serializers.py
  ember-ebau-core/addon/controllers/service-permissions/static-keywords.js
  ember-ebau-core/addon/models/static-keyword.js
  ember-ebau-core/addon/templates/service-permissions/static-keywords.hbs
  ember-ebau-core/translations/service-permissions/de.yaml
  ember-ebau-core/translations/service-permissions/fr.yaml
  ember-ebau-core/translations/service-permissions/it.yaml
  ember-ebau/app/components/case-header/static-keywords.js
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

feat(release): preselect current canton for next-version script
  tools/bin/next-version.js
  tools/package.json
  tools/pnpm-lock.yaml
Due: none

fix(service-content): fix the service-content module
  ember-ebau-core/addon/models/service-content.js
  ember-ebau-core/app/components/service-content.js
  ember-ebau-core/app/models/service-content.js
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(sz): ensure billing entries are ordered chronologically in wilken export
  django/camac/billing/tests/test_wilken_export.py
  django/camac/billing/wilken/domain_logic.py
Due: test-django

chore(sz): switch from Redis to Valkey
  compose/kt_schwyz-dev.yml
Due: lint-yml

chore(be): add new sunrise service to service permissions infotext
  ember-ebau-core/translations/service-permissions/de-be.yaml
  ember-ebau-core/translations/service-permissions/fr-be.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(notifications): send new-acl notification always
  django/camac/notification/serializers.py
Due: test-django

feat(ag): restrict the create communication button in the portal
  django/camac/user/serializers.py
  ember-ebau-core/addon/components/communication/topic-list.hbs
  ember-ebau-core/addon/components/communication/topic-list.js
  ember-ebau-core/addon/models/public-service.js
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django
