Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml

fix(user): fix first and last name mapping
  django/camac/caluma/tests/test_authentication.py
  django/camac/conftest.py
  django/camac/document/tests/snapshots/snap_test_template.py
  django/camac/instance/placeholders/fields.py
  django/camac/notification/management/commands/send_work_item_reminders.py
  django/camac/notification/tests/snapshots/snap_test_notification_template.py
  django/camac/notification/tests/snapshots/snap_test_send_work_item_reminders.py
  django/camac/user/authentication.py
  django/camac/user/migrations/0023_user_name_surname_switch.py
  django/camac/user/tests/test_authentication.py
  django/camac/user/tests/test_uri_keycloak_migration.py
  django/camac/user/tests/test_user.py
  django/kt_bern/data/user.json
  django/kt_schwyz/data/user.json
  django/kt_so/data/user.json
  django/kt_uri/data/user.json
  keycloak/config/demo-test-config.json
  keycloak/config/kt_bern-test-config.json
  keycloak/config/kt_gr-test-config.json
  keycloak/config/kt_schwyz-test-config.json
Due: test-django

chore(gr): form changes for "kantonstrassen"
  django/kt_gr/config/caluma_form.json
Due: test-django

feat(so): add organisation permissions module
  django/kt_so/config/core.json
  django/kt_so/data/user.json
Due: test-django

fix(gr): use full name for project author and landowner in input receipt
  document-merge-service/kt_gr/templatefiles/eingabequittung.docx
Due: none

chore(so): backport form changes
  django/kt_so/config/caluma_form.json
  django/kt_so/data/caluma_form.json
Due: test-django

feat(so): add watermark on test and dev systems
  ember-caluma-portal/app/components/so-navbar.hbs
  ember-caluma-portal/app/components/so-navbar.js
  ember-caluma-portal/app/styles/components/so-navbar/index.scss
  ember-caluma-portal/translations/de.yaml
Due: lint-ember-caluma-portal, test-ember-caluma-portal

fix(so): fix various faulty jexl expressions
  django/kt_so/config/caluma_form.json
Due: test-django

fix(case): fix setting of submit-date on the case meta
  django/camac/caluma/api.py
  django/camac/instance/serializers.py
Due: test-django

fix(be): prevent resuming inquiries when completing corrections
  django/camac/caluma/extensions/events/distribution.py
  django/camac/caluma/tests/test_distribution_workflow.py
Due: test-django

feat(be): show info text for support for instance submission
  ember-caluma-portal/app/components/be-submit-instance.js
  ember-caluma-portal/translations/de.yaml
  ember-caluma-portal/translations/fr.yaml
  ember-ebau-core/addon/components/document-validity-button.hbs
  ember-ebau-core/addon/components/document-validity-button.js
Due: lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-caluma-portal, test-ember-ebau-core

fix(organisation): enable notification configuration for subservices
  ember-ebau-core/addon/components/edit-service.js
  ember-ebau-core/addon/templates/service-permissions/sub-services/add.hbs
  ember-ebau-core/addon/templates/service-permissions/sub-services/edit.hbs
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(be): fix display name of attachments in the communication module
  ember-ebau-core/addon/components/communication/file-list/file.hbs
  ember-ebau-core/addon/components/communication/file-list/file.js
  ember-ebau-core/addon/components/communication/file-list/new-attachment.hbs
  ember-ebau-core/addon/components/communication/file-list/new-attachment.js
  ember-ebau-core/tests/integration/components/communication/file-list-test.js
Due: lint-ember-ebau-core, test-ember-ebau-core

feat(sz): new dossier number format for internal business
  django/camac/instance/domain_logic.py
  django/camac/instance/tests/test_instance.py
  django/camac/settings.py
Due: test-django

fix(be): fix the linting
  ember-caluma-portal/app/components/be-submit-instance.js
Due: lint-ember-caluma-portal, test-ember-caluma-portal

fix(be): don't cancel 'create-inquiry' for responsible service
  django/camac/caluma/extensions/events/distribution.py
  django/camac/caluma/tests/test_distribution_workflow.py
Due: test-django

feat(be): highlight the rejection text in the portal
  ember-caluma-portal/app/instances/edit/index/template.hbs
Due: lint-ember-caluma-portal, test-ember-caluma-portal

chore(journal): change a french translation in the journal
  ember-camac-ng/translations/journal/fr.yaml
  ember-ebau/translations/journal/fr.yaml
Due: lint-ember-camac-ng, test-ember-camac-ng

style(portal): highlight rejection info & action in portal
  ember-caluma-portal/app/instances/edit/index/template.hbs
  ember-caluma-portal/app/styles/_instances.scss
  ember-caluma-portal/translations/de.yaml
  ember-caluma-portal/translations/fr.yaml
Due: lint-ember-caluma-portal, test-ember-caluma-portal

chore(be): add temporary french translation
  ember-caluma-portal/translations/fr.yaml
Due: lint-ember-caluma-portal, test-ember-caluma-portal

fix(organisation): improve validation & handling of service website urls
  ember-caluma-portal/app/components/instance-support.hbs
  ember-caluma-portal/app/components/instance-support.js
  ember-ebau-core/addon/components/edit-service.hbs
  ember-ebau-core/addon/components/edit-service.js
  ember-ebau-core/translations/service-permissions/de-be.yaml
  ember-ebau-core/translations/service-permissions/de.yaml
  ember-ebau-core/translations/service-permissions/fr-be.yaml
  ember-ebau-core/translations/service-permissions/fr.yaml
Due: lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-caluma-portal, test-ember-ebau-core
