Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml

feat(be): copy the mandatory documents and attachments for modifications
  django/camac/instance/domain_logic.py
  django/camac/instance/tests/test_instance_caluma.py
Due: test-django

feat(ur): add authority to oereb api
  django/camac/instance/serializers.py
  django/camac/instance/tests/snapshots/snap_test_master_data.py
  django/camac/instance/tests/test_instance_public.py
  django/camac/instance/tests/test_master_data.py
  django/camac/settings.py
Due: test-django

chore(ember): rename textcomponents to snippets
  django/kt_bern/config/caluma_audit_form.json
  ember-camac-ng/app/ui/application/route.js
  ember-camac-ng/app/ui/components/cf-snippets-text/component.js
  ember-camac-ng/app/ui/components/cf-snippets-text/template.hbs
  ember-camac-ng/app/ui/components/cf-snippets-textarea/component.js
  ember-camac-ng/app/ui/components/cf-snippets-textarea/template.hbs
  ember-camac-ng/app/ui/components/snippets/component.js
  ember-camac-ng/app/ui/components/snippets/template.hbs
  ember-camac-ng/app/ui/components/textcomponent/component.js
  ember-camac-ng/app/ui/components/textcomponent/template.hbs
  ember-camac-ng/tests/integration/ui/components/cf-snippets-text/component-test.js
  ember-camac-ng/tests/integration/ui/components/cf-snippets-textarea/component-test.js
  ember-camac-ng/tests/integration/ui/components/snippets/component-test.js
  ember-camac-ng/translations/snippets/de.yaml
  ember-camac-ng/translations/snippets/fr.yaml
  ember-camac-ng/translations/textcomponent/de.yaml
  ember-camac-ng/translations/textcomponent/fr.yaml
Due: lint-ember-camac-ng, test-ember-camac-ng, test-django

chore(release): v2.9.0
  VERSION.txt
  django/camac/camac_metadata.py
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
Due: lint-ember-camac-ng, lint-ember-caluma-portal, test-ember-camac-ng, test-ember-caluma-portal, test-django

refactor(history): refactor history to use UIkit and ember-resources
  ember-camac-ng/app/styles/_misc.scss
  ember-camac-ng/app/ui/history/controller.js
  ember-camac-ng/app/ui/history/template.hbs
  ember-camac-ng/tests/acceptance/history-test.js
Due: lint-ember-camac-ng, test-ember-camac-ng

feat(cases): refactor case list to uikit
  ember-camac-ng/app/styles/_misc.scss
  ember-camac-ng/app/styles/_power-select.scss
  ember-camac-ng/app/styles/_variables-sz.scss
  ember-camac-ng/app/styles/_variables-ur.scss
  ember-camac-ng/app/styles/app.scss
  ember-camac-ng/app/styles/components/case-filter/_custom-be.scss
  ember-camac-ng/app/styles/components/case-filter/_custom-sz.scss
  ember-camac-ng/app/styles/components/case-filter/_custom-ur.scss
  ember-camac-ng/app/styles/components/case-filter/index.scss
  ember-camac-ng/app/ui/components/case-filter/base/template.hbs
  ember-camac-ng/app/ui/components/case-filter/checkbox/component.js
  ember-camac-ng/app/ui/components/case-filter/checkbox/template.hbs
  ember-camac-ng/app/ui/components/case-filter/date/template.hbs
  ember-camac-ng/app/ui/components/case-filter/filter-config.js
  ember-camac-ng/app/ui/components/case-filter/input/template.hbs
  ember-camac-ng/app/ui/components/case-filter/select-multiple/template.hbs
  ember-camac-ng/app/ui/components/case-filter/select/template.hbs
  ember-camac-ng/app/ui/components/case-filter/template.hbs
  ember-camac-ng/app/ui/components/case-filter/toggle-switch/component.js
  ember-camac-ng/app/ui/components/case-filter/toggle-switch/template.hbs
  ember-camac-ng/app/ui/components/case-table/template.hbs
Due: lint-ember-camac-ng, test-ember-camac-ng

refactor(case-list): use ember-resources in case list
  ember-camac-ng/app/ui/components/case-filter/component.js
  ember-camac-ng/app/ui/components/case-filter/filter-config.js
  ember-camac-ng/app/ui/components/case-filter/template.hbs
  ember-camac-ng/app/ui/components/case-table/component.js
  ember-camac-ng/app/ui/components/case-table/template.hbs
  ember-camac-ng/package.json
  yarn.lock
Due: lint-ember-camac-ng, test-ember-camac-ng

fix(ur): fix the display for more journal entries in the dashboard
  ember-camac-ng/app/ui/components/case-dashboard/journal/template.hbs
Due: lint-ember-camac-ng, test-ember-camac-ng

feat(ur): show the documents for the support role
  django/kt_uri/config/core.json
Due: test-django

fix(ur): fix pdf creation in the portal
  django/kt_uri/config/caluma_form.json
Due: test-django
