Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml

feat(portal): show display name of attachment if exists
  ember-caluma-portal/app/components/be-attachment-list/template.hbs
  ember-caluma-portal/app/models/attachment.js
Due: lint-ember-caluma-portal, test-ember-caluma-portal

feat(dossier_import): add import action to archive upload endpoint
  django/camac/dossier_import/config/kt_bern.py
  django/camac/dossier_import/management/commands/import_dossiers.py
  django/camac/dossier_import/models.py
  django/camac/dossier_import/tests/test_management_commands.py
  django/camac/dossier_import/tests/test_views.py
  django/camac/dossier_import/views.py
Due: test-django

change(dossier_import): add task_id to DossierImport model
  django/camac/dossier_import/migrations/0003_add_field_task_id.py
  django/camac/dossier_import/models.py
  django/camac/dossier_import/tests/test_views.py
  django/camac/dossier_import/views.py
Due: test-django

feat(dossier_import): add django-q for importing in background job
  compose/ci.yml
  compose/kt_bern-dev.yml
  compose/kt_bern.yml
  compose/kt_schwyz-dev.yml
  compose/kt_schwyz.yml
  django/camac/dossier_import/config/kt_bern.py
  django/camac/dossier_import/importing.py
  django/camac/dossier_import/management/commands/import_dossiers.py
  django/camac/dossier_import/models.py
  django/camac/dossier_import/tests/test_views.py
  django/camac/dossier_import/views.py
  django/camac/settings.py
  django/requirements.txt
Due: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django

fix(notification): make leitbehoerde and current service multilingual
  django/camac/notification/serializers.py
  django/camac/notification/tests/test_notification_template.py
  django/kt_bern/config/email_notifications.json
Due: test-django

fix: duplicate config entry
  django/kt_bern/config/core.json
Due: test-django

feat: start imports from frontend, minor refactoring
  django/camac/dossier_import/migrations/0004_auto_20220107_1708.py
  django/camac/dossier_import/models.py
  django/camac/dossier_import/tests/test_views.py
  django/camac/dossier_import/views.py
  django/camac/instance/domain_logic.py
  ember-camac-ng/app/adapters/dossier-import.js
  ember-camac-ng/app/models/dossier-import.js
  ember-camac-ng/app/ui/dossier-import/detail/controller.js
  ember-camac-ng/app/ui/dossier-import/detail/template.hbs
  ember-camac-ng/tests/unit/adapters/adapter-test.js
  ember-camac-ng/translations/dossier-import/de.yaml
Due: lint-ember-camac-ng, test-ember-camac-ng, test-django

chore(import-frontend): use ember-can for actions
  ember-camac-ng/app/abilities/dossier-import.js
  ember-camac-ng/app/ui/dossier-import/detail/controller.js
  ember-camac-ng/app/ui/dossier-import/detail/template.hbs
  ember-camac-ng/tests/unit/abilities/dossier-import-test.js
  ember-camac-ng/translations/dossier-import/de.yaml
  ember-camac-ng/translations/dossier-import/fr.yaml
Due: lint-ember-camac-ng, test-ember-camac-ng

fix: strip spaces in parcel numbers and egrids, invert e and n coords
  django/camac/dossier_import/loaders.py
  django/camac/dossier_import/tests/data/import-example-no-errors.zip
  django/camac/dossier_import/tests/data/import-example.zip
Due: test-django

fix(import-frontend): move notification area to top on all views
  ember-camac-ng/app/ui/dossier-import/index/template.hbs
  ember-camac-ng/app/ui/dossier-import/new/template.hbs
Due: lint-ember-camac-ng, test-ember-camac-ng

fix(dossier_import): cleanup docker-compose config
  compose/ci.yml
  compose/kt_bern.yml
  compose/kt_schwyz.yml
Due: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django
