Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

lint-yml:
  stage: lint
  image: node:lts
  before_script:
  - yarn global add prettier
  script:
  - prettier -c **/*.yml

lint-ember-camac-ng:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-camac-ng
  - yarn
  script:
  - yarn lint

lint-ember-caluma-portal:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-caluma-portal
  - yarn
  script:
  - yarn lint

lint-ember-ebau-core:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-ebau-core
  - yarn
  script:
  - yarn lint

lint-php:
  stage: lint
  image:
    name: node:lts
  script:
  - if git grep -I -e ä  -e ö  -e ü   -- './*' ':!.gitlab-ci.yml'; then exit 1; else echo "No composite umlaute found"; fi
  - yarn --cwd=php install
  - yarn --cwd=php lint
  - yarn --cwd=php prettier-check

test-ember:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember"
  - eval $COMPOSE build ember
  - eval $COMPOSE run --rm --no-deps ember yarn test

test-ember-camac-ng:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-camac-ng"
  - eval $COMPOSE build ember-camac-ng
  ...

test-ember-caluma-portal:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-caluma-portal"
  - eval $COMPOSE build ember-caluma-portal
  ...

test-ember-ebau-core:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-ebau-core"
  - eval $COMPOSE build ember-ebau-core
  ...

test-django:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet django db clamav unoconv"
  - eval $COMPOSE build --parallel django db clamav unoconv
  ...

php-security-checker:
  stage: test
  image:
    name: jakzal/phpqa:php7.3-alpine
  script: local-php-security-checker --path=./php/composer.lock

fix(sz): send notification for Schlussabnahme steps (not Bauetappe)
  django/camac/caluma/tests/test_construction_monitoring.py
  django/camac/conftest.py
  django/camac/settings/modules/construction_monitoring.py
  django/kt_schwyz/config/email_notifications.json
Due: test-django

chore(ag): use tagged releases
  django/camac/settings/django.py
  tools/bin/next-version.js
  tools/pnpm-lock.yaml
Due: test-django

chore(ag): backport form config change
  django/kt_ag/config/caluma_form.json
  django/kt_ag/data/caluma_form.json
Due: test-django

feat(ag): enable billing module
  django/camac/settings/modules/permissions/kt_ag.py
  django/kt_ag/config/core.json
Due: test-django

feat(be): replace schutzraum-pflicht question in form Triage (v5)
  django/kt_bern/config/caluma_form_v5.json
Due: test-django

feat(be): add heat-generator-v3 and add Begründung Questions to heat-generator-documents-v3
  django/camac/conftest.py
  django/camac/instance/serializers.py
  django/camac/instance/tests/test_document_merge_service.py
  django/camac/instance/tests/test_instance_caluma.py
  django/camac/settings/django.py
  django/camac/settings/modules/distribution_suggestions/kt_bern.py
  django/camac/settings/modules/dms.py
  django/camac/settings/modules/dump.py
  django/kt_bern/config/caluma_form_common.json
  django/kt_bern/config/caluma_form_v3.json
  django/kt_bern/config/caluma_heat_generator_form_v3.json
  django/kt_bern/config/caluma_workflow.json
  django/kt_bern/workflow-preliminary-clarification.graphql
  ember-caluma-portal/config/environment.js
Due: lint-ember-caluma-portal, test-ember-caluma-portal, test-django

chore(deps): update alexandria
  django/requirements.txt
Due: test-django

docs: fix path in permissions module documentation
  django/camac/permissions/docs/configuration.md
Due: test-django

feat(so): update static content in form for ARP
  django/kt_so/config/caluma_form.json
Due: test-django

fix(so): fix wrong widget override
  django/kt_so/config/caluma_form.json
Due: test-django

fix(communications): replace deprecated findBy method with regular find
  ember-ebau-core/addon/models/communications-message.js
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(proxy:csp): add iframe csp headers for dev
  proxy/csp_headers.inc
Due: none

fix(dossier-import): always parse row IDs as strings
  django/camac/dossier_import/tests/__snapshots__/test_dossier_import_case.ambr
  django/camac/dossier_import/tests/__snapshots__/test_views.ambr
  django/camac/dossier_import/utils.py
Due: test-django

chore(ag): add kt_ag to the start-dev-env config
  tools/start-dev-env-config.json
Due: none

chore(ag): add more inquiry services for authority
  django/camac/settings/modules/distribution.py
  django/kt_ag/data/user.json
Due: test-django

fix(distribution): fix active state of service group if multiple are passed
  ember-ebau/app/services/caluma-options.js
Due: none

chore(so): update services
  django/camac/settings/modules/distribution_suggestions/kt_so.py
  django/camac/user/admin/views.py
  django/kt_so/data/user.json
Due: test-django

refactor(so): extend available in distribution filter to support conditions
  compose/kt_ag-dev.yml
  compose/kt_so-dev.yml
  django/camac/settings/modules/bab.py
  django/camac/settings/modules/distribution.py
  django/camac/user/filters.py
  django/camac/user/tests/__snapshots__/test_public_services_bab.ambr
  django/camac/user/tests/test_public_services_bab.py
  django/camac/user/tests/test_public_services_for_distribution.py
Due: lint-yml, test-django

chore(ag): minor form fixes
  django/kt_ag/config/caluma_form.json
  ember-ebau-core/translations/documents/de-ag.yaml
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml
