Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml

feat(sg): add static content pages
  django/kt_sg/config/core.json
Due: test-django

fix(gr|keycloak): upgrade keycloak to v26.5
  compose/kt_gr.yml
  keycloak/config/kt_gr-test-config.json
Due: lint-yml

fix(instance): allow accessing involved services without distribution
  django/camac/circulation/tests/test_circulation.py
  django/camac/document/tests/test_attachment.py
  django/camac/instance/serializers.py
  django/camac/instance/tests/__snapshots__/test_instance.ambr
  django/camac/instance/tests/test_instance.py
Due: test-django

fix(work-items): only render date for deadline tooltip
  ember-ebau-core/addon/components/work-item-list-v2/item.hbs
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(sg): allow google fonts in CSP settings
  proxy/kt_sg.conf
Due: none

feat(sg): allow creation of manual work items
  django/kt_sg/config/caluma_workflow.json
  django/kt_sg/data/caluma_workflow.json
  django/kt_sg/workflow/tasks.graphql
  django/kt_sg/workflow/workflow-building-permit.graphql
Due: test-django

chore(django-admin): remove resource ID from admin list view
  django/camac/core/admin/views.py
Due: test-django

fix(django-admin): only show category permission debugger link locally
  django/camac/templates/admin/alexandria_category_change_list.html
Due: test-django

fix(django-admin): allow empty dicts for category metainfo field
  django/camac/django_admin/admin.py
Due: test-django

fix(django-admin): extend adminsortable template for category list
  django/camac/templates/admin/alexandria_category_change_list.html
Due: test-django

chore(alexandria): make base permission for v2 permissions configurable
  django/camac/alexandria/extensions/permissions_v2.py
  django/camac/alexandria/tests/test_permissions_v2.py
  django/camac/settings/modules/alexandria.py
Due: test-django

feat(sg): add initial configuration for documents module
  django/camac/fixtures/generated/settings_fixtures.py
  django/camac/settings/modules/alexandria.py
  django/camac/settings/modules/django_admin.py
  django/camac/settings/modules/permissions/alexandria/__init__.py
  django/camac/settings/modules/permissions/alexandria/kt_sg.py
  django/camac/settings/modules/permissions/kt_sg.py
  django/kt_sg/config/alexandria_core.json
  django/kt_sg/config/core.json
  proxy/kt_sg.conf
Due: test-django

feat(sg): configure communications module
  django/camac/communications/tests/test_api.py
  django/camac/fixtures/generated/settings_fixtures.py
  django/camac/settings/modules/communications.py
  django/camac/settings/modules/django_admin.py
  django/camac/settings/modules/permissions/kt_sg.py
  django/kt_sg/config/core.json
  django/kt_sg/config/email_notifications.json
  ember-ebau-core/addon/config/features/sg.js
  ember-ebau-core/addon/config/main-sg.js
  ember-ebau/app/styles/_variables-sg.scss
  ember-ebau/app/styles/components/main-navigation.scss
  ember-ebau/app/styles/components/sub-navigation.scss
  proxy/kt_sg.conf
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

fix(instance): remove obsolete field circulation_initializer_services
  django/camac/circulation/tests/test_circulation.py
  django/camac/document/tests/test_attachment.py
  django/camac/instance/serializers.py
  django/camac/instance/tests/__snapshots__/test_instance.ambr
  django/camac/instance/tests/test_instance.py
  django/camac/instance/views.py
  ember-ebau-core/addon/components/case-table.js
  ember-ebau-core/addon/models/instance.js
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

fix(instance): use copy_source to get parent instance
  django/camac/instance/serializers.py
Due: test-django

fix(instance): remove circulations from instance serializer
  django/camac/instance/serializers.py
  django/camac/instance/tests/__snapshots__/test_instance.ambr
  django/camac/instance/tests/test_instance.py
  django/camac/instance/views.py
Due: test-django

fix(ember-ebau): minor convenience fixes for the group switcher
  ember-ebau/app/components/main-navigation.js
Due: none

feat(sg): configure document search resource
  compose/kt_sg-dev.yml
  django/kt_sg/config/core.json
Due: lint-yml, test-django

feat(sg): configure alert colors according to cantonal design
  ember-caluma-portal/app/styles/_variables-sg.scss
  ember-ebau/app/styles/_variables-sg.scss
Due: lint-ember-caluma-portal, test-ember-caluma-portal

fix(deps): update DGAP to v3.0.1
  django/camac/instance/tests/__snapshots__/test_instance.ambr
  django/camac/instance/tests/test_instance.py
  django/requirements.txt
Due: test-django

chore(dev): write DMS data into separate DB schema
  compose/ci.yml
  compose/demo.yml
  compose/kt_ag-dev.yml
  compose/kt_bern-dev.yml
  compose/kt_gr-dev.yml
  compose/kt_schwyz-dev.yml
  compose/kt_sg-dev.yml
  compose/kt_so-dev.yml
  compose/kt_uri-dev.yml
  db/init-user-db.sh
Due: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django

chore(docker): update nginx to v1.29
  Dockerfile.ember
  compose/ci.yml
  compose/demo.yml
  compose/kt_ag-dev.yml
  compose/kt_bern-dev.yml
  compose/kt_gr.yml
  compose/kt_schwyz-dev.yml
  compose/kt_so-dev.yml
  compose/kt_uri.yml
Due: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django

chore(docker): update redis to v8.4
  compose/kt_ag-dev.yml
  compose/kt_bern-dev.yml
  compose/kt_gr.yml
  compose/kt_so-dev.yml
Due: lint-yml

chore(docker): update minio and mc to latest version
  compose/demo.yml
  compose/kt_ag-dev.yml
  compose/kt_bern-dev.yml
  compose/kt_gr-dev.yml
  compose/kt_schwyz-dev.yml
  compose/kt_so-dev.yml
Due: lint-yml

chore(deps): update framework
  django/requirements.txt
Due: test-django

test(dossier-import): minor improvements for test_state_transitions test
  django/camac/dossier_import/tests/test_views.py
Due: test-django

chore(deps): update dependency debugpy to v1.8.20
  django/requirements-dev.txt
Due: test-django

feat(sz): order assignedUser "public-user" for internal business
  django/camac/user/views.py
Due: test-django

chore: remove obsolete migrate_to_caluma app
  django/camac/migrate_to_caluma/__init__.py
  django/camac/migrate_to_caluma/apps.py
  django/camac/migrate_to_caluma/management/__init__.py
  django/camac/migrate_to_caluma/management/commands/__init__.py
  django/camac/migrate_to_caluma/management/commands/delete_migrated_cases.py
  django/camac/migrate_to_caluma/management/commands/migrate_cases.py
  django/camac/migrate_to_caluma/management/commands/migrate_dynamic_option.py
  django/camac/migrate_to_caluma/management/commands/migrate_question.py
  django/camac/migrate_to_caluma/question_map.py
  django/camac/migrate_to_caluma/tests/__init__.py
  django/camac/migrate_to_caluma/tests/test_migration.py
  django/camac/migrate_to_caluma/transforms.py
  django/camac/settings/django.py
  django/pyproject.toml
Due: test-django

chore: remove obsolete data_migration app
  django/camac/core/management/commands/migrate_rsta.py
  django/camac/data_migration/__init__.py
  django/camac/data_migration/rsta_data.py
  django/camac/data_migration/rsta_import.py
  django/camac/data_migration/tests/__init__.py
  django/camac/data_migration/tests/rsta_data/2020-11-01_14-11_510_976076.json
  django/camac/data_migration/tests/test_migrate_rsta.py
  django/pyproject.toml
Due: test-django

chore: remove obsolete circulation app
  django/camac/circulation/__init__.py
  django/camac/circulation/apps.py
  django/camac/circulation/filters.py
  django/camac/circulation/management/commands/__init__.py
  django/camac/circulation/management/commands/delete_dangling_inquiry_cases.py
  django/camac/circulation/management/commands/distribution_add_check_distribution.py
  django/camac/circulation/management/commands/distribution_analyze.py
  django/camac/circulation/management/commands/distribution_fill_inquiry_deadline.py
  django/camac/circulation/management/commands/distribution_migrate.py
  django/camac/circulation/management/commands/migrate_activation_answers_ur.py
  django/camac/circulation/management/commands/migrate_additional_demands_ur.py
  django/camac/circulation/management/commands/migratecirculations.py
  django/camac/circulation/migrations/0001_remove_sync.py
  django/camac/circulation/migrations/0002_fix_circulation_instance_resource.py
  django/camac/circulation/migrations/__init__.py
  django/camac/circulation/models.py
  django/camac/circulation/serializers.py
  django/camac/circulation/tests/__init__.py
  django/camac/circulation/tests/test_activation.py
  django/camac/circulation/tests/test_circulation.py
  django/camac/circulation/urls.py
  django/camac/circulation/views.py
  django/camac/settings/django.py
  django/camac/settings/modules/dump.py
  django/camac/urls.py
  django/pyproject.toml
  tools/test_advisor.yaml
Due: test-django

fix(ember-ebau): refresh auth in fetch service
  ember-ebau/app/services/fetch.js
Due: none

chore(gr): beschwerdenmodul 2nd hint
  django/kt_gr/config/caluma_objection_form.json
Due: test-django

chore(gr): regkarte removed extra space
  django/kt_gr/config/caluma_form.json
Due: test-django

feat(test): improve ensure_no_leaks fixture
  django/camac/conftest.py
Due: test-django

refactor(conftest): use settings fixture where possible
  django/camac/conftest.py
Due: test-django

test(stats): make sure decision date is a date
  django/camac/stats/tests/test_cycle_time_calculation.py
Due: test-django

chore: document document-merge-service restriction workaround
  README.md
Due: none

refactor(tests/documents): make the download test parametrized
  django/camac/ech0211/tests/test_file_views.py
Due: test-django

fix(masterdata): do not rely on having masterdata settings loaded
  django/camac/instance/master_data.py
Due: test-django
