Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml

fix(powerselect): always render powerselects in ember-camac-ng in place
  ember-camac-ng/app/ui/components/case-filter/select-multiple/template.hbs
  ember-camac-ng/app/ui/components/case-filter/select/template.hbs
  ember-camac-ng/app/ui/dossier-import/new/template.hbs
Due: lint-ember-camac-ng, test-ember-camac-ng

feat(ur): rename solar and building technology forms
  django/kt_uri/config/caluma_form.json
  django/kt_uri/config/core.json
  django/kt_uri/config/instance.json
  ember-caluma-portal/translations/de-ur.yaml
  ember-caluma-portal/translations/de.yaml
  ember-camac-ng/app/caluma-query/models/case-ur.js
  ember-camac-ng/app/caluma/lib/custom-field.js
Due: lint-ember-camac-ng, lint-ember-caluma-portal, test-ember-camac-ng, test-ember-caluma-portal, test-django

chore(ci): add letsencrypt to sz prod
  compose/kt_schwyz-prod.yml
Due: lint-yml

feat(ur): make new forms creatable in the portal
  django/camac/constants/kt_uri.py
  django/kt_uri/config/caluma_form.json
  django/kt_uri/config/core.json
  django/kt_uri/config/instance.json
  ember-caluma-portal/config/environment.js
Due: lint-ember-caluma-portal, test-ember-caluma-portal, test-django

feat(be): add a switcher tho show only defects in material exam
  ember-camac-ng/app/caluma/lib/custom-field.js
  ember-camac-ng/app/services/material-exam-switcher.js
  ember-camac-ng/app/ui/audit/edit/controller.js
  ember-camac-ng/app/ui/audit/edit/template.hbs
  ember-camac-ng/translations/audit/de.yaml
  ember-camac-ng/translations/audit/fr.yaml
Due: lint-ember-camac-ng, test-ember-camac-ng

fix(work-items): fix columns in global work item list
  ember-ebau-core/addon/components/work-item-list-wrapper.hbs
  ember-ebau-core/addon/components/work-item-list-wrapper.js
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(ur): fix the assignement for KOOR BG and BD
  django/camac/constants/kt_uri.py
  django/camac/instance/domain_logic.py
  django/camac/instance/mixins.py
  django/camac/instance/serializers.py
  django/camac/instance/tests/test_instance.py
  django/kt_uri/config/caluma_form.json
  django/kt_uri/config/core.json
Due: test-django

chore(ur): backport label changes in solar questions
  django/kt_uri/config/caluma_form.json
Due: test-django

chore(gwr): update gwr dependencies and apply config changes
  ember-caluma-portal/package.json
  ember-camac-ng/app/services/gwr-config.js
  ember-camac-ng/app/styles/_misc.scss
  ember-camac-ng/app/styles/_variables-sz.scss
  ember-camac-ng/app/styles/_variables-ur.scss
  ember-camac-ng/package.json
  ember-ebau-core/package.json
  ember-ebau/package.json
  yarn.lock
Due: lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core

fix(sz): only send mail on successful instance submit
  django/camac/instance/views.py
Due: test-django

fix(ur): queryset explosion for coordination role
  django/camac/instance/mixins.py
Due: test-django

fix: ur workflow date migration
  django/camac/core/management/commands/migrate_workflow_dates_ur.py
Due: test-django

fix(ur): remove workflow item from config after migration
  django/kt_uri/config/core.json
Due: test-django

chore(compose): add vars to SZ prod compose file
  compose/kt_schwyz-prod.yml
Due: lint-yml

fix(ur): config for BAV circulation
  django/kt_uri/config/core.json
  ember-camac-ng/app/config/case-table-ur.js
Due: lint-ember-camac-ng, test-ember-camac-ng, test-django
