Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

lint-yml:
  stage: lint
  image: node:lts
  before_script:
  - yarn global add prettier
  script:
  - prettier -c **/*.yml

lint-ember-camac-ng:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-camac-ng
  - yarn
  script:
  - yarn lint

lint-ember-caluma-portal:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-caluma-portal
  - yarn
  script:
  - yarn lint

lint-ember-ebau-core:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-ebau-core
  - yarn
  script:
  - yarn lint

lint-php:
  stage: lint
  image:
    name: node:lts
  script:
  - if git grep -I -e ä  -e ö  -e ü   -- './*' ':!.gitlab-ci.yml'; then exit 1; else echo "No composite umlaute found"; fi
  - yarn --cwd=php install
  - yarn --cwd=php lint
  - yarn --cwd=php prettier-check

test-ember:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember"
  - eval $COMPOSE build ember
  - eval $COMPOSE run --rm --no-deps ember yarn test

test-ember-camac-ng:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-camac-ng"
  - eval $COMPOSE build ember-camac-ng
  ...

test-ember-caluma-portal:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-caluma-portal"
  - eval $COMPOSE build ember-caluma-portal
  ...

test-ember-ebau-core:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-ebau-core"
  - eval $COMPOSE build ember-ebau-core
  ...

test-django:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet django db clamav unoconv"
  - eval $COMPOSE build --parallel django db clamav unoconv
  ...

php-security-checker:
  stage: test
  image:
    name: jakzal/phpqa:php7.3-alpine
  script: local-php-security-checker --path=./php/composer.lock

fix(so): fix submission to canton if canton has subservices
  django/camac/instance/serializers.py
  django/camac/instance/tests/test_instance_caluma.py
Due: test-django

fix(ag form): keycloak apply
  django/camac/settings/modules/user.py
Due: test-django

fix(ag-form): archive unneeded option
  django/kt_ag/config/caluma_form.json
Due: test-django

fix(token-exchange): fix link to contact on public instances view
  django/camac/settings/modules/dump.py
  django/kt_so/config/static_content.json
  ember-caluma-portal/app/components/so-footer.hbs
  ember-caluma-portal/app/components/so-navbar.hbs
Due: lint-ember-caluma-portal, test-ember-caluma-portal, test-django

fix(work-items): fix links for completed work items
  ember-ebau-core/addon/caluma-query/models/work-item.js
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(ur): send abm_zs notification only when specific question was answered
  django/camac/caluma/extensions/dynamic_tasks.py
  django/camac/caluma/tests/test_dynamic_tasks.py
  django/camac/settings/django.py
Due: test-django

fix(ag): gis zoom level, favicon, gis deprication warning
  ember-caluma-portal/app/deprecation-workflow.js
  ember-caluma-portal/public/favicon-ag.ico
  ember-ebau-core/addon/components/ag-gis.js
Due: lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-caluma-portal, test-ember-ebau-core

fix(ur): "bauverwalter" form synchronizations
  django/camac/instance/milestones/serializers.py
  django/camac/instance/tests/__snapshots__/test_milestones.ambr
  django/camac/instance/tests/test_milestones.py
  django/kt_uri/config/caluma_bauverwalter_form.json
  django/kt_uri/config/caluma_form.json
Due: test-django

fix(gr): use correct category slug in ech0211
  django/camac/settings/modules/ech0211.py
Due: test-django

perf(communications): improve performance of communications topic list
  django/camac/settings/modules/communications.py
  ember-ebau-core/addon/abilities/message.js
  ember-ebau-core/addon/components/communication/topic-list.hbs
  ember-ebau-core/addon/components/communication/topic-list.js
  ember-ebau-core/addon/models/communications-topic.js
  ember-ebau-core/tests/integration/components/communication/topic-list-test.js
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

chore(deps): update DMS
  document-merge-service/Dockerfile
Due: none

fix(ech0211): fix alexandria document creation
  django/camac/ech0211/send_handlers.py
Due: test-django

feat(ur): create the new attachment section "Dokumente ARE"
  django/camac/constants/kt_uri.py
  django/camac/document/permissions.py
  django/camac/document/tests/test_attachment_section.py
  django/kt_uri/config/document.json
Due: test-django

chore(ag): add new forms, update jexls, adjust i18n
  django/kt_ag/config/caluma_form.json
  django/kt_ag/config/caluma_form_common.json
  ember-caluma-portal/config/environment.js
  ember-ebau-core/translations/documents/de-ag.yaml
Due: lint-ember-caluma-portal, lint-ember-ebau-core, test-ember-caluma-portal, test-ember-ebau-core, test-django

chore: decouple input-error component translations from ember-ebau-gwr
  ember-ebau-core/addon/components/input-error.js
  ember-ebau-core/translations/validation-errors/de.yml
  ember-ebau-core/translations/validation-errors/fr.yml
  ember-ebau-core/translations/validation-errors/it.yml
Due: lint-yml, lint-ember-ebau-core, test-ember-ebau-core

feat(ur): create the "Dokumente AfU" attachment section
  django/camac/constants/kt_uri.py
  django/camac/document/permissions.py
  django/camac/document/tests/test_attachment_section.py
  django/kt_uri/config/document.json
  ember-ebau-core/addon/config/main-ur.js
Due: lint-ember-ebau-core, test-ember-ebau-core, test-django

fix(so): import decision date in dossier import
  django/camac/dossier_import/config/kt_so.py
  django/camac/dossier_import/tests/__snapshots__/test_dossier_import_case.ambr
Due: test-django

feat(ur): add new workitem filter "Rückmeldung prüfen"
  ember-ebau-core/addon/config/work-item-list-ur.js
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(ur): submission time for the notification nr. 7
  django/camac/settings/django.py
  django/kt_uri/config/caluma_form.json
Due: test-django

fix(ur): synchronization of milestones when more than one category
  ember-ebau-core/addon/services/milestones.js
Due: lint-ember-ebau-core, test-ember-ebau-core

fix(gr): handle the expired URLs correctly
  ember-ebau-core/addon/models/document.js
Due: lint-ember-ebau-core, test-ember-ebau-core

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml
