Repository inosca/ebau: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-yml, lint-ember-camac-ng, lint-ember-caluma-portal, lint-ember-ebau-core, lint-php, test-ember, test-ember-camac-ng, test-ember-caluma-portal, test-ember-ebau-core, test-django, php-security-checker

lint-yml:
  stage: lint
  image: node:lts
  before_script:
  - yarn global add prettier
  script:
  - prettier -c **/*.yml

lint-ember-camac-ng:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-camac-ng
  - yarn
  script:
  - yarn lint

lint-ember-caluma-portal:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-caluma-portal
  - yarn
  script:
  - yarn lint

lint-ember-ebau-core:
  stage: lint
  image: node:lts
  before_script:
  - cd ember-ebau-core
  - yarn
  script:
  - yarn lint

lint-php:
  stage: lint
  image:
    name: node:lts
  script:
  - if git grep -I -e ä  -e ö  -e ü   -- './*' ':!.gitlab-ci.yml'; then exit 1; else echo "No composite umlaute found"; fi
  - yarn --cwd=php install
  - yarn --cwd=php lint
  - yarn --cwd=php prettier-check

test-ember:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember"
  - eval $COMPOSE build ember
  - eval $COMPOSE run --rm --no-deps ember yarn test

test-ember-camac-ng:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-camac-ng"
  - eval $COMPOSE build ember-camac-ng
  ...

test-ember-caluma-portal:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-caluma-portal"
  - eval $COMPOSE build ember-caluma-portal
  ...

test-ember-ebau-core:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet ember-ebau-core"
  - eval $COMPOSE build ember-ebau-core
  ...

test-django:
  stage: test
  services:
  - docker:dind
  script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN acr.run
  - sh -c "export CI_COMMIT_REF_SLUG=master; eval $COMPOSE pull --ignore-pull-failures --quiet django db clamav unoconv"
  - eval $COMPOSE build --parallel django db clamav unoconv
  ...

php-security-checker:
  stage: test
  image:
    name: jakzal/phpqa:php7.3-alpine
  script: local-php-security-checker --path=./php/composer.lock

fix: add oereb client to keycloak config
  keycloak/kt_uri-test-config.json
Due: none

fix(auth): only bootstrap by email if email is actually given
  django/camac/user/authentication.py
  django/camac/user/tests/test_uri_keycloak_migration.py
Due: test-django

chore(sz): edit notification email text for completed manual workitems
  django/camac/caluma/extensions/events/general.py
  django/camac/caluma/tests/snapshots/snap_test_events.py
  django/camac/caluma/tests/test_events.py
  django/camac/settings.py
Due: test-django

feat(be): ebaube-2269 add new sub-categories for documents
  ember-caluma-portal/config/environment.js
  ember-caluma-portal/translations/de.yaml
  ember-caluma-portal/translations/fr.yaml
Due: lint-ember-caluma-portal, test-ember-caluma-portal

fix: styling, minor cleanups
  django/camac/dossier_import/messages.py
  ember-camac-ng/app/styles/_reset-sz.scss
  ember-camac-ng/app/styles/_variables-sz.scss
  ember-camac-ng/app/styles/app.scss
  ember-camac-ng/app/styles/modules/dossier-import/index.scss
  ember-camac-ng/app/ui/components/dossier-import-action/template.hbs
  ember-camac-ng/app/ui/dossier-import/detail/template.hbs
  ember-camac-ng/app/ui/dossier-import/index/template.hbs
  ember-camac-ng/app/ui/dossier-import/new/template.hbs
  ember-camac-ng/app/ui/dossier-import/template.hbs
  ember-camac-ng/translations/dossier-import/de.yaml
  ember-camac-ng/translations/dossier-import/fr.yaml
Due: lint-ember-camac-ng, test-ember-camac-ng, test-django

fix: use CSS for line breaks
  ember-camac-ng/app/styles/_misc.scss
  ember-camac-ng/app/ui/components/dossier-import-icon-text/component.js
  ember-camac-ng/app/ui/components/dossier-import-icon-text/template.hbs
Due: lint-ember-camac-ng, test-ember-camac-ng

chore(release): v2.7.0-rc.6
  VERSION.txt
  django/camac/camac_metadata.py
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
Due: lint-ember-camac-ng, lint-ember-caluma-portal, test-ember-camac-ng, test-ember-caluma-portal, test-django

fix: refactor fetch calls to ember-data (wip)
  ember-camac-ng/app/ui/dossier-import/index/controller.js
  ember-camac-ng/app/ui/dossier-import/index/template.hbs
  ember-camac-ng/mirage/models/dossier-import.js
Due: lint-ember-camac-ng, test-ember-camac-ng

fix: dynamic notification subject
  django/kt_uri/data/notification.json
Due: test-django

fix(dossier-import): use ember-data for dossier-import fetching
  ember-camac-ng/app/models/dossier-import.js
  ember-camac-ng/app/ui/components/dossier-import-icon-text/component.js
  ember-camac-ng/app/ui/dossier-import/detail/controller.js
  ember-camac-ng/app/ui/dossier-import/detail/template.hbs
  ember-camac-ng/app/ui/dossier-import/index/controller.js
  ember-camac-ng/app/ui/dossier-import/index/template.hbs
  ember-camac-ng/app/ui/dossier-import/new/controller.js
  ember-camac-ng/app/utils/date-time.js
Due: lint-ember-camac-ng, test-ember-camac-ng

fix(dossier-import): update django tests to include newlines in validations
  django/camac/dossier_import/tests/snapshots/snap_test_views.py
  django/camac/dossier_import/tests/test_views.py
Due: test-django

Path conditions:
  lint-yml: any of: **/*.yml
  lint-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  lint-php: any of: php/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember: any of: ember/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-camac-ng: any of: ember-camac-ng/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-caluma-portal: any of: ember-caluma-portal/**/*, compose/ci.yml, .gitlab-ci.yml
  test-ember-ebau-core: any of: ember-ebau-core/**/*, compose/ci.yml, .gitlab-ci.yml
  test-django: any of: django/**/*, compose/ci.yml, .gitlab-ci.yml
  php-security-checker: any of: php/**/*, .gitlab-ci.yml
