Repository inosca/ebau: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    - id: black
      name: black
      language: system
      entry: black --config django/pyproject.toml
      types: [python]
      exclude: >
          (?x)^(
            .*/migrations/.* |
            .*/snapshots/.*
          )$
    - id: isort
      name: isort
      language: system
      entry: isort -y
      types: [python]
    - id: flake8
      name: flake8
      language: system
      entry: flake8
      types: [python]

chore(ember): update dependencies
  ember-camac-ng/app/app.js
  ember-camac-ng/package.json
  ember-camac-ng/yarn.lock
Due: none

feat: form configuration "Arbeitsschutz"
  django/kt_uri/config/caluma_form.json
Due: none

feat(sz): add deprecate-case task
  django/camac/settings.py
  django/kt_schwyz/config/caluma_workflow.json
  django/kt_schwyz/config/core.json
Due: black, isort, flake8

feat(caluma): add workitem create role exclusion list
  django/camac/caluma/api.py
  django/camac/settings.py
Due: black, isort, flake8

chore(ur): backport prod config change "Dossier freigeben" / CONTROL
  django/kt_uri/config/core.json
Due: none

feat(ember-camac-ng): improve work item list
  ember-camac-ng/app/caluma-query/models/work-item.js
  ember-camac-ng/app/models/form-field.js
  ember-camac-ng/app/ui/components/context-menu/component.js
  ember-camac-ng/app/ui/components/context-menu/template.hbs
  ember-camac-ng/app/ui/components/work-item-list/item/template.hbs
  ember-camac-ng/app/ui/work-items/index/controller.js
Due: none

chore(be): fix label of a field
  django/camac/instance/tests/snapshots/snap_test_document_merge_service.py
  django/kt_bern/config/caluma_form.json
Due: isort, flake8

fix(ur): adapt portal and KOOR dossier creation to new form
  django/camac/instance/serializers.py
  django/camac/settings.py
  django/kt_uri/config/core.json
Due: black, isort, flake8

chore(ember-camac-ng): fix linting
  ember-camac-ng/app/caluma-query/models/work-item.js
  ember-camac-ng/app/ui/components/context-menu/component.js
  ember-camac-ng/app/ui/work-items/index/controller.js
Due: none

feat(be): suggest service anf
  django/camac/settings.py
Due: black, isort, flake8
