Repository inosca/ebau: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    - id: black
      name: black
      language: system
      entry: black --config django/pyproject.toml
      types: [python]
      exclude: >
          (?x)^(
            .*/migrations/.* |
            .*/snapshots/.*
          )$
    - id: isort
      name: isort
      language: system
      entry: isort -y
      types: [python]
    - id: flake8
      name: flake8
      language: system
      entry: flake8
      types: [python]

feat: introduce DMS for Kt. UR
  compose/kt_uri-dev.yml
  compose/kt_uri.yml
  django/camac/settings.py
  django/kt_uri/config/caluma_form.json
  document-merge-service/dump.json
  document-merge-service/templatefiles/2-level-extended.docx
  ember-camac-ng/app/app.js
  ember-camac-ng/app/services/fetch.js
  ember-camac-ng/app/ui/application/route.js
  ember-camac-ng/app/ui/components/cf-download-pdf/component.js
  ember-camac-ng/app/ui/components/cf-download-pdf/template.hbs
  ember-camac-ng/app/ui/components/cf-hidden-input/component.js
  ember-camac-ng/package.json
  ember-camac-ng/yarn.lock
Due: black, isort, flake8

feat(dev): improve clean config command
  django/camac/core/management/commands/clean_caluma_config.py
Due: black, isort, flake8

chore(dms): mount DMS data dump application independent
  Makefile
  compose/kt_bern.yml
  compose/kt_uri.yml
Due: none

fix(ember-camac-ng): make APPLICATION variable available on image build
  compose/kt_uri.yml
  ember-camac-ng/Dockerfile
Due: none

chore(release): v2.1.0-rc1
  VERSION.txt
  django/camac/camac_metadata.py
  ember-caluma-portal/package.json
  ember-camac-ng/package.json
Due: black, isort, flake8

chore(dump): sort lists in dumps instead of in the test
  django/camac/core/management/commands/camac_dump_config.py
  django/camac/core/management/commands/camac_dump_data.py
  django/camac/core/tests/test_dump.py
Due: black, isort, flake8

fix(sz): fix problems from previous MRs
  django/camac/notification/serializers.py
  django/kt_schwyz/config/caluma_workflow.json
  ember-camac-ng/app/styles/modules/history/index.scss
Due: black, isort, flake8

fix(ember-camac-ng): add application ARG to build process
  compose/kt_bern.yml
  compose/kt_schwyz-prod.yml
  compose/kt_schwyz.yml
Due: none

fix(ember-camac-ng): add application ARG to build process
  compose/kt_bern.yml
  compose/kt_schwyz.yml
Due: none

fix(ember-camac-ng): add application ARG to build process
  .gitlab-ci.yml
  compose/kt_bern.yml
  compose/kt_schwyz-prod.yml
  compose/kt_schwyz.yml
Due: none

feat(be): add new infotext to personal data tables
  django/camac/instance/tests/snapshots/snap_test_document_merge_service.py
  django/kt_bern/config/caluma_form.json
Due: isort, flake8

fix(ur): correct the display of the gis map
  ember-camac-ng/app/ui/components/ur-gis/component.js
Due: none
