Repository inosca/ebau: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

black:
  name: black
  language: system
  entry: black --config django/pyproject.toml

isort:
  name: isort
  language: system
  entry: isort -y

flake8:
  name: flake8
  language: system
  entry: flake8

feat(be): instance modification (projektänderung)
  django/camac/caluma/api.py
  django/camac/instance/serializers.py
  ember-caluma-portal/app/instances/index/controller.js
  ember-caluma-portal/app/instances/index/template.hbs
  ember-caluma-portal/translations/de.yaml
Due: black, isort, flake8

add migration, dump config
  django/kt_bern/config-caluma.json
Due: none

Revert "Merge branch 'disable-publication' into 'master'"
  django/camac/core/tests/test_publication_permissions.py
  django/camac/core/urls.py
  django/camac/notification/serializers.py
  ember/app/index/template.hbs
Due: black, isort, flake8

Revert "Merge branch 'disable-publication' into 'master'"
  django/camac/core/tests/test_publication_permissions.py
  django/camac/core/urls.py
  django/camac/notification/serializers.py
Due: black, isort, flake8

fix tests, hide some questions in PDF
  django/camac/caluma/api.py
  django/camac/instance/document_merge_service.py
  django/camac/instance/serializers.py
  django/camac/instance/tests/snapshots/snap_test_document_merge_service.py
  django/camac/instance/tests/test_instance_caluma.py
Due: black, isort, flake8

feat(a11y): improve accessibility of BE portal
  ember-caluma-portal/app/application/template.hbs
  ember-caluma-portal/app/components/be-documents-form/template.hbs
  ember-caluma-portal/app/components/be-gis/template.hbs
  ember-caluma-portal/app/components/be-navbar/template.hbs
  ember-caluma-portal/app/components/be-submit-instance/template.hbs
  ember-caluma-portal/app/components/be-subnav-link/component.js
  ember-caluma-portal/app/components/be-subnav-link/template.hbs
  ember-caluma-portal/app/index.html
  ember-caluma-portal/app/index/template.hbs
  ember-caluma-portal/app/instances/edit/applicants/template.hbs
  ember-caluma-portal/app/instances/edit/form/template.hbs
  ember-caluma-portal/app/instances/edit/template.hbs
  ember-caluma-portal/app/instances/index/template.hbs
  ember-caluma-portal/app/instances/new/template.hbs
  ember-caluma-portal/app/styles/_a11y.scss
  ember-caluma-portal/app/styles/_be-gis.scss
  ember-caluma-portal/app/styles/_be-navbar.scss
  ember-caluma-portal/app/styles/_pikaday.scss
  ember-caluma-portal/app/styles/_variables.scss
  ember-caluma-portal/app/styles/app.scss
  ember-caluma-portal/app/support/template.hbs
  ember-caluma-portal/package.json
  ember-caluma-portal/public/favicon.ico
  ember-caluma-portal/tests/integration/components/be-subnav-link/component-test.js
  ember-caluma-portal/translations/de.yaml
  ember-caluma-portal/translations/fr.yaml
  ember-caluma-portal/yarn.lock
Due: none

Indicate modification instances
  django/camac/instance/document_merge_service.py
  django/camac/instance/serializers.py
  django/camac/instance/tests/test_instance_caluma.py
  django/camac/settings.py
  ember-caluma-portal/app/instances/edit/template.hbs
  ember-caluma-portal/app/instances/index/controller.js
  ember-caluma-portal/app/instances/index/template.hbs
  ember-caluma-portal/app/lib/document.js
  ember-caluma-portal/app/models/instance.js
  ember-caluma-portal/package.json
  ember-caluma-portal/translations/de.yaml
  ember-caluma-portal/translations/fr.yaml
  ember-caluma-portal/yarn.lock
Due: black, isort, flake8

Run migration on test data
  django/kt_bern/data-caluma.json
Due: none

fix dms snapshot
  django/camac/instance/tests/snapshots/snap_test_document_merge_service.py
Due: isort, flake8

Use UTC for dates, angle bracket syntax
  ember-caluma-portal/app/instances/index/controller.js
  ember-caluma-portal/app/instances/index/template.hbs
Due: none

feat(circ-ur): set default item of short answer to "-"
  django/kt_uri/config.json
Due: none

fix(ech): emit change_responsibility signal
  django/camac/echbern/event_handlers.py
  django/camac/echbern/formatters.py
  django/camac/echbern/send_handlers.py
  django/camac/echbern/signals.py
  django/camac/echbern/tests/test_send_handlers.py
Due: black, isort, flake8

fix(ech): fix authority type
  django/camac/echbern/formatters.py
  django/camac/echbern/static/xml/get/base_delivery.xml
  django/camac/echbern/static/xml/get/change_responsibility.xml
  django/camac/echbern/static/xml/post/change_responsibility.xml
  django/camac/echbern/tests/snapshots/snap_test_formatters.py
Due: black, isort, flake8

Path conditions:
  black: any of: \.py$, but not: (?x)^(
  .*/migrations/.* |
  .*/snapshots/.*
)$

  isort: any of: \.py$
  flake8: any of: \.py$
