Repository inosca/ebau: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

black:
  name: black
  language: system
  entry: black --config django/pyproject.toml

isort:
  name: isort
  language: system
  entry: isort -y

flake8:
  name: flake8
  language: system
  entry: flake8

fix(ie11): remove usage of ember-apollo-client's queryManager macro to fix IE11
  ember-caluma-portal/app/components/be-documents-form/component.js
  ember-caluma-portal/app/components/be-gis/component.js
  ember-caluma-portal/app/components/be-submit-instance/component.js
  ember-caluma-portal/app/instances/edit/controller.js
  ember-caluma-portal/app/instances/index/controller.js
  ember-caluma-portal/app/instances/new/controller.js
  ember-caluma-portal/app/models/instance.js
  ember-caluma-portal/package.json
  ember-caluma-portal/yarn.lock
Due: none

chore(release): release v1.9.2
  VERSION.txt
  ember-caluma-portal/package.json
Due: none

feature(camac-sz): add new circulation short answer
  django/kt_schwyz/config.json
Due: none

Revert "Merge branch 'revert-22205296' into 'master'"
  django/camac/core/management/commands/dumpconfig.py
  django/camac/core/migrations/0035_publicationtype.py
  django/camac/core/migrations/0036_auto_20190815_1330.py
  django/camac/core/migrations/0037_auto_20190822_1319.py
  django/camac/core/migrations/0038_auto_20190822_1414.py
  django/camac/core/migrations/0039_auto_20190823_1644.py
  django/camac/core/models.py
  django/kt_schwyz/config.json
  django/kt_schwyz/data.json
  django/kt_uri/config.json
Due: black, isort, flake8

Revert "Merge branch 'revert-4a97f06a' into 'master'"
  django/camac/core/management/commands/dumpconfig.py
  django/camac/core/migrations/0035_publicationtype.py
  django/camac/core/migrations/0036_auto_20190815_1330.py
  django/camac/core/migrations/0037_auto_20190822_1319.py
  django/camac/core/migrations/0038_auto_20190822_1414.py
  django/camac/core/migrations/0039_auto_20190823_1644.py
  django/camac/core/models.py
  django/kt_schwyz/config.json
  django/kt_schwyz/data.json
  django/kt_uri/config.json
Due: black, isort, flake8

Revert "Merge branch 'revert-97f8416d' into 'master'"
  django/camac/core/management/commands/dumpconfig.py
  django/camac/core/migrations/0035_publicationtype.py
  django/camac/core/migrations/0036_auto_20190815_1330.py
  django/camac/core/migrations/0037_auto_20190822_1319.py
  django/camac/core/migrations/0038_auto_20190822_1414.py
  django/camac/core/migrations/0039_auto_20190823_1644.py
  django/camac/core/models.py
  django/kt_schwyz/config.json
  django/kt_schwyz/data.json
  django/kt_uri/config.json
Due: black, isort, flake8

fix(publication-ur): Remove default value from PUBLICATION_TYPE foreign keys
  django/camac/core/migrations/0036_auto_20190815_1330.py
  django/camac/core/migrations/0036_auto_20190904_1040.py
  django/camac/core/migrations/0037_auto_20190822_1319.py
  django/camac/core/migrations/0038_auto_20190822_1414.py
Due: isort, flake8

feat(config-ur): Merge aformtransition change from production
  django/kt_uri/config.json
Due: none

feat(config-ur): Add new group and service "Bundesamt für Zivilluftfahrt"
  django/kt_uri/config.json
Due: none

feat(be-documents): add new document category "Entscheiddokumente"
  django/kt_bern/config.json
Due: none

refactor(django): change jinja filter emptystring to getwithdefault
  django/camac/instance/templates/form-export.docx
  django/camac/jinja.py
  django/camac/tests/test_jinja.py
Due: black, isort, flake8

feat(db-uri): Set default mail address on admin user
  django/kt_uri/data.json
Due: none

feat(db-uri): Add user admin to groups KOOR BG and Sekretariat Altdorf
  django/kt_uri/data.json
Due: none

chore(be-portal): update dependencies
  ember-caluma-portal/app/application/route.js
  ember-caluma-portal/app/components/be-gis/component.js
  ember-caluma-portal/app/instances/edit/controller.js
  ember-caluma-portal/app/instances/edit/form/controller.js
  ember-caluma-portal/app/instances/index/controller.js
  ember-caluma-portal/app/protected/controller.js
  ember-caluma-portal/package.json
  ember-caluma-portal/yarn.lock
Due: none

fix(be-portal): fix deleting of attachments
  ember-caluma-portal/app/components/be-documents-form/component.js
Due: none

feat(be-claims): implement requested changes for the claims module
  caluma/fixtures/config.json
  caluma/migrations/0009-remove-nfd-documents.sql
  django/camac/instance/serializers.py
  django/camac/instance/tests/test_instance_caluma_permissions.py
  ember-caluma-portal/app/application/route.js
  ember-caluma-portal/app/components/be-attachment-list/template.hbs
  ember-caluma-portal/app/components/be-claims-documents/component.js
  ember-caluma-portal/app/components/be-claims-documents/template.hbs
  ember-caluma-portal/app/components/be-claims-form/component.js
  ember-caluma-portal/app/components/be-claims-form/template.hbs
  ember-caluma-portal/app/components/be-claims-table/component.js
  ember-caluma-portal/app/models/attachment.js
  ember-caluma-portal/app/styles/_be-claims.scss
  ember-caluma-portal/app/styles/app.scss
  ember-caluma-portal/tests/integration/components/be-claims-form/component-test.js
  ember-caluma-portal/translations/de.yaml
  ember-caluma-portal/translations/fr.yaml
  ember-caluma-portal/yarn.lock
Due: black, isort, flake8

Path conditions:
  black: any of: \.py$, but not: (?x)^(
  .*/migrations/.* |
  .*/snapshots/.*
)$

  isort: any of: \.py$
  flake8: any of: \.py$
