Repository inosca/ebau: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    - id: black
      name: black
      language: system
      entry: black --config django/pyproject.toml
      types: [python]
      exclude: >
          (?x)^(
            .*/migrations/.* |
            .*/snapshots/.*
          )$
    - id: isort
      name: isort
      language: system
      entry: isort -y
      types: [python]
    - id: flake8
      name: flake8
      language: system
      entry: flake8
      types: [python]

chore(sz): update deploy readme
  django/kt_schwyz/systemNotificationTemplate.json
Due: none

fix: link in "bauentscheid" notification
  django/kt_bern/config.json
Due: none

fix(search-ur): limit search access to archive dossiers
  django/kt_uri/config.json
Due: none

fix(be-portal): fix paper permissions
  ember-caluma-portal/app/abilities/instance.js
  ember-caluma-portal/app/components/be-navbar/component.js
  ember-caluma-portal/app/models/public-group.js
Due: none

chore(config-ur): merge attachment extension changes
  django/kt_uri/config.json
Due: none

fix(be): add babel polyfill to ember-camac-ng build
  ember-caluma-portal/tests/unit/abilities/instance-test.js
  ember-camac-ng/ember-cli-build.js
Due: none

fix(be): fix forest confirmation text and remove obsolete natural disaster confirmation
  django/kt_bern/config-caluma.json
Due: none

chore(be): remove possibility to edit the service name
  ember-camac-ng/app/ui/organisation/template.hbs
  ember-camac-ng/tests/acceptance/organisation-test.js
Due: none

chore(tests): fix snapshot and testdata
  django/camac/instance/tests/snapshots/snap_test_document_merge_service.py
  django/kt_bern/data-caluma.json
Due: isort, flake8

chore(caluma): update docstring of CalumaApi
  django/camac/caluma/api.py
Due: black, isort, flake8

fix(ech): switch to baukontrolle on NoticeRuling
  django/camac/constants/kt_bern.py
  django/camac/echbern/send_handlers.py
  django/camac/echbern/tests/test_send_handlers.py
  django/camac/echbern/tests/test_views.py
  django/camac/user/utils.py
Due: black, isort, flake8
