Repository inosca/ebau: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

black:
  name: black
  language: system
  entry: black --config django/pyproject.toml

isort:
  name: isort
  language: system
  entry: isort -y

flake8:
  name: flake8
  language: system
  entry: flake8

fix(django): distinct users
  django/camac/user/views.py
Due: black, isort, flake8

feat(user): management command to migrate user email config to service
  django/camac/core/management/commands/test_user_email_to_service.py
  django/camac/core/management/commands/user_email_to_service.py
Due: black, isort, flake8

feat(uri/notification): rewrite recipient lists
  django/camac/notification/serializers.py
  django/camac/notification/tests/test_notification_template.py
Due: black, isort, flake8

chore(flake8): don't enforce summary line in docstring for test cases
  django/.flake8
Due: none

feat(camac-ng): turn activation callback into django command
  django/camac/circulation/management/commands/__init__.py
  django/camac/circulation/management/commands/notifyoverdue.py
  django/camac/circulation/management/commands/test_notifyoverdue.py
  django/camac/conftest.py
  django/camac/constants/kt_uri.py
  django/camac/core/factories.py
  django/camac/core/migrations/0066_auto_20200624_1324.py
  django/camac/core/migrations/0067_auto_20200722_1337.py
  django/camac/core/migrations/0068_auto_20200722_1337.py
  django/camac/core/models.py
  django/camac/notification/serializers.py
  django/camac/notification/tests/test_notification_template.py
  django/camac/settings.py
  django/kt_uri/config.json
  django/pytest.ini
Due: black, isort, flake8

feat(php): refactor actions for processing workitems into generic action
  django/camac/core/management/commands/dumpconfig.py
  django/camac/core/migrations/0066_actionworkitem.py
  django/camac/core/models.py
  django/kt_bern/config.json
Due: black, isort, flake8

feat(be): show rejection feedback in the portal
  django/camac/instance/serializers.py
  ember-caluma-portal/app/instances/edit/index/controller.js
  ember-caluma-portal/app/instances/edit/index/template.hbs
  ember-caluma-portal/app/models/instance.js
  ember-caluma-portal/app/styles/_variables.scss
  ember-caluma-portal/translations/de.yaml
  ember-caluma-portal/translations/fr.yaml
Due: black, isort, flake8

feat(useradmin): introduce useradmin to kt_uri
  django/camac/user/tests/test_service.py
  django/camac/user/views.py
  django/kt_uri/config.json
Due: black, isort, flake8

fix(migrations): fix conflicting migrations
  django/camac/core/migrations/0066_actionworkitem.py
  django/camac/core/migrations/0069_actionworkitem.py
Due: isort, flake8

chore(config): don't dump historical records for the workflow config
  django/camac/core/management/commands/dumpconfig.py
  django/kt_bern/config-caluma-workflow.json
Due: black, isort, flake8

Path conditions:
  black: any of: \.py$, but not: (?x)^(
  .*/migrations/.* |
  .*/snapshots/.*
)$

  isort: any of: \.py$
  flake8: any of: \.py$
