Repository inosca/ebau: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

black:
  name: black
  language: system
  entry: black --config django/pyproject.toml

isort:
  name: isort
  language: system
  entry: isort -y

flake8:
  name: flake8
  language: system
  entry: flake8

fix(be-portal): improve accessibility
  ember-caluma-portal/app/instances/edit/index/template.hbs
  ember-caluma-portal/app/instances/index/template.hbs
  ember-caluma-portal/app/styles/_instances.scss
  ember-caluma-portal/app/styles/_variables.scss
  ember-caluma-portal/package.json
  ember-caluma-portal/yarn.lock
Due: none

chore(be-release): 1.41.0-rc1
  VERSION.txt
  ember-caluma-portal/package.json
Due: none

fix(django): fix imagemagick policy for thumbnail conversion
  django/Dockerfile
Due: none

chore(release): release 1.41.0
  VERSION.txt
  ember-caluma-portal/package.json
Due: none

fix(be-portal): update ember-caluma and remove deprecation
  ember-caluma-portal/config/ember-intl.js
  ember-caluma-portal/ember-cli-build.js
  ember-caluma-portal/package.json
  ember-caluma-portal/yarn.lock
Due: none

chore(django): upgrade dev dependencies
  django/requirements-dev.txt
Due: none

fix(django): fix new flake8 code format rules
  django/camac/conftest.py
  django/camac/echbern/event_handlers.py
  django/camac/instance/conftest.py
  django/camac/notification/tests/test_notification_template.py
  django/camac/swagger/views.py
  django/gisbern/views.py
Due: black, isort, flake8

chore(django): fix graphql test warnings
  django/camac/caluma/conftest.py
  django/camac/caluma/tests/test_visibilities.py
Due: black, isort, flake8

chore(django): update django dependencies
  django/camac/document/tests/snapshots/snap_test_template.py
  django/requirements.txt
Due: isort, flake8

fix(django): loadconfig test flakiness
  django/camac/core/tests/test_loadconfig.py
Due: black, isort, flake8

Path conditions:
  black: any of: \.py$, but not: (?x)^(
  .*/migrations/.* |
  .*/snapshots/.*
)$

  isort: any of: \.py$
  flake8: any of: \.py$
