Repository inosca/ebau: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

black:
  name: black
  language: system
  entry: black --config django/pyproject.toml

isort:
  name: isort
  language: system
  entry: isort -y

flake8:
  name: flake8
  language: system
  entry: flake8

fix(sz-form): set attachment section on GIS map upload as well
  ember/app/components/camac-document/component.js
  ember/app/instances/edit/grundinformationen/lokalisierung/controller.js
  ember/config/environment.js
Due: none

feat(be-dashboard): add info box showing admin contacts
  django/camac/instance/tests/test_instance.py
  django/camac/user/filters.py
  django/camac/user/migrations/0011_auto_20200110_1023.py
  django/camac/user/models.py
  django/camac/user/serializers.py
  django/kt_bern/data.json
Due: black, isort, flake8

fix(notification): fix activation statement french translation
  django/camac/notification/serializers.py
  django/camac/notification/tests/test_notification_template.py
Due: black, isort, flake8

chore(caluma): update caluma to 5.0.0 and rename modules
  .isort.cfg
  caluma/Dockerfile
  caluma/extensions/data_sources.py
  caluma/extensions/permissions.py
  caluma/extensions/validations.py
  caluma/extensions/visibilities.py
  django/camac/conftest.py
  django/camac/core/management/commands/dumpcamacdata.py
  django/camac/core/management/commands/dumpconfig.py
  django/camac/instance/serializers.py
  django/camac/instance/tests/test_instance_caluma_permissions.py
  django/camac/settings.py
  django/kt_bern/config-caluma.json
  django/kt_bern/data-caluma.json
  django/requirements-dev.txt
  django/requirements.txt
Due: black, isort, flake8

fix(snapshots): freeze some dates and numbers that were being flakiy
  django/camac/document/tests/snapshots/snap_test_template.py
  django/camac/document/tests/test_template.py
Due: black, isort, flake8

fix(document-merge): changes to publication date anzeiger 1 and 2
  django/camac/core/migrations/0049_auto_20200122_1621.py
  django/camac/core/models.py
Due: black, isort, flake8

feat(document-merge): added new placeholders for publication module refactor(documente-merge): use dataCamac.LANGUAGE in locale() in {{TODAY}}-placeholder
  django/camac/core/migrations/0048_auto_20200122_1510.py
  django/camac/core/models.py
Due: black, isort, flake8

fix: change publication date amtsblatt
  django/camac/core/migrations/0048_auto_20200123_1053.py
  django/camac/core/models.py
Due: black, isort, flake8

feat: publication migrations
  django/camac/core/migrations/0048_auto_20200122_1510.py
  django/camac/core/migrations/0048_auto_20200123_0958.py
Due: isort, flake8

style(camac-core): format camac/core/models.py
  django/camac/core/models.py
Due: black, isort, flake8

chore(be-release): 1.27.0-rc2
  VERSION.txt
  ember-caluma-portal/package.json
Due: none

chore(tests): cleanup datetime parametrisations
  django/camac/document/tests/test_template.py
Due: black, isort, flake8

fix(be-portal): add missing form validations and migrate certain answers
  django/kt_bern/config-caluma.json
Due: none

feat: improve objection module
  django/camac/conftest.py
  django/camac/objection/apps.py
  django/camac/objection/factories.py
  django/camac/objection/filters.py
  django/camac/objection/migrations/0001_initial.py
  django/camac/objection/migrations/__init__.py
  django/camac/objection/models.py
  django/camac/objection/serializers.py
  django/camac/objection/tests/test_objection.py
  django/camac/objection/tests/test_objection_participant.py
  django/camac/objection/urls.py
  django/camac/objection/views.py
  django/camac/settings.py
  django/camac/urls.py
Due: black, isort, flake8

Path conditions:
  black: any of: \.py$, but not: (?x)^(
  .*/migrations/.* |
  .*/snapshots/.*
)$

  isort: any of: \.py$
  flake8: any of: \.py$
