Repository inosca/ebau: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    - id: black
      name: black
      language: system
      entry: black --config django/pyproject.toml
      types: [python]
      exclude: >
          (?x)^(
            .*/migrations/.* |
            .*/snapshots/.*
          )$
    - id: isort
      name: isort
      language: system
      entry: isort -y
      types: [python]
    - id: flake8
      name: flake8
      language: system
      entry: flake8
      types: [python]

feat(be-claims): implement requested changes for the claims module
  caluma/fixtures/config.json
  caluma/migrations/0009-remove-nfd-documents.sql
  django/camac/instance/serializers.py
  django/camac/instance/tests/test_instance_caluma_permissions.py
  ember-caluma-portal/app/application/route.js
  ember-caluma-portal/app/components/be-attachment-list/template.hbs
  ember-caluma-portal/app/components/be-claims-documents/component.js
  ember-caluma-portal/app/components/be-claims-documents/template.hbs
  ember-caluma-portal/app/components/be-claims-form/component.js
  ember-caluma-portal/app/components/be-claims-form/template.hbs
  ember-caluma-portal/app/components/be-claims-table/component.js
  ember-caluma-portal/app/models/attachment.js
  ember-caluma-portal/app/styles/_be-claims.scss
  ember-caluma-portal/app/styles/app.scss
  ember-caluma-portal/tests/integration/components/be-claims-form/component-test.js
  ember-caluma-portal/translations/de.yaml
  ember-caluma-portal/translations/fr.yaml
  ember-caluma-portal/yarn.lock
Due: black, isort, flake8

fix(be-claims): fix nfd caluma permissions
  django/camac/instance/serializers.py
Due: black, isort, flake8

chore(release): release v1.10.0
  VERSION.txt
  ember-caluma-portal/package.json
Due: none

feat(camac-ng): Replace mailcatcher with mailhog
  docker-compose.override.yml
  docker-compose.production.yml
  docker-compose.yml
  keycloak/kt_schwyz-test-config.json
Due: none

feat(camac-ng): Place mailhog behind nginx reverse proxy
  docker-compose.override.yml
  proxy/nginx.conf
Due: none

feat(document-ur): Allow to mark attachments as decision document
  django/kt_uri/config.json
Due: none

fix(portal-ur): Fix portal read-only template in config
  django/kt_uri/config.json
Due: none

feat(buildingauthority-ur): Add building authority buttons and mails for different distribution types
  django/kt_uri/config.json
Due: none

feat(document-ur): Allow portal user to see Entscheid Dokumente section
  django/kt_uri/config.json
Due: none

feat(buildingauthority-ur): Add new workflow items for different distribution types
  django/kt_uri/config.json
Due: none

chore(i18n): remove empty french notification translations
  django/kt_bern/config.json
Due: none

feat(buildingauthority-ur): Make attachment section configurable on buildingauthority email
  django/camac/core/models.py
  django/kt_uri/config.json
Due: black, isort, flake8

fix(db-ur): Adjust PROJECT_SUBMITTER_VIEW so it works with non portal instances
  django/camac/core/migrations/0037_fix_project_submitter_view.py
  django/camac/core/migrations/0038_buildingauthorityemail_attachment_section.py
Due: isort, flake8

fix(i18n): fix french translations for claims module
  caluma/fixtures/config.json
Due: none
