Repository inosca/ebau: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    - id: black
      name: black
      language: system
      entry: black --config django/pyproject.toml
      types: [python]
      exclude: >
          (?x)^(
            .*/migrations/.* |
            .*/snapshots/.*
          )$
    - id: isort
      name: isort
      language: system
      entry: isort -y
      types: [python]
    - id: flake8
      name: flake8
      language: system
      entry: flake8
      types: [python]

fix(workflow): fix lead time and deadlines of ebau nr tasks
  django/camac/instance/migrations/0020_update_ebau_number_deadline.py
  django/kt_bern/config-caluma-workflow.json
  django/kt_bern/data-caluma-workflow.json
  django/kt_bern/workflow.graphql
Due: isort, flake8

chore(debug): add vscode debug config for ember apps
  .vscode/launch.json
Due: none

fix(migration): fix activation callback notice migration
  django/camac/core/migrations/0067_auto_20200722_1337.py
Due: isort, flake8

feat(workflow): allow multiple tasks to be configured in workitem action
  django/camac/caluma/extensions/dynamic_groups.py
  django/camac/caluma/tests/test_dynamic_groups.py
  django/camac/core/migrations/0070_auto_20200805_1557.py
  django/camac/core/models.py
  django/kt_bern/config.json
  django/kt_bern/data-caluma-workflow.json
  django/requirements.txt
Due: black, isort, flake8

chore(release): release 1.42.0-rc1
  VERSION.txt
  ember-caluma-portal/package.json
Due: none

feat(portal): add simplelist template
  django/kt_uri/config.json
Due: none

fix(notification): escape umlauts in mail templates
  django/kt_uri/config.json
Due: none

fix(useradmin): fix sort order of useradmin resource
  django/kt_uri/config.json
Due: none

feat(sz): implement caluma workflow
  django/camac/caluma/extensions/dynamic_groups.py
  django/camac/caluma/tests/test_dynamic_groups.py
  django/camac/core/management/commands/dumpcamacdata.py
  django/camac/core/management/commands/dumpconfig.py
  django/camac/core/management/commands/loadconfig.py
  django/camac/instance/conftest.py
  django/camac/instance/serializers.py
  django/camac/instance/tests/test_instance.py
  django/camac/instance/views.py
  django/kt_schwyz/config-caluma-form.json
  django/kt_schwyz/config-caluma-workflow.json
  django/kt_schwyz/config.json
Due: black, isort, flake8

fix(sz): various fixes for the caluma workflow
  django/camac/core/serializers.py
  django/kt_schwyz/config.json
  django/kt_schwyz/data-caluma-form.json
  django/kt_schwyz/data-caluma-workflow.json
  ember-camac-ng/app/styles/modules/workitem-list/index.scss
Due: black, isort, flake8
