Repository inosca/ebau: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

black:
  name: black
  language: system
  entry: black --config django/pyproject.toml

isort:
  name: isort
  language: system
  entry: isort -y

flake8:
  name: flake8
  language: system
  entry: flake8

chore(be): add releases folder
  Makefile
  caluma/migrations/0001-fix-submit-date-in-meta.sql
  caluma/migrations/0002-fix-document-answers.sql
  caluma/migrations/0003-copy-case-meta-to-document.sql
  caluma/migrations/0004-fix-document-family.sql
  caluma/migrations/0005-create-selbstdeklaration-documents.sql
  caluma/migrations/0006-change-slug-juristischeperson.sql
  caluma/migrations/0007-fix-document-family-again.sql
  caluma/migrations/0008-fix-caluma-nfd.sql
  caluma/migrations/0009-remove-nfd-documents.sql
  caluma/migrations/0010-migrate-submit-date-to-datetime.sql
  caluma/migrations/0011-fix-submit-date.sql
  caluma/migrations/0012-clean-config.sql
  caluma/migrations/0013-vorabklaerung-dokumente.sql
Due: none

fix(applicant-ur): Make email field on applicant optional
  django/camac/applicants/migrations/0006_auto_20191023_0126.py
  django/camac/applicants/models.py
Due: black, isort, flake8

fix(ci): Temporarily disable php linting in CI
  .gitlab-ci.yml
Due: none

fix(config-ur): Gemeinde Service Stelle dossier search should not be limited to own location
  django/kt_uri/config.json
Due: none

fix(config-ur): Fix group conflict
  django/kt_uri/config.json
Due: none

fix(config-ur): Remove Gebührenerfassung from Gemeinde Service Stelle
  django/kt_uri/config.json
Due: none

feat(ech): add event handlers
  .isort.cfg
  django/.isort.cfg
  django/camac/caluma.py
  django/camac/conftest.py
  django/camac/echbern/apps.py
  django/camac/echbern/conftest.py
  django/camac/echbern/event_handlers.py
  django/camac/echbern/factories.py
  django/camac/echbern/formatters.py
  django/camac/echbern/migrations/0001_initial.py
  django/camac/echbern/models.py
  django/camac/echbern/signals.py
  django/camac/echbern/tests/caluma_responses.py
  django/camac/echbern/tests/test_ech0211.py
  django/camac/echbern/tests/test_event_handlers.py
  django/camac/echbern/tests/test_formatters.py
  django/camac/instance/serializers.py
  django/camac/instance/tests/test_instance_caluma.py
  django/camac/settings.py
  django/camac/tests/test_caluma.py
  django/kt_bern/data.json
  django/requirements.txt
  docker-compose.ci.yml
  docker-compose.override.yml
  keycloak/kt_bern-test-config.json
Due: black, isort, flake8

feat(be-documents): multilingual attachement sections
  django/camac/core/management/commands/dumpconfig.py
  django/camac/document/migrations/0019_auto_20191023_1213.py
  django/camac/document/migrations/0020_auto_20191023_1213.py
  django/camac/document/models.py
  django/camac/document/serializers.py
  django/kt_bern/config.json
Due: black, isort, flake8

Revert "Merge branch 'fix_migration' into 'master'"
  django/camac/applicants/migrations/0006_auto_20191023_0126.py
  django/camac/applicants/models.py
Due: black, isort, flake8

fix(applicants-ur): Exclude kt. uri from applicants migration
  django/camac/applicants/migrations/0004_create_default_applicants.py
Due: isort, flake8

fix(ech): fix authorization for service client, use "support" role
  caluma/extensions/visibilities.py
  django/camac/caluma.py
  django/camac/echbern/data_preparation.py
  django/camac/echbern/event_handlers.py
  django/camac/echbern/views.py
  django/camac/user/migrations/0008_auto_20191023_1544.py
  django/camac/user/models.py
  django/kt_bern/data.json
Due: black, isort, flake8

fix(translations): add new french translations
  ember-caluma-portal/translations/fr.yaml
Due: none

fix(tests): make tests pass for !1892
  django/camac/echbern/data_preparation.py
  django/camac/echbern/tests/test_data_preparation.py
  django/camac/echbern/tests/test_event_handlers.py
  django/camac/echbern/tests/test_views.py
  django/camac/instance/tests/test_instance_caluma.py
Due: black, isort, flake8

fix(settings): construct keycloak token url
  django/camac/settings.py
Due: black, isort, flake8

fix(be-config): add missing journal entry for reopening the circulation
  django/kt_bern/config.json
Due: none

Path conditions:
  black: any of: \.py$, but not: (?x)^(
  .*/migrations/.* |
  .*/snapshots/.*
)$

  isort: any of: \.py$
  flake8: any of: \.py$
