Repository inosca/ebau: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

black:
  name: black
  language: system
  entry: black --config django/pyproject.toml

isort:
  name: isort
  language: system
  entry: isort -y

flake8:
  name: flake8
  language: system
  entry: flake8

fix(translations): add missing camac translations
  django/kt_bern/config.json
Due: none

chore(i18n): translate "optional" differently for better comprehensibility
  ember-caluma-portal/translations/de.yaml
  ember-caluma-portal/translations/fr.yaml
Due: none

fix(translations): add missing translations
  caluma/fixtures/config.json
  ember-caluma-portal/translations/fr.yaml
Due: none

feat(translation): add notification templates translations
  django/kt_bern/config.json
Due: none

chore(release): release v1.10.1
  VERSION.txt
  ember-caluma-portal/package.json
Due: none

fix(api): add missing module `python-dateutil`
  django/requirements.txt
Due: none

fix(translations): add missing translations
  caluma/fixtures/config.json
  django/camac/core/management/commands/translate_camac.py
  django/camac/core/translation_files/page_t.csv
  django/kt_bern/config.json
  ember-caluma-portal/translations/fr.yaml
Due: black, isort, flake8

feat(schwyz): add textcomponent management
  django/camac/notification/factories.py
  django/camac/notification/filters.py
  django/camac/notification/migrations/0005_auto_20190902_1604.py
  django/camac/notification/models.py
  django/camac/notification/serializers.py
  django/camac/notification/tests/test_notification_template.py
  django/camac/notification/views.py
  django/kt_bern/config.json
  django/kt_schwyz/config.json
Due: black, isort, flake8

fix(translations): fix locales for ember-pikaday
  django/camac/core/management/commands/translate_camac.py
  django/kt_bern/config.json
  ember-caluma-portal/config/environment.js
  ember-caluma-portal/translations/fr.yaml
Due: black, isort, flake8

feat(be): reimplement internal instance heading with vue
  django/camac/conftest.py
  django/camac/instance/migrations/0015_instance_service.py
  django/camac/instance/models.py
  django/camac/instance/serializers.py
  django/camac/instance/tests/test_instance_caluma.py
  django/camac/instance/views.py
  django/camac/responsible/factories.py
  django/camac/user/serializers.py
Due: black, isort, flake8

fix(translations): change current translations
  django/camac/core/management/commands/translate_camac.py
  django/camac/core/translation_files/question_t.csv
Due: black, isort, flake8

fix(db-ur): Only drop view if it exists
  django/camac/core/migrations/0037_fix_project_submitter_view.py
Due: isort, flake8

feat(be): migrate submit-date to a datetime
  caluma/migrations/0010-migrate-submit-date-to-datetime.sql
  django/camac/instance/serializers.py
Due: black, isort, flake8

fix(schwyz): fix ordering of activation list
  django/camac/circulation/views.py
Due: black, isort, flake8

Path conditions:
  black: any of: \.py$, but not: (?x)^(
  .*/migrations/.* |
  .*/snapshots/.*
)$

  isort: any of: \.py$
  flake8: any of: \.py$
