Repository inosca/ebau: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    - id: black
      name: black
      language: system
      entry: black --config django/pyproject.toml
      types: [python]
      exclude: >
          (?x)^(
            .*/migrations/.* |
            .*/snapshots/.*
          )$
    - id: isort
      name: isort
      language: system
      entry: isort -y
      types: [python]
    - id: flake8
      name: flake8
      language: system
      entry: flake8
      types: [python]

fix(instance): fix failure when copying invitees
  django/camac/instance/serializers.py
  django/camac/instance/tests/test_instance_caluma.py
Due: black, isort, flake8

chore(release): release 1.35.1
  VERSION.txt
  ember-caluma-portal/package.json
Due: none

fix(camac): filter instances for location in apilist
  django/camac/instance/filters.py
Due: black, isort, flake8

feat(camac): add button to repoen objections
  django/camac/objection/tests/test_objection_timeframe.py
  django/camac/objection/views.py
Due: black, isort, flake8

feat(camac): hide businesscontrol resources
  django/kt_schwyz/config.json
Due: none

refact(migrations): merge related django migrations
  django/camac/core/migrations/0057_archive_workflow_item.py
  django/camac/core/migrations/0057_auto_20200423_1327.py
Due: isort, flake8

feat(config): add new instance state "CONTROL"
  django/kt_uri/config.json
Due: none

feat(config): duplicate acls with instance_done "DONE" for "CONTROL"
  django/kt_uri/config.json
Due: none

feat(workflow-ur): wire up new instance state "CONTROL"
  django/kt_uri/config.json
Due: none

fix(instance): fix deleting of an instance
  django/camac/core/migrations/0058_auto_20200427_1302.py
  django/camac/core/models.py
  django/camac/tags/migrations/0002_auto_20200427_1302.py
  django/camac/tags/models.py
Due: black, isort, flake8
