Repository inosca/ebau: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

black:
  name: black
  language: system
  entry: black --config django/pyproject.toml

isort:
  name: isort
  language: system
  entry: isort -y

flake8:
  name: flake8
  language: system
  entry: flake8

fix(schwyz): fix table validation to support nested arrays
  django/camac/instance/tests/test_instance.py
  django/camac/instance/validators.py
Due: black, isort, flake8

test(django): remove unnecessary import
  django/camac/core/serializers.py
  django/camac/document/tests/snapshots/snap_test_template.py
Due: black, isort, flake8

fix(be-config): explicitly set next state after dossier correction
  django/kt_bern/config.json
Due: none

feat(ech): add even more data to the XML
  django/camac/camac_metadata.py
  django/camac/core/factories.py
  django/camac/echbern/conftest.py
  django/camac/echbern/formatters.py
  django/camac/echbern/tests/caluma_responses.py
  django/camac/echbern/tests/full_document_response.py
  django/camac/echbern/tests/snapshots/snap_test_data_preparation.py
  django/camac/echbern/tests/snapshots/snap_test_formatters.py
  django/camac/echbern/tests/test_data_preparation.py
  django/camac/echbern/tests/test_ech0211.py
  django/camac/echbern/tests/test_formatters.py
  django/camac/echbern/tests/test_views.py
  django/camac/echbern/views.py
  django/setup.py
Due: black, isort, flake8

fix(config-ur): Redump publication settings with correct escaping
  django/kt_uri/config.json
Due: none

fix(config-ur): Rename existing "Vernehmlassungstellen" groups
  django/kt_uri/config.json
Due: none

fix(config-ur): Duplicate "Vernehmlassungstelle" groups for municipality circ
  django/kt_uri/config.json
Due: none

fix(document): set default for UUID column on DB
  django/camac/document/migrations/0018_auto_20191022_1013.py
Due: isort, flake8

chore(be-templates): update gesamtbauentscheid template
  document-merge-service/templatefiles/de-gesamtbauentscheid.docx
Due: none

fix(be-process): re-add button "Baugesuchsverf. abschliessen"
  django/kt_bern/config.json
Due: none

fix(translations): change current translations
  caluma/fixtures/config.json
Due: none

fix(be-config): re-dump config after manual changes
  caluma/fixtures/config.json
Due: none

fix(be-form): make personalien and baubeschrieb required
  caluma/fixtures/config.json
Due: none

chore(be): add releases folder
  Makefile
  caluma/migrations/0001-fix-submit-date-in-meta.sql
  caluma/migrations/0002-fix-document-answers.sql
  caluma/migrations/0003-copy-case-meta-to-document.sql
  caluma/migrations/0004-fix-document-family.sql
  caluma/migrations/0005-create-selbstdeklaration-documents.sql
  caluma/migrations/0006-change-slug-juristischeperson.sql
  caluma/migrations/0007-fix-document-family-again.sql
  caluma/migrations/0008-fix-caluma-nfd.sql
  caluma/migrations/0009-remove-nfd-documents.sql
  caluma/migrations/0010-migrate-submit-date-to-datetime.sql
  caluma/migrations/0011-fix-submit-date.sql
  caluma/migrations/0012-clean-config.sql
  caluma/migrations/0013-vorabklaerung-dokumente.sql
Due: none

Path conditions:
  black: any of: \.py$, but not: (?x)^(
  .*/migrations/.* |
  .*/snapshots/.*
)$

  isort: any of: \.py$
  flake8: any of: \.py$
