Repository inosca/ebau: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

black:
  name: black
  language: system
  entry: black --config django/pyproject.toml

isort:
  name: isort
  language: system
  entry: isort -y

flake8:
  name: flake8
  language: system
  entry: flake8

Avoid installing of dev dependencies in prod container
  django/Dockerfile
  django/Makefile
Due: none

fix(export): fix broken export template because of a regression in DMS
  document-merge-service/templatefiles/export-1.docx
Due: none

feat(be-portal): migrate data for selbstdeklaration
  caluma/fixtures/config.json
  caluma/migrations/0004-create-selbstdeklaration-documents.sql
  django/camac/instance/migrations/0014_unify_instance_states_sb1_sb2.py
Due: isort, flake8

whatever i dont care anymore squash it anyways
  caluma/fixtures/config.json
  django/camac/instance/mixins.py
  document-merge-service/dump.json
  document-merge-service/templatefiles/selbstdeklaration.docx
  ember-caluma-portal/app/components/be-download-pdf/component.js
  ember-caluma-portal/app/instances/edit/template.hbs
Due: black, isort, flake8

fix linter
  ember-caluma-portal/app/instances/edit/controller.js
Due: none

fix(be-permissions): allow SaveAnswer (update) mutations on new table rows
  caluma/extensions/permissions.py
Due: black, isort, flake8

fix(be-dms): remove WIP document template from fixtures
  document-merge-service/dump.json
  document-merge-service/templatefiles/fr-amtsbericht.docx
Due: none

Fix migration index
  caluma/migrations/0005-create-selbstdeklaration-documents.sql
Due: none

Hide "create form" button for internal users
  ember-caluma-portal/app/instances/edit/form/template.hbs
Due: none

fix(gis): disable alternative modal close methods
  ember-caluma-portal/app/components/be-gis/template.hbs
Due: none

Path conditions:
  black: any of: \.py$, but not: (?x)^(
  .*/migrations/.* |
  .*/snapshots/.*
)$

  isort: any of: \.py$
  flake8: any of: \.py$
