Repository inosca/ebau: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    - id: black
      name: black
      language: system
      entry: black --config django/pyproject.toml
      types: [python]
      exclude: >
          (?x)^(
            .*/migrations/.* |
            .*/snapshots/.*
          )$
    - id: isort
      name: isort
      language: system
      entry: isort -y
      types: [python]
    - id: flake8
      name: flake8
      language: system
      entry: flake8
      types: [python]

chore(release): 1.18.0-rc2
  VERSION.txt
  ember-caluma-portal/package.json
Due: none

feat(ech): add FileSubsequentlyEventHandler
  django/camac/echbern/event_handlers.py
  django/camac/echbern/formatters.py
  django/camac/echbern/tests/test_event_handlers.py
Due: black, isort, flake8

feat(schwyz): add new instance state rejected
  django/kt_schwyz/config.json
  ember/app/components/camac-document/template.hbs
Due: none

feat(schwyz): add new instance state rejected
  django/kt_schwyz/config.json
Due: none

chore(schwyz): bump frontend version to 1.7.0
  ember/package.json
Due: none

feat(ech): add withdraw planning permission application event handler
  django/camac/echbern/event_handlers.py
  django/camac/echbern/formatters.py
  django/camac/echbern/tests/test_event_handlers.py
Due: black, isort, flake8

fix(be-revision-history): fix revision history
  caluma/Dockerfile
Due: none

chore(release): release v1.18.0
  VERSION.txt
  ember-caluma-portal/package.json
Due: none

chore(makefile): fix release command
  Makefile
Due: none

fix(sz): add missing instance-resources for `rejected` state
  django/kt_schwyz/config.json
Due: none

fix(ech): use attachment_section for document type
  django/camac/echbern/formatters.py
  django/camac/echbern/tests/test_views.py
Due: black, isort, flake8

chore(ech): add pretty_print method to Message model
  django/camac/echbern/models.py
Due: black, isort, flake8

feat(ech): add event handler for accompanying report
  django/camac/echbern/event_handlers.py
  django/camac/echbern/formatters.py
  django/camac/echbern/tests/test_event_handlers.py
Due: black, isort, flake8

fix(db-ur): Revert PROJECT_SUBMITTER_VIEW to original behavior
  django/camac/core/migrations/0042_revert_uri_project_submitter_view_change.py
Due: isort, flake8

chore(config-ur): Apply production config changes
  django/kt_uri/config.json
Due: none

feat(ech): add change responsibility event handler
  django/camac/echbern/conftest.py
  django/camac/echbern/event_handlers.py
  django/camac/echbern/formatters.py
  django/camac/echbern/tests/snapshots/snap_test_formatters.py
  django/camac/echbern/tests/test_event_handlers.py
  django/camac/echbern/tests/test_formatters.py
Due: black, isort, flake8
